body {
    line-height: 1.8em;
}

.vertM {
    font-weight: bold;
}

.gebrW {
    font-style: italic;
}

.link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.morfI .link, .i .link, .etym .link, .toel .link, .gebrW .link {
    font-style: normal;
}

.hulpI {
    font-style: normal;
    font-weight: normal;
}

.werkV { 
    font-weight: bold;
}

.r {
    font-style: normal;
}

.i {
    font-style: italic;
}

.s {
    font-variant: small-caps;
}

.b {
    font-weight: bold;
}

.vorm, .bet, .niv123, .nivABC, .vertM, .cit {
}

.hoofdW {
    color: blue;
}

.morfI {
    font-style: italic;
}

.morfI .verw {
    font-style: normal;
}

.toel {
    font-weight: normal;
    font-style: italic;
    font-variant: normal;
}

.aut {
    /* not supported in Oxygen! */
    font-variant: small-caps;
}

.tag {
    background: #550;
    color: white;
    font-size: small;
    letter-spacing: .1em;
    padding: 3px;
    border-radius: 3px;
    margin-right: 3px;
    font-weight: normal;

    /* so the expansions look nicer */
    vertical-align: top;

    cursor: pointer;

    display: none;
}

.tmp {
    color: red;
}

.tmp .tag {
    background: red;
}

div {
    margin-left: 55px;
    text-indent: -50px;
}

div#main {
    margin-left: 0px;
    text-indent: 0px;
}

/* 'content'. */

.hoofdW, .morfI, .etym, .vertM, .gebrW, .toel, .cit, .verw,
.werk, .plaats, .citG, .citNV, .aut, .werk
{
}
.werk 
{
  font-style: italic;

}

.no-pad-right {
    padding-right: 0px;
}

.meta-key {
    font-weight: bold;
}

.comment-box {
    min-width: 100;
    max-width: 30%;
    margin-left: 0;
    text-indent: 0;
    padding: 20px;
    /* can also leave out */
    position: fixed;
    -webkit-box-shadow: 3px 3px 2px 0px #606060;
    -moz-box-shadow: 3px 3px 2px 0px #606060;
    box-shadow: 3px 3px 2px 0px #606060;
    cursor: move;
}

.comment {
    width: 10px;
    height: 10px;
    vertical-align: middle;
    display: inline-block;
}

.selected-comment {
    border: 2px solid black;
}

.comment-drag-msg {
    float: right;
    font-style: italic;
    font-size: 10px;
}

#meta-migrateWarnings {
    display: block;
    margin-left: 20px;
}

/* for migrate warnings */
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }

span.space {
    display: inline-block;
    width: 5px;
}

.attribute {
    font-style: italic;
    margin-left: 30px;
    text-indent: 0px;
    font-weight: normal;
}

#meta-table td {
    padding: 5px;
    border: 1px solid gray;
}

#meta-table {
    border-spacing: 0;
    border-collapse: collapse;
}

.row_odd {
    background: #F6F6F6;
}
.row_even {
    background: #F0F0F0;
}

.highlightSpan {
    /*
     * ok idea, but would need to superimpose an image instead of using
     * background so that it really comes above everything else.
     *
    margin-right: 15px !Important;
    margin-bottom: 15px !Important;
    padding-right: 15px !Important;
    padding-bottom: 15px !Important;
    z-index: 100;
    */

    /*
    display not cool
    display: inline-block;
    font-size: 16pt;
    */

    background: #DEDEDE;
    border: 3px solid black;
}

