vertM {
    font-weight: bold;
}

gebrW {
    font-style: italic;
}

werkV { 
    font-style: italic;
}

r {
    font-style: normal;
}

i {
    font-style: italic;
}

vorm, bet, niv123, nivABC, vertM, cit {
}

hoofdW {
    color: blue;
}

morfI {
    font-style: italic;
}

* {
    display: inline;
}

niv123, nivABC {
    display: block;
}

hoofdW:before, etym:before, morfI:before, gebrW:before, vertM:before, werkV:before, citG:before, citNV:before, toel:before, aut:before, werk:before, plaats:before {
    content: " • ";
}

toel:before {
    content: " • (";
}

toel:after {
    content: ")";
}

toel {
    font-weight: normal;
    font-style: italic;
}

etym:before {
    content: " • [";
}

etym:after {
    content: "] ";
}

niv123:after, nivABC:after {
    content: ".";
}

niv123:before {
    content: attr(index) ".";
}

aut {
    /* not supported in Oxygen! */
    font-variant: small-caps;
}

cit[eindteken]:after {
    content: attr(eindteken);
    color: green;
    border: 1px solid green;
}

* {
    margin-left: 5px;
}

* * {
    margin-left: 10px;
}

* * * {
    margin-left: 15px;
}

* * * * {
    margin-left: 20px;
}


