* {
    display: block;
    /*
    font-style: cycle(italic, normal);
    */
}

span, r, i, s, b, link {
    display: inline !Important;
}

*:before {
    padding-right: 20px;
    content: oxy_local-name();
    font-size: 11px;
    /* not supported in Oxygen! */
    font-variant: small-caps;
    color: #555522;
}

span:before, br:before {
    content: '';
}

status:before { 
    content: "status " oxy_editor(type, combo, edit, '@status')
}

woordS:before { 
    content: "woordS " oxy_editor(type, combo, edit, '@woordS') oxy_editor(type, combo, edit, '@woordS2') oxy_editor(type, combo, edit, '@woordS3')
}


* {
    margin-left: 5px;
}

* * {
    margin-left: 10px;
}

* * * {
    margin-left: 15px;
}

* * *:after {
    /*
    margin doesn't work here
    margin-left: 20px;
    */
    padding-left: 20px;
}

* * * * {
    margin-left: 20px;
}





vertM {
    font-weight: bold;
}

gebrW {
    font-style: italic;
}

werkV { 
font-weight: bold;
}

r {
    font-style: normal;
}

i {
    font-style: italic;
}

vorm, bet, niv123, nivABC, vertM, cit {
}

hoofdW {
    color: blue;
}

morfI {
    font-style: italic;
}


aut {
    font-style: normal;
    /* not supported in Oxygen! */
    font-variant: small-caps;
}

/*
cit[eindteken]:before {
    content: "cit eindteken = " attr(eindteken);
    color: green;
}
*/

toel {
    font-weight: normal;
    font-style: italic;
}

hulpI {
    font-weight: normal    
}
