import {
  pipe, compose, composeRight,
  assoc,
  id, always, tap, noop, ifTrue,
  lets,
  prop,
  arg1,
  reduce,
  map,
  take, head,
  mergeTo,
  concat,
  condS, eq, guard, otherwise,
  precat, die,
  merge,
  deconstruct2,
} from 'stick-js/es'

import { logWith, defaultToV, } from 'alleycat-js/es/general'
import { Just, Nothing, cata, fold, } from 'alleycat-js/es/bilby'
import { reducer, } from '../../common'

; `
import {
} from '../../containers/App/constants'
import {
  RequestInit, RequestLoading, RequestError, RequestResults,
} from '../../types'
;`

const initialState = ({
})

const reducerTable = {
}

export default reducer ('{{ camelCase name }}', initialState, reducerTable)
