import {
  pipe, compose, composeRight,
  tap,
} from 'stick-js'

import React from 'react'

// import { FormattedMessage, } from 'react-intl'
import styled from 'styled-components'

import configure from 'alleycat-js/es/configure'
import { withDisplayName, } from 'alleycat-js/es/react'

import config from '../../config'

// import messages from './messages'

const configTop = config | configure.init

export default withDisplayName ('{{ properCase name }}') (
  (props) => <div>
  </div>,
)
