<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
<span class='bright_blue'>Doing <span class='yellow'>data/PI.4.1 v8.2.xml </span></span>
<span class='bright_blue'>Output dir <span class='yellow'>results/xml-migrate/Pi/Pi.4.1 </span></span>
# total failures: <span class='green'>0</span><br/>
<span class='bright_blue'>Doing <span class='yellow'>data/PI.4.4 v8.3.xml </span></span>
<span class='bright_blue'>Output dir <span class='yellow'>results/xml-migrate/Pi/Pi.4.4 </span></span>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>πᾰτέω</span>
[1;31m&lt; &lt;tmp&gt;ἔχεις ... χῶρον οὐχ ἁγνὸν πατεῖν jij bezet een gewijde plaats die men niet mag betreden &lt;s&gt;Soph. &lt;i&gt;OC&lt;/i&gt;&lt;/s&gt; 37;&lt;/tmp&gt;[0;0m

<span class='bright_blue'>Doing <span class='yellow'>data/PI.4.8 v8.1.xml </span></span>
<span class='bright_blue'>Output dir <span class='yellow'>results/xml-migrate/Pi/Pi.4.8 </span></span>
# total failures: <span class='green'>0</span><br/>
<span class='bright_blue'>Doing <span class='yellow'>data/PI.4.9 v8.2.xml </span></span>
<span class='bright_blue'>Output dir <span class='yellow'>results/xml-migrate/Pi/Pi.4.9 </span></span>
Error: <span class='bright_blue'><span class='red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>πείθω<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Sluiter<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>20 ... </span></span></span></span> (Last successful lemma was <span class='red'>[none]</span>)<br/>Error: <span class='bright_blue'><span class='red'>Vorm pass failed for higher structure lemma.<span class='bright_blue'> <span class='yellow'>1. act. (met pass.) Att. regel ... </span></span></span></span> (Last successful lemma was <span class='red'>[none]</span>)<br/>
# total failures: <span class='red'>2</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>πειθώ</span>
[1;31m&lt; &lt;tmp&gt;.&lt;/tmp&gt;[0;0m

<span class='bright_blue'>Doing <span class='yellow'>data/PI.4.13 v8.1.xml </span></span>
<span class='bright_blue'>Output dir <span class='yellow'>results/xml-migrate/Pi/Pi.4.13 </span></span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>πεντηκοστός</span>
[1;31m&lt; &lt;tmp&gt;(2%); &lt;i&gt;subst.&lt;/i&gt; ἡ Πεντηκοστή&lt;/tmp&gt;[0;0m

<span class='bright_blue'>Doing <span class='yellow'>data/PI.5.3 v8.1.xml </span></span>
<span class='bright_blue'>Output dir <span class='yellow'>results/xml-migrate/Pi/Pi.5.3 </span></span>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>περαίνω</span>
[1;31m&lt; &lt;tmp&gt;POSSIBLY MISSING TEXT&lt;/tmp&gt;[0;0m

