<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
<span class='bright_blue'>Doing <span class='yellow'>data/PI.9.8 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>πότνα</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πότνα</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>Ποτνιάς_</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>Ποτνιάς_</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='bright_red'>^<span class='bright_blue'>= πότνια.<span class='bright_red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>ποῦ</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>ποῦ</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='bright_red'>^<span class='bright_blue'>γνῶναι ποῦ μοί ποτε ναίει; weten waar hij dan wel verblijft &lt;i&gt;OC&lt;/i&gt; <span class='bright_red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>ποῦ</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>ποῦ</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='bright_red'>^<span class='bright_blue'>= ποῦ δῆτ(α) <span class='bright_red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>ποῦ</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>ποῦ</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>που</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>που</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='bright_red'>^<span class='bright_blue'>ἀνέρος, οὗ δή που λεύκ’ ὀστέα πύθεται ... κείμεν’ ἐπ’ ἠπείρου van de man wiens witte gebeente natuurlijk (δή) ergens <span class='bright_red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>που</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>που</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='bright_red'>^<span class='bright_blue'>ὡς &lt;i&gt;of&lt;/i&gt; <span class='bright_red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>που</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>που</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='bright_red'>^<span class='bright_blue'>δήπου &lt;i&gt;of&lt;/i&gt; δή που: &lt;i&gt;zie&lt;/i&gt; δή; ἦ που: &lt;i&gt;zie&lt;/i&gt; ἦ; πάντως (δή) που &lt;i&gt;(zoekt naar) sterke bevestiging&lt;/i&gt; <span class='bright_red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πούς</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πούς</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='bright_red'>^<span class='bright_blue'>= ἅμιλλαν πονεῖν ποδοῖν <span class='bright_red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πούς</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πούς</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='bright_red'>^<span class='bright_blue'>= ἀπὸ τᾶς κεφαλᾶς ποτὶ τὼ πόδε <span class='bright_red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πούς</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πούς</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='bright_red'>^<span class='bright_blue'>= ἐκ κεφαλῆς ἐς πόδας ἄκρους <span class='bright_red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πούς</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πούς</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Ποτνιάς
<span class='bright_red'>&lt;tmp&gt;</span>= πότνια.<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ποῦ
<span class='bright_red'>&lt;tmp&gt;</span>γνῶναι ποῦ μοί ποτε ναίει; weten waar hij dan wel verblijft &lt;i&gt;OC&lt;/i&gt; <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>που
<span class='bright_red'>&lt;tmp&gt;</span>ἀνέρος, οὗ δή που λεύκ’ ὀστέα πύθεται ... κείμεν’ ἐπ’ ἠπείρου van de man wiens witte gebeente natuurlijk (δή) ergens <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πούς
<span class='bright_red'>&lt;tmp&gt;</span>= ἅμιλλαν πονεῖν ποδοῖν <span class='bright_red'>&lt;/tmp&gt;</span>

