<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
<span class='bright_blue'>Doing <span class='yellow'>data/PI.6.1 v8.0.xml </span></span>
<span class='bright_blue'>Output dir <span class='yellow'>results/xml-migrate/Pi/Pi.6.1 </span></span>
Error: <span class='bright_blue'><span class='red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>περίπλους -ου contr., Ion. περ ... </span></span></span></span> (Last successful lemma was <span class='green'>περιπλόμενος</span>)<br/>Error: <span class='bright_blue'><span class='red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>περίπλους -ου, ὁ contr., Ion.<span class="space"></span><span class="space"></span>... </span></span></span></span> (Last successful lemma was <span class='green'>περιπλόμενος</span>)<br/>Error: <span class='bright_blue'><span class='red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>περιπνευμονία -ας, ἡ, ook περι ... </span></span></span></span> (Last successful lemma was <span class='green'>περιπλώω</span>)<br/>Error: <span class='bright_blue'><span class='red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>περιπνευμονικός -ή -όν, ook πε ... </span></span></span></span> (Last successful lemma was <span class='green'>περιπλώω</span>)<br/>Error: <span class='red'>Unexpected:</span>no text:p inside list-item<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>redden, b ... (Last successful lemma was <span class='green'>περιπόθητος</span>)<br/>
# total failures: <span class='red'>5</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>περίπολος</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>ἡ περίπολος: </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>περιπόρφῠρος</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>= ἡ περιπόρφυρος </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.6.2 v8.0.xml </span></span>
<span class='bright_blue'>Output dir <span class='yellow'>results/xml-migrate/Pi/Pi.6.2 </span></span>
Error: <span class='bright_blue'><span class='red'>Vorm pass failed for higher structure lemma.<span class='bright_blue'> <span class='yellow'>περι-ρρήγνῡμι en περι-ρρηγνύω<span class="space"></span><span class="space"></span></span></span></span></span> (Last successful lemma was <span class='green'>περι-ρρέω</span>)<br/>Error: <span class='bright_blue'><span class='red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>περίρροος -οον, contr. περίρρο ... </span></span></span></span> (Last successful lemma was <span class='green'>περι-ρρομβέω</span>)<br/>Error: <span class='bright_blue'><span class='red'>Vorm pass failed for higher structure lemma.<span class='bright_blue'> <span class='yellow'>περίρρῠτος -ον, of -η -ον [πε ... </span></span></span></span> (Last successful lemma was <span class='green'>περι-ρρομβέω</span>)<br/>Error: <span class='bright_blue'><span class='red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>περίσημος -ον, Dor. περίσᾱμος<span class="space"></span><span class="space"></span>... </span></span></span></span> (Last successful lemma was <span class='green'>περίσεπτος</span>)<br/>
# total failures: <span class='red'>4</span><br/>
<span class='bright_blue'>Doing <span class='yellow'>data/PI.6.4 v8.1.xml </span></span>
<span class='bright_blue'>Output dir <span class='yellow'>results/xml-migrate/Pi/Pi.6.4 </span></span>
Error: <span class='bright_blue'><span class='red'>Vorm pass failed for higher structure lemma.<span class='bright_blue'> <span class='yellow'>περίττευμα, Ion. περίσσευμα -α ... </span></span></span></span> (Last successful lemma was <span class='green'>περιττάκις</span>)<br/>Error: <span class='bright_blue'><span class='red'>Vorm pass failed for higher structure lemma.<span class='bright_blue'> <span class='yellow'>περιττεύω, Ion. περισσεύω [περ ... </span></span></span></span> (Last successful lemma was <span class='green'>περιττάκις</span>)<br/>Error: <span class='bright_blue'><span class='red'>Vorm pass failed for higher structure lemma.<span class='bright_blue'> <span class='yellow'>περιττός, Ion. περισσός -ή -όν ... </span></span></span></span> (Last successful lemma was <span class='green'>περιττάκις</span>)<br/>Error: <span class='bright_blue'><span class='red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>περιττότης, Ion. περισσότης -ό ... </span></span></span></span> (Last successful lemma was <span class='green'>περιττάκις</span>)<br/>Error: <span class='bright_blue'><span class='red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>περίττωμα, Ion. περίσσωμα -ατο ... </span></span></span></span> (Last successful lemma was <span class='green'>περιττάκις</span>)<br/>Error: <span class='bright_blue'><span class='red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>περίττωσις, Ion. περίσσωσις -ε ... </span></span></span></span> (Last successful lemma was <span class='green'>περιττάκις</span>)<br/>
# total failures: <span class='red'>6</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>περι-τρέπω</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>τοὐναντίον περιέτρεψε μηνύειν τὸ δέον hij heeft </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>εἰς <span class='yellow'>&lt;i&gt;</span></span>+ acc.<span class='yellow'>&lt;/i&gt;</span> <span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>περι-τρέχω</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>σακὸς δ᾿ εὐίερος περιδέδρομεν een heilige omheining omgeeft het <span class='yellow'>&lt;i&gt;</span></span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'><span class='yellow'>&lt;/i&gt;</span></span> 9.437.<span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.6.5 v8.1.xml </span></span>
<span class='bright_blue'>Output dir <span class='yellow'>results/xml-migrate/Pi/Pi.6.5 </span></span>
Error: <span class='bright_blue'><span class='red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>περι-φλεύω of περι-φλύω, $m pt ... </span></span></span></span> (Last successful lemma was <span class='green'>περιφλεγῶς</span>)<br/>Error: <span class='bright_blue'><span class='red'>Vorm pass failed for higher structure lemma.<span class='bright_blue'> <span class='yellow'>περιωδῠνία -ας, ἡ, Ion. περιω ... </span></span></span></span> (Last successful lemma was <span class='green'>περιωδῠνέω</span>)<br/>
# total failures: <span class='red'>2</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>περίφορος</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>ἡ τοῦ ἠελίου περίφορος </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>περιχώρησις</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>13 </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>περίχωρος</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>ἡ περίχωρος <span class='yellow'>&lt;i&gt;</span></span>en<span class='yellow'>&lt;/i&gt;</span> τὰ περίχωρα <span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.6.6 v8.0.xml </span></span>
<span class='bright_blue'>Output dir <span class='yellow'>results/xml-migrate/Pi/Pi.6.6 </span></span>
Error: <span class='bright_blue'><span class='red'>Vorm pass failed for higher structure lemma.<span class='bright_blue'> <span class='yellow'>περόνη -ης, ἡ en περονίς -ίδος ... </span></span></span></span> (Last successful lemma was <span class='green'>περονάω</span>)<br/>Error: <span class='bright_blue'><span class='red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>περόνημα -ατος, τό, Dor. περόν ... </span></span></span></span> (Last successful lemma was <span class='green'>περονάω</span>)<br/>Error: <span class='bright_blue'><span class='red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>περονητρίς -ί̆δος, ἡ, Dor. περ ... </span></span></span></span> (Last successful lemma was <span class='green'>περονῆτις</span>)<br/>Error: <span class='bright_blue'><span class='red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>περσέπολις -εως, ὁ, ἡ, ep. περ ... </span></span></span></span> (Last successful lemma was <span class='green'>πέρρυσιν</span>)<br/>Error: <span class='bright_blue'><span class='red'>Vorm pass failed for higher structure lemma.<span class='bright_blue'> <span class='yellow'>πέτᾰλον -ου, τό en πέτηλον [πε ... </span></span></span></span> (Last successful lemma was <span class='green'>πέσω</span>)<br/>Error: <span class='bright_blue'><span class='red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>πετάννῡμι en πεταννύω, $m ande ... </span></span></span></span> (Last successful lemma was <span class='green'>πέτᾰμαι</span>)<br/>Error: <span class='bright_blue'><span class='red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>πετεινός -ή -όν ook πετηνός, p ... </span></span></span></span> (Last successful lemma was <span class='green'>πετεηνός</span>)<br/>
# total failures: <span class='red'>7</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>περιώσιος</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>περιώσιον <span class='yellow'>&lt;i&gt;</span></span>en<span class='yellow'>&lt;/i&gt;</span> περιώσια <span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>Περσικός</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>τὸ Περσικόν </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>αἱ Περσικαί </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>τὰ Περσικά </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>τὰ Περσικά </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>ἡ Π. ὄρνις </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.6.9 v8.0.xml </span></span>
<span class='bright_blue'>Output dir <span class='yellow'>results/xml-migrate/Pi/Pi.6.9 </span></span>
Error: <span class='bright_blue'><span class='red'>Vorm pass failed for higher structure lemma.<span class='bright_blue'> <span class='yellow'>πῆχυς -εως, ὁ Aeol. πᾶχυς, $m<span class="space"></span><span class="space"></span>... </span></span></span></span> (Last successful lemma was <span class='green'>πηχύ̄νω</span>)<br/>
# total failures: <span class='red'>1</span><br/>
