<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
<span class='bright_blue'>Doing <span class='yellow'>data/PI.9.4 v8.1.xml </span></span>
Error: <span class='bright_blue'><span class='red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>πολῠχᾰρείδᾱς [πολύς, χαίρω] L ... </span></span></span></span> (Last successful lemma was <span class='green'>πολῠχανδής</span>)<br/>Error: Something's wrong: couldn't get betekenis elements for one of the (tertiary) list items. (Last successful lemma was <span class='green'>πονᾱθῇ</span>)<br/>
# total failures: <span class='red'>1</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>πονέω</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>&lt;b&gt;<span class='yellow'>&lt;i&gt;</span></span>ep. en later plqperf. med.-pass.&lt;/b&gt;<span class='yellow'>&lt;/i&gt;</span> πεπονήμην; <span class='yellow'>&lt;i&gt;</span>&lt;b&gt;fut. med. 2 sing.&lt;/b&gt;<span class='yellow'>&lt;/i&gt;</span> πονέσῃ<span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span><br/><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>POSSIBLY MISSING TEXT</span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.9.5 v8.1.xml </span></span>
Error: <span class='bright_blue'><span class='red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>πόρε ep. imperat. aor. 2 sing. ... </span></span></span></span> (Last successful lemma was <span class='green'>πορδή</span>)<br/>
# total failures: <span class='red'>1</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>πόντος</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>π. Εὔξεινος Zwarte Zee.</span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>ΠΟΡ</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>ἡ πεπρωμένη, τὸ πεπρωμένον <span class='yellow'>&lt;i&gt;</span></span>of<span class='yellow'>&lt;/i&gt;</span> τὰ πεπρωμένα <span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.9.6 v8.1.xml </span></span>
Error: <span class='red'>Unexpected:</span>no text:p inside list-item<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>verschaff ... (Last successful lemma was <span class='green'>πορθμός</span>)<br/>
# total failures: <span class='red'>1</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>πορφῠρίς</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>‘</span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.9.7 v8.1.xml </span></span>
Error: <span class='bright_blue'><span class='red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>πόστιον -ου, τό barb.voor πόσθ ... </span></span></span></span> (Last successful lemma was <span class='green'>ποσταῖος</span>)<br/>
# total failures: <span class='red'>1</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>πόσθων</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>‘</span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>ποτε</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>ποτέ </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>πότερος</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>πότερον <span class='yellow'>&lt;i&gt;</span></span>en<span class='yellow'>&lt;/i&gt;</span> πότερα, <span class='yellow'>&lt;i&gt;</span>alg. in tweeledige vragen, gevolgd door<span class='yellow'>&lt;/i&gt;</span> ἤ<span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>πότερον ... ἤ (π. <span class='yellow'>&lt;i&gt;</span></span>blijft onvertaald<span class='yellow'>&lt;/i&gt;</span>) ... <span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.9.9 v8.1.xml </span></span>
Error: <span class='red'>Unexpected:</span>no text:p inside list-item<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>concr. di ... (Last successful lemma was <span class='red'>[none]</span>)<br/>
# total failures: <span class='red'>1</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>πρακτέος</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>τὰ πρακτέα: </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>πράκτωρ</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>(~ πράττομαι <span class='yellow'>&lt;i&gt;</span></span>invorderen<span class='yellow'>&lt;/i&gt;</span>) <span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.9.10 v8.1.xml </span></span>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>πρᾶξις</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>εὖ / κακῶς πράττειν) </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>πράττω</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>= τὰ τῆς πόλεως π. </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>= π. τὰ πράγματα </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>(goed of slecht) </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

