<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
<span class='bright_blue'>Doing <span class='yellow'>data/PI.1.1 v8.1.xml </span></span>
<span class='bright_blue'>Output dir <span class='yellow'>results/xml-migrate/Pi/Pi.1.1 </span></span>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>Π</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>πʹ = 80; ͵π = 80.000.</span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.1.2 v8.0.xml </span></span>
<span class='bright_blue'>Output dir <span class='yellow'>results/xml-migrate/Pi/Pi.1.2 </span></span>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>παιδεύω</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>speciaal </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>παιδιά</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>= σὺν παιδιᾷ </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>= ἐν παιδιᾷ </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>= ἐν παιδιᾶς μέρει </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>παιδικός</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>niets belet mij de speelse aanpak te kiezen </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>(</span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.1.3 v8.0.xml </span></span>
<span class='bright_blue'>Output dir <span class='yellow'>results/xml-migrate/Pi/Pi.1.3 </span></span>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>παιδοποιέω</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>bij (iemand).</span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>παίζω</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>de spot drijven met iem. </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.1.4 v8.0.xml </span></span>
<span class='bright_blue'>Output dir <span class='yellow'>results/xml-migrate/Pi/Pi.1.4 </span></span>
Error: <span class='red'>Unexpected:</span>no text:p inside list-item<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>recapitul ... (Last successful lemma was <span class='green'>παλιλλογέω</span>)<br/>
# total failures: <span class='red'>1</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>πᾰλαιός</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>τὸ παλαιόν vroeger; ἐκ παλαιοῦ van oudsher = ἀπὸ παλαιοῦ; <span class='yellow'>&lt;i&gt;</span></span>ook pejor.<span class='yellow'>&lt;/i&gt;</span> <span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>παλαίω</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>met <span class='yellow'>&lt;i&gt;</span></span>of<span class='yellow'>&lt;/i&gt;</span> tegen iem.; <span class='yellow'>&lt;i&gt;</span>overdr.<span class='yellow'>&lt;/i&gt;</span> <span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.1.5 v8.0.xml </span></span>
<span class='bright_blue'>Output dir <span class='yellow'>results/xml-migrate/Pi/Pi.1.5 </span></span>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>πά̆λῐν</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>αὖτις, αὖ, ἄψ, ὀπίσσω, ἐξοπίσω, ἄψορρον </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>αὖτις, αὖθις </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>παλίνορρος</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>πᾰλίνορσος.</span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>πᾰλίσκιος</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>παλίνσκιος.</span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>παλλᾰκεύω</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>van iem. </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.1.6 v8.0.xml </span></span>
<span class='bright_blue'>Output dir <span class='yellow'>results/xml-migrate/Pi/Pi.1.6 </span></span>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>πάμπᾰν</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>τὸ π. = π. </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>πάμπρωτος</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>πάμπρωτον en πάμπρωτα </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.1.7 v8.0.xml </span></span>
<span class='bright_blue'>Output dir <span class='yellow'>results/xml-migrate/Pi/Pi.1.7 </span></span>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>πανδημία</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>πανδημίᾳ = πανδημεί.</span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>πᾰνηγῠρικός</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>ὁ πανηγυρικός (λόγος) </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>πᾰνήμερος</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>πανημερόν de gehele dag door.</span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>πᾰνοίμοι</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>! </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.1.8 v8.0.xml </span></span>
<span class='bright_blue'>Output dir <span class='yellow'>results/xml-migrate/Pi/Pi.1.8 </span></span>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>πᾰνουργέω</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>.</span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>παντά̆πᾱσιν</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>τὸ π. = π. </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

