<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
<span class='bright_blue'>Doing <span class='yellow'>data/PI.12.2 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>προσαγγέλλω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προσαγγέλλω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>&lt;s&gt;&lt;/s&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προσάγω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προσάγω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>med. met acc.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προσαιτέω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προσαιτέω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>zaak <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: <span class='bright_red'>Vorm pass not successful for node <span class='bright_blue'><span class='red'>^<span class='bright_blue'>προσ-ακοντίζω: (τὸν μῆλον) εὐστόχως προσηκόντισας ἐς τὸν κόλπον αὐτῆς (de appel) schoot jij welgemikt in haar boezem Luc. 80.12.1.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Error: Error: <span class='bright_blue'><span class='bright_red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>προσ-ακοντίζω: (τὸν μῆλον) εὐσ ... </span></span></span></span> (Last successful lemma was <span class='green'>προσαιτιάομαι</span>)<br/>Warning: (lemma: <span class='bright_red'>προσακτέος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προσακτέος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>δεῖ προσάγειν &lt;i&gt;met acc.&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>
# total failures: <span class='bright_red'>1</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προσαγγέλλω
<span class='bright_red'>&lt;tmp&gt;</span>&lt;s&gt;&lt;/s&gt; <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προσάγω
<span class='bright_red'>&lt;tmp&gt;</span>med. met acc.<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προσαιτέω
<span class='bright_red'>&lt;tmp&gt;</span>zaak <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προσακτέος
<span class='bright_red'>&lt;tmp&gt;</span>δεῖ προσάγειν &lt;i&gt;met acc.&lt;/i&gt; <span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.12.3 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>προσαπόλλυμι</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προσαπόλλυμι</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>act. met acc.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προσαράττω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προσαράττω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>Ion.&lt;/i&gt; προσαράσσω <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προσαφίστημι</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προσαφίστημι</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>(iem.) <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προσαφίστημι</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προσαφίστημι</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>(iem.), <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προσβάλλω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προσβάλλω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>zonder acc., met dat. of prep.bep.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προσαπόλλυμι
<span class='bright_red'>&lt;tmp&gt;</span>act. met acc.<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προσαράττω
<span class='bright_red'>&lt;tmp&gt;</span>Ion.&lt;/i&gt; προσαράσσω <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προσαφίστημι
<span class='bright_red'>&lt;tmp&gt;</span>(iem.) <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προσβάλλω
<span class='bright_red'>&lt;tmp&gt;</span>zonder acc., met dat. of prep.bep.<span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.12.4 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>προσμολ</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>προσμολ</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>προσδέω</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>προσδέω</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>προσδέω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προσδέω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>med.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προσδέω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προσδέω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>οὐδὲν ποιήσομεν τῶν ἐκεῖνος ἡμέων προσεδέετο wij zullen niets doen van wat hij ons vroeg <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προσδέω</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>προσδέω</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προσδέω-2
<span class='bright_red'>&lt;tmp&gt;</span>med.<span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.2.2 v8.2.xml </span></span>
Warning: (lemma: <span class='bright_red'>παρά</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>παρά</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πάρα = πάρεστι &lt;i&gt;of&lt;/i&gt; πάρεισι <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>παρά</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>παρά</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>παράκειμαι, πάρειμι, παρέρχομαι, παρίστημι, παραπέμπω.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>παρά</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>παρά</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>παραβαίνω, παραγιγνώσκω, παράγω.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>παρά</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>παρά</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>παραβάλλω, παρατίθημι.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>παρά</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>παρά</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>παραλαμβάνω, παραδίδωμι.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>παρά</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>παρά</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>παρά</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>παρά</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>&lt;i&gt;<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>παρά</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>παρά</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>παρά</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>παρά</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>παρά</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>παρά</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>παρά</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>παρά</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>παρὰ τοσοῦτον ἐγένετο αὐτῷ μή + &lt;i&gt;inf.&lt;/i&gt; zo weinig scheelde het of hij was ... <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>παρά</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>παρά</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>παρά-1
<span class='bright_red'>&lt;tmp&gt;</span>πάρα = πάρεστι &lt;i&gt;of&lt;/i&gt; πάρεισι <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>παρά-2
<span class='bright_red'>&lt;tmp&gt;</span>&lt;i&gt;<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>παρά-4
<span class='bright_red'>&lt;tmp&gt;</span>παρὰ τοσοῦτον ἐγένετο αὐτῷ μή + &lt;i&gt;inf.&lt;/i&gt; zo weinig scheelde het of hij was ... <span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.4.2 v8.2.xml </span></span>
Warning: (lemma: <span class='bright_red'>πᾶς</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πᾶς</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>(τὸ) πᾶν <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πᾶς</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πᾶς</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>(τὰ) πάντα <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πᾶς</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πᾶς</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>= ἐς τὸ πᾶν χρόνου <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πᾶς</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πᾶς</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Error: (lemma: <span class='bright_red'>πᾶς</span>) Error: Something's wrong: couldn't get betekenis elements for one of the (tertiary) list items. (Last successful lemma was <span class='green'>πᾶς-1</span>)<br/>Warning: (lemma: <span class='bright_red'>πᾶς</span>) Something's wrong: couldn't get betekenis elements for one of the (tertiary) list items.<br/>Error: (lemma: <span class='bright_red'>πᾶς</span>) Error: Something's wrong: couldn't get betekenis elements for one of the (tertiary) list items. (Last successful lemma was <span class='green'>πᾶς-1</span>)<br/>Warning: (lemma: <span class='bright_red'>πᾶς</span>) Something's wrong: couldn't get betekenis elements for one of the (tertiary) list items.<br/>Warning: (lemma: <span class='bright_red'>πᾶς</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πᾶς</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Error: (lemma: <span class='bright_red'>πᾶς</span>) Error: <span class='bright_red'>Unexpected:</span>no text:p inside list-item<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>... (Last successful lemma was <span class='green'>πᾶς-2</span>)<br/>Warning: (lemma: <span class='bright_red'>πᾶς</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πᾶς</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πᾶς</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πᾶς</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πᾶς</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πᾶς</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>ἄλλως τε πάντως καί in het bijzonder (omdat); &lt;i&gt;in antwoorden&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πᾶς</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πᾶς</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πᾶς &lt;i&gt;en afleidingen&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πᾶς</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πᾶς</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
# total failures: <span class='bright_red'>1</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πᾶς-1
<span class='bright_red'>&lt;tmp&gt;</span>(τὸ) πᾶν <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πᾶς-2
<span class='bright_red'>&lt;tmp&gt;</span>POSSIBLY MISSING TEXT<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πᾶς-6
<span class='bright_red'>&lt;tmp&gt;</span>ἄλλως τε πάντως καί in het bijzonder (omdat); &lt;i&gt;in antwoorden&lt;/i&gt; <span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.5.2 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>περ</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>περ</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>ὡς τὸ πάρος περ precies als vroeger (= ὥσπερ) <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>περ</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>περ</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>-243.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>περ</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>περ</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>περ &lt;i&gt;voorafgaat, constrasteert met een ander tekstelement of met een verwachting (contrast in Nl. vaak alleen door intonatie aan te geven)&lt;/i&gt;<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>περ</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>περ</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>εἴπερ, ἐάνπερ, ἐπείπερ, ἤπερ, καίπερ, ὅτεπερ, ὥσπερ &lt;i&gt;zie daar; bij pron. rel.&lt;/i&gt; ὅσπερ, &lt;i&gt;zie daar, markeert bepaaldheid van referent&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>περ
<span class='bright_red'>&lt;tmp&gt;</span>ὡς τὸ πάρος περ precies als vroeger (= ὥσπερ) <span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.8.3 v8.2.xml </span></span>
Warning: (lemma: <span class='bright_red'>ποιέω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>ποιέω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>ὥστε &lt;i&gt;met AcI&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>ποιέω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>ποιέω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>... (ergens) <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>ποιέω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>ποιέω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>(een plaats) <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>ποιέω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>ποιέω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πάντα ποιεῖν al het mogelijke doen <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>ποιέω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>ποιέω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>(iem. iets) <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>ποιέω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>ποιέω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>(iets met iem.) <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>ποιέω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>ποιέω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>καλῶς &lt;i&gt;of&lt;/i&gt; εὖ &lt;i&gt;om dank of instemming te betuigen&lt;/i&gt;<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>ποιέω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>ποιέω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>θῶμα ποιεῖσθαι + &lt;i&gt;acc.&lt;/i&gt; zich verwonderen over <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>ποιέω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>ποιέω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>ἀρχὴν ποιεῖσθαι + &lt;i&gt;gen.&lt;/i&gt; een begin maken met <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>ποιέω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>ποιέω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>σπουδὴν ποιεῖσθαι + &lt;i&gt;inf.&lt;/i&gt; ernst maken met <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>ποιέω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>ποιέω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>γνώμην ποιεῖσθαι + &lt;i&gt;inf.&lt;/i&gt; het voornemen hebben om <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>ποιέω</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>ποιέω</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>ποιέω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>ποιέω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>μακρὸν ποιησάμενος σύγγραμμα doordat hij een lang werk had geschreven.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>ποιέω</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>ποιέω</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>ποιέω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>ποιέω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>(iets ergens van<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>ποιέω</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>ποιέω</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>ποιέω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>ποιέω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>περὶ πολλοῦ ποιεῖσθαι + &lt;i&gt;acc.&lt;/i&gt; veel waarde hechten aan<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>ποιέω</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>ποιέω</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ποιέω-1
<span class='bright_red'>&lt;tmp&gt;</span>ὥστε &lt;i&gt;met AcI&lt;/i&gt; <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ποιέω-2
<span class='bright_red'>&lt;tmp&gt;</span>μακρὸν ποιησάμενος σύγγραμμα doordat hij een lang werk had geschreven.<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ποιέω-3
<span class='bright_red'>&lt;tmp&gt;</span>(iets ergens van<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ποιέω-4
<span class='bright_red'>&lt;tmp&gt;</span>περὶ πολλοῦ ποιεῖσθαι + &lt;i&gt;acc.&lt;/i&gt; veel waarde hechten aan<span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.9.2 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>πολύς</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πολύς</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πολύ &lt;i&gt;en Ion.&lt;/i&gt; πολλόν <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πολύς</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πολύς</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πολὺ ἀπό + &lt;i&gt;gen.&lt;/i&gt; ver van <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πολύς</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πολύς</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>περὶ πολλοῦ (ποιεῖσθαι) &lt;i&gt;zie&lt;/i&gt; ποιέω &lt;i&gt;4ciii;&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πολύς</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πολύς</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>τὸ πολλόν &lt;i&gt;of&lt;/i&gt; τὸ πολύ <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πολύς</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πολύς</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πολύς</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πολύς</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πολύς-1
<span class='bright_red'>&lt;tmp&gt;</span>πολύ &lt;i&gt;en Ion.&lt;/i&gt; πολλόν <span class='bright_red'>&lt;/tmp&gt;</span>

