<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
<span class='bright_blue'>Doing <span class='yellow'>data/PI.7.4 v8.1.xml </span></span>
Subroutine get_node redefined at GrNe/Process/Meta.pm line 111.<br/>Warning: (lemma: <span class='bright_red'>πλακόεις</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πλακόεις</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πλανάω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλανάω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>act.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλανάω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλανάω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>med.-pass.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλάνης</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλάνης</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>= οἱ πλάνητες <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλανήτης</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλανήτης</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>οἱ π. <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλανήτης</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πλανήτης</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: <span class='bright_red'>Vorm pass not successful for node <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πλάνος -ον [πλανάω, πλανάομαι]<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Error: Error: <span class='bright_blue'><span class='bright_red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>πλάνος -ον [πλανάω, πλανάομαι] </span></span></span></span> (Last successful lemma was <span class='green'>πλάνιος</span>)<br/>Warning: <span class='bright_red'>Vorm pass not successful for node <span class='bright_blue'><span class='red'>^<span class='bright_blue'>1. (~ πλανάω) misleidend Theocr. 21.43; subst. ὁ πλάνος bedrieger NT Mat. 27.63.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Error: Error: <span class='bright_blue'><span class='bright_red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>1. (~ πλανάω) misleidend Theoc ... </span></span></span></span> (Last successful lemma was <span class='green'>πλάνιος</span>)<br/>Warning: <span class='bright_red'>Vorm pass not successful for node <span class='bright_blue'><span class='red'>^<span class='bright_blue'>2. (~ πλανάομαι) subst. ὁ πλάνος het zwerven, zwerftocht; overdr. φροντίδος πλάνοις in de omzwervingen van mijn geest Soph. OT 67; π. φρενῶν geestelijke onrust Eur. Hip. 283; onzekerheid Plat. Phaed. 79d; uitweiding Plat. epist. 344d.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Error: Error: <span class='bright_blue'><span class='bright_red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>2. (~ πλανάομαι) subst. ὁ πλάν ... </span></span></span></span> (Last successful lemma was <span class='green'>πλάνιος</span>)<br/>Warning: (lemma: <span class='bright_red'>πλανώδης</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλανώδης</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>9 .<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλάστιγξ</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πλάστιγξ</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πλάστιγξ</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλάστιγξ</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>~ πλήττω] <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλάστιγξ</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πλάστιγξ</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πλάττω</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πλάττω</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πλατύρρους</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πλατύρρους</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πλατύς</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλατύς</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>ἡ πλατεῖα <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλατύς</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πλατύς</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πλατύς</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πλατύς</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
# total failures: <span class='bright_red'>3</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πλανάω
<span class='bright_red'>&lt;tmp&gt;</span>act.<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πλάνης
<span class='bright_red'>&lt;tmp&gt;</span>= οἱ πλάνητες <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πλανήτης
<span class='bright_red'>&lt;tmp&gt;</span>οἱ π. <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πλανώδης
<span class='bright_red'>&lt;tmp&gt;</span>9 &lt;toel&gt;(verband)&lt;/toel&gt;.<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πλάστιγξ-2
<span class='bright_red'>&lt;tmp&gt;</span>~ πλήττω] <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πλατύς-1
<span class='bright_red'>&lt;tmp&gt;</span>ἡ πλατεῖα <span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.7.5 v8.1.xml </span></span>
Subroutine get_node redefined at GrNe/Process/Meta.pm line 111.<br/>Warning: (lemma: <span class='bright_red'>πλέθρον</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλέθρον</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>= 100 voet .<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλεῖστος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλεῖστος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>τὸ πλεῖστόν <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλεῖστος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλεῖστος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>τὰ πλεῖστα <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλεῖστος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλεῖστος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>τὰ πλεῖστα <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλεῖστος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλεῖστος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>εἰς πλεῖστον <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλεῖστος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλεῖστος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>ἐκ πλείστου <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλεῖστος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλεῖστος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>ἐπὶ πλεῖστον <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλεῖστος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλεῖστος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>ὡς ἐπὶ πλεῖστον <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλεῖστος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλεῖστος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>περὶ πλείστου ποιεῖσθαι <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλείων</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλείων</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>= οὐδὲν πλέον πρᾶξαι <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλείων</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλείων</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πλέον &lt;i&gt;alleen&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλείων</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλείων</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>ἤ, &lt;i&gt;gen. compar. of&lt;/i&gt; πλέον &lt;i&gt;alleen&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλείων</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλείων</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πλεῖν ἑξακοσίους τὸν ἀριθμόν (vogels) meer dan 600 in getal &lt;s&gt;Aristoph. &lt;i&gt;Av.&lt;/i&gt;&lt;/s&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλείων</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλείων</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>περὶ πλείονος ποιεῖσθαι <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλεονεκτέω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλεονεκτέω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>(iem.) <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πλέθρον
<span class='bright_red'>&lt;tmp&gt;</span>= 100 voet &lt;toel&gt;(ongeveer 30 m.)&lt;/toel&gt;.<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πλεῖστος
<span class='bright_red'>&lt;tmp&gt;</span>τὸ πλεῖστόν <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πλείων
<span class='bright_red'>&lt;tmp&gt;</span>= οὐδὲν πλέον πρᾶξαι <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πλεονεκτέω
<span class='bright_red'>&lt;tmp&gt;</span>(iem.) <span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.7.6 v8.1.xml </span></span>
Subroutine get_node redefined at GrNe/Process/Meta.pm line 111.<br/>Warning: (lemma: <span class='bright_red'>πλευστέον</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλευστέον</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πλευστέα.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλέω</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πλέω</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πλέως</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλέως</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πλειότερος.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλῆθος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλῆθος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>(<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλήκτης</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλήκτης</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>&lt;s&gt;<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλήκτης</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλήκτης</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>&lt;i&gt;T&lt;/s&gt;im.&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πλευστέον
<span class='bright_red'>&lt;tmp&gt;</span>πλευστέα.<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πλέως
<span class='bright_red'>&lt;tmp&gt;</span>πλειότερος.<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πλῆθος
<span class='bright_red'>&lt;tmp&gt;</span>(<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πλήκτης
<span class='bright_red'>&lt;tmp&gt;</span>&lt;s&gt;<span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.7.7 v8.1.xml </span></span>
Subroutine get_node redefined at GrNe/Process/Meta.pm line 111.<br/>Warning: (lemma: <span class='bright_red'>πλῆκτρον</span>) <span class='red'>Process::Vorm</span><br/>Warning: (lemma: <span class='bright_red'>πλῆκτρον</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>Encountered <span class='yellow'>↑ <span class='bright_blue'>but couldn't retrieve previous etym. </span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλήν</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλήν</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>εἰ, ἐάν, ὅταν <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλήν</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλήν</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πλὴν εἰ &lt;i&gt;en&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλήν</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλήν</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πλὴν εἰ &lt;i&gt;en impliciet werkw.&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλήν</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλήν</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>ὅσον &lt;i&gt;of&lt;/i&gt; ὅσα <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλήν</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πλήν</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πλήξιππος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πλήξιππος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πλήν
<span class='bright_red'>&lt;tmp&gt;</span>εἰ, ἐάν, ὅταν <span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.7.8 v8.1.xml </span></span>
Subroutine get_node redefined at GrNe/Process/Meta.pm line 111.<br/>Warning: (lemma: <span class='bright_red'>πλησίος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλησίος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>(οἱ) πλησίοι <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλήττω</span>) <span class='red'>Element::WerkV</span><br/>Warning: (lemma: <span class='bright_red'>πλήττω</span>)<span class="space"></span><span class="space"></span><span class="space"></span>1<br/>Warning: (lemma: <span class='bright_red'>πλίνθος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλίνθος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πλίνθοι κεραμεαῖ &lt;i&gt;of&lt;/i&gt; π. γήϊναι bakstenen van klei; πλίνθοι ὀπταί gebakken stenen<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλίνθος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλίνθος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πλίνθους ὀπτᾶν stenen bakken<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλοῖον</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλοῖον</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πλοῖα λεπτά lichte schepen; π. μακρά oorlogsschepen.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλόκος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλόκος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>krans.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλόος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλόος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πλοῦν στέλλειν &lt;i&gt;of&lt;/i&gt; πλοῦν ποιεῖσθαι een (zee)reis maken, (uit)varen; &lt;i&gt;overdr.&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλόος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλόος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>ὁ δεύτερος π. <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλούσιος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλούσιος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>zoals de rijken doen <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλουτέω</span>) <span class='red'>Process::Vorm</span><br/>Warning: (lemma: <span class='bright_red'>πλουτέω</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: <span class='bright_red'>πλουτέω</span>) praes. ptc. acc. sing. &lt;r&gt;πλουτεῦντα <span class='bright_red'>&lt;s&gt;</span>Hes.&lt;/s&gt;&lt;/r&gt; Op. &lt;r&gt;313&lt;/r&gt;, <br/>Warning: (lemma: <span class='bright_red'>πλουτέω</span>) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: <span class='bright_red'>πλουτέω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλουτέω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>op kosten van; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πλησίος
<span class='bright_red'>&lt;tmp&gt;</span>(οἱ) πλησίοι <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πλήττω
<span class='bright_red'>&lt;tmp&gt;</span>&lt;i&gt;&lt;b&gt;aor&lt;/b&gt;.&lt;/i&gt; ἔπληξα &lt;i&gt;en med.&lt;/i&gt; ἐπληξάμην&lt;i&gt;in Att. alleen in composita; ep.&lt;/i&gt; πλῆξα, &lt;i&gt;Dor.&lt;/i&gt; πλᾶξα, &lt;i&gt;ep. redupl. 3 plur.&lt;/i&gt; ἐπέπληγον &lt;i&gt;en&lt;/i&gt; πέπληγον, &lt;i&gt;med. ep. redupl. 3 sing.&lt;/i&gt; πεπλήγετο, &lt;i&gt;3 plur.&lt;/i&gt; πεπλήγοντο, &lt;i&gt;pass.&lt;/i&gt; ἐπλήγην &lt;i&gt;zelden&lt;/i&gt; ἐπλήχθην &lt;i&gt;en&lt;/i&gt; ἐπλά̆γην, &lt;i&gt;Dor. ptc. aor. pass.&lt;/i&gt; πλᾱγείς; &lt;b&gt;&lt;i&gt;perf&lt;/i&gt;.&lt;/b&gt; πέπληγα &lt;i&gt;later&lt;/i&gt; πέπληχα, &lt;i&gt;ptc.&lt;/i&gt; πεπληγώς &lt;i&gt;(bij latere auteurs ook pass.) en&lt;/i&gt; πεπλήγων &lt;s&gt;Il.&lt;/s&gt; 2.264, &lt;i&gt;med.-pass.&lt;/i&gt; πέπληγμαι &lt;i&gt;ptc.&lt;/i&gt; πεπληγμένος &lt;i&gt;Dor.&lt;/i&gt; πεπλαγμένος &lt;s&gt;Aeschl.&lt;/s&gt; Sept. 896; &lt;b&gt;&lt;i&gt;plqperf&lt;/i&gt;.&lt;/b&gt; &lt;i&gt;act. ep.&lt;/i&gt; ἐπέπληγον &lt;i&gt;(zie aor.), med.-pass.&lt;/i&gt; ἐπεπλήγμην; &lt;b&gt;&lt;i&gt;fut.&lt;/b&gt;&lt;/i&gt; πλήξω, &lt;i&gt;pass.&lt;/i&gt; πληγήσομαι &lt;i&gt;en&lt;/i&gt; πλᾰγήσομαι; &lt;b&gt;&lt;i&gt;fut. perf&lt;/i&gt;.&lt;/b&gt; πεπλήξομαι &lt;b&gt;slaan, treffen&lt;/b&gt;<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πλίνθος
<span class='bright_red'>&lt;tmp&gt;</span>πλίνθοι κεραμεαῖ &lt;i&gt;of&lt;/i&gt; π. γήϊναι bakstenen van klei; πλίνθοι ὀπταί gebakken stenen<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πλοῖον
<span class='bright_red'>&lt;tmp&gt;</span>πλοῖα λεπτά lichte schepen; π. μακρά oorlogsschepen.<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πλόκος
<span class='bright_red'>&lt;tmp&gt;</span>krans.<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πλόος
<span class='bright_red'>&lt;tmp&gt;</span>πλοῦν στέλλειν &lt;i&gt;of&lt;/i&gt; πλοῦν ποιεῖσθαι een (zee)reis maken, (uit)varen; &lt;i&gt;overdr.&lt;/i&gt; <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πλούσιος
<span class='bright_red'>&lt;tmp&gt;</span>zoals de rijken doen <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πλουτέω
<span class='bright_red'>&lt;tmp&gt;</span>op kosten van; <span class='bright_red'>&lt;/tmp&gt;</span>

