<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
<span class='bright_blue'>Doing <span class='yellow'>data/PI.9.1 v8.0.xml </span></span>
# total failures: <span class='green'>0</span><br/>
<span class='bright_blue'>Doing <span class='yellow'>data/PI.9.3 v8.0.xml </span></span>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>πολύστροφος</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>(= </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>).</span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

