<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
<span class='bright_blue'>Doing <span class='yellow'>data/PI.12.1 v8.3.xml </span></span>
Warning: (lemma: <span class='bright_red'>πρός</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρός</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>in composita<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρός</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρός</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>προσάγω, προσβάλλω, προσέρχομαι, προσπίπτω<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρός</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρός</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>προσγίγνομαι, πρόσειμι<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρός</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρός</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>προσδίδωμι, προστίθημι<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρός</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πρός</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πρός</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πρός</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πρός</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρός</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>= πρὸς τούτῳ <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρός</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πρός</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πρός</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πρός</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πρός-1
<span class='bright_red'>&lt;tmp&gt;</span>in composita<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πρός-3
<span class='bright_red'>&lt;tmp&gt;</span>= πρὸς τούτῳ <span class='bright_red'>&lt;/tmp&gt;</span>

