<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
<span class='bright_blue'>Doing <span class='yellow'>data/PI.8.1 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>πλύνω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλύνω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>iem. <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πλωτός</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πλωτός</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>&lt;s&gt;&lt;/s&gt; 3; &lt;i&gt;subst.&lt;/i&gt; οἱ πλωτοί <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πνεῦμα</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πνεῦμα</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>&lt;i&gt;<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πνεῦμα</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πνεῦμα</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>&lt;b&gt;&lt;/i&gt; geest<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πνεῦμα</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πνεῦμα</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πνεῦμα ἅγιον Heilige Geest.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πνευματόρροος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πνευματόρροος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πόα</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πόα</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>π. Μηδική &lt;i&gt;zie&lt;/i&gt; Μηδικός; &lt;i&gt;uitbr.&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>ποδεῖον</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>ποδεῖον</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>ποδηγός</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>ποδηγός</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>ποδήνεμος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>ποδήνεμος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>ποδοκάκκη</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>ποδοκάκκη</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: <span class='bright_red'>Vorm pass not successful for node <span class='bright_blue'><span class='red'>^<span class='bright_blue'>ποδοστράβη -ης, ἡ [πούς, στρεβλός] martelwerktuig om voeten te verdraaien Luc. 46.10.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Error: Error: <span class='bright_blue'><span class='bright_red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>ποδοστράβη -ης, ἡ [πούς, στρεβ ... </span></span></span></span> (Last successful lemma was <span class='green'>ποδοκτύπη</span>)<br/>Warning: (lemma: <span class='bright_red'>ποδώκεια</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>ποδώκεια</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
# total failures: <span class='bright_red'>1</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πλύνω
<span class='bright_red'>&lt;tmp&gt;</span>iem. <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πλωτός
<span class='bright_red'>&lt;tmp&gt;</span>&lt;s&gt;&lt;/s&gt; 3; &lt;i&gt;subst.&lt;/i&gt; οἱ πλωτοί <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πνεῦμα
<span class='bright_red'>&lt;tmp&gt;</span>&lt;i&gt;<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πόα
<span class='bright_red'>&lt;tmp&gt;</span>π. Μηδική &lt;i&gt;zie&lt;/i&gt; Μηδικός; &lt;i&gt;uitbr.&lt;/i&gt; <span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.8.2 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>ποθεινός</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>ποθεινός</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πόθεν</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πόθεν</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>ποθεν</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>ποθεν</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>, <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>ποθι</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>ποθι</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>, <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: <span class='bright_red'>Vorm pass not successful for node <span class='bright_blue'><span class='red'>^<span class='bright_blue'>2. ποία Dor.voor πόα.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Error: Error: <span class='bright_blue'><span class='bright_red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>2. ποία Dor.voor πόα. </span></span></span></span> (Last successful lemma was <span class='green'>ποία-1</span>)<br/>
# total failures: <span class='bright_red'>1</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ποθεν
<span class='bright_red'>&lt;tmp&gt;</span>&lt;toel&gt;(encl.)&lt;/toel&gt;, <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ποθι
<span class='bright_red'>&lt;tmp&gt;</span>&lt;toel&gt;(encl.)&lt;/toel&gt;, <span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.8.4 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>ποιήεις</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>ποιήεις</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>ποικίλος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>ποικίλος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>ἡ στοὰ ἡ ποικίλη<span class="space"></span><span class="space"></span>= Ποικίλη <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ποικίλος
<span class='bright_red'>&lt;tmp&gt;</span>ἡ στοὰ ἡ ποικίλη &lt;toel&gt;(van de Beschilderde Zuilengalerij in Athene)&lt;/toel&gt; = Ποικίλη <span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.8.5 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>ποινή</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>ποινή</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>Ποινή, ἡ <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>ποῖος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>ποῖος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>τις &lt;i&gt;om&lt;/i&gt; ποῖος &lt;i&gt;minder precies te maken&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>ποῖος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>ποῖος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>ποιπνύω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>ποιπνύω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>ποίπνυον, <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πολεμηδόκος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πολεμηδόκος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πολεμητέον</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πολεμητέον</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πολεμητέα <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πολεμικός</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πολεμικός</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>οἵ τε αὖ τὰ πολεμικὰ ἀσκοῦντες wie anderzijds de krijgskunst beoefent &lt;i&gt;Cyr.&lt;/i&gt; 1.5.9.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ποινή
<span class='bright_red'>&lt;tmp&gt;</span>Ποινή, ἡ <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ποῖος
<span class='bright_red'>&lt;tmp&gt;</span>τις &lt;i&gt;om&lt;/i&gt; ποῖος &lt;i&gt;minder precies te maken&lt;/i&gt; <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ποιπνύω
<span class='bright_red'>&lt;tmp&gt;</span>ποίπνυον, <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πολεμητέον
<span class='bright_red'>&lt;tmp&gt;</span>πολεμητέα <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πολεμικός
<span class='bright_red'>&lt;tmp&gt;</span>οἵ τε αὖ τὰ πολεμικὰ ἀσκοῦντες wie anderzijds de krijgskunst beoefent &lt;i&gt;Cyr.&lt;/i&gt; 1.5.9.<span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.8.6 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>πολέμιος</span>) <span class='red'>Process::Vorm</span><br/>Warning: (lemma: <span class='bright_red'>πολέμιος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>Encountered <span class='yellow'>↑ <span class='bright_blue'>but couldn't retrieve previous etym. </span></span></span><br/>Warning: (lemma: <span class='bright_red'>πολέμιος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πολέμιος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>(ὁ) πολέμιος <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πολεμόνδε</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πολεμόνδε</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πόλεμος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πόλεμος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>= πόλεμον ἀναιρέεσθαι <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πόλεμος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πόλεμος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>= πόλεμον θέσθαι <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πόλινδε</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πόλινδε</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πολιοῦχος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πολιοῦχος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πολίτευμα</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πολίτευμα</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>οἱ ἐν τῷ πολιτεύματι de bestuurders; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πολιτεύω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πολιτεύω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>ἐπολιτευσάμην en ἐπολιτεύθην<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πολιτεύω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πολιτεύω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>(als bestuurder<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πολέμιος
<span class='bright_red'>&lt;tmp&gt;</span>(ὁ) πολέμιος <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πόλεμος
<span class='bright_red'>&lt;tmp&gt;</span>= πόλεμον ἀναιρέεσθαι <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πολίτευμα
<span class='bright_red'>&lt;tmp&gt;</span>οἱ ἐν τῷ πολιτεύματι de bestuurders; <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πολιτεύω
<span class='bright_red'>&lt;tmp&gt;</span>ἐπολιτευσάμην en ἐπολιτεύθην<span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.8.7 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>πολιτικός</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πολιτικός</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>(~ πολίτης)<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πολιτικός</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πολιτικός</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πλῆθος π. <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πολιτικός</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πολιτικός</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>(~ πόλις)<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πολιτικός</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πολιτικός</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πολιτικὸς ἐπιστήμων πόλεως κατασκευῆς de term <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πολιτικός</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πολιτικός</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>(~ πολιτεία) <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πολλάκις</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πολλάκις</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>μὴ πολλάκις + &lt;i&gt;conj.&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πολλάκις</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πολλάκις</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πολλαπλάσιος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πολλαπλάσιος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πολλαπλόος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πολλαπλόος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πολλοστός</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πολλοστός</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πολυάρατος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πολυάρατος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: <span class='bright_red'>Vorm pass not successful for node <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πολυγᾱθής Dor.voor πολυγηθής.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Error: Error: <span class='bright_blue'><span class='bright_red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>πολυγᾱθής Dor.voor πολυγηθής. </span></span></span></span> (Last successful lemma was <span class='green'>πολύβροχος</span>)<br/>Warning: (lemma: <span class='bright_red'>πολυγηθής</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πολυγηθής</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
# total failures: <span class='bright_red'>1</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πολιτικός
<span class='bright_red'>&lt;tmp&gt;</span>(~ πολίτης)<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πολλάκις
<span class='bright_red'>&lt;tmp&gt;</span>μὴ πολλάκις + &lt;i&gt;conj.&lt;/i&gt; <span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.8.8 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>πολύδενδρος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πολύδενδρος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πολυετής</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πολυετής</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>δουλεία <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πολυήκοος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πολυήκοος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πολύθροος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πολύθροος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πολύκλαυστος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πολύκλαυστος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πολύμνηστος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πολύμνηστος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πολυετής
<span class='bright_red'>&lt;tmp&gt;</span>δουλεία <span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.8.9 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>πολύξενος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πολύξενος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
# total failures: <span class='green'>0</span><br/>
