<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
<span class='bright_blue'>Doing <span class='yellow'>data/PI.2.6 v8.0.xml </span></span>
<span class='bright_blue'>Output dir <span class='yellow'>results/xml-migrate/Pi/Pi.2.6 </span></span>
Error: <span class='bright_blue'><span class='red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>παρ-αΐσσω en παρ-ᾴσσω, zie παρ ... </span></span></span></span> (Last successful lemma was <span class='green'>παρ-αίσιος</span>)<br/>Error: <span class='bright_blue'><span class='red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>παρ-αίτιος -ον en -ος -α -ον [ ... </span></span></span></span> (Last successful lemma was <span class='green'>παραιτητός</span>)<br/>
# total failures: <span class='red'>2</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>παρ-αιτέομαι</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>met <span class='yellow'>&lt;i&gt;</span></span>acc. v. pers. en gen. v. zaak<span class='yellow'>&lt;/i&gt;</span>: <span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>παρακατάβασις</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>(?) </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.2.7 v8.0.xml </span></span>
<span class='bright_blue'>Output dir <span class='yellow'>results/xml-migrate/Pi/Pi.2.7 </span></span>
Error: <span class='bright_blue'><span class='red'>Vorm pass failed for higher structure lemma.<span class='bright_blue'> <span class='yellow'>opzij buigen: παρακλίνας κεφαλ ... </span></span></span></span> (Last successful lemma was <span class='green'>παρα-κλίνω</span>)<br/>
# total failures: <span class='red'>1</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>παρα-κελεύω</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>ὡς- <span class='yellow'>&lt;i&gt;</span></span>of<span class='yellow'>&lt;/i&gt;</span> ὅτι-<span class='yellow'>&lt;i&gt;</span>zin<span class='yellow'>&lt;/i&gt;</span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>ὅπως <span class='yellow'>&lt;i&gt;</span></span>en fut.<span class='yellow'>&lt;/i&gt;</span> <span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>.</span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>ὡς <span class='yellow'>&lt;i&gt;</span></span>en indic. praes.<span class='yellow'>&lt;/i&gt;</span> <span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>παράκλητος</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>ὁ π. </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>παρακοινάομαι</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>iem. </span><span class='yellow'></span><span class='bright_blue'>&lt;toel&gt;</span><span class='yellow'></span><span class='bright_red'>(dat.)</span><span class='yellow'></span><span class='bright_blue'>&lt;/toel&gt;</span><span class='yellow'></span><span class='bright_red'> </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>van iets </span><span class='yellow'></span><span class='bright_blue'>&lt;toel&gt;</span><span class='yellow'></span><span class='bright_red'>(acc.)</span><span class='yellow'></span><span class='bright_blue'>&lt;/toel&gt;</span><span class='yellow'></span><span class='bright_red'>.</span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>παρα-κόπτω</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>je hebt de strekking van mijn voorspellingen gemist παρεκόπης χρησμῶν ἐμῶν </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.2.8 v8.1.xml </span></span>
<span class='bright_blue'>Output dir <span class='yellow'>results/xml-migrate/Pi/Pi.2.8 </span></span>
Error: <span class='bright_blue'><span class='red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>πᾰρά̆λιος -α –ον of –ος -ον [π ... </span></span></span></span> (Last successful lemma was <span class='green'>παραλία</span>)<br/>Error: <span class='bright_blue'><span class='red'>Vorm pass failed for higher structure lemma.<span class='bright_blue'> <span class='yellow'>παρ-αλλάττω, ook παραλλάσσω </span></span></span></span> (Last successful lemma was <span class='green'>παράλλαξις</span>)<br/>
# total failures: <span class='red'>2</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>πάρᾰλος</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>= ἡ Πάραλος </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.2.9 v8.1.xml </span></span>
<span class='bright_blue'>Output dir <span class='yellow'>results/xml-migrate/Pi/Pi.2.9 </span></span>
Error: <span class='bright_blue'><span class='red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>παρα-μείγνῡμι en παρα-μειγνύω<span class="space"></span><span class="space"></span>... </span></span></span></span> (Last successful lemma was <span class='green'>παρ-ᾰμείβω</span>)<br/>Error: <span class='bright_blue'><span class='red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>παραμόνῐμος -ον en παράμονος - ... </span></span></span></span> (Last successful lemma was <span class='green'>παραμίσγω</span>)<br/>Error: <span class='bright_blue'><span class='red'>Vorm pass failed for higher structure lemma.<span class='bright_blue'> <span class='yellow'>παρ-αμπέχω en παρ-αμπίσχω<span class="space"></span><span class="space"></span></span></span></span></span> (Last successful lemma was <span class='green'>παράμουσος</span>)<br/>Error: <span class='bright_blue'><span class='red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>παρ-ᾰνᾱλίσκω ook παραναλόω ver ... </span></span></span></span> (Last successful lemma was <span class='green'>παρα-ναιετάω</span>)<br/>Error: <span class='bright_blue'><span class='red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>παρ-ᾰνοίγνῡμι en παρ-ανοίγω op ... </span></span></span></span> (Last successful lemma was <span class='green'>παράνοια</span>)<br/>Error: <span class='bright_blue'><span class='red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>παράνοος -οον, contr. -ουν [πα ... </span></span></span></span> (Last successful lemma was <span class='green'>παράνομος</span>)<br/>
# total failures: <span class='red'>6</span><br/>
<span class='bright_blue'>Doing <span class='yellow'>data/PI.2.10 v8.0.xml </span></span>
<span class='bright_blue'>Output dir <span class='yellow'>results/xml-migrate/Pi/Pi.2.10 </span></span>
Error: <span class='bright_blue'><span class='red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>παρα-πείθω ep. παρπ- en παραιπ ... </span></span></span></span> (Last successful lemma was <span class='green'>παρ-απᾰφίσκω</span>)<br/>Error: <span class='bright_blue'><span class='red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>παρα-πήγνῡμι en παραπηγνύω vas ... </span></span></span></span> (Last successful lemma was <span class='green'>παρα-πέτομαι</span>)<br/>Error: <span class='bright_blue'><span class='red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>παράπλοος, contr. παράπλους -ο ... </span></span></span></span> (Last successful lemma was <span class='green'>παραπλήττω</span>)<br/>
# total failures: <span class='red'>3</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>παρα-πλέκω</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'><span class='yellow'>&lt;i&gt;</span></span>overdr.&lt;s&gt;<span class='yellow'>&lt;/i&gt;</span>&lt;/s&gt; <span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>παραπλήσιος</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>ἐποιεῦντο ... παραπλησίας προσβολάς zij deden soortgelijke aanvallen; <span class='yellow'>&lt;i&gt;</span></span>met dat.<span class='yellow'>&lt;/i&gt;</span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>= τὸ παραπλήσιον </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>= παραπλήσια </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>παραπλησίως </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>πλησιαίτερον.</span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>παρ-απόλλῡμι</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'></span><span class='yellow'></span><span class='bright_blue'>&lt;toel&gt;</span><span class='yellow'></span><span class='bright_red'>(met intrans. perf.)</span><span class='yellow'></span><span class='bright_blue'>&lt;/toel&gt;</span><span class='yellow'></span><span class='bright_red'>, </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

