<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
<span class='bright_blue'>Doing <span class='yellow'>data/PI.11.1 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>προέρχομαι</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προέρχομαι</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>εἰς &lt;i&gt;+ acc.&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρόθεσις</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρόθεσις</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προθυμητέον</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προθυμητέον</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>προθυμητέα.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρόθυμος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρόθυμος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>τὸ πρόθυμον = προθυμία.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρόθυμος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρόθυμος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>εἰς, ἐπί &lt;i&gt;en&lt;/i&gt; πρός + &lt;i&gt;acc.;&lt;/i&gt; &lt;i&gt;ook met inf.&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προ-έρχομαι
<span class='bright_red'>&lt;tmp&gt;</span>εἰς &lt;i&gt;+ acc.&lt;/i&gt; <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πρόθεσις
<span class='bright_red'>&lt;tmp&gt;</span>&lt;/i&gt; <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προθυμητέον
<span class='bright_red'>&lt;tmp&gt;</span>προθυμητέα.<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πρόθυμος
<span class='bright_red'>&lt;tmp&gt;</span>τὸ πρόθυμον = προθυμία.<span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.11.7 v8.1.xml </span></span>
# total failures: <span class='green'>0</span><br/>
