<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
<span class='bright_blue'>Doing <span class='yellow'>data/PI.13.1 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>πρόσκειμαι</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρόσκειμαι</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πρόσκειται &lt;i&gt;met dat. v. pers.&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρόσκειμαι</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρόσκειμαι</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>(iem. of iets) <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρόσκειμαι</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρόσκειμαι</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>τῇ τοῦ ὄντος ἀεί ... προσκείμενος ἰδέᾳ zich steeds wijdend aan de idee van het Ζijn <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προσκολλάω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προσκολλάω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>of πρός + &lt;i&gt;acc.&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προσκοπή</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>προσκοπή</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>προσκοπή</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>προσκοπή</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>προσκυρέω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προσκυρέω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>aor.&lt;/i&gt; προσέκυρσα, <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πρόσκειμαι
<span class='bright_red'>&lt;tmp&gt;</span>πρόσκειται &lt;i&gt;met dat. v. pers.&lt;/i&gt; <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προσκολλάω
<span class='bright_red'>&lt;tmp&gt;</span>of πρός + &lt;i&gt;acc.&lt;/i&gt; <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προσκυρέω
<span class='bright_red'>&lt;tmp&gt;</span>aor.&lt;/i&gt; προσέκυρσα, <span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.13.2 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>προσλαμβάνω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προσλαμβάνω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>(met iem.) <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προσλαμβάνω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προσλαμβάνω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>(iets) <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προσλαμβάνω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προσλαμβάνω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>(iem. bij iets) <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προσλογιστέον</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προσλογιστέον</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προσμένω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προσμένω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>(<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: <span class='bright_red'>Vorm pass not successful for node <span class='bright_blue'><span class='red'>^<span class='bright_blue'>προσμίσγω praes. bij προσμείγνυμι.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Error: Error: <span class='bright_blue'><span class='bright_red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>προσμίσγω praes. bij προσμείγν ... </span></span></span></span> (Last successful lemma was <span class='green'>πρόσμιξις</span>)<br/>Warning: (lemma: <span class='bright_red'>προσνίσσομαι</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>προσνίσσομαι</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>προσομολογέω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προσομολογέω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>π. ταῦτα dat ook erkennen Dem. 27.42; &lt;i&gt;met AcI&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>
# total failures: <span class='bright_red'>1</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προσλαμβάνω
<span class='bright_red'>&lt;tmp&gt;</span>(met iem.) <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προσλογιστέον
<span class='bright_red'>&lt;tmp&gt;</span>.<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προσμένω
<span class='bright_red'>&lt;tmp&gt;</span>(<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προσομολογέω
<span class='bright_red'>&lt;tmp&gt;</span>π. ταῦτα dat ook erkennen Dem. 27.42; &lt;i&gt;met AcI&lt;/i&gt; <span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.13.3 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>πρόσορος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πρόσορος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πρόσπαιος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρόσπαιος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πρόσπαιον onverwachts = ἐκ προσπαίου; &lt;i&gt;adv.&lt;/i&gt; προσπαίως <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προσπίπτω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προσπίπτω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>(iem.) <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προσποιέω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προσποιέω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>θη-&lt;i&gt;aor.&lt;/i&gt;), &lt;i&gt;met acc.&lt;/i&gt;<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πρόσπαιος
<span class='bright_red'>&lt;tmp&gt;</span>πρόσπαιον onverwachts = ἐκ προσπαίου; &lt;i&gt;adv.&lt;/i&gt; προσπαίως <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προσπίπτω
<span class='bright_red'>&lt;tmp&gt;</span>(iem.) <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προσποιέω
<span class='bright_red'>&lt;tmp&gt;</span>θη-&lt;i&gt;aor.&lt;/i&gt;), &lt;i&gt;met acc.&lt;/i&gt;<span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.13.4 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>προστάτης</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>προστάτης</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
# total failures: <span class='green'>0</span><br/>
<span class='bright_blue'>Doing <span class='yellow'>data/PI.13.5 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>προστέλλομαι</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προστέλλομαι</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>η-&lt;i&gt;aor.&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προστίθημι</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προστίθημι</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>2d<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προστρόπαιος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>προστρόπαιος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Error: (lemma: <span class='bright_red'>προστυχής</span>) Error: <span class='bright_red'>Unexpected:</span>no text:p inside list-item<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>bekend me ... (Last successful lemma was <span class='green'>προστυγχάνω</span>)<br/>
# total failures: <span class='bright_red'>1</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προστέλλομαι
<span class='bright_red'>&lt;tmp&gt;</span>η-&lt;i&gt;aor.&lt;/i&gt; <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προστίθημι
<span class='bright_red'>&lt;tmp&gt;</span>2d<span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.13.6 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>προσφέρω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προσφέρω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>προσηνέχθην, &lt;i&gt;van personen, met dat.,&lt;/i&gt; εἰς + &lt;i&gt;acc.,&lt;/i&gt; πρός + &lt;i&gt;acc.&lt;/i&gt;<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προσφθέγγομαι</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προσφθέγγομαι</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>met acc.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προσφθεγκτός</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>προσφθεγκτός</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>προσφίλεια</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>προσφίλεια</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πρόσφορος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πρόσφορος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>προσφυής</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>προσφυής</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>προσφύω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προσφύω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>προσέφυσα) <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προσφύω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προσφύω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>προσέφυν &lt;i&gt;en perf.&lt;/i&gt; προσπέφυκα) <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Error: (lemma: <span class='bright_red'>προσφώνημα</span>) Error: <span class='bright_red'>Unexpected:</span>no text:p inside list-item<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>manier va ... (Last successful lemma was <span class='green'>προσφωνέω</span>)<br/>
# total failures: <span class='bright_red'>1</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προσφέρω
<span class='bright_red'>&lt;tmp&gt;</span>προσηνέχθην, &lt;i&gt;van personen, met dat.,&lt;/i&gt; εἰς + &lt;i&gt;acc.,&lt;/i&gt; πρός + &lt;i&gt;acc.&lt;/i&gt;<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προσφθέγγομαι
<span class='bright_red'>&lt;tmp&gt;</span>met acc.<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προσφύω
<span class='bright_red'>&lt;tmp&gt;</span>προσέφυσα) <span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.13.7 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>πόρρω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πόρρω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>(<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πόρρω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πόρρω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>prep. &lt;i&gt;met&lt;/i&gt; gen.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρόσωπον</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρόσωπον</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>(~ προσωπεῖον) <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προτάττω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προτάττω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>= τὸ προταχθέν <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προτείνω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προτείνω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>χεῖράς τε προετείνοντο τοῖσι Σκύθῃσι zij staken hun armen uit naar de Skythen <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πόρρω
<span class='bright_red'>&lt;tmp&gt;</span>(<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πρόσωπον
<span class='bright_red'>&lt;tmp&gt;</span>(~ προσωπεῖον) <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προτάττω
<span class='bright_red'>&lt;tmp&gt;</span>= τὸ προταχθέν <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προτείνω
<span class='bright_red'>&lt;tmp&gt;</span>χεῖράς τε προετείνοντο τοῖσι Σκύθῃσι zij staken hun armen uit naar de Skythen <span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.13.8 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>προτέλεια</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προτέλεια</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>voorafgaand aan <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρότερος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρότερος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>τὸ πρότερον, &lt;i&gt;met praes.&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρότερος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρότερος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>ᾠηθήτην ... ἡμᾶς τὸ πρότερον παίζειν zij tweeën dachten dat wij daarvóór grappen maakten; τὸ πρότερον &lt;i&gt;met aor.&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρότερος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρότερος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πρότερον ἤ eerder dan <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρότερος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρότερος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>οὐ π. πρὶν ἤ = μὴ π. πρίν = οὐ π. ἕως niet eerder dan ...<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρότερος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρότερος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>οἱ πρότεροι &lt;i&gt;zij die vroeger leefden&lt;/i&gt;: <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προτίθημι</span>) <span class='red'>Element::WerkV</span><br/>Warning: (lemma: <span class='bright_red'>προτίθημι</span>)<span class="space"></span><span class="space"></span><span class="space"></span>1<br/>Warning: (lemma: <span class='bright_red'>προτίθημι</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προτίθημι</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>οὖρον π.: <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προτιμάω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προτιμάω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>μᾶλλον ἤ + &lt;i&gt;gen.&lt;/i&gt;; &lt;i&gt;pass.&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προτιμάω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προτιμάω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>μὴ &lt;i&gt;en&lt;/i&gt; &lt;i&gt;inf.&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προτιμητέος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προτιμητέος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>boven iets.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προτίω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προτίω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>iem. iets<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρότονος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πρότονος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>προτρεπτικός</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προτρεπτικός</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>Προτρεπτικός &lt;i&gt;als titel van werk&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προτέλεια
<span class='bright_red'>&lt;tmp&gt;</span>voorafgaand aan <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πρότερος
<span class='bright_red'>&lt;tmp&gt;</span>τὸ πρότερον, &lt;i&gt;met praes.&lt;/i&gt; <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προτίθημι
<span class='bright_red'>&lt;tmp&gt;</span>praes. 3 sing. προτιθεῖ imperf. προετίθην, προετίθειν en later προετίθουν, 3 plur. πρότιθεν Od. 1.112 med.-pass. προετιθέμην en προυτιθέμην; aor. προυθηκα en προέθηκα, med. προυθέμην en προεθέμην; aor. pass. προυτέθην en προετέθην; perf. προτέθεικα, med.-pass. προτέθειμαι; plqpf. med.-pass. προ(ε)τεθείμην; fut. προθήσω, med. προθήσομαι; fut. pass. προτεθήσομαι Hdt. 1.133.4, plur. -τιθεῖσι &lt;toel&gt;(i.p.v. -&lt;link target=""&gt;τίθεισι&lt;/link&gt;)&lt;/toel&gt;; voor ... zetten<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προτιμάω
<span class='bright_red'>&lt;tmp&gt;</span>μᾶλλον ἤ + &lt;i&gt;gen.&lt;/i&gt;; &lt;i&gt;pass.&lt;/i&gt; <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προτιμητέος
<span class='bright_red'>&lt;tmp&gt;</span>boven iets.<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προτίω
<span class='bright_red'>&lt;tmp&gt;</span>iem. iets<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προτρεπτικός
<span class='bright_red'>&lt;tmp&gt;</span>Προτρεπτικός &lt;i&gt;als titel van werk&lt;/i&gt; <span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.13.9 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>προτρέπω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προτρέπω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>ὥστε &lt;i&gt;en&lt;/i&gt; &lt;i&gt;inf.&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προτροπάδην</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>προτροπάδην</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προτρέπω
<span class='bright_red'>&lt;tmp&gt;</span>ὥστε &lt;i&gt;en&lt;/i&gt; &lt;i&gt;inf.&lt;/i&gt; <span class='bright_red'>&lt;/tmp&gt;</span>

