<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
<span class='bright_blue'>Doing <span class='yellow'>data/PI.14.1 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>προϋπάρχω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προϋπάρχω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>(<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: <span class='bright_red'>Vorm pass not successful for node <span class='bright_blue'><span class='red'>^<span class='bright_blue'>προὐργιαίτατος -α -ον superl. bij προὔργου.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Error: Error: <span class='bright_blue'><span class='bright_red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>προὐργιαίτατος -α -ον superl.<span class="space"></span><span class="space"></span>... </span></span></span></span> (Last successful lemma was <span class='green'>προὖπτος</span>)<br/>Warning: <span class='bright_red'>Vorm pass not successful for node <span class='bright_blue'><span class='red'>^<span class='bright_blue'>προὐργιαίτερος -α -ον comp. bij προὔργου.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Error: Error: <span class='bright_blue'><span class='bright_red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>προὐργιαίτερος -α -ον comp. bi ... </span></span></span></span> (Last successful lemma was <span class='green'>προὖπτος</span>)<br/>Warning: (lemma: <span class='bright_red'>προφανής</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προφανής</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>= ἐκ τοῦ π. <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προφέρω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προφέρω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>εἰς (τὸ) μέσον π. <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>
# total failures: <span class='bright_red'>2</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προϋπάρχω
<span class='bright_red'>&lt;tmp&gt;</span>(<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προφανής
<span class='bright_red'>&lt;tmp&gt;</span>= ἐκ τοῦ π. <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προφέρω
<span class='bright_red'>&lt;tmp&gt;</span>εἰς (τὸ) μέσον π. <span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.14.2 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>προφυλακὶς</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>προφυλακὶς</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πρόχειρος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρόχειρος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πρόχειρόν (ἐστι) &lt;i&gt;met inf.&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρύμνα</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρύμνα</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πρυμνός, <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρύτανις</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πρύτανις</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πρώην</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πρώην</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πρόχειρος
<span class='bright_red'>&lt;tmp&gt;</span>πρόχειρόν (ἐστι) &lt;i&gt;met inf.&lt;/i&gt; <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πρύμνα
<span class='bright_red'>&lt;tmp&gt;</span>πρυμνός, <span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.14.3 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>πρῴ</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πρῴ</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πρῳζός</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πρῳζός</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πρώϊος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πρώϊος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πρωκτοπεντετηρίς</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρωκτοπεντετηρίς</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>‘<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρών</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πρών</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πρῴραθεν</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πρῴραθεν</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πρώτιστος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρώτιστος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πρώτιστον &lt;i&gt;en&lt;/i&gt; πρώτιστα <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρώτιστος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πρώτιστος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πρῶτος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρῶτος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>τὸ πρῶτον &lt;i&gt;of&lt;/i&gt; τὰ πρῶτα <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρῶτος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρῶτος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πρῶτον en πρῶτα <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρῶτος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πρῶτος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πρωκτοπεντετηρίς
<span class='bright_red'>&lt;tmp&gt;</span>‘<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πρώτιστος
<span class='bright_red'>&lt;tmp&gt;</span>πρώτιστον &lt;i&gt;en&lt;/i&gt; πρώτιστα <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πρῶτος
<span class='bright_red'>&lt;tmp&gt;</span>τὸ πρῶτον &lt;i&gt;of&lt;/i&gt; τὰ πρῶτα <span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.14.4 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>πτέρις</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πτέρις</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πτέρυξ</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πτέρυξ</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>τὰν κολπώδη πτέρυγ᾿ E<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πτηνός</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πτηνός</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>μῦθοι π. gevleugelde woorden &lt;i&gt;Or.&lt;/i&gt; 1176; &lt;i&gt;subst.&lt;/i&gt; τὰ πτηνά <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πτηνός</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πτηνός</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πτολίπορθος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πτολίπορθος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πτυαλισμός</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πτυαλισμός</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πτύαλον</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πτύαλον</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πτέρυξ
<span class='bright_red'>&lt;tmp&gt;</span>τὰν κολπώδη πτέρυγ’ E<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πτηνός
<span class='bright_red'>&lt;tmp&gt;</span>μῦθοι π. gevleugelde woorden &lt;i&gt;Or.&lt;/i&gt; 1176; &lt;i&gt;subst.&lt;/i&gt; τὰ πτηνά <span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.14.5 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>πτύον</span>) Was asked to traverse 43 chars but couldn't do it.<br/>Warning: (lemma: <span class='bright_red'>πτύον</span>) <span class='bright_red'>Couldn't figure out where to place toel, a toel has been dropped!</span><br/>Warning: (lemma: <span class='bright_red'>πτύω</span>) <span class='red'>Process::Vorm</span><br/>Warning: (lemma: <span class='bright_red'>πτύω</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: <span class='bright_red'>πτύω</span>) aor2. ptc. &lt;r&gt;πτυείς <span class='bright_red'>&lt;s&gt;</span>Hp.&lt;/s&gt;&lt;/r&gt;<br/>Warning: (lemma: <span class='bright_red'>πτύω</span>) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: <span class='bright_red'>πτωχεύω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πτωχεύω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>δαῖτα π. om een maaltijd bedelen; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πτωχόμουσος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πτωχόμουσος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>(= <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πτωχόμουσος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πτωχόμουσος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>).<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πτωχός</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πτωχός</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>ὁ πτωχός, ἡ πτωχή <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πυγμαῖος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πυγμαῖος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πυγμαίου ἀνδρὸς μίμησίς ἐστι het is een afbeelding van een pygmee (~ &lt;i&gt;dwerg&lt;/i&gt;) <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πυγμαῖος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πυγμαῖος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>οἱ Πυγμαῖοι <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πυγμή</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πυγμή</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>= πυγμὴν νικᾶν <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>Πυθιάς_</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>Πυθιάς_</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>(= Πυθία).<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>Πυθοῖ_</span>) <span class='red'>Process::Vorm</span><br/>Warning: (lemma: <span class='bright_red'>Πυθοῖ_</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: <span class='bright_red'>Πυθοῖ_</span>) &lt;r&gt;Πυθόϊ <span class='bright_red'>&lt;s&gt;</span>Pind.&lt;/s&gt;&lt;/r&gt;, adv., <br/>Warning: (lemma: <span class='bright_red'>Πυθοῖ_</span>) (Make sure this definition contains either gebrW and vertM)<br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πτωχεύω
<span class='bright_red'>&lt;tmp&gt;</span>δαῖτα π. om een maaltijd bedelen; <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πτωχόμουσος
<span class='bright_red'>&lt;tmp&gt;</span>(= <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πτωχός
<span class='bright_red'>&lt;tmp&gt;</span>ὁ πτωχός, ἡ πτωχή <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πυγμαῖος
<span class='bright_red'>&lt;tmp&gt;</span>πυγμαίου ἀνδρὸς μίμησίς ἐστι het is een afbeelding van een pygmee (~ &lt;i&gt;dwerg&lt;/i&gt;) <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πυγμή
<span class='bright_red'>&lt;tmp&gt;</span>= πυγμὴν νικᾶν <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Πυθιάς
<span class='bright_red'>&lt;tmp&gt;</span>(= Πυθία).<span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.14.6 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>πυκιμηδής</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πυκιμηδής</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πυκνός</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πυκνός</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>ἄτη πυκινή een hevige verblinding 24.480; &lt;i&gt;n. adv.&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πυκνός</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πυκνός</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>-ότερος &lt;i&gt;en&lt;/i&gt; πυκινώτερος; &lt;i&gt;superl.&lt;/i&gt; -ότατος &lt;i&gt;en&lt;/i&gt; πυκινώτατος; &lt;i&gt;n.sing. adv.&lt;/i&gt; πυκνόν <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πυκνός</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πυκνός</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>= -ότερα <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πυκνότης</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πυκνότης</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>π. κοιλίης constipatie; &lt;i&gt;muz.&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πύκνωμα</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πύκνωμα</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πυκνός, πυκνότης) &lt;i&gt;als techn. term&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πυνθάνομαι</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πυνθάνομαι</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πολλάκι ... τό γε μητρὸς ἐπεύθετο dikwijls informeerde hij hiernaar bij zijn moeder.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πυκνός
<span class='bright_red'>&lt;tmp&gt;</span>ἄτη πυκινή een hevige verblinding 24.480; &lt;i&gt;n. adv.&lt;/i&gt; <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πυκνότης
<span class='bright_red'>&lt;tmp&gt;</span>π. κοιλίης constipatie; &lt;i&gt;muz.&lt;/i&gt; <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πύκνωμα
<span class='bright_red'>&lt;tmp&gt;</span>πυκνός, πυκνότης) &lt;i&gt;als techn. term&lt;/i&gt; <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πυνθάνομαι
<span class='bright_red'>&lt;tmp&gt;</span>πολλάκι ... τό γε μητρὸς ἐπεύθετο dikwijls informeerde hij hiernaar bij zijn moeder.<span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.14.7 v8.2.xml </span></span>
Warning: (lemma: <span class='bright_red'>πύξινος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πύξινος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πυξίον</span>) <span class='red'>Process::Vorm</span><br/>Warning: (lemma: <span class='bright_red'>πυξίον</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>Encountered <span class='yellow'>↑ <span class='bright_blue'>but couldn't retrieve previous etym. </span></span></span><br/>Warning: (lemma: <span class='bright_red'>πύος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πύος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πύππαξ</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πύππαξ</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>!<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πῦρ</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πῦρ</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πυργόω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πυργόω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>(voor zich<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πυρεύω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πυρεύω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>π. τὴν ὕλην spullen verbranden.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πύππαξ
<span class='bright_red'>&lt;tmp&gt;</span>!<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πυργόω
<span class='bright_red'>&lt;tmp&gt;</span>(voor zich<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πυρεύω
<span class='bright_red'>&lt;tmp&gt;</span>π. τὴν ὕλην spullen verbranden.<span class='bright_red'>&lt;/tmp&gt;</span>

