<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
<span class='bright_blue'>Doing <span class='yellow'>data/PI.11.2 v8.1.xml </span></span>
Error: (lemma: <span class='bright_red'>προΐημι</span>) Error: <span class='bright_red'>Unexpected:</span>no text:p inside list-item<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>vooruit z ... (Last successful lemma was <span class='green'>προΐζομαι</span>)<br/>Warning: (lemma: <span class='bright_red'>προίξ</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προίξ</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>προικός &lt;i&gt;en acc. adv.&lt;/i&gt; προῖκα <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προίξ</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>προίξ</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>προΐστημι</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προΐστημι</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>προύστησα, προυστησάμην, &lt;i&gt;en aor.&lt;/i&gt; προυστάθην)<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προΐστημι</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προΐστημι</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>προέστην, &lt;i&gt;soms&lt;/i&gt; προεστάθην, &lt;i&gt;perf.&lt;/i&gt; προέστηκα), &lt;i&gt;meestal met dat.&lt;/i&gt;<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>
# total failures: <span class='bright_red'>1</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προίξ
<span class='bright_red'>&lt;tmp&gt;</span>προικός &lt;i&gt;en acc. adv.&lt;/i&gt; προῖκα <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προΐστημι
<span class='bright_red'>&lt;tmp&gt;</span>προύστησα, προυστησάμην, &lt;i&gt;en aor.&lt;/i&gt; προυστάθην)<span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.11.3 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>προκαταγιγνώσκω</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>προκαταγιγνώσκω</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πρόκειμαι</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρόκειμαι</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πρόκεινται νόμοι de wetten liggen vast &lt;i&gt;OT&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πρόκειμαι
<span class='bright_red'>&lt;tmp&gt;</span>πρόκεινται νόμοι de wetten liggen vast &lt;i&gt;OT&lt;/i&gt; <span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.11.4 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>προλαμβάνω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προλαμβάνω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>ὅπως-&lt;i&gt;zin&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προμαλάττω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προμαλάττω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>Ion.&lt;/i&gt; προμαλάσσω <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προμαντεύω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προμαντεύω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>ὡς; &lt;i&gt;meestal med.&lt;/i&gt;<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προμηθής</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>προμηθής</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>προμηθικῶς</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προμηθικῶς</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>: <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προμνάομαι</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προμνάομαι</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>προμνᾶταί τί μοι γνώμα (+ &lt;i&gt;inf.&lt;/i&gt;<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προμνηστική</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>προμνηστική</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πρόναος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πρόναος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προλαμβάνω
<span class='bright_red'>&lt;tmp&gt;</span>ὅπως-&lt;i&gt;zin&lt;/i&gt; <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προμαλάττω
<span class='bright_red'>&lt;tmp&gt;</span>Ion.&lt;/i&gt; προμαλάσσω <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προμαντεύω
<span class='bright_red'>&lt;tmp&gt;</span>ὡς; &lt;i&gt;meestal med.&lt;/i&gt;<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προμηθικῶς
<span class='bright_red'>&lt;tmp&gt;</span>: <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προμνάομαι
<span class='bright_red'>&lt;tmp&gt;</span>προμνᾶταί τί μοι γνώμα (+ &lt;i&gt;inf.&lt;/i&gt;<span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.11.5 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>προνέμω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προνέμω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>(~ νόμος)<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προνέμω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προνέμω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>(~ νομός) <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προνοέω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προνοέω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>(ὡς) μή + &lt;i&gt;conj.&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προνοέω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προνοέω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>μή &lt;i&gt;en inf.&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρόνοια</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρόνοια</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>= π. τοῦ θεοῦ <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρόνοια</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρόνοια</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>= θεία π. <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προνομαία</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>προνομαία</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Error: (lemma: <span class='bright_red'>προνομή</span>) Error: <span class='bright_red'>Unexpected:</span>no text:p inside list-item<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>plunderin ... (Last successful lemma was <span class='green'>προνομεύω</span>)<br/>Warning: (lemma: <span class='bright_red'>πρόνοος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρόνοος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>προνούστερος <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρόξ</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πρόξ</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Error: (lemma: <span class='bright_red'>προξενέω</span>) Error: Something's wrong: couldn't get betekenis elements for one of the (tertiary) list items. (Last successful lemma was <span class='green'>πρόξεινος</span>)<br/>Warning: (lemma: <span class='bright_red'>προξενέω</span>) Something's wrong: couldn't get betekenis elements for one of the (tertiary) list items.<br/>Warning: (lemma: <span class='bright_red'>προξενέω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προξενέω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>τὸ προξενεῖν ὑμῶν jullie proxenos zijn<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρόοδος</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρόοδος</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>ἐπὶ προόδῳ <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προοιμιάζομαι</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προοιμιάζομαι</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>τί φροιμίαζῃ νεοχμόν; welk onheil leiden je woorden in? &lt;s&gt;Eur. &lt;i&gt;IT&lt;/i&gt;&lt;/s&gt; 1162; &lt;i&gt;pass.&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προοίμιον</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προοίμιον</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>ἁγησιχόρων ὁπόταν προοιμίων ἀμβολὰς τεύχῃς wanneer jij een begin maakt met het voorspel dat het koor leidt &lt;s&gt;Pind. &lt;i&gt;P.&lt;/s&gt;&lt;/i&gt; 1.4; &lt;i&gt;ret.&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προόμνυμι</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προόμνυμι</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>ptc. aor.&lt;/i&gt; προομόσας &lt;i&gt;en&lt;/i&gt; προυμόσας, <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρόοπτος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πρόοπτος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
# total failures: <span class='bright_red'>1</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προνέμω
<span class='bright_red'>&lt;tmp&gt;</span>(~ νόμος)<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προνοέω
<span class='bright_red'>&lt;tmp&gt;</span>(ὡς) μή + &lt;i&gt;conj.&lt;/i&gt; <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πρόνοια
<span class='bright_red'>&lt;tmp&gt;</span>= π. τοῦ θεοῦ <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πρόνοος
<span class='bright_red'>&lt;tmp&gt;</span>προνούστερος <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προξενέω
<span class='bright_red'>&lt;tmp&gt;</span>τὸ προξενεῖν ὑμῶν jullie proxenos zijn<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πρόοδος
<span class='bright_red'>&lt;tmp&gt;</span>ἐπὶ προόδῳ <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προοιμιάζομαι
<span class='bright_red'>&lt;tmp&gt;</span>τί φροιμίαζῃ νεοχμόν; welk onheil leiden je woorden in? &lt;s&gt;Eur. &lt;i&gt;IT&lt;/i&gt;&lt;/s&gt; 1162; &lt;i&gt;pass.&lt;/i&gt; <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προοίμιον
<span class='bright_red'>&lt;tmp&gt;</span>ἁγησιχόρων ὁπόταν προοιμίων ἀμβολὰς τεύχῃς wanneer jij een begin maakt met het voorspel dat het koor leidt &lt;s&gt;Pind. &lt;i&gt;P.&lt;/s&gt;&lt;/i&gt; 1.4; &lt;i&gt;ret.&lt;/i&gt; <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προόμνυμι
<span class='bright_red'>&lt;tmp&gt;</span>ptc. aor.&lt;/i&gt; προομόσας &lt;i&gt;en&lt;/i&gt; προυμόσας, <span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.11.6 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>προπάροιθεν</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>προπάροιθεν</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>προπετής</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προπετής</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>εἰς, ἐπί &lt;i&gt;of&lt;/i&gt; πρός + &lt;i&gt;acc., met inf.&lt;/i&gt;<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προπετής</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προπετής</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>προπετῶς, &lt;i&gt;Ion.&lt;/i&gt; προπετέως <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προπίνω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προπίνω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>(iemands) <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρόπλους</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πρόπλους</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>προπολεμέω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προπολεμέω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>=τὸ προπολεμοῦν <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προπετής
<span class='bright_red'>&lt;tmp&gt;</span>εἰς, ἐπί &lt;i&gt;of&lt;/i&gt; πρός + &lt;i&gt;acc., met inf.&lt;/i&gt;<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προπίνω
<span class='bright_red'>&lt;tmp&gt;</span>(iemands) <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προπολεμέω
<span class='bright_red'>&lt;tmp&gt;</span>=τὸ προπολεμοῦν <span class='bright_red'>&lt;/tmp&gt;</span>

