<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
<span class='bright_blue'>Doing <span class='yellow'>data/PI.15.2 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>πῶμα</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πῶμα</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πῶμα</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πῶμα</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πώποτε</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πώποτε</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πώρινος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πώρινος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πῶς</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πῶς</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>adv. in vragen die oordeel of houding van spreker impliceren<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πῶς</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πῶς</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πῶς ἄν<span class="space"></span><span class="space"></span>&lt;i&gt;in ret. vraag, met opt. pot.&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πῶς</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πῶς</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πῶς γάρ &lt;i&gt;in antwoord&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πῶς</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πῶς</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πῶς γὰρ οὔ; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πῶς</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πῶς</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πῶς δή;, πῶς δῆτα; &lt;i&gt;of&lt;/i&gt; πῶς δαί; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πῶς</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πῶς</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πῶς καί <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πῶς</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πῶς</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>καὶ πῶς <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πῶς</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πῶς</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πῶς οὐ <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πῶς</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πῶς</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πῶς δ᾿ οὔ; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πῶς</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πῶς</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>= πῶς γὰρ οὔ;<span class="space"></span><span class="space"></span>= πῶς δ᾿ οὐκ ἄν;.<span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πῶς</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πῶς</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πῶς οὖν <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πῶς</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πῶς</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>πῶς ποτέ <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πῶς</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πῶς</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πως</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πως</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>οὐ ... πως, μή ... πως <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πῶς
<span class='bright_red'>&lt;tmp&gt;</span>adv. in vragen die oordeel of houding van spreker impliceren<span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πως
<span class='bright_red'>&lt;tmp&gt;</span>οὐ ... πως, μή ... πως <span class='bright_red'>&lt;/tmp&gt;</span>

