<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
<span class='bright_blue'>Doing <span class='yellow'>data/PI.10.4 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>προαπόλλυμι</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προαπόλλυμι</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>προαπόλωλα) <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προάστιος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>προάστιος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>προαύλιον</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>προαύλιον</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>προαύλιον</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>προαύλιον</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>προβαίνω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προβαίνω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>= οἱ προβεβηκότες <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προβατογνώμων</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προβατογνώμων</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>mensenkenner <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προ-απόλλυμι
<span class='bright_red'>&lt;tmp&gt;</span>προαπόλωλα) <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προ-βαίνω
<span class='bright_red'>&lt;tmp&gt;</span>= οἱ προβεβηκότες <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προβατογνώμων
<span class='bright_red'>&lt;tmp&gt;</span>mensenkenner <span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.10.5 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>προβοσκίς</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προβοσκίς</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>&lt;s&gt;&lt;/s&gt; 33.6; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρόβουλος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πρόβουλος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πρόβουλος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πρόβουλος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>προγίγνομαι</span>) <span class='red'>Process::Vorm</span><br/>Warning: (lemma: <span class='bright_red'>προγίγνομαι</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: <span class='bright_red'>προγίγνομαι</span>) Ion. en later &lt;r&gt;προγί̄νομαι&lt;/r&gt;, ptc. aor1. &lt;r&gt;προγενάμενος&lt;/r&gt;, ep.aor. &lt;r&gt;3&lt;/r&gt;. plur. &lt;r&gt;προγένοντο&lt;/r&gt;; plqperf. &lt;r&gt;προυγεγόνειν&lt;/r&gt; en &lt;r&gt;προ(ε)γεγόνειν&lt;/r&gt;, med.-pass. &lt;r&gt;προυγεγενήμην &lt;s&gt;Thuc.&lt;/s&gt; 1.66.1&lt;/r&gt;<br/>Warning: (lemma: <span class='bright_red'>προγίγνομαι</span>) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: <span class='bright_red'>προγιγνώσκω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προγιγνώσκω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>&lt;s&gt;&lt;/s&gt; 2.3.17; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προβοσκίς
<span class='bright_red'>&lt;tmp&gt;</span>&lt;s&gt;&lt;/s&gt; 33.6; <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προ-γιγνώσκω
<span class='bright_red'>&lt;tmp&gt;</span>&lt;s&gt;&lt;/s&gt; 2.3.17; <span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.10.6 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>προδοκή</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προδοκή</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>ὅν ... δεδεγμένος ἐν προδοκῇσιν hem οpwachtend in een hinderlaag <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρόειμι</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πρόειμι</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πρόειμι</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πρόειμι</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>προεῖπον</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προεῖπον</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='red'>^<span class='bright_blue'>μή &lt;i&gt;en inf.&lt;/i&gt; <span class='red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προείρω</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>προείρω</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προδοκή
<span class='bright_red'>&lt;tmp&gt;</span>ὅν ... δεδεγμένος ἐν προδοκῇσιν hem οpwachtend in een hinderlaag <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προ-εῖπον
<span class='bright_red'>&lt;tmp&gt;</span>μή &lt;i&gt;en inf.&lt;/i&gt; <span class='bright_red'>&lt;/tmp&gt;</span>

