<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
<span class='bright_blue'>Doing <span class='yellow'>data/PI.15.1 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>πυρίκαυστος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πυρίκαυστος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πύρινος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πύρινος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πύρινος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πύρινος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πυρίπνοος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πυρίπνοος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πύρπνοος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πύρπνοος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πυρρόθριξ</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πυρρόθριξ</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πυρρός</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πυρρός</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πυρσός</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πυρσός</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πῶ</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πῶ</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='bright_red'>^<span class='bright_blue'>? <span class='bright_red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πῶ</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πῶ</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='bright_red'>^<span class='bright_blue'>πῶ μάλα &lt;i&gt;of&lt;/i&gt; πώμαλα <span class='bright_red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='bright_red'>^<span class='bright_blue'>οὔπω, μήπω, οὐδέπω, μηδέπω, οὐπώποτε, μηδεπώποτε.<span class='bright_red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πῶ
<span class='bright_red'>&lt;tmp&gt;</span>? <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πω
<span class='bright_red'>&lt;tmp&gt;</span>οὔπω, μήπω, οὐδέπω, μηδέπω, οὐπώποτε, μηδεπώποτε.<span class='bright_red'>&lt;/tmp&gt;</span>

