<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
<span class='bright_blue'>Doing <span class='yellow'>data/PI.3.1 v8.0.xml </span></span>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>παρασάγγης</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>(=5,94 km).</span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>παρασκευάζω</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>ὡς <span class='yellow'>&lt;i&gt;</span></span>en ptc. fut.<span class='yellow'>&lt;/i&gt;</span> <span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>ὅπως <span class='yellow'>&lt;i&gt;</span></span>en indic. fut.<span class='yellow'>&lt;/i&gt;</span> <span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>ὅπως <span class='yellow'>&lt;i&gt;</span></span>en conj.<span class='yellow'>&lt;/i&gt;</span> <span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>ὥστε <span class='yellow'>&lt;i&gt;</span></span>en inf.<span class='yellow'>&lt;/i&gt;</span> <span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.3.2 v8.0.xml </span></span>
Error: <span class='bright_blue'><span class='red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>παρα-στείχω met acc.<span class="space"></span><span class="space"></span></span></span></span></span> (Last successful lemma was <span class='green'>παραστά̆τις</span>)<br/>Error: <span class='bright_blue'><span class='red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>1. voorbijgaan: δόμους het pal ... </span></span></span></span> (Last successful lemma was <span class='green'>παραστά̆τις</span>)<br/>Error: <span class='bright_blue'><span class='red'>Vorm pass failed for primary structure lemma<span class='bright_blue'> <span class='yellow'>2. binnengaan: δόμους in het p ... </span></span></span></span> (Last successful lemma was <span class='green'>παραστά̆τις</span>)<br/>
# total failures: <span class='red'>3</span><br/>
<span class='bright_blue'>Doing <span class='yellow'>data/PI.3.3 v8.0.xml </span></span>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>παρα-τυγχάνω</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>τὸ παρατυγχάνον <span class='yellow'>&lt;i&gt;</span></span>of<span class='yellow'>&lt;/i&gt;</span> παρατυχόν <span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>παρατυχόν <span class='yellow'>&lt;i&gt;</span></span>met<span class='yellow'>&lt;/i&gt;</span> <span class='yellow'>&lt;i&gt;</span>inf.<span class='yellow'>&lt;/i&gt;</span> <span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.3.4 v8.0.xml </span></span>
Error: <span class='red'>Unexpected:</span>no text:p inside list-item<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>opmerken, ... (Last successful lemma was <span class='green'>πᾰρείᾱς</span>)<br/>
# total failures: <span class='red'>1</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>παρα-χωρέω</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>van(af</span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>voor </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>παραχωρεῖ Πρωταγόρᾳ hij erkent zijn meerdere in Protagoras; <span class='yellow'>&lt;i&gt;</span></span>met gen. en dat.<span class='yellow'>&lt;/i&gt;</span> <span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>παρ-εγγρά̆φω</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>τὸ αὑτοῦ ὄνομα </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.3.5 v8.0.xml </span></span>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>πάρ-ειμι-1</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>παρών <span class='yellow'>&lt;i&gt;</span></span>spec. trag.<span class='yellow'>&lt;/i&gt;</span> <span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>τὰ παρόντα </span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>παρόν <span class='yellow'>&lt;i&gt;</span></span>met inf.<span class='yellow'>&lt;/i&gt;</span> <span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.3.6 v8.0.xml </span></span>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>παρέκβᾰσις</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>πολιτείας δ᾿ ἐστὶν εἴδη τρία, ἴσαι δὲ καὶ παρεκβάσεις er zijn drie soorten staatsvormen en evenzovele ontaardingen <span class='yellow'>&lt;i&gt;</span></span>EN.<span class='yellow'>&lt;/i&gt;</span> 1160a31; <span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>παρεξειρεσία</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>‘</span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='green'>παρεπιδημία</span>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_blue'>&lt;tmp&gt;</span><span class='yellow'></span><span class='bright_red'>365b.</span><span class='yellow'></span><span class='bright_blue'>&lt;/tmp&gt;</span>

