<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
<span class='bright_blue'>Doing <span class='yellow'>data/PI.10.1 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>πρέπω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρέπω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='bright_red'>^<span class='bright_blue'>ὡς &lt;i&gt;of&lt;/i&gt; <span class='bright_red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρέσβα</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πρέσβα</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πρεσβεύω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρεσβεύω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='bright_red'>^<span class='bright_blue'>~ πρέσβυς ‘&lt;i&gt;oud, belangrijk, eerbiedwaardig&lt;/i&gt;’<span class='bright_red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρεσβεύω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρεσβεύω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='bright_red'>^<span class='bright_blue'>~ πρέσβυς ‘&lt;i&gt;gezant&lt;/i&gt;’<span class='bright_red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρεσβύτερος</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πρεσβύτερος</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πρέπω
<span class='bright_red'>&lt;tmp&gt;</span>ὡς &lt;i&gt;of&lt;/i&gt; <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πρεσβεύω
<span class='bright_red'>&lt;tmp&gt;</span>~ πρέσβυς ‘&lt;i&gt;oud, belangrijk, eerbiedwaardig&lt;/i&gt;’<span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.10.2 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>πρανής</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πρανής</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πρίαμαι</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πρίαμαι</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πρίν</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρίν</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='bright_red'>^<span class='bright_blue'>ἄν &lt;i&gt;of&lt;/i&gt; <span class='bright_red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρίω</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πρίω</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πρίων</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πρίων</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πρίων</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>πρίων</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>πρό</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρό</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='bright_red'>^<span class='bright_blue'>προβαίνω, προμάχομαι.<span class='bright_red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρό</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρό</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='bright_red'>^<span class='bright_blue'>προαγγέλλω, προγίγνομαι, προνοέω.<span class='bright_red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρό</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρό</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='bright_red'>^<span class='bright_blue'>προαιρέομαι, προτιμάω.<span class='bright_red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>πρό</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>πρό</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='bright_red'>^<span class='bright_blue'>prep. met &lt;i&gt;gen.&lt;/i&gt;<span class='bright_red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πρίν
<span class='bright_red'>&lt;tmp&gt;</span>ἄν &lt;i&gt;of&lt;/i&gt; <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>πρό
<span class='bright_red'>&lt;tmp&gt;</span>προβαίνω, προμάχομαι.<span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.10.3 v8.1.xml </span></span>
Warning: (lemma: <span class='bright_red'>προαγωνίζομαι</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προαγωνίζομαι</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='bright_red'>^<span class='bright_blue'>tegen iem., &lt;i&gt;ook pass.&lt;/i&gt; <span class='bright_red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προαιρέω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προαιρέω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='bright_red'>^<span class='bright_blue'>μᾶλλον &lt;i&gt;of&lt;/i&gt; μάλιστα; &lt;i&gt;abs.&lt;/i&gt; <span class='bright_red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προαμύνομαι</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προαμύνομαι</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='bright_red'>^<span class='bright_blue'>op iem. voor iets <span class='bright_red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προαπεῖπ</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προαπεῖπ</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='bright_red'>^<span class='bright_blue'>προαπαγορεύω, <span class='bright_red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>Warning: (lemma: <span class='bright_red'>προαπεῖπ</span>) <span class='red'>Process::Meta</span><br/>Warning: (lemma: <span class='bright_red'>προαπεῖπ</span>)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: <span class='bright_red'>προαποθνῄσκω</span>) <span class='red'>Process::Bet</span><br/>Warning: (lemma: <span class='bright_red'>προαποθνῄσκω</span>)<span class="space"></span><span class="space"></span><span class="space"></span><span class='bright_red'>Piece didn't match GebrW or Cit rules, giving up on it. <span class='bright_blue'><span class='bright_red'>^<span class='bright_blue'>πρίν &lt;i&gt;en inf.&lt;/i&gt;<span class='bright_red'>$<span class='bright_blue'> </span></span></span></span></span></span><br/>
# total failures: <span class='green'>0</span><br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προαγωνίζομαι
<span class='bright_red'>&lt;tmp&gt;</span>tegen iem., &lt;i&gt;ook pass.&lt;/i&gt; <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προ-αιρέω
<span class='bright_red'>&lt;tmp&gt;</span>μᾶλλον &lt;i&gt;of&lt;/i&gt; μάλιστα; &lt;i&gt;abs.&lt;/i&gt; <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προαμύνομαι
<span class='bright_red'>&lt;tmp&gt;</span>op iem. voor iets <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προ-απεῖπ
<span class='bright_red'>&lt;tmp&gt;</span>προαπαγορεύω, <span class='bright_red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>προ-αποθνῄσκω
<span class='bright_red'>&lt;tmp&gt;</span>πρίν &lt;i&gt;en inf.&lt;/i&gt;<span class='bright_red'>&lt;/tmp&gt;</span>

<span class='bright_blue'>Doing <span class='yellow'>data/PI.10.7 v8.1.xml </span></span>
# total failures: <span class='green'>0</span><br/>
