<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
Doing<span class='cyan'>migrator-build-dir/data/BETA.1.1 v8.1.xml</span>
Warning: (lemma: Β_) Process::Bet<br/>Warning: (lemma: Β_)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;i&gt;(de tweede letter van het Griekse alfabet); als getal β´ = $ <br/>Warning: (lemma: Β_) Process::Bet<br/>Warning: (lemma: Β_)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ˎβ = $ <br/>Warning: (lemma: Β_) Process::Bet<br/>Warning: (lemma: Β_)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^.&lt;/i&gt;$ <br/>Warning: (lemma: Β_) Process::Meta<br/>Warning: (lemma: Β_)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: βᾶ) Process::Bet<br/>Warning: (lemma: βᾶ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^βασιλεῦ, $ <br/>Warning: (lemma: βαβαί) Process::Meta<br/>Warning: (lemma: βαβαί)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: βαδίζω) Process::Bet<br/>Warning: (lemma: βαδίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^πρός &lt;i&gt;of&lt;/i&gt; ἐπί + &lt;i&gt;acc.&lt;/i&gt;$ <br/>Warning: (lemma: βάζω) Process::Bet<br/>Warning: (lemma: βάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets tegen iem$ <br/>Warning: (lemma: βαθμίς) Process::Meta<br/>Warning: (lemma: βαθμίς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: βάθος) Process::Bet<br/>Warning: (lemma: βάθος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^2.10.$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Β
<span class='red'>&lt;tmp&gt;</span>&lt;i&gt;(de tweede letter van het Griekse alfabet); als getal β´ = <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βᾶ
<span class='red'>&lt;tmp&gt;</span>βασιλεῦ, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βαδίζω
<span class='red'>&lt;tmp&gt;</span>πρός &lt;i&gt;of&lt;/i&gt; ἐπί + &lt;i&gt;acc.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βάζω
<span class='red'>&lt;tmp&gt;</span>iets tegen iem<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βάθος
<span class='red'>&lt;tmp&gt;</span>2.10.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/BETA.1.2 v8.1.xml</span>
Warning: (lemma: βαθύς) Process::Bet<br/>Warning: (lemma: βαθύς)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸν ... ἄχος ὀξὺ κατὰ φρένα τύψε βαθεῖαν·de scherpe pijn raakte hem$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βαθύς
<span class='red'>&lt;tmp&gt;</span>τὸν ... ἄχος ὀξὺ κατὰ φρένα τύψε βαθεῖαν·de scherpe pijn raakte hem<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/BETA.1.3 v8.1.xml</span>
Warning: Vorm pass not successful for node ^βαθύφρων -ον [βαθύς, φρήν] met diep inzicht, wijs.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βαθύφρων -ον [βαθύς, φρήν] met ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^βαθυχαίτης-ου [βαθύς, χαίτη] met lang haar.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βαθυχαίτης-ου [βαθύς, χαίτη] m ...<span class="space"></span><span class="space"></span>(Last successful lemma was βαθυχάϊος)<br/>Warning: Vorm pass not successful for node ^βαθύχθων -ον, gen. -ονος [βαθύς, χθών] vruchtbaar (van grond).$ <br/>Error: Error: Vorm pass failed for primary structure lemma βαθύχθων -ον, gen. -ονος [βαθύ ...<span class="space"></span><span class="space"></span>(Last successful lemma was βαθυχάϊος)<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^βαίνω, imperf. iterat. βαίνεσκον; sigm. aor. causat. ἔβησα, poët. βῆσα, Dor. ἔβᾱσα, med. ἐβησάμην, ep. 2 sing. ἐβήσαο, Dor. conj. 1 plur. βάσομεν; aor. mixtus intrans. ep. (ἐ)βήσετο; stamaor. intrans. ἔβην, Dor. ἔβᾱν, poët. 3 sing. βῆ, plur. ἔβαν en βάν, dual. (ἐ)βήτην en βάτην, conj. βῶ, ep. βήω (βείω), Dor. 1 plur. βᾶμες, opt. βαίην; imperat. βῆθι, Dor. βᾶθι, 3 sing. βάτω, 2 plur. βᾶτε; inf. βῆναι, ep. βήμεναι, Dor. βᾶμεν; ptc. βάς βᾶσα βάν; aor. pass. -εβάθην in compos.; perf. intrans. βέβηκα, Dor. βέβᾱκα, poët. 3 plur. βεβάᾱσι en βεβᾶσι, inf. βεβηκέναι, poët. βεβάναι, ep. βεβάμεν, ptc. βεβηκώς -κυῖα, βεβαώς, poët. βεβώς βεβαυῖα en βεβῶσα, poet. plur. βεβαῶτες, Att. βεβῶτες, plqperf. intrans. ἐβεβήκειν, poët. en later 3 sing. βεβήκει(ν), plur. βέβᾰσαν; perf. med.-pass. in compos. -βέβα(σ)μαι; fut. intrans. βήσομαι, Dor. βάσομαι en βᾱσεῦμαι, fut. act. causat. -βήσω in compos.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βαίνω, imperf. iterat. βαίνεσκ ...<span class="space"></span><span class="space"></span>(Last successful lemma was βαθυχάϊος)<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^abs. of met bep. van richting, plaats of doel$ <br/>Error: Error: Vorm pass failed for primary structure lemma abs. of met bep. van richting, ...<span class="space"></span><span class="space"></span>(Last successful lemma was βαθυχάϊος)<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^stappen, lopen, gaan: βῆ δ’ ἀκέων παρὰ θῖνα ... θαλάσσης zwijgend liep hij langs het strand van de zee Il. 1.34; ὁμαλῶς μετὰ ῥυθμοῦ βαίνοντες gelijk op het ritme marcheren Thuc. 5.70; met acc. van richting τὸ κοῖλον Ἄργος βάς naar het laaggelegen Argos gegaan Soph. OC 378; Πυθῶνος ἀγλαὰς ἔβας Θήβας van Pytho ging je naar het schitterende Thebe Soph. OT 153; met prep. bepaling ἡ δὲ ἐς δίφρον ἔβαινε zij stapte in de wagenbak Il. 5.837; ἐς δ’ ὄχεα ... ποσὶ βήσετο zij stapte in de wagen Il. 5.745; ἐφ’ ἵππων βάντες op de strijdwagens gesprongen Il. 18.532; προτὶ ἄστυ ... ἐβεβήκει hij ging snel naar de stad Il. 22.21; μετ’ ἴχνια βαῖνε θεοῖο hij volgde het spoor van de godin Od. 2.406; met ptc. βῆ ... ἀίξασα zij ging met grote sprongen Il. 22.187; met ptc. fut. om intentie aan te geven βῆ ... ἐξεναρίξων hij ging om te doden Il. 11.101; met adv. ἁβρὸν βαίνουσα elegant lopend Eur. Med. 1164; ἴσα βαίνων Πυθοκλεῖ net zo lopend als Pythocles Demosth. 19.314; overdr. πᾶς σὸς οἶκος βήσεται δι’ αἵματος heel uw huis zal zwemmen in het bloed Eur. Phoen. 20.$ <br/>Error: Error: Vorm pass failed for primary structure lemma stappen, lopen, gaan: βῆ δ’ ἀκ ...<span class="space"></span><span class="space"></span>(Last successful lemma was βαθυχάϊος)<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^weggaan, vertrekken: ἐν νηυσὶ φίλην ἐς πατρίδ’ ἔβησαν zij vertrokken in de schepen naar hun dierbare vaderland Il. 12.16; met ptc. praes. βῆ φεύγων hij vluchtte weg Il. 2.665; met inf. βῆ δ’ ἰέναι hij begaf zich op weg Il. 4.199; βῆ δὲ θέειν hij ging rennen Il. 2.183; overdr., eufem. βεβᾶσι (alle legeraanvoerders) zijn heengegaan (d.w.z. zijn dood) Aeschl. Pers. 1002; overdr. πῇ ὅρκια βήσεται; waarop zullen onze eden uitlopen? Il. 2.339.$ <br/>Error: Error: Vorm pass failed for primary structure lemma weggaan, vertrekken: ἐν νηυσὶ<span class="space"></span><span class="space"></span>...<span class="space"></span><span class="space"></span>(Last successful lemma was βαθυχάϊος)<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^(ergens) heengaan, (aan)komen: τίπτε βέβηκας; waarom bent u gekomen? Il. 15.90; ὡς ἀκμαῖος, εἰ βαίη, ἂν μόλοι hoe geroepen zou hij komen, als hij hier zou komen Soph. Ai. 921; overdr. εἰ ... ἐς τόδ’ ἂν τόλμης ἔβη als hij tot deze mate van durf was gekomen (als hij zo ver had durven gaan) Soph. OT 125; ἐπ’ ἔσχατα βαίνεις u raakt in een extreme situatie Soph. OC 217.$ <br/>Error: Error: Vorm pass failed for primary structure lemma (ergens) heengaan, (aan)komen: ...<span class="space"></span><span class="space"></span>(Last successful lemma was βαθυχάϊος)<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^perf. stevig staan, (ergens) gevestigd zijn: χῶρος ... ἐν ᾧ βεβήκαμεν het land waar wij terecht zijn gekomen Soph. OC 52; βεβηκὸς σφόδρα met een vaste basis Plat. Tim. 62c; overdr. τυραννίδα ... εὖ βεβηκυῖαν een stevig gevestigde alleenheerschappij Hdt. 7.164.1; τοῖς ἐν τέλει βεβῶσι πείσομαι ik zal gehoorzamen aan degenen die aan de macht zijn Soph. Ant. 67; βεβὼς ... ἐπὶ ξυροῦ τύχης in een hachelijke situatie terecht gekomen Soph. Ant. 996.$ <br/>Error: Error: Vorm pass failed for primary structure lemma perf. stevig staan, (ergens) g ...<span class="space"></span><span class="space"></span>(Last successful lemma was βαθυχάϊος)<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^met acc.$ <br/>Error: Error: Vorm pass failed for primary structure lemma met acc.<span class="space"></span><span class="space"></span>(Last successful lemma was βαθυχάϊος)<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^bestijgen: βήσετο δίφρον (Antenor) besteeg de wagenbak Il. 3.262; ellipt., seks. τετράποδος νόμον βαίνειν (wat mooi is) bespringen op de wijze van viervoeters Plat. Phaedr. 250e; ook pass. ἵπποι βαινόμεναι fokmerries Hdt. 1.192.3; overdr. bereiken, overkomen: τί χρέος ἔβα με μετὰ τὸν Πασίαν; welke schuld kwam op mij neer na Pasias? Aristoph. Nub. 30; μ’ ὀδύνα βαίνει pijn overvalt mij Eur. Hipp. 1371.$ <br/>Error: Error: Vorm pass failed for primary structure lemma bestijgen: βήσετο δίφρον (Ante ...<span class="space"></span><span class="space"></span>(Last successful lemma was βαθυχάϊος)<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^causat. alleen sigm. aor. doen gaan: ὄφρ’ ἐπὶ Βουπρασίου ... βήσαμεν ἵππους tot wij de paarden naar Buprasium hadden gereden Il. 11.756; ἅ νιν ἔβασεν Ἑλλάδ’ ἐς ἀντίπορον die haar naar het aan de overzijde gelegen Hellas heeft doen gaan Eur. Med. 209.$ <br/>Error: Error: Vorm pass failed for primary structure lemma causat. alleen sigm. aor. doen ...<span class="space"></span><span class="space"></span>(Last successful lemma was βαθυχάϊος)<br/>Warning: Vorm pass not successful for node ^βάιον -ου, τό [βάϊς] palmtak.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βάιον -ου, τό [βάϊς] palmtak.<span class="space"></span><span class="space"></span>(Last successful lemma was βαθυχάϊος)<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^βαιός -ά -όν, poët., klein, gering: β. νῆσος een klein eiland Aeschl. Pers. 448; van aantal εἶπε πρός με βαιά hij sprak een paar woorden tegen mij Soph.Ai. 292; ἐχώρει βαιός hij liep alleen Soph. OT 750; van status βαιᾷ τῇδ’ ὑπὸ στέγῃ onder dit nederige dak Soph. Ph. 286; subst. οἱ βαιοί de sociaal lageren Soph. Ai. 160; van hoeveelheid χρόνον ... βαιόν gedurende weinig tijd Soph. Tr. 44; adv. βαιόν een beetje.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βαιός -ά -όν, poët., klein, ge ...<span class="space"></span><span class="space"></span>(Last successful lemma was βαθυχάϊος)<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^βαίτη -ης, ἡ, Dor. βαίτᾱ, pels (kleding van herders of boeren).$ <br/>Error: Error: Vorm pass failed for primary structure lemma βαίτη -ης, ἡ, Dor. βαίτᾱ, pels ...<span class="space"></span><span class="space"></span>(Last successful lemma was βαθυχάϊος)<br/>
* # total failures: 15<br/>
Doing<span class='cyan'>migrator-build-dir/data/BETA.1.4 v8.1.xml</span>
Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^βάκηλος -ου, ὁ (een) Gallus (eunuch; gecastreerde priester van Cybele).$ <br/>Error: Error: Vorm pass failed for primary structure lemma βάκηλος -ου, ὁ (een) Gallus (e ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^βακίζω [Βάκις] praten als Bacis (beroemde Boeotische waarzegster).$ <br/>Error: Error: Vorm pass failed for primary structure lemma βακίζω [Βάκις] praten als Baci ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^βάκιλα -ων, τά fasces (Rom. roedenbundels, gedragen door lictoren) Plut. Rom. 26.3.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βάκιλα -ων, τά fasces (Rom. ro ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^βάκρον zie βάκτρον.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βάκρον zie βάκτρον.<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^βακταρικροῦσα, barbaars woord, mogelijk verhaspeling van βακτηρίᾳ κροῦσαι ‘sla met een stok’ Aristoph. Av. 1629.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βακταρικροῦσα, barbaars woord, ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^βακτηρία -ας, ἡ stok, staf.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βακτηρία -ας, ἡ stok, staf.<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^βακτήριον -ου, τό stok(je).$ <br/>Error: Error: Vorm pass failed for primary structure lemma βακτήριον -ου, τό stok(je).<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^βάκτρευμα -ατος, τό [βακτρεύω] stut, steun.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βάκτρευμα -ατος, τό [βακτρεύω] ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^βάκτρον -ου, τό, en βάκρον [~ βακτηρία] staf, stok, knuppel.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βάκτρον -ου, τό, en βάκρον [~<span class="space"></span><span class="space"></span>...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^βακχάζω [βάκχος] razend uitroepen: πάντων βακχαζόντων γλώσσαις βαρυάλγητα terwijl iedereen met zijn tong zwaar kwetsende woorden uitriep Soph. Ai. 198.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βακχάζω [βάκχος] razend uitroe ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^βάκχαρις, ἡ baccharis of cyclaam (plant).$ <br/>Error: Error: Vorm pass failed for primary structure lemma βάκχαρις, ἡ baccharis of cycla ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^βακχάω [βάκχος] razen (als een bacchante).$ <br/>Error: Error: Vorm pass failed for primary structure lemma βακχάω [βάκχος] razen (als een ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^βακχέβακχον [βάκχος] Bacchus!, Bacchus!’: βακχέβακχον ᾆσαι het Bacchus- Bacchus lied zingen (d.w.z. het lied voor Bacchus dat begint met die woorden) Aristoph. Eq. 408.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βακχέβακχον [βάκχος] Bacchus!, ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^βακχεύσιμος -ον [βακχεύω] bacchantisch, razend.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βακχεύσιμος -ον [βακχεύω] bacc ...<span class="space"></span><span class="space"></span>(Last successful lemma was βακχεῖος)<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^βάκχευσις -εως, ἡ bacchantische vervoering, bacchantische razernij.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βάκχευσις -εως, ἡ bacchantisch ...<span class="space"></span><span class="space"></span>(Last successful lemma was βακχεῖος)<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^βακχεύω [βάκχος]$ <br/>Error: Error: Vorm pass failed for primary structure lemma βακχεύω [βάκχος]<span class="space"></span><span class="space"></span>(Last successful lemma was βακχεῖος)<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^intrans.$ <br/>Error: Error: Vorm pass failed for primary structure lemma intrans.<span class="space"></span><span class="space"></span>(Last successful lemma was βακχεῖος)<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^het Bacchusfeest vieren, Bacchus vereren: βακχεύει τε καὶ ὑπὸ τοῦ θεοῦ μαίνεται hij vereert Bacchus en is bezeten door de god Hdt. 4.79.16.$ <br/>Error: Error: Vorm pass failed for primary structure lemma het Bacchusfeest vieren, Bacch ...<span class="space"></span><span class="space"></span>(Last successful lemma was βακχεῖος)<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^in (bacchische) vervoering verkeren, als een razende tekeer gaan: τοῦ δήμου συνενθουσιῶντος ὑφ’ ἡδονῆς καὶ βακχεύοντος περὶ αὐτόν terwijl het volk helemaal in vervoering was van vreugde en om hem heen als een razende tekeer ging Plut. Gracch. 22.3.$ <br/>Error: Error: Vorm pass failed for primary structure lemma in (bacchische) vervoering ver ...<span class="space"></span><span class="space"></span>(Last successful lemma was βακχεῖος)<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^met acc. in bacchische vervoering brengen, tot razernij brengen, waanzinnig maken: οὔ τί που φόνος σ’ ἐβάκχευσεν; de moord heeft je toch niet waanzinnig gemaakt? Eur. HF 966; ook pass. βεβάκχευται μανίαις hij is buiten zinnen van razernij Eur. Or. 834.$ <br/>Error: Error: Vorm pass failed for primary structure lemma met acc. in bacchische vervoer ...<span class="space"></span><span class="space"></span>(Last successful lemma was βακχεῖος)<br/>Warning: Vorm pass not successful for node ^βάκχη -ης, ἡ [βάκχος] bacchante, vrouw in (bacchische) vervoering.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βάκχη -ης, ἡ [βάκχος] bacchant ...<span class="space"></span><span class="space"></span>(Last successful lemma was βακχεῖος)<br/>Warning: Vorm pass not successful for node ^βακχιάζω [βάκχος] als een bacchante tekeer gaan.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βακχιάζω [βάκχος] als een bacc ...<span class="space"></span><span class="space"></span>(Last successful lemma was βακχεῖος)<br/>Warning: Vorm pass not successful for node ^βακχίς -ίδος, ἡ [βάκχος] bacchante.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βακχίς -ίδος, ἡ [βάκχος] bacch ...<span class="space"></span><span class="space"></span>(Last successful lemma was βάκχιος)<br/>Warning: Vorm pass not successful for node ^βακχιώτης -ου, ὁ [βάκχος] bacchant.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βακχιώτης -ου, ὁ [βάκχος] bacc ...<span class="space"></span><span class="space"></span>(Last successful lemma was βάκχιος)<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^βάκχος -ου, ὁ bacchant (een volgeling van Dionysus): ναρθηκοφόροι μὲν πολλοί, βάκχοι δέ τε παῦροι er zijn veel thyrsusdragers, maar weinig bacchanten (spreekwoord, vgl. Ned. ‘velen worden geroepen, weinigen zijn uitverkoren’) Plat. Phaed. 69d.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βάκχος -ου, ὁ bacchant (een vo ...<span class="space"></span><span class="space"></span>(Last successful lemma was βάκχιος)<br/>Warning: Vorm pass not successful for node ^βαλανάγρα -ας, ἡ [βάλανος, ἀγρέω] haak (om grendel open te trekken), sleutel.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βαλανάγρα -ας, ἡ [βάλανος, ἀγρ ...<span class="space"></span><span class="space"></span>(Last successful lemma was βάκχιος)<br/>Warning: Vorm pass not successful for node ^βαλανεῖον -ου, τό [βαλανεύς] bad(huis).$ <br/>Error: Error: Vorm pass failed for primary structure lemma βαλανεῖον -ου, τό [βαλανεύς] b ...<span class="space"></span><span class="space"></span>(Last successful lemma was βάκχιος)<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^βαλανεύς -έως, ὁ badknecht.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βαλανεύς -έως, ὁ badknecht.<span class="space"></span><span class="space"></span>(Last successful lemma was βάκχιος)<br/>Warning: Vorm pass not successful for node ^βαλανεύω [βαλανεύς] een bad klaarmaken, badknecht zijn.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βαλανεύω [βαλανεύς] een bad kl ...<span class="space"></span><span class="space"></span>(Last successful lemma was βαλανευτικός)<br/>Warning: Vorm pass not successful for node ^βαλανηφάγος -ον [βάλανος, φαγεῖν] eikels etend.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βαλανηφάγος -ον [βάλανος, φαγε ...<span class="space"></span><span class="space"></span>(Last successful lemma was βαλανευτικός)<br/>Warning: Vorm pass not successful for node ^βαλανηφόρος -ον [βάλανος, φέρω] dadels dragend.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βαλανηφόρος -ον [βάλανος, φέρω ...<span class="space"></span><span class="space"></span>(Last successful lemma was βαλανευτικός)<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^βάλανος -ον, ἡ$ <br/>Error: Error: Vorm pass failed for primary structure lemma βάλανος -ον, ἡ<span class="space"></span><span class="space"></span>(Last successful lemma was βαλανευτικός)<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^eikel$ <br/>Error: Error: Vorm pass failed for primary structure lemma eikel<span class="space"></span><span class="space"></span>(Last successful lemma was βαλανευτικός)<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^vrucht die lijkt op een eikel dadel: ὁ ψὴν τὴν βάλανον ἐσδύνων terwijl de galwesp binnendringt in de dadel (van de dadelpalm) Hdt. 1.193.5.$ <br/>Error: Error: Vorm pass failed for primary structure lemma vrucht die lijkt op een eikel<span class="space"></span><span class="space"></span>...<span class="space"></span><span class="space"></span>(Last successful lemma was βαλανευτικός)<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^voorwerp dat lijkt op een eikel (een bolletje op een steeltje) borgpen, slotpin (om de grendel vast te zetten): τὰς πύλας ... ἔκλῃσε στυρακίῳ ἀκοντίου ἀντὶ βαλάνου χρησάμενος ἐς τὸν μοχλόν hij sloot de poorten door de punt van een speer bij wijze van borgpen in de grendel te steken Thuc. 2.4.3.$ <br/>Error: Error: Vorm pass failed for primary structure lemma voorwerp dat lijkt op een eike ...<span class="space"></span><span class="space"></span>(Last successful lemma was βαλανευτικός)<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^geneesk. zetpil.$ <br/>Error: Error: Vorm pass failed for primary structure lemma geneesk. zetpil.<span class="space"></span><span class="space"></span>(Last successful lemma was βαλανευτικός)<br/>Warning: Vorm pass not successful for node ^βαλανόω [βάλανος] vergrendelen, sluiten; pass. gesloten zijn, vandaar: geconstipeerd zijn Aristoph. Eccl. 370.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βαλανόω [βάλανος] vergrendelen ...<span class="space"></span><span class="space"></span>(Last successful lemma was βαλανευτικός)<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^βαλαντ- zie βαλλαντ-.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βαλαντ- zie βαλλαντ-.<span class="space"></span><span class="space"></span>(Last successful lemma was βαλανευτικός)<br/>Warning: Vorm pass not successful for node ^βαλανωτός -ή -όν [βαλανόω] vergrendeld.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βαλανωτός -ή -όν [βαλανόω] ver ...<span class="space"></span><span class="space"></span>(Last successful lemma was βαλανευτικός)<br/>Warning: Vorm pass not successful for node ^βαλβιδωδής -ές [βάλβις] met groeven Hp.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βαλβιδωδής -ές [βάλβις] met gr ...<span class="space"></span><span class="space"></span>(Last successful lemma was βαλανευτικός)<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^βαλβίς -ῖδος, ἡ startstreep, startlint (van een hardloopwedstrijd), tevens de eindstreep, finish; meestal overdr. ἕρπε πρὸς βαλβῖδα λυπηρὰν βίου ga naar de pijnlijke eindstreep van het leven Eur Med. 1245; plur. βαλβῖδες de paaltjes waartussen het startlint hangt: vandaar overdr. ἀπὸ βαλβίδων van meet af aan, vanaf het begin Aristoph. Ve. 548; βαλβίδων ἐπ’ ἄκρων op het punt de finish (d.w.z. de overwinning) te halen Soph. Ant. 130.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βαλβίς -ῖδος, ἡ startstreep, s ...<span class="space"></span><span class="space"></span>(Last successful lemma was βαλανευτικός)<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^βάλε imperat. aor. 2 sing. of ep. aor. indic. 3 sing. van βάλλω.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βάλε imperat. aor. 2 sing. of<span class="space"></span><span class="space"></span>...<span class="space"></span><span class="space"></span>(Last successful lemma was βαλανευτικός)<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^βαλήν zie βάλλω.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βαλήν zie βάλλω.<span class="space"></span><span class="space"></span>(Last successful lemma was βαλανευτικός)<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^βαληναῖος zie βάλλω.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βαληναῖος zie βάλλω.<span class="space"></span><span class="space"></span>(Last successful lemma was βαλανευτικός)<br/>
* # total failures: 44<br/>
Doing<span class='cyan'>migrator-build-dir/data/BETA.1.5 v8.1.xml</span>
Warning: (lemma: βαλιός) Process::Meta<br/>Warning: (lemma: βαλιός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
Doing<span class='cyan'>migrator-build-dir/data/BETA.1.6 v8.1.xml</span>
Warning: (lemma: βαπτίζω) Process::Bet<br/>Warning: (lemma: βαπτίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(ἐν +) &lt;i&gt;dat., met&lt;/i&gt; εἰς + &lt;i&gt;acc.&lt;/i&gt;$ <br/>Warning: (lemma: βαπτισμός) Process::Meta<br/>Warning: (lemma: βαπτισμός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: βαπτός) Process::Meta<br/>Warning: (lemma: βαπτός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: βάπτω) Process::Bet<br/>Warning: (lemma: βάπτω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets in iets$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βαπτίζω
<span class='red'>&lt;tmp&gt;</span>(ἐν +) &lt;i&gt;dat., met&lt;/i&gt; εἰς + &lt;i&gt;acc.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βάπτω
<span class='red'>&lt;tmp&gt;</span>iets in iets<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/BETA.1.7 v8.1.xml</span>
Warning: (lemma: βαρβαρίζω) Process::Bet<br/>Warning: (lemma: βαρβαρίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(een taal$ <br/>Warning: (lemma: βάρβαρος) Process::Bet<br/>Warning: (lemma: βάρβαρος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(οἱ) βάρβαροι $ <br/>Warning: (lemma: βαρέω) Process::Bet<br/>Warning: (lemma: βαρέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^1.8.$ <br/>Warning: (lemma: βᾶρις) Process::Meta<br/>Warning: (lemma: βᾶρις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: βαρυαχής) Process::Meta<br/>Warning: (lemma: βαρυαχής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: βαρυηχής) Process::Meta<br/>Warning: (lemma: βαρυηχής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: βαρύθω) Process::Bet<br/>Warning: (lemma: βαρύθω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^door iets $ <br/>Warning: (lemma: βαρύς) Process::Bet<br/>Warning: (lemma: βαρύς)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^βαρὺ στενάχων &lt;i&gt;en&lt;/i&gt; $ <br/>Warning: (lemma: βαρύς) Process::Bet<br/>Warning: (lemma: βαρύς)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^βαρύς + &lt;i&gt;inf.&lt;/i&gt; $ <br/>Warning: (lemma: βαρύς) Process::Bet<br/>Warning: (lemma: βαρύς)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^βαρέως φέρω &lt;i&gt;met acc.&lt;/i&gt; $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βαρβαρίζω
<span class='red'>&lt;tmp&gt;</span>(een taal<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βάρβαρος
<span class='red'>&lt;tmp&gt;</span>(οἱ) βάρβαροι <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βαρέω
<span class='red'>&lt;tmp&gt;</span>1.8.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βαρύθω
<span class='red'>&lt;tmp&gt;</span>door iets <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βαρύς
<span class='red'>&lt;tmp&gt;</span>βαρὺ στενάχων &lt;i&gt;en&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/BETA.1.8 v8.1.xml</span>
Warning: (lemma: βαρύτλητος) Process::Meta<br/>Warning: (lemma: βαρύτλητος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
Doing<span class='cyan'>migrator-build-dir/data/BETA.1.9 v8.1.xml</span>
Warning: (lemma: βασίλειος) Process::Bet<br/>Warning: (lemma: βασίλειος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὰ βασίλεια $ <br/>Warning: (lemma: βασίλειος) Process::Meta<br/>Warning: (lemma: βασίλειος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: βασιλεύς) Element::WerkV<br/>Warning: (lemma: βασιλεύς)<span class="space"></span><span class="space"></span><span class="space"></span>1<br/>Warning: (lemma: βασιλεύς) Process::Bet<br/>Warning: (lemma: βασιλεύς)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^βασιλεύτερος &lt;i&gt;en superl.&lt;/i&gt; $ <br/>Warning: (lemma: βασιλεύω) Process::Bet<br/>Warning: (lemma: βασιλεύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^4.8.$ <br/>Warning: (lemma: βασιλικός) Process::Bet<br/>Warning: (lemma: βασιλικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἡ βασιλική $ <br/>Warning: (lemma: βασκᾶς) Process::Meta<br/>Warning: (lemma: βασκᾶς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βασίλειος
<span class='red'>&lt;tmp&gt;</span>τὰ βασίλεια <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βασιλεύς
<span class='red'>&lt;tmp&gt;</span>plur. &lt;!-- <br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>sluiteri<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>2014-10-29T10:56:00<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>graag deze indeling van de vormen aanhouden! anders erg onoverzichtelijk<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>--&gt;nom. -εῖς, Att. -ῆς, ep. -ῆες, Ion. -έες, Aeol. -σίληες, gen. -έων, ep. -ήων, dat. -εῦσι, acc. -έας, -εῖς, ep. -ῆας<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βασιλεύω
<span class='red'>&lt;tmp&gt;</span>4.8.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βασιλικός
<span class='red'>&lt;tmp&gt;</span>ἡ βασιλική <span class='red'>&lt;/tmp&gt;</span>

