<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.18 v8.1.xml</span>
Warning: (lemma: στέργω) Process::Vorm<br/>Warning: (lemma: στέργω)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: στέργω) Dor. praes. ptc. f. &lt;r&gt;στέργοισα &lt;s&gt;Theocr.&lt;/s&gt; 17.130&lt;/r&gt;; perf. ptc. act. &lt;r&gt;ἐστοργώς &lt;s&gt;Hdt.&lt;/s&gt; 7.104.2&lt;/r&gt;.<br/>Warning: (lemma: στέργω) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: στερεός) Process::Bet<br/>Warning: (lemma: στερεός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἀριθμός getal; &lt;i&gt;subst.&lt;/i&gt; τὰ στερεά $ <br/>Warning: (lemma: στερέω) Process::Bet<br/>Warning: (lemma: στερέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^aor. ep. inf.&lt;/i&gt; στέρεσαι $ <br/>Warning: (lemma: στερέω) Process::Bet<br/>Warning: (lemma: στερέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^στερείς $ <br/>Warning: (lemma: στερέω) Process::Bet<br/>Warning: (lemma: στερέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^στερῶ $ <br/>Warning: (lemma: στερέω) Process::Bet<br/>Warning: (lemma: στερέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^στερηθήσεται $ <br/>Warning: (lemma: στερέω) Process::Bet<br/>Warning: (lemma: στερέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem./iets van iets; &lt;i&gt;ook pass.&lt;/i&gt;$ <br/>Warning: (lemma: στερέω) Process::Bet<br/>Warning: (lemma: στερέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸν γραμματικὸν σ. μισθόν de taaldocent beroven van zijn loon AP 9.174.12.$ <br/>Warning: (lemma: στέριφος) Process::Vorm<br/>Warning: (lemma: στέριφος)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: στέριφος) &lt;r&gt;στέριπο &lt;s&gt;Aristoph.&lt;/s&gt;&lt;/r&gt; Th. &lt;r&gt;1185&lt;/r&gt;, <br/>Warning: (lemma: στέριφος) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: στέριφος) Process::Meta<br/>Warning: (lemma: στέριφος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: στέριφος) Process::Meta<br/>Warning: (lemma: στέριφος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: στέρνον) Process::Bet<br/>Warning: (lemma: στέρνον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;i&gt;Pers.&lt;s&gt;&lt;/i&gt; 1054.$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στερεός
<span class='red'>&lt;tmp&gt;</span>ἀριθμός getal; &lt;i&gt;subst.&lt;/i&gt; τὰ στερεά <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στερέω
<span class='red'>&lt;tmp&gt;</span>aor. ep. inf.&lt;/i&gt; στέρεσαι <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στέρνον
<span class='red'>&lt;tmp&gt;</span>&lt;i&gt;Pers.&lt;s&gt;&lt;/i&gt; 1054.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.19 v8.1.xml</span>
Warning: (lemma: στέρομαι) Process::Bet<br/>Warning: (lemma: στέρομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^van iets &lt;i&gt;of&lt;/i&gt; iem$ <br/>Warning: (lemma: στεροπηγερέτα) Process::Meta<br/>Warning: (lemma: στεροπηγερέτα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Use of uninitialized value $pass2_input in concatenation (.) or string at /home/caspar/share/sandbox/git/grne/bin/../lib/GrNe/Process/Vorm.pm line 503.<br/>Warning: (lemma: στερρός) Process::Meta<br/>Warning: (lemma: στερρός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: στερρός) Process::Meta<br/>Warning: (lemma: στερρός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: στεφάνη) Process::Bet<br/>Warning: (lemma: στεφάνη)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^van zaken die het hoofd omgeven$ <br/>Warning: (lemma: στεφανηπλοκέω) Process::Vorm<br/>Warning: (lemma: στεφανηπλοκέω)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: στεφανηπλοκέω) Aeol. imperf. &lt;r&gt;ἐστεφανᾱπλόκην &lt;s&gt;Sapph.&lt;/s&gt; 125&lt;/r&gt;, <br/>Warning: (lemma: στεφανηπλοκέω) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: στέφανος) Process::Bet<br/>Warning: (lemma: στέφανος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^περιτιθέναι &lt;i&gt;of&lt;/i&gt; ἀμφιτιθέναι στέφανον, &lt;i&gt;met dat.&lt;/i&gt; iem. een krans omdoen, iem. bekransen; &lt;i&gt;als prijs voor atleten of dichters&lt;/i&gt;$ <br/>Warning: (lemma: στέφος) Process::Bet<br/>Warning: (lemma: στέφος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^= στέμμα, &lt;i&gt;als herkenningsteken; van priesters&lt;/i&gt; $ <br/>Warning: (lemma: στέφω) Process::Vorm<br/>Warning: (lemma: στέφω)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: στέφω) ep. imperf. &lt;r&gt;στέφον &lt;s&gt;Hes.&lt;/s&gt;&lt;/r&gt; Op. &lt;r&gt;75&lt;/r&gt;; aor. &lt;r&gt;ἔστεψα&lt;/r&gt;, pass. &lt;r&gt;ἐστέφθην&lt;/r&gt;; perf. med.-pass. &lt;r&gt;ἔστεμμαι&lt;/r&gt;, inf. &lt;r&gt;ἐστέφθαι&lt;/r&gt;; <br/>Warning: (lemma: στέφω) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: στέφω) Element::WerkV<br/>Warning: (lemma: στέφω)<span class="space"></span><span class="space"></span><span class="space"></span>1<br/>Warning: (lemma: στέφω) Process::Bet<br/>Warning: (lemma: στέφω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets om iets$ <br/>Warning: (lemma: στήλη) Process::Bet<br/>Warning: (lemma: στήλη)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^στῆλαι Ἡρακλέαι ‘de Zuilen van Herakles’ ; &lt;i&gt;ook als aanduiding van het keerpunt in de renbaan.&lt;/i&gt;$ <br/>Warning: (lemma: στηλίδιον) Process::Bet<br/>Warning: (lemma: στηλίδιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^στήλη, $ <br/>Warning: (lemma: στηλῖτις) Process::Meta<br/>Warning: (lemma: στηλῖτις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: στηλοῦχος) Process::Meta<br/>Warning: (lemma: στηλοῦχος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: στημόνιον) Process::Bet<br/>Warning: (lemma: στημόνιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^στήμων, $ <br/>Warning: (lemma: στηρίζω) Process::Bet<br/>Warning: (lemma: στηρίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^:32.$ <br/>Warning: (lemma: στιβάδιον) Process::Bet<br/>Warning: (lemma: στιβάδιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^στιβάς, $ <br/>Warning: (lemma: στιβάς) Process::Vorm<br/>Warning: (lemma: στιβάς)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: στιβάς) dat. plur. &lt;r&gt;στιβάδεσσιν &lt;s&gt;Theocr.&lt;/s&gt; 13.34&lt;/r&gt;.<br/>Warning: (lemma: στιβάς) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: στίβος) Process::Bet<br/>Warning: (lemma: στίβος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κατὰ στίβον in het voetspoor$ <br/>Warning: (lemma: στίξ) Process::Bet<br/>Warning: (lemma: στίξ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^door &lt;i&gt;of&lt;/i&gt; langs de rijen$ <br/>Warning: (lemma: στίξ) Process::Meta<br/>Warning: (lemma: στίξ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: στιχίδιον) Process::Bet<br/>Warning: (lemma: στιχίδιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^στίχος, $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στέρομαι
<span class='red'>&lt;tmp&gt;</span>van iets &lt;i&gt;of&lt;/i&gt; iem<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στεφάνη
<span class='red'>&lt;tmp&gt;</span>van zaken die het hoofd omgeven<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στέφανος
<span class='red'>&lt;tmp&gt;</span>περιτιθέναι &lt;i&gt;of&lt;/i&gt; ἀμφιτιθέναι στέφανον, &lt;i&gt;met dat.&lt;/i&gt; iem. een krans omdoen, iem. bekransen; &lt;i&gt;als prijs voor atleten of dichters&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στέφος
<span class='red'>&lt;tmp&gt;</span>= στέμμα, &lt;i&gt;als herkenningsteken; van priesters&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στέφω
<span class='red'>&lt;tmp&gt;</span>&lt;b&gt;&lt;i&gt;fut.&lt;/i&gt;&lt;/b&gt; στέψω.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στήλη
<span class='red'>&lt;tmp&gt;</span>στῆλαι Ἡρακλέαι ‘de Zuilen van Herakles’ &lt;toel&gt;(d.w.z. de Straat van Gibraltar)&lt;/toel&gt;; ook als aanduiding van het keerpunt in de renbaan.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στηλίδιον
<span class='red'>&lt;tmp&gt;</span>στήλη, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στημόνιον
<span class='red'>&lt;tmp&gt;</span>στήμων, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στηρίζω
<span class='red'>&lt;tmp&gt;</span>:32.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στιβάδιον
<span class='red'>&lt;tmp&gt;</span>στιβάς, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στίβος
<span class='red'>&lt;tmp&gt;</span>κατὰ στίβον in het voetspoor<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στίξ
<span class='red'>&lt;tmp&gt;</span>door &lt;i&gt;of&lt;/i&gt; langs de rijen<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στιχίδιον
<span class='red'>&lt;tmp&gt;</span>στίχος, <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.20 v8.1.xml</span>
Warning: (lemma: στοά) Process::Bet<br/>Warning: (lemma: στοά)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἡ σ. ἡ ποικίλη, &lt;i&gt;ook simpelweg&lt;/i&gt; ἡ σ. de bont(geschilderd)e stoa, de Stoa poikilè.$ <br/>Warning: (lemma: στολίζω) Process::Bet<br/>Warning: (lemma: στολίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iets$ <br/>Warning: (lemma: στόλος) Process::Bet<br/>Warning: (lemma: στόλος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^tocht$ <br/>Warning: (lemma: στόλος) Process::Bet<br/>Warning: (lemma: στόλος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^στόλον αἴρειν een krijgsmacht op de been brengen; τὸν ἑπτάλογχον στόλον het leger van de zeven speren ; $ <br/>Warning: (lemma: στόλος) Process::Bet<br/>Warning: (lemma: στόλος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^νεῶν σ. $ <br/>Warning: (lemma: στόλος) Process::Bet<br/>Warning: (lemma: στόλος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^στόλον (συν)ἀγείρειν een vloot bijeenbrengen.$ <br/>Warning: (lemma: στόμα) Process::Vorm<br/>Warning: (lemma: στόμα)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: στόμα) Aeol. &lt;r&gt;στύμα &lt;s&gt;Theocr.&lt;/s&gt; 29.25&lt;/r&gt; <br/>Warning: (lemma: στόμα) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: στόμα) Process::Bet<br/>Warning: (lemma: στόμα)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κατὰ στόμα van voren, frontaal tegenover (elkaar); &lt;i&gt;met gen.&lt;/i&gt; $ <br/>Warning: (lemma: στόμα) Process::Bet<br/>Warning: (lemma: στόμα)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἀνὰ στόμα ἔχειν de mond vol hebben van<span class="space"></span><span class="space"></span>= διὰ στόμα λέγειν &lt;i&gt;of&lt;/i&gt; $ <br/>Warning: (lemma: στόμα) Process::Bet<br/>Warning: (lemma: στόμα)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐξ ἑνὸς στόματος met één mond, met één stem$ <br/>Warning: (lemma: στόμα) Process::Bet<br/>Warning: (lemma: στόμα)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^:12.$ <br/>Warning: (lemma: στοματουργός) Process::Bet<br/>Warning: (lemma: στοματουργός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^γλῶσσα $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στοά
<span class='red'>&lt;tmp&gt;</span>ἡ σ. ἡ ποικίλη, &lt;i&gt;ook simpelweg&lt;/i&gt; ἡ σ. de bont(geschilderd)e stoa, de Stoa poikilè.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στολίζω
<span class='red'>&lt;tmp&gt;</span>met iets<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στόλος
<span class='red'>&lt;tmp&gt;</span>tocht<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στόμα
<span class='red'>&lt;tmp&gt;</span>κατὰ στόμα van voren, frontaal tegenover (elkaar); &lt;i&gt;met gen.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στοματουργός
<span class='red'>&lt;tmp&gt;</span>γλῶσσα <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.21 v8.0.xml</span>
Warning: (lemma: στοναχέω) Process::Bet<br/>Warning: (lemma: στοναχέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^om iets.$ <br/>Warning: (lemma: στονόεις) Process::Bet<br/>Warning: (lemma: στονόεις)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^vol van gejammer$ <br/>Warning: (lemma: στόρνυμι) Process::Bet<br/>Warning: (lemma: στόρνυμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iets$ <br/>Warning: (lemma: στοχάζομαι) Process::Bet<br/>Warning: (lemma: στοχάζομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὅπως-&lt;i&gt;bijzin&lt;/i&gt; $ <br/>Warning: (lemma: στοχάζομαι) Process::Bet<br/>Warning: (lemma: στοχάζομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^naar iets.$ <br/>Warning: (lemma: στοχαστέον) Process::Bet<br/>Warning: (lemma: στοχαστέον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^naar iets.$ <br/>Warning: (lemma: στοχαστικός) Process::Bet<br/>Warning: (lemma: στοχαστικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^naar iets.$ <br/>Warning: (lemma: στραγγουρικός) Process::Meta<br/>Warning: (lemma: στραγγουρικός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: στρατεία) Process::Bet<br/>Warning: (lemma: στρατεία)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^tegen iem., tegen een plaats$ <br/>Warning: (lemma: στρατεία) Process::Bet<br/>Warning: (lemma: στρατεία)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^= στρατείαν στρατεύειν $ <br/>Warning: (lemma: στρατεία) Process::Bet<br/>Warning: (lemma: στρατεία)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^στρατείαν παραγγέλλειν + &lt;i&gt;dat.&lt;/i&gt; iem. opdragen aan een veldtocht deel te nemen$ <br/>Warning: (lemma: στράτευμα) Process::Bet<br/>Warning: (lemma: στράτευμα)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^tegen iem., tegen een plaats$ <br/>Warning: (lemma: στρατεύω) Process::Bet<br/>Warning: (lemma: στρατεύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^tegen iem., tegen een plaats$ <br/>Warning: (lemma: στρατεύω) Process::Bet<br/>Warning: (lemma: στρατεύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^onder het commando van iem.; &lt;i&gt;met&lt;/i&gt; &lt;i&gt;acc.&lt;/i&gt; &lt;i&gt;v.h. inw. obj.&lt;/i&gt;$ <br/>Warning: (lemma: στρατηγέτης) Process::Meta<br/>Warning: (lemma: στρατηγέτης)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Error: (lemma: στρατηγέω) Error: Unexpected:no text:p inside list-item<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>commandan ... (Last successful lemma was στρατηγέτης)<br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στοναχέω
<span class='red'>&lt;tmp&gt;</span>om iets.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στονόεις
<span class='red'>&lt;tmp&gt;</span>vol van gejammer<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στόρνυμι
<span class='red'>&lt;tmp&gt;</span>met iets<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στοχάζομαι
<span class='red'>&lt;tmp&gt;</span>ὅπως-&lt;i&gt;bijzin&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στοχαστέον
<span class='red'>&lt;tmp&gt;</span>naar iets.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στοχαστικός
<span class='red'>&lt;tmp&gt;</span>naar iets.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στρατεία
<span class='red'>&lt;tmp&gt;</span>tegen iem., tegen een plaats<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στράτευμα
<span class='red'>&lt;tmp&gt;</span>tegen iem., tegen een plaats<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στρατεύω
<span class='red'>&lt;tmp&gt;</span>tegen iem., tegen een plaats<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.22 v8.1.xml</span>
Warning: (lemma: στρατηγίς) Process::Meta<br/>Warning: (lemma: στρατηγίς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: στρατηλατέω) Process::Bet<br/>Warning: (lemma: στρατηλατέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^tegen.$ <br/>Warning: (lemma: στρατηλάτης) Process::Vorm<br/>Warning: (lemma: στρατηλάτης)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: στρατηλάτης) Dor. gen. plur. &lt;r&gt;στρατηλατᾶν &lt;s&gt;Eur.&lt;/s&gt;&lt;/r&gt; Or. &lt;r&gt;970&lt;/r&gt;, <br/>Warning: (lemma: στρατηλάτης) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: στρατιά) Process::Bet<br/>Warning: (lemma: στρατιά)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐπὶ στρατιᾶς tijdens een veldtocht, in militaire dienst.$ <br/>Use of uninitialized value $type in string eq at /home/caspar/share/sandbox/git/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/caspar/share/sandbox/git/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/caspar/share/sandbox/git/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^στράτιος -α -ον, Aeol. στρότιος -α -ον [στρατός]$ <br/>Error: Error: Vorm pass failed for primary structure lemma στράτιος -α -ον, Aeol. στρότιο ...<span class="space"></span><span class="space"></span>(Last successful lemma was στρατιά)<br/>Warning: Vorm pass not successful for node ^1. van het leger, van de oorlog, epith. van Zeus, Ares, Athena.$ <br/>Error: Error: Vorm pass failed for primary structure lemma 1. van het leger, van de oorlo ...<span class="space"></span><span class="space"></span>(Last successful lemma was στρατιά)<br/>Warning: Vorm pass not successful for node ^2. n. als adv. στράτιον als een soldaat Aristoph. Ve. 618.$ <br/>Error: Error: Vorm pass failed for primary structure lemma 2. n. als adv. στράτιον als ee ...<span class="space"></span><span class="space"></span>(Last successful lemma was στρατιά)<br/>Warning: (lemma: στρατιωτικός) Process::Bet<br/>Warning: (lemma: στρατιωτικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὰ στρατιωτικὰ γιγνώσκεις je hebt verstand van krijgszaken; $ <br/>Warning: (lemma: στρατιῶτις) Process::Bet<br/>Warning: (lemma: στρατιῶτις)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἡ στρατιῶτις<span class="space"></span><span class="space"></span>$ <br/>Warning: (lemma: στρατιῶτις) Process::Meta<br/>Warning: (lemma: στρατιῶτις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: στρατός) Process::Vorm<br/>Warning: (lemma: στρατός)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: στρατός) ep. gen. &lt;r&gt;στρατόφι &lt;s&gt;Il.&lt;/s&gt; 10.347&lt;/r&gt;<br/>Warning: (lemma: στρατός) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: στρατός) Process::Bet<br/>Warning: (lemma: στρατός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἀνὰ στρατόν door het hele leger heen; κατὰ στρατόν in het hele leger$ <br/>Warning: (lemma: στρατός) Process::Bet<br/>Warning: (lemma: στρατός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σ. ναυβάτας = σ. νηΐτης = σ. ναυτικός vloot.$ <br/>
* # total failures: 3<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στρατηλατέω
<span class='red'>&lt;tmp&gt;</span>tegen.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στρατιά
<span class='red'>&lt;tmp&gt;</span>ἐπὶ στρατιᾶς tijdens een veldtocht, in militaire dienst.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στρατιωτικός
<span class='red'>&lt;tmp&gt;</span>τὰ στρατιωτικὰ γιγνώσκεις je hebt verstand van krijgszaken; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στρατιῶτις
<span class='red'>&lt;tmp&gt;</span>ἡ στρατιῶτις &lt;toel&gt;(sc. &lt;link target=""&gt;μυῖα&lt;/link&gt;)&lt;/toel&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στρατός
<span class='red'>&lt;tmp&gt;</span>ἀνὰ στρατόν door het hele leger heen; κατὰ στρατόν in het hele leger<span class='red'>&lt;/tmp&gt;</span>

