<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.42 v8.0.xml</span>
Warning: (lemma: συνθεσίαι) Process::Meta<br/>Warning: (lemma: συνθεσίαι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σύνθεσις) Process::Meta<br/>Warning: (lemma: σύνθεσις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συνθετικός) Process::Meta<br/>Warning: (lemma: συνθετικός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σύνθετος) Process::Bet<br/>Warning: (lemma: σύνθετος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐκ &lt;i&gt;+ gen.&lt;/i&gt; uit $ <br/>Warning: (lemma: συνθεωρέω) Process::Bet<br/>Warning: (lemma: συνθεωρέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem$ <br/>Warning: (lemma: συνθήκη) Process::Bet<br/>Warning: (lemma: συνθήκη)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^πρός &lt;i&gt;+ acc.&lt;/i&gt; met$ <br/>Warning: (lemma: συνθήκη) Process::Bet<br/>Warning: (lemma: συνθήκη)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^van$ <br/>Warning: (lemma: σύνθημα) Process::Bet<br/>Warning: (lemma: σύνθημα)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἀπό / ἐκ συνθήματος op basis van een afspraak, volgens afspraak$ <br/>Warning: (lemma: σύνθημα) Process::Bet<br/>Warning: (lemma: σύνθημα)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^= σ. παραδιδόναι $ <br/>Warning: (lemma: συνθηράω) Process::Bet<br/>Warning: (lemma: συνθηράω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.; &lt;i&gt;med. ook in tmesis, overdr. met acc.&lt;/i&gt; op iets/iem$ <br/>Warning: (lemma: συνθηρεύω) Process::Bet<br/>Warning: (lemma: συνθηρεύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.; &lt;i&gt;med. ook overdr. met acc.&lt;/i&gt; op iets/iem$ <br/>Warning: (lemma: συνθιασώτης) Process::Bet<br/>Warning: (lemma: συνθιασώτης)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^in iets$ <br/>Warning: (lemma: συνίζησις) Process::Meta<br/>Warning: (lemma: συνίζησις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σύνθετος
<span class='red'>&lt;tmp&gt;</span>ἐκ &lt;i&gt;+ gen.&lt;/i&gt; uit <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνθεωρέω
<span class='red'>&lt;tmp&gt;</span>met iem<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνθήκη
<span class='red'>&lt;tmp&gt;</span>πρός &lt;i&gt;+ acc.&lt;/i&gt; met<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σύνθημα
<span class='red'>&lt;tmp&gt;</span>ἀπό / ἐκ συνθήματος op basis van een afspraak, volgens afspraak<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνθηράω
<span class='red'>&lt;tmp&gt;</span>met iem.; &lt;i&gt;med. ook in tmesis, overdr. met acc.&lt;/i&gt; op iets/iem<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνθηρεύω
<span class='red'>&lt;tmp&gt;</span>met iem.; &lt;i&gt;med. ook overdr. met acc.&lt;/i&gt; op iets/iem<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνθιασώτης
<span class='red'>&lt;tmp&gt;</span>in iets<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.51 v8.0.xml</span>
Warning: (lemma: σωτήριος) Process::Bet<br/>Warning: (lemma: σωτήριος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σ. γίγνομαι / εἰμί + &lt;i&gt;gen./dat. is perifrast. voor&lt;/i&gt; σῴζω + &lt;i&gt;acc.&lt;/i&gt; $ <br/>Warning: (lemma: σωτήριος) Process::Bet<br/>Warning: (lemma: σωτήριος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ σ. $ <br/>Warning: (lemma: σωτήριος) Process::Bet<br/>Warning: (lemma: σωτήριος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(τὰ) σωτήρια $ <br/>Warning: (lemma: σωφρονιστής) Process::Bet<br/>Warning: (lemma: σωφρονιστής)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^οἱ σωφρονισταί &lt;i&gt;college van 10 zedenmeesters in Athene, die de epheben onder hun hoede hadden.&lt;/i&gt;$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σωτήριος
<span class='red'>&lt;tmp&gt;</span>σ. γίγνομαι / εἰμί + &lt;i&gt;gen./dat. is perifrast. voor&lt;/i&gt; σῴζω + &lt;i&gt;acc.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σωφρονιστής
<span class='red'>&lt;tmp&gt;</span>οἱ σωφρονισταί &lt;i&gt;college van 10 zedenmeesters in Athene, die de epheben onder hun hoede hadden.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

