<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
Doing<span class='cyan'>migrator-build-dir/data/BETA.1.10 v8.1.xml</span>
Warning: (lemma: βάτος) Process::Meta<br/>Warning: (lemma: βάτος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: βάτος) Process::Meta<br/>Warning: (lemma: βάτος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
Doing<span class='cyan'>migrator-build-dir/data/BETA.1.11 v8.1.xml</span>
Warning: (lemma: βέβαιος) Process::Meta<br/>Warning: (lemma: βέβαιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: βεβαιόω) Process::Bet<br/>Warning: (lemma: βεβαιόω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^1.21; &lt;i&gt;med.&lt;/i&gt; $ <br/>Warning: Vorm pass not successful for node ^βέβακται indic. perf. med. 3 sing.van βάζω.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βέβακται indic. perf. med. 3 s ...<span class="space"></span><span class="space"></span>(Last successful lemma was βέβακα)<br/>Warning: (lemma: βέβηλος) Process::Bet<br/>Warning: (lemma: βέβηλος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^2.14.$ <br/>Warning: (lemma: βέβηλος) Process::Meta<br/>Warning: (lemma: βέβηλος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: Vorm pass not successful for node ^βελτιόνως adv. bij βελτίων.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βελτιόνως adv. bij βελτίων.<span class="space"></span><span class="space"></span>(Last successful lemma was βέλτερος)<br/>Warning: (lemma: βέλτιστος) Process::Bet<br/>Warning: (lemma: βέλτιστος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^βέλτιστον (ἐστί) + &lt;i&gt;inf.&lt;/i&gt; $ <br/>Warning: (lemma: βέλτιστος) Process::Meta<br/>Warning: (lemma: βέλτιστος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: βελτίων) Process::Bet<br/>Warning: (lemma: βελτίων)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^βέλτιον, &lt;i&gt;bij Hom. alleen&lt;/i&gt; βέλτερον (ἐστί) + &lt;i&gt;inf.&lt;/i&gt; $ <br/>Warning: (lemma: βελτίων) Process::Bet<br/>Warning: (lemma: βελτίων)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^... (ἤ dan $ <br/>Warning: (lemma: βέμβιξ) Process::Meta<br/>Warning: (lemma: βέμβιξ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: βένθος) Process::Meta<br/>Warning: (lemma: βένθος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 2<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βεβαιόω
<span class='red'>&lt;tmp&gt;</span>1.21; &lt;i&gt;med.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βέβηλος
<span class='red'>&lt;tmp&gt;</span>2.14.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βέλτιστος
<span class='red'>&lt;tmp&gt;</span>βέλτιστον (ἐστί) + &lt;i&gt;inf.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βελτίων
<span class='red'>&lt;tmp&gt;</span>βέλτιον, &lt;i&gt;bij Hom. alleen&lt;/i&gt; βέλτερον (ἐστί) + &lt;i&gt;inf.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/BETA.1.12 v8.1.xml</span>
Warning: (lemma: βήξ) Process::Meta<br/>Warning: (lemma: βήξ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: βῆτα) Process::Meta<br/>Warning: (lemma: βῆτα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: βία) Process::Bet<br/>Warning: (lemma: βία)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐκ βίας $ <br/>Warning: (lemma: βία) Process::Bet<br/>Warning: (lemma: βία)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^πρὸς βίαν $ <br/>Warning: (lemma: βία) Process::Bet<br/>Warning: (lemma: βία)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὑπὸ βίης $ <br/>Warning: (lemma: βίαιος) Process::Meta<br/>Warning: (lemma: βίαιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: Vorm pass not successful for node ^βῐβάσθων [~ βιβάω] ptc. praes. act. μακρὰ βιβάσθων met grote stappen aanlopend Il. 13.809.$ <br/>Error: Error: Vorm pass failed for primary structure lemma βῐβάσθων [~ βιβάω] ptc. praes. ...<span class="space"></span><span class="space"></span>(Last successful lemma was βιβάς)<br/>Warning: (lemma: βιβλαρίδιον) Process::Bet<br/>Warning: (lemma: βιβλαρίδιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^βιβλίον, $ <br/>Warning: (lemma: βιβλίδιον) Process::Bet<br/>Warning: (lemma: βιβλίδιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^βιβλίον, $ <br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βία
<span class='red'>&lt;tmp&gt;</span>ἐκ βίας <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βιβλαρίδιον
<span class='red'>&lt;tmp&gt;</span>βιβλίον, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βιβλίδιον
<span class='red'>&lt;tmp&gt;</span>βιβλίον, <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/BETA.1.13 v8.1.xml</span>
Warning: (lemma: βιόω) Element::WerkV<br/>Warning: (lemma: βιόω)<span class="space"></span><span class="space"></span><span class="space"></span>1<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βιόω
<span class='red'>&lt;tmp&gt;</span>&lt;b&gt;&lt;i&gt;sigm. aor.&lt;/i&gt;&lt;/b&gt; ἐβίωσα, &lt;i&gt;med. 2 sing.&lt;/i&gt; ἐβιώσαο, &lt;b&gt;&lt;i&gt;stamaor.&lt;/i&gt;&lt;/b&gt; ἐβίων, &lt;i&gt;conj.&lt;/i&gt; βιῶ, &lt;i&gt;opt.&lt;/i&gt; βιῴην, &lt;i&gt;imperat. 3 sing.&lt;/i&gt; βιώτω, &lt;i&gt;inf.&lt;/i&gt; βιῶναι, &lt;i&gt;ptc.&lt;/i&gt; βιούς, βιούσα; &lt;b&gt;&lt;i&gt;perf. act.&lt;/i&gt;&lt;/b&gt; βεβίωκα; &lt;b&gt;&lt;i&gt;perf. med.-pass.&lt;/i&gt;&lt;/b&gt; βεβίωμαι; &lt;b&gt;&lt;i&gt;fut.&lt;/b&gt; ep.&lt;/i&gt; βέομαι, βείομαι, &lt;i&gt;2 sing.&lt;/i&gt; βέῃ<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/BETA.1.17 v8.1.xml</span>
Warning: (lemma: βραχίων) Process::Meta<br/>Warning: (lemma: βραχίων)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: βραχύπνους) Process::Meta<br/>Warning: (lemma: βραχύπνους)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: βραχύτης) Process::Bet<br/>Warning: (lemma: βραχύτης)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^β. γνώμης $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βραχύτης
<span class='red'>&lt;tmp&gt;</span>β. γνώμης <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/BETA.1.18 v8.1.xml</span>
Warning: (lemma: βρίθω) Element::WerkV<br/>Warning: (lemma: βρίθω)<span class="space"></span><span class="space"></span><span class="space"></span>1<br/>Warning: (lemma: βρίθω) Process::Bet<br/>Warning: (lemma: βρίθω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^) $ <br/>Warning: (lemma: βρίθω) Process::Bet<br/>Warning: (lemma: βρίθω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets met iets$ <br/>Warning: (lemma: βριμόομαι) Process::Bet<br/>Warning: (lemma: βριμόομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^tegen.$ <br/>Warning: (lemma: βρόγχιον) Process::Bet<br/>Warning: (lemma: βρόγχιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^βρόγχος, $ <br/>Warning: (lemma: βρόμος) Process::Meta<br/>Warning: (lemma: βρόμος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: βρόμος) Process::Meta<br/>Warning: (lemma: βρόμος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: βρότειος) Process::Meta<br/>Warning: (lemma: βρότειος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: βρῦ) Process::Bet<br/>Warning: (lemma: βρῦ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^βρῦν &lt;i&gt;alsof het een subst. is&lt;/i&gt;$ <br/>Warning: (lemma: βρυγμός) Process::Bet<br/>Warning: (lemma: βρυγμός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τῶν ὀδόντων $ <br/>Warning: (lemma: βρύκω) Process::Bet<br/>Warning: (lemma: βρύκω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^β. τοὺς ὀδόντας; &lt;i&gt;ook med.; met&lt;/i&gt; ἐπί + &lt;i&gt;acc.&lt;/i&gt; tegen iem$ <br/>Warning: (lemma: βρύον) Process::Bet<br/>Warning: (lemma: βρύον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^β. θαλάσσιον $ <br/>Warning: (lemma: βρυχάομαι) Process::Vorm<br/>Warning: (lemma: βρυχάομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: βρυχάομαι) ptc. aor. &lt;r&gt;βρυχηθείς&lt;/r&gt;, perf. &lt;r&gt;βέβρυχα&lt;/r&gt;, ep. plqperf. 3 sing. &lt;r&gt;βεβρύχει &lt;s&gt;Od.&lt;/s&gt; 12.242&lt;/r&gt;, <br/>Warning: (lemma: βρυχάομαι) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: βρύχιος) Process::Meta<br/>Warning: (lemma: βρύχιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Error: (lemma: βρῶσις) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was βρώσιμος)<br/>Error: (lemma: βρῶσις) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was βρώσιμος)<br/>Error: (lemma: βρῶσις) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was βρώσιμος)<br/>Error: (lemma: βρῶσις) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was βρώσιμος)<br/>Error: (lemma: βρῶσις) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was βρώσιμος)<br/>Error: (lemma: βρῶσις) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was βρώσιμος)<br/>Error: (lemma: βρῶσις) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was βρώσιμος)<br/>Error: (lemma: βρῶσις) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was βρώσιμος)<br/>Warning: (lemma: βρῶσις) Process::Bet<br/>Warning: (lemma: βρῶσις)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^. $ <br/>Warning: (lemma: βρωτήρ) Process::Bet<br/>Warning: (lemma: βρωτήρ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets.$ <br/>Error: (lemma: βυθίζω) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was βύζην)<br/>Error: (lemma: βυθίζω) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was βύζην)<br/>Error: (lemma: βυθίζω) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was βύζην)<br/>Error: (lemma: βυθίζω) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was βύζην)<br/>Error: (lemma: βυθίζω) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was βύζην)<br/>Error: (lemma: βυθίζω) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was βύζην)<br/>Error: (lemma: βυθίζω) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was βύζην)<br/>Error: (lemma: βυθίζω) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was βύζην)<br/>Error: (lemma: βυθίζω) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was βύζην)<br/>Error: (lemma: βυθίζω) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was βύζην)<br/>Error: (lemma: βυθίζω) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was βύζην)<br/>Error: (lemma: βυθίζω) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was βύζην)<br/>Error: (lemma: βυθίζω) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was βύζην)<br/>Error: (lemma: βυθίζω) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was βύζην)<br/>Error: (lemma: βυθίζω) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was βύζην)<br/>Error: (lemma: βυθίζω) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was βύζην)<br/>Warning: (lemma: βύθιος) Process::Meta<br/>Warning: (lemma: βύθιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βρίθω
<span class='red'>&lt;tmp&gt;</span>&lt;b&gt;&lt;i&gt;aor.&lt;/b&gt;&lt;/i&gt; ἔβρισα, &lt;i&gt;poët.&lt;/i&gt; βρῖσα; &lt;b&gt;&lt;i&gt;perf.&lt;/b&gt;&lt;/i&gt; βέβριθα, &lt;i&gt;ep. plqperf. 3 sing.&lt;/i&gt; βεβρίθει; &lt;b&gt;&lt;i&gt;fut.&lt;/b&gt;&lt;/i&gt; βρίσω, &lt;i&gt;ep. inf.&lt;/i&gt; βρίσεμεν<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βριμόομαι
<span class='red'>&lt;tmp&gt;</span>tegen.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βρόγχιον
<span class='red'>&lt;tmp&gt;</span>βρόγχος, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βρῦ
<span class='red'>&lt;tmp&gt;</span>βρῦν &lt;i&gt;alsof het een subst. is&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βρυγμός
<span class='red'>&lt;tmp&gt;</span>τῶν ὀδόντων <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βρύκω
<span class='red'>&lt;tmp&gt;</span>β. τοὺς ὀδόντας; &lt;i&gt;ook med.; met&lt;/i&gt; ἐπί + &lt;i&gt;acc.&lt;/i&gt; tegen iem<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βρύον
<span class='red'>&lt;tmp&gt;</span>β. θαλάσσιον <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βρῶσις
<span class='red'>&lt;tmp&gt;</span>. <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βρωτήρ
<span class='red'>&lt;tmp&gt;</span>iets.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/BETA.1.19 v8.1.xml</span>
Warning: (lemma: βυρσοτενής) Process::Meta<br/>Warning: (lemma: βυρσοτενής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: βυσσοδομεύω) Process::Bet<br/>Warning: (lemma: βυσσοδομεύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κακά kwade plannen$ <br/>Warning: (lemma: βύω) Process::Bet<br/>Warning: (lemma: βύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iets $ <br/>Warning: (lemma: βύω) Process::Bet<br/>Warning: (lemma: βύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iets $ <br/>Warning: (lemma: βωστρέω) Process::Vorm<br/>Warning: (lemma: βωστρέω)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: βωστρέω) Dor. conj. 1 plur. &lt;r&gt;βωστρέωμες &lt;s&gt;Theocr.&lt;/s&gt; 5.66&lt;/r&gt;; Dor. fut. 1 plur. &lt;r&gt;βωστρήσομες &lt;s&gt;Theocr.&lt;/s&gt; 5.64&lt;/r&gt;, <br/>Warning: (lemma: βωστρέω) (Make sure this definition contains either gebrW and vertM)<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βυσσοδομεύω
<span class='red'>&lt;tmp&gt;</span>κακά kwade plannen<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βύω
<span class='red'>&lt;tmp&gt;</span>met iets <span class='red'>&lt;/tmp&gt;</span>

