<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.35 v8.0.xml</span>
Warning: (lemma: συνανθέω) Process::Bet<br/>Warning: (lemma: συνανθέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iets$ <br/>Warning: (lemma: συνανίστημι) Process::Bet<br/>Warning: (lemma: συνανίστημι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iets of iem.$ <br/>Warning: (lemma: συναντάω) Process::Bet<br/>Warning: (lemma: συναντάω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem.; &lt;i&gt;abs.&lt;/i&gt; $ <br/>Warning: (lemma: συναντάω) Process::Bet<br/>Warning: (lemma: συναντάω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(aan) iem.; &lt;i&gt;subst.&lt;/i&gt; &lt;i&gt;ptc.&lt;/i&gt; &lt;i&gt;fut.&lt;/i&gt; $ <br/>Warning: (lemma: συναντιλαμβάνομαι) Process::Bet<br/>Warning: (lemma: συναντιλαμβάνομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem.$ <br/>Warning: (lemma: συναντλέω) Process::Bet<br/>Warning: (lemma: συναντλέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets met iem.$ <br/>Warning: (lemma: συνάντομαι) Process::Bet<br/>Warning: (lemma: συνάντομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem.;$ <br/>Warning: (lemma: συνάντομαι) Process::Bet<br/>Warning: (lemma: συνάντομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iets$ <br/>Error: (lemma: συνανύτω) Error: Unexpected:no text:p inside list-item<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>tegelijk<span class="space"></span><span class="space"></span>... (Last successful lemma was συνάντομαι)<br/>Warning: (lemma: συναορέω) Process::Bet<br/>Warning: (lemma: συναορέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem.$ <br/>Warning: (lemma: συναπάγω) Process::Bet<br/>Warning: (lemma: συναπάγω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets met iem$ <br/>Warning: (lemma: συναπάγω) Process::Bet<br/>Warning: (lemma: συναπάγω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^3.17.$ <br/>Warning: (lemma: συναπαίρω) Process::Bet<br/>Warning: (lemma: συναπαίρω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: συναπατάομαι) Process::Bet<br/>Warning: (lemma: συναπατάομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: συναποβαίνω) Process::Bet<br/>Warning: (lemma: συναποβαίνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: συναποδημέω) Process::Bet<br/>Warning: (lemma: συναποδημέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem.$ <br/>Warning: (lemma: συναποδιδράσκω) Process::Bet<br/>Warning: (lemma: συναποδιδράσκω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: συναποδύομαι) Process::Bet<br/>Warning: (lemma: συναποδύομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^‘$ <br/>Warning: (lemma: συναποδύομαι) Process::Bet<br/>Warning: (lemma: συναποδύομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ten behoeve van iets$ <br/>Warning: (lemma: συναποθνῄσκω) Process::Bet<br/>Warning: (lemma: συναποθνῄσκω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τοῦ ἀποθανόντος οὐ συναποθνῄσκει ἡ ψυχή de ziel van een dode sterft niet met hem mee; &lt;i&gt;met dat.&lt;/i&gt; met iets of iem.; &lt;i&gt;geneesk.&lt;/i&gt; $ <br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνανθέω
<span class='red'>&lt;tmp&gt;</span>met iets<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνανίστημι
<span class='red'>&lt;tmp&gt;</span>met iets of iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συναντάω
<span class='red'>&lt;tmp&gt;</span>iem.; &lt;i&gt;abs.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συναντιλαμβάνομαι
<span class='red'>&lt;tmp&gt;</span>iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συναντλέω
<span class='red'>&lt;tmp&gt;</span>iets met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνάντομαι
<span class='red'>&lt;tmp&gt;</span>iem.;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συναορέω
<span class='red'>&lt;tmp&gt;</span>iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συναπάγω
<span class='red'>&lt;tmp&gt;</span>iets met iem<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συναπαίρω
<span class='red'>&lt;tmp&gt;</span>met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συναπατάομαι
<span class='red'>&lt;tmp&gt;</span>met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συναποβαίνω
<span class='red'>&lt;tmp&gt;</span>met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συναποδημέω
<span class='red'>&lt;tmp&gt;</span>iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συναποδιδράσκω
<span class='red'>&lt;tmp&gt;</span>met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συναποδύομαι
<span class='red'>&lt;tmp&gt;</span>‘<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συναποθνῄσκω
<span class='red'>&lt;tmp&gt;</span>τοῦ ἀποθανόντος οὐ συναποθνῄσκει ἡ ψυχή de ziel van een dode sterft niet met hem mee; &lt;i&gt;met dat.&lt;/i&gt; met iets of iem.; &lt;i&gt;geneesk.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.36 v8.1.xml</span>
Warning: (lemma: συναπολάμπω) Process::Bet<br/>Warning: (lemma: συναπολάμπω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met.$ <br/>Warning: (lemma: συναποτίκτω) Process::Bet<br/>Warning: (lemma: συναποτίκτω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem. met iem.$ <br/>Warning: (lemma: συνάπτω) Process::Bet<br/>Warning: (lemma: συνάπτω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σ. πόδα &lt;i&gt;of&lt;/i&gt; σ. ἴχνος &lt;i&gt;met dat.&lt;/i&gt; iemands pad kruisen; &lt;i&gt;spreekw.&lt;/i&gt; $ <br/>Warning: (lemma: συνάπτω) Process::Bet<br/>Warning: (lemma: συνάπτω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εἰς/ἐς + &lt;i&gt;acc.&lt;/i&gt; $ <br/>Warning: (lemma: συνάπτω) Process::Bet<br/>Warning: (lemma: συνάπτω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met$ <br/>Warning: (lemma: συνάπτω) Process::Bet<br/>Warning: (lemma: συνάπτω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σ. μάχην, σ. πόλεμον (de) strijd aangaan, een oorlog beginnen.$ <br/>Warning: (lemma: συναρέσκω) Process::Bet<br/>Warning: (lemma: συναρέσκω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem$ <br/>Warning: (lemma: συνάριστος) Process::Bet<br/>Warning: (lemma: συνάριστος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^-$ <br/>Warning: (lemma: συναρμόζω) Process::Bet<br/>Warning: (lemma: συναρμόζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met; $ <br/>Warning: (lemma: συναρμόζω) Process::Bet<br/>Warning: (lemma: συναρμόζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met, bij$ <br/>Warning: (lemma: συναρχαιρεσιάζω) Process::Bet<br/>Warning: (lemma: συναρχαιρεσιάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem.$ <br/>Warning: (lemma: συνάρχω) Process::Bet<br/>Warning: (lemma: συνάρχω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met.$ <br/>Warning: (lemma: συνάρχω) Process::Bet<br/>Warning: (lemma: συνάρχω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^van iem.; &lt;i&gt;subst. ptc.&lt;/i&gt; ὁ συνάρχων $ <br/>Warning: (lemma: συναυλέω) Process::Bet<br/>Warning: (lemma: συναυλέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met.$ <br/>Warning: (lemma: συναυλία) Process::Meta<br/>Warning: (lemma: συναυλία)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συναυλία) Process::Meta<br/>Warning: (lemma: συναυλία)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σύναυλος) Process::Bet<br/>Warning: (lemma: σύναυλος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met.$ <br/>Warning: (lemma: σύναυλος) Process::Meta<br/>Warning: (lemma: σύναυλος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σύναυλος) Process::Meta<br/>Warning: (lemma: σύναυλος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συναυξάνω) Process::Bet<br/>Warning: (lemma: συναυξάνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets samen met iets $ <br/>Warning: (lemma: συναφή) Process::Meta<br/>Warning: (lemma: συναφή)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συναφίστημι) Process::Bet<br/>Warning: (lemma: συναφίστημι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^συναφίσταμαι, &lt;i&gt;stamaor.&lt;/i&gt; συναπέστην, &lt;i&gt;perf.&lt;/i&gt; συναφέστηκα, &lt;i&gt;fut.&lt;/i&gt; συναποστήσομαι) $ <br/>Warning: (lemma: συνάχθομαι) Process::Bet<br/>Warning: (lemma: συνάχθομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.; &lt;i&gt;met dat. van zaken, met&lt;/i&gt; ἐπί + &lt;i&gt;dat.&lt;/i&gt; vanwege &lt;i&gt;of&lt;/i&gt; door iets$ <br/>Warning: (lemma: συνδαίνυμι) Process::Bet<br/>Warning: (lemma: συνδαίνυμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σ. γάμους samen (met ...) een bruiloftsmaal aanrichten.$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συναπολάμπω
<span class='red'>&lt;tmp&gt;</span>met.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συναποτίκτω
<span class='red'>&lt;tmp&gt;</span>iem. met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνάπτω
<span class='red'>&lt;tmp&gt;</span>σ. πόδα &lt;i&gt;of&lt;/i&gt; σ. ἴχνος &lt;i&gt;met dat.&lt;/i&gt; iemands pad kruisen; &lt;i&gt;spreekw.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συναρέσκω
<span class='red'>&lt;tmp&gt;</span>iem<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνάριστος
<span class='red'>&lt;tmp&gt;</span>-<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συναρμόζω
<span class='red'>&lt;tmp&gt;</span>met; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συναρχαιρεσιάζω
<span class='red'>&lt;tmp&gt;</span>iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνάρχω
<span class='red'>&lt;tmp&gt;</span>met.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συναυλέω
<span class='red'>&lt;tmp&gt;</span>met.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σύναυλος-1
<span class='red'>&lt;tmp&gt;</span>met.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συναυξάνω
<span class='red'>&lt;tmp&gt;</span>iets samen met iets <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συναφίστημι
<span class='red'>&lt;tmp&gt;</span>συναφίσταμαι, &lt;i&gt;stamaor.&lt;/i&gt; συναπέστην, &lt;i&gt;perf.&lt;/i&gt; συναφέστηκα, &lt;i&gt;fut.&lt;/i&gt; συναποστήσομαι) <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνάχθομαι
<span class='red'>&lt;tmp&gt;</span>met iem.; &lt;i&gt;met dat. van zaken, met&lt;/i&gt; ἐπί + &lt;i&gt;dat.&lt;/i&gt; vanwege &lt;i&gt;of&lt;/i&gt; door iets<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνδαίνυμι
<span class='red'>&lt;tmp&gt;</span>σ. γάμους samen (met ...) een bruiloftsmaal aanrichten.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.37 v8.1.xml</span>
Warning: (lemma: συνδέομαι) Process::Bet<br/>Warning: (lemma: συνδέομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.; &lt;i&gt;met gen.&lt;/i&gt; (aan &lt;i&gt;of&lt;/i&gt; van) iem.$ <br/>Warning: (lemma: σύνδεσμος) Process::Vorm<br/>Warning: (lemma: σύνδεσμος)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: σύνδεσμος) heterocl. plur. n. &lt;r&gt;σύνδεσμα &lt;s&gt;Eur.&lt;/s&gt;&lt;/r&gt;<br/>Warning: (lemma: σύνδεσμος) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: συνδέω) Process::Bet<br/>Warning: (lemma: συνδέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets met iets$ <br/>Warning: (lemma: συνδιαβαίνω) Process::Bet<br/>Warning: (lemma: συνδιαβαίνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: συνδιάγω) Process::Bet<br/>Warning: (lemma: συνδιάγω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: συνδιαιτάομαι) Process::Bet<br/>Warning: (lemma: συνδιαιτάομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: συνδιακινδυνεύω) Process::Bet<br/>Warning: (lemma: συνδιακινδυνεύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: συνδιαπλέω) Process::Bet<br/>Warning: (lemma: συνδιαπλέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets met iem.$ <br/>Warning: (lemma: συνδιαπονέω) Process::Bet<br/>Warning: (lemma: συνδιαπονέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: συνδιαπράττω) Process::Bet<br/>Warning: (lemma: συνδιαπράττω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets met iem$ <br/>Warning: (lemma: συνδιασκοπέω) Process::Bet<br/>Warning: (lemma: συνδιασκοπέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: συνδιαστρέφω) Process::Bet<br/>Warning: (lemma: συνδιαστρέφω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iets.$ <br/>Warning: (lemma: συνδιασῴζω) Process::Bet<br/>Warning: (lemma: συνδιασῴζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets met iem$ <br/>Warning: (lemma: συνδιατίθημι) Process::Bet<br/>Warning: (lemma: συνδιατίθημι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets met iem.$ <br/>Warning: (lemma: συνδιατρίβω) Process::Bet<br/>Warning: (lemma: συνδιατρίβω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem$ <br/>Warning: (lemma: συνδιατρίβω) Process::Bet<br/>Warning: (lemma: συνδιατρίβω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets.$ <br/>Warning: (lemma: συνδιαφέρω) Process::Bet<br/>Warning: (lemma: συνδιαφέρω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets met iem$ <br/>Warning: (lemma: συνδιαφθείρω) Process::Bet<br/>Warning: (lemma: συνδιαφθείρω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^συνδιαφθεῖραι μετὰ τῶν φίλων καὶ τῶν χρημάτων ἑαυτόν ook zichzelf te gronde richten, samen met zijn vrienden en zijn geld.$ <br/>Warning: (lemma: συνδιέξειμι) Process::Bet<br/>Warning: (lemma: συνδιέξειμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets met iem.$ <br/>Warning: (lemma: συνδικέω) Process::Bet<br/>Warning: (lemma: συνδικέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^voor iem.; &lt;i&gt;met acc.&lt;/i&gt; in iets $ <br/>Warning: (lemma: σύνδικος) Process::Bet<br/>Warning: (lemma: σύνδικος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὁ &lt;i&gt;of&lt;/i&gt; ἡ σύνδικος $ <br/>Warning: (lemma: σύνδικος) Process::Meta<br/>Warning: (lemma: σύνδικος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συνδιορθόω) Process::Bet<br/>Warning: (lemma: συνδιορθόω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets met iem.$ <br/>Warning: (lemma: συνδιορθόω) Process::Bet<br/>Warning: (lemma: συνδιορθόω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem$ <br/>Warning: (lemma: συνδοκέω) Process::Bet<br/>Warning: (lemma: συνδοκέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὅτι-&lt;i&gt;zin&lt;/i&gt; $ <br/>Warning: (lemma: σύνδουλος) Process::Meta<br/>Warning: (lemma: σύνδουλος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συνδράω) Process::Bet<br/>Warning: (lemma: συνδράω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.; &lt;i&gt;abs.&lt;/i&gt; $ <br/>Warning: (lemma: συνδράω) Process::Bet<br/>Warning: (lemma: συνδράω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets met iem$ <br/>Warning: (lemma: συνδρομάς) Process::Bet<br/>Warning: (lemma: συνδρομάς)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^αἱ συνδρομάδαι (πέτραι) de rotsen die tegen elkaar botsen .$ <br/>Warning: (lemma: συνδυάζω) Process::Bet<br/>Warning: (lemma: συνδυάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets met &lt;i&gt;of&lt;/i&gt; aan iets $ <br/>Warning: (lemma: σύνδυο) Process::Meta<br/>Warning: (lemma: σύνδυο)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συνδώδεκα) Process::Meta<br/>Warning: (lemma: συνδώδεκα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σύνεγγυς) Process::Bet<br/>Warning: (lemma: σύνεγγυς)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^aan iets$ <br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνδέομαι
<span class='red'>&lt;tmp&gt;</span>met iem.; &lt;i&gt;met gen.&lt;/i&gt; (aan &lt;i&gt;of&lt;/i&gt; van) iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνδέω
<span class='red'>&lt;tmp&gt;</span>iets met iets<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνδιαβαίνω
<span class='red'>&lt;tmp&gt;</span>met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνδιάγω
<span class='red'>&lt;tmp&gt;</span>met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνδιαιτάομαι
<span class='red'>&lt;tmp&gt;</span>met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνδιακινδυνεύω
<span class='red'>&lt;tmp&gt;</span>met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνδιαπλέω
<span class='red'>&lt;tmp&gt;</span>iets met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνδιαπονέω
<span class='red'>&lt;tmp&gt;</span>met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνδιαπράττω
<span class='red'>&lt;tmp&gt;</span>iets met iem<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνδιασκοπέω
<span class='red'>&lt;tmp&gt;</span>met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνδιαστρέφω
<span class='red'>&lt;tmp&gt;</span>met iets.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνδιασῴζω
<span class='red'>&lt;tmp&gt;</span>iets met iem<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνδιατίθημι
<span class='red'>&lt;tmp&gt;</span>iets met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνδιατρίβω
<span class='red'>&lt;tmp&gt;</span>met iem<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνδιαφέρω
<span class='red'>&lt;tmp&gt;</span>iets met iem<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνδιαφθείρω
<span class='red'>&lt;tmp&gt;</span>συνδιαφθεῖραι μετὰ τῶν φίλων καὶ τῶν χρημάτων ἑαυτόν ook zichzelf te gronde richten, samen met zijn vrienden en zijn geld.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνδιέξειμι
<span class='red'>&lt;tmp&gt;</span>iets met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνδικέω
<span class='red'>&lt;tmp&gt;</span>voor iem.; &lt;i&gt;met acc.&lt;/i&gt; in iets <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σύνδικος
<span class='red'>&lt;tmp&gt;</span>ὁ &lt;i&gt;of&lt;/i&gt; ἡ σύνδικος <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνδιορθόω
<span class='red'>&lt;tmp&gt;</span>iets met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνδοκέω
<span class='red'>&lt;tmp&gt;</span>ὅτι-&lt;i&gt;zin&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνδράω
<span class='red'>&lt;tmp&gt;</span>met iem.; &lt;i&gt;abs.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνδρομάς
<span class='red'>&lt;tmp&gt;</span>αἱ συνδρομάδαι (πέτραι) de rotsen die tegen elkaar botsen &lt;toel&gt;(de Symplegaden)&lt;/toel&gt;.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνδυάζω
<span class='red'>&lt;tmp&gt;</span>iets met &lt;i&gt;of&lt;/i&gt; aan iets <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σύνεγγυς
<span class='red'>&lt;tmp&gt;</span>aan iets<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.38 v8.0.xml</span>
Warning: (lemma: σύνεδρος) Process::Bet<br/>Warning: (lemma: σύνεδρος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: σύνεδρος) Process::Meta<br/>Warning: (lemma: σύνεδρος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συνεθέλω) Process::Bet<br/>Warning: (lemma: συνεθέλω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(ὁ) συν(ε)θέλων $ <br/>Warning: (lemma: συνεθιστέον) Process::Bet<br/>Warning: (lemma: συνεθιστέον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^om te.$ <br/>Warning: (lemma: συνείδησις) Process::Bet<br/>Warning: (lemma: συνείδησις)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^van iets$ <br/>Warning: (lemma: συνειλέω) Process::Bet<br/>Warning: (lemma: συνειλέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^in iets$ <br/>Warning: (lemma: σύνειμι) Process::Bet<br/>Warning: (lemma: σύνειμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^συνών aanwezig$ <br/>Warning: (lemma: σύνειμι) Process::Bet<br/>Warning: (lemma: σύνειμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem$ <br/>Warning: (lemma: σύνειμι) Process::Meta<br/>Warning: (lemma: σύνειμι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σύνειμι) Process::Bet<br/>Warning: (lemma: σύνειμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^naar/op (een plaats$ <br/>Warning: (lemma: σύνειμι) Process::Meta<br/>Warning: (lemma: σύνειμι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συνείρω) Process::Vorm<br/>Warning: (lemma: συνείρω)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: συνείρω) Aeol. part. f. &lt;r&gt;συνέρραισα &lt;s&gt;Sapph.&lt;/s&gt; 81.5&lt;/r&gt;<br/>Warning: (lemma: συνείρω) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: συνεισβάλλω) Process::Bet<br/>Warning: (lemma: συνεισβάλλω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^in; &lt;i&gt;met dat. of met&lt;/i&gt; μετά + &lt;i&gt;gen.&lt;/i&gt; met iem. $ <br/>Warning: (lemma: συνεισελαύνω) Process::Bet<br/>Warning: (lemma: συνεισελαύνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^in.$ <br/>Warning: (lemma: συνεισέρχομαι) Process::Bet<br/>Warning: (lemma: συνεισέρχομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^in; &lt;i&gt;met dat.&lt;/i&gt; met iem.$ <br/>Warning: (lemma: συνεισπίπτω) Process::Bet<br/>Warning: (lemma: συνεισπίπτω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^in iets$ <br/>Warning: (lemma: συνεισπίπτω) Process::Bet<br/>Warning: (lemma: συνεισπίπτω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(samen) met iem$ <br/>Warning: (lemma: συνεισπλέω) Process::Bet<br/>Warning: (lemma: συνεισπλέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^in.$ <br/>Warning: (lemma: συνεισφέρω) Process::Bet<br/>Warning: (lemma: συνεισφέρω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^in.$ <br/>Warning: (lemma: συνεισφέρω) Process::Bet<br/>Warning: (lemma: συνεισφέρω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^voor iets$ <br/>Warning: (lemma: συνεκβαίνω) Process::Bet<br/>Warning: (lemma: συνεκβαίνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^naar iets.$ <br/>Warning: (lemma: συνεκβάλλω) Process::Bet<br/>Warning: (lemma: συνεκβάλλω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^tegelijk met ... uit $ <br/>Warning: (lemma: συνεκδίδωμι) Process::Bet<br/>Warning: (lemma: συνεκδίδωμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem. samen met iem$ <br/>Warning: (lemma: συνεκδύομαι) Process::Bet<br/>Warning: (lemma: συνεκδύομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^tegelijk met iets$ <br/>Warning: (lemma: συνέκκειμαι) Process::Bet<br/>Warning: (lemma: συνέκκειμαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: συνεκλεκτός) Process::Bet<br/>Warning: (lemma: συνεκλεκτός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^5.13.$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σύνεδρος
<span class='red'>&lt;tmp&gt;</span>met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεθέλω
<span class='red'>&lt;tmp&gt;</span>(ὁ) συν(ε)θέλων <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεθιστέον
<span class='red'>&lt;tmp&gt;</span>om te.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνείδησις
<span class='red'>&lt;tmp&gt;</span>van iets<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνειλέω
<span class='red'>&lt;tmp&gt;</span>in iets<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σύνειμι-1
<span class='red'>&lt;tmp&gt;</span>συνών aanwezig<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σύνειμι-2
<span class='red'>&lt;tmp&gt;</span>naar/op (een plaats<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεισβάλλω
<span class='red'>&lt;tmp&gt;</span>in; &lt;i&gt;met dat. of met&lt;/i&gt; μετά + &lt;i&gt;gen.&lt;/i&gt; met iem. <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεισελαύνω
<span class='red'>&lt;tmp&gt;</span>in.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεισέρχομαι
<span class='red'>&lt;tmp&gt;</span>in; &lt;i&gt;met dat.&lt;/i&gt; met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεισπίπτω
<span class='red'>&lt;tmp&gt;</span>in iets<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεισπλέω
<span class='red'>&lt;tmp&gt;</span>in.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεισφέρω
<span class='red'>&lt;tmp&gt;</span>in.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεκβαίνω
<span class='red'>&lt;tmp&gt;</span>naar iets.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεκβάλλω
<span class='red'>&lt;tmp&gt;</span>tegelijk met ... uit <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεκδίδωμι
<span class='red'>&lt;tmp&gt;</span>iem. samen met iem<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεκδύομαι
<span class='red'>&lt;tmp&gt;</span>tegelijk met iets<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνέκκειμαι
<span class='red'>&lt;tmp&gt;</span>met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεκλεκτός
<span class='red'>&lt;tmp&gt;</span>5.13.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.39 v8.1.xml</span>
Warning: (lemma: συνεκπίπτω) Process::Bet<br/>Warning: (lemma: συνεκπίπτω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εἰς &lt;i&gt;of&lt;/i&gt; πρός + &lt;i&gt;acc.&lt;/i&gt; $ <br/>Warning: (lemma: συνεκπλέω) Process::Bet<br/>Warning: (lemma: συνεκπλέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: συνεκπονέω) Process::Bet<br/>Warning: (lemma: συνεκπονέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets$ <br/>Warning: (lemma: συνεκτρέφω) Process::Bet<br/>Warning: (lemma: συνεκτρέφω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem. met iem.; &lt;i&gt;pass. met dat.; met alleen acc.&lt;/i&gt; $ <br/>Warning: (lemma: συνεκφέρω) Process::Bet<br/>Warning: (lemma: συνεκφέρω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^act. met acc.$ <br/>Warning: (lemma: συνεκφέρω) Process::Bet<br/>Warning: (lemma: συνεκφέρω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(van$ <br/>Warning: (lemma: συνελαύνω) Process::Bet<br/>Warning: (lemma: συνελαύνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἔριδι $ <br/>Warning: (lemma: συνελευθερόω) Process::Bet<br/>Warning: (lemma: συνελευθερόω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem$ <br/>Warning: (lemma: συνέλκω) Process::Bet<br/>Warning: (lemma: συνέλκω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^συνέλξομεν μετ’ αὐτῶν ἡμᾶς αὐτούς<span class="space"></span><span class="space"></span>dan zullen wij met hen samen onszelf naar hun kant slepen.$ <br/>Warning: (lemma: συνεμβάλλω) Process::Bet<br/>Warning: (lemma: συνεμβάλλω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^in iets.$ <br/>Warning: (lemma: συνεμβολή) Process::Meta<br/>Warning: (lemma: συνεμβολή)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συνεμπίπτω) Process::Bet<br/>Warning: (lemma: συνεμπίπτω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem.$ <br/>Warning: (lemma: συνέμπορος) Process::Bet<br/>Warning: (lemma: συνέμπορος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^van iem. $ <br/>Warning: (lemma: συνέμπορος) Process::Bet<br/>Warning: (lemma: συνέμπορος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^van iem$ <br/>Warning: (lemma: συνέμπορος) Process::Bet<br/>Warning: (lemma: συνέμπορος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^in iets $ <br/>Warning: (lemma: συνεξαιρέω) Process::Bet<br/>Warning: (lemma: συνεξαιρέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem. iets &lt;i&gt;of&lt;/i&gt; iem.; &lt;i&gt;met&lt;/i&gt; ἐκ + &lt;i&gt;gen., met gen.&lt;/i&gt; ergens uit.$ <br/>Warning: (lemma: συνεξαιρέω) Process::Bet<br/>Warning: (lemma: συνεξαιρέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem. iets .$ <br/>Warning: (lemma: συνεξαμαρτάνω) Process::Bet<br/>Warning: (lemma: συνεξαμαρτάνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem. $ <br/>Warning: (lemma: συνεξελαύνω) Process::Bet<br/>Warning: (lemma: συνεξελαύνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem. met iem.$ <br/>Warning: (lemma: συνεξερευνάω) Process::Bet<br/>Warning: (lemma: συνεξερευνάω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets met iem.$ <br/>Warning: (lemma: συνεξέρχομαι) Process::Bet<br/>Warning: (lemma: συνεξέρχομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem. &lt;i&gt;of&lt;/i&gt; iets.$ <br/>Warning: (lemma: συνεξιχνεύω) Process::Bet<br/>Warning: (lemma: συνεξιχνεύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets samen met iem.$ <br/>Warning: (lemma: συνέπαινος) Process::Bet<br/>Warning: (lemma: συνέπαινος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σ. εἶναι &lt;i&gt;of&lt;/i&gt; γίγνεσθαι mede goedkeuren, instemmen (met), &lt;i&gt;abs.; met dat.;&lt;/i&gt; &lt;i&gt;met AcI.&lt;/i&gt;$ <br/>Warning: (lemma: συνεπαιτιάομαι) Process::Bet<br/>Warning: (lemma: συνεπαιτιάομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^van iets.$ <br/>Warning: (lemma: συνεπανίσταμαι) Process::Bet<br/>Warning: (lemma: συνεπανίσταμαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: συνέπειμι) Process::Bet<br/>Warning: (lemma: συνέπειμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem. samen met iem.$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεκπίπτω
<span class='red'>&lt;tmp&gt;</span>εἰς &lt;i&gt;of&lt;/i&gt; πρός + &lt;i&gt;acc.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεκπλέω
<span class='red'>&lt;tmp&gt;</span>met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεκπονέω
<span class='red'>&lt;tmp&gt;</span>iets<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεκτρέφω
<span class='red'>&lt;tmp&gt;</span>iem. met iem.; &lt;i&gt;pass. met dat.; met alleen acc.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεκφέρω
<span class='red'>&lt;tmp&gt;</span>act. met acc.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνελαύνω
<span class='red'>&lt;tmp&gt;</span>ἔριδι <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνελευθερόω
<span class='red'>&lt;tmp&gt;</span>iem<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνέλκω
<span class='red'>&lt;tmp&gt;</span>συνέλξομεν μετ’ αὐτῶν ἡμᾶς αὐτούς &lt;toel&gt;(als zij gelijk blijken te hebben)&lt;/toel&gt; dan zullen wij met hen samen onszelf naar hun kant slepen.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεμβάλλω
<span class='red'>&lt;tmp&gt;</span>in iets.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεμπίπτω
<span class='red'>&lt;tmp&gt;</span>iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνέμπορος
<span class='red'>&lt;tmp&gt;</span>van iem. <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεξαιρέω
<span class='red'>&lt;tmp&gt;</span>iem. iets &lt;i&gt;of&lt;/i&gt; iem.; &lt;i&gt;met&lt;/i&gt; ἐκ + &lt;i&gt;gen., met gen.&lt;/i&gt; ergens uit.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεξαμαρτάνω
<span class='red'>&lt;tmp&gt;</span>met iem. <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεξελαύνω
<span class='red'>&lt;tmp&gt;</span>iem. met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεξερευνάω
<span class='red'>&lt;tmp&gt;</span>iets met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεξέρχομαι
<span class='red'>&lt;tmp&gt;</span>met iem. &lt;i&gt;of&lt;/i&gt; iets.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεξιχνεύω
<span class='red'>&lt;tmp&gt;</span>iets samen met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνέπαινος
<span class='red'>&lt;tmp&gt;</span>σ. εἶναι &lt;i&gt;of&lt;/i&gt; γίγνεσθαι mede goedkeuren, instemmen (met), &lt;i&gt;abs.; met dat.;&lt;/i&gt; &lt;i&gt;met AcI.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεπαιτιάομαι
<span class='red'>&lt;tmp&gt;</span>van iets.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεπανίσταμαι
<span class='red'>&lt;tmp&gt;</span>met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνέπειμι
<span class='red'>&lt;tmp&gt;</span>iem. samen met iem.<span class='red'>&lt;/tmp&gt;</span>

