<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.43 v8.1.xml</span>
Warning: (lemma: συνίστημι) Process::Bet<br/>Warning: (lemma: συνίστημι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^συνέστην; &lt;i&gt;perf.&lt;/i&gt; συνέστηκα$ <br/>Warning: (lemma: συννέω) Process::Meta<br/>Warning: (lemma: συννέω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συννέω) Process::Meta<br/>Warning: (lemma: συννέω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συννοέω) Process::Bet<br/>Warning: (lemma: συννοέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὅτι- &lt;i&gt;of&lt;/i&gt; ὡς-&lt;i&gt;bijzin&lt;/i&gt;$ <br/>Warning: (lemma: σύνοδος) Process::Bet<br/>Warning: (lemma: σύνοδος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(van &lt;i&gt;hemellichamen&lt;/i&gt;) $ <br/>Warning: (lemma: συνοίκια) Process::Meta<br/>Warning: (lemma: συνοίκια)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συνοικιστήρ) Process::Meta<br/>Warning: (lemma: συνοικιστήρ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: Vorm pass not successful for node ^συνοίσω, fut. bij συμφέρω.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συνοίσω, fut. bij συμφέρω.<span class="space"></span><span class="space"></span>(Last successful lemma was συνοίομαι)<br/>Warning: (lemma: συνομῆλιξ) Process::Meta<br/>Warning: (lemma: συνομῆλιξ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συνοπτικός) Process::Meta<br/>Warning: (lemma: συνοπτικός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σύνοπτος) Process::Meta<br/>Warning: (lemma: σύνοπτος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συνοράω) Process::Bet<br/>Warning: (lemma: συνοράω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὅτι- of ὡς-&lt;i&gt;bijzin&lt;/i&gt;$ <br/>Warning: (lemma: συνοράω) Process::Bet<br/>Warning: (lemma: συνοράω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εἰ-&lt;i&gt;bijzin&lt;/i&gt;$ <br/>Warning: (lemma: σύνορος) Process::Meta<br/>Warning: (lemma: σύνορος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σύνοφρυς) Process::Meta<br/>Warning: (lemma: σύνοφρυς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συνοχή) Process::Bet<br/>Warning: (lemma: συνοχή)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^2.4.$ <br/>Warning: (lemma: συνταχύνω) Process::Bet<br/>Warning: (lemma: συνταχύνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σ. τὸν βίον het leven snel ten einde doen lopen . 2.133.3.$ <br/>Warning: (lemma: συντέλεια) Process::Meta<br/>Warning: (lemma: συντέλεια)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συντέλεια) Process::Meta<br/>Warning: (lemma: συντέλεια)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^συντέμνω Att. ξυντέμνω [σύν, τέμνω]$ <br/>Error: Error: Vorm pass failed for primary structure lemma συντέμνω Att. ξυντέμνω [σύν, τ ...<span class="space"></span><span class="space"></span>(Last successful lemma was συντελής)<br/>Error: Error: Filebase based on lemma contains tags, something went wrong. (Last successful lemma was συντελής)<br/>Error: Error: Vorm pass failed for primary structure lemma door snijden verkleinen: ξ. τὰ ...<span class="space"></span><span class="space"></span>(Last successful lemma was συντελής)<br/>
* # total failures: 3<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνίστημι
<span class='red'>&lt;tmp&gt;</span>συνέστην; &lt;i&gt;perf.&lt;/i&gt; συνέστηκα<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συννοέω
<span class='red'>&lt;tmp&gt;</span>ὅτι- &lt;i&gt;of&lt;/i&gt; ὡς-&lt;i&gt;bijzin&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σύνοδος
<span class='red'>&lt;tmp&gt;</span>(van &lt;i&gt;hemellichamen&lt;/i&gt;) <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνοράω
<span class='red'>&lt;tmp&gt;</span>ὅτι- of ὡς-&lt;i&gt;bijzin&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνοχή
<span class='red'>&lt;tmp&gt;</span>2.4.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνταχύνω
<span class='red'>&lt;tmp&gt;</span>σ. τὸν βίον het leven snel ten einde doen lopen . 2.133.3.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.44 v8.1.xml</span>
Warning: (lemma: συντεχνάζω) Process::Bet<br/>Warning: (lemma: συντεχνάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: συντίθημι) Process::Bet<br/>Warning: (lemma: συντίθημι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets met iem$ <br/>Warning: (lemma: συντίθημι) Process::Bet<br/>Warning: (lemma: συντίθημι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὡς-&lt;i&gt;bijzin&lt;/i&gt; dat ...; &lt;i&gt;ook pass.&lt;/i&gt; $ <br/>Warning: (lemma: συντίθημι) Process::Bet<br/>Warning: (lemma: συντίθημι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.; $ <br/>Warning: (lemma: συντίθημι) Process::Bet<br/>Warning: (lemma: συντίθημι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^om iets, &lt;i&gt;met&lt;/i&gt; πρός + &lt;i&gt;acc.&lt;/i&gt; met iem.$ <br/>Warning: (lemma: συντιμωρέω) Process::Bet<br/>Warning: (lemma: συντιμωρέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^bij iets$ <br/>Warning: (lemma: συντιμωρέω) Process::Bet<br/>Warning: (lemma: συντιμωρέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem. assisteren.$ <br/>Warning: (lemma: σύντομος) Process::Bet<br/>Warning: (lemma: σύντομος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἡ σύντομος &lt;i&gt;en&lt;/i&gt; ἡ συντομωτάτη $ <br/>Warning: (lemma: σύντομος) Process::Bet<br/>Warning: (lemma: σύντομος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(τὸ) συντομώτατον &lt;i&gt;en&lt;/i&gt; τὰ συντομώτατα $ <br/>Warning: (lemma: σύντομος) Process::Meta<br/>Warning: (lemma: σύντομος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συντονία) Process::Bet<br/>Warning: (lemma: συντονία)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^gericht op $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συντεχνάζω
<span class='red'>&lt;tmp&gt;</span>met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συντίθημι
<span class='red'>&lt;tmp&gt;</span>iets met iem<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συντιμωρέω
<span class='red'>&lt;tmp&gt;</span>bij iets<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σύντομος
<span class='red'>&lt;tmp&gt;</span>ἡ σύντομος &lt;i&gt;en&lt;/i&gt; ἡ συντομωτάτη <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συντονία
<span class='red'>&lt;tmp&gt;</span>gericht op <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.45 v8.1.xml</span>
Warning: (lemma: συντράπεζος) Process::Meta<br/>Warning: (lemma: συντράπεζος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σύντρεις) Process::Meta<br/>Warning: (lemma: σύντρεις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συντρέχω) Process::Bet<br/>Warning: (lemma: συντρέχω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εἰς, πρός &lt;i&gt;of&lt;/i&gt; ἐπί + &lt;i&gt;acc.&lt;/i&gt; naar; &lt;i&gt;van pers.&lt;/i&gt; $ <br/>Error: (lemma: σύντροφος) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was συντροφία)<br/>Error: (lemma: σύντροφος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was συντροφία)<br/>Error: (lemma: σύντροφος) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was συντροφία)<br/>Error: (lemma: σύντροφος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was συντροφία)<br/>Error: (lemma: σύντροφος) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was συντροφία)<br/>Error: (lemma: σύντροφος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was συντροφία)<br/>Error: (lemma: σύντροφος) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was συντροφία)<br/>Error: (lemma: σύντροφος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was συντροφία)<br/>Error: (lemma: σύντροφος) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was συντροφία)<br/>Error: (lemma: σύντροφος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was συντροφία)<br/>Error: (lemma: σύντροφος) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was συντροφία)<br/>Error: (lemma: σύντροφος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was συντροφία)<br/>Error: (lemma: σύντροφος) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was συντροφία)<br/>Error: (lemma: σύντροφος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was συντροφία)<br/>Error: (lemma: σύντροφος) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was συντροφία)<br/>Error: (lemma: σύντροφος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was συντροφία)<br/>Error: (lemma: σύντροφος) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was συντροφία)<br/>Error: (lemma: σύντροφος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was συντροφία)<br/>Error: (lemma: σύντροφος) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was συντροφία)<br/>Error: (lemma: σύντροφος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was συντροφία)<br/>Error: (lemma: σύντροφος) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was συντροφία)<br/>Error: (lemma: σύντροφος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was συντροφία)<br/>Error: (lemma: σύντροφος) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was συντροφία)<br/>Error: (lemma: σύντροφος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was συντροφία)<br/>Warning: (lemma: σύντροφος) Process::Meta<br/>Warning: (lemma: σύντροφος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συντυγχάνω) Process::Bet<br/>Warning: (lemma: συντυγχάνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^het gebeurt dat ...; &lt;i&gt;subst.&lt;/i&gt; $ <br/>Warning: (lemma: συντυχία) Process::Bet<br/>Warning: (lemma: συντυχία)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^συντυχίη τις τοιαύτη ἐπεγένετο·het volgende voorval deed zich voor $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συντρέχω
<span class='red'>&lt;tmp&gt;</span>εἰς, πρός &lt;i&gt;of&lt;/i&gt; ἐπί + &lt;i&gt;acc.&lt;/i&gt; naar; &lt;i&gt;van pers.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συντυγχάνω
<span class='red'>&lt;tmp&gt;</span>het gebeurt dat ...; &lt;i&gt;subst.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συντυχία
<span class='red'>&lt;tmp&gt;</span>συντυχίη τις τοιαύτη ἐπεγένετο·het volgende voorval deed zich voor <span class='red'>&lt;/tmp&gt;</span>

