<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
Doing<span class='cyan'>migrator-build-dir/data/BETA.1.14 v8.1.xml</span>
Warning: (lemma: βλάξ) Process::Meta<br/>Warning: (lemma: βλάξ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: βλάπτω) Element::WerkV<br/>Warning: (lemma: βλάπτω)<span class="space"></span><span class="space"></span><span class="space"></span>1<br/>Warning: (lemma: βλαυτίον) Process::Bet<br/>Warning: (lemma: βλαυτίον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^βλαύτη, $ <br/>Warning: (lemma: βληστρίζω) Process::Bet<br/>Warning: (lemma: βληστρίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^β. ἑαυτόν $ <br/>Warning: (lemma: βλιτομάμμας) Process::Meta<br/>Warning: (lemma: βλιτομάμμας)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: βοάω) Element::WerkV<br/>Warning: (lemma: βοάω)<span class="space"></span><span class="space"></span><span class="space"></span>1<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βλάπτω
<span class='red'>&lt;tmp&gt;</span>&lt;b&gt;&lt;i&gt;perf.&lt;/b&gt; act.&lt;/i&gt; βέβλαφα, &lt;i&gt;med.-pass.&lt;/i&gt; βέβλαμμαι<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βλαυτίον
<span class='red'>&lt;tmp&gt;</span>βλαύτη, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βληστρίζω
<span class='red'>&lt;tmp&gt;</span>β. ἑαυτόν <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βοάω
<span class='red'>&lt;tmp&gt;</span>&lt;b&gt;&lt;i&gt;praes.&lt;/b&gt; ep. 3 sing.&lt;/i&gt; βοάᾳ, &lt;i&gt;3 plur.&lt;/i&gt; βοόωσιν, &lt;i&gt;ptc. act.&lt;/i&gt; βοόων, &lt;i&gt;med.&lt;/i&gt; βοώμενος, &lt;i&gt;imperf. Ion.&lt;/i&gt; βόων, &lt;i&gt;iterat.&lt;/i&gt; βοάασκε; &lt;b&gt;&lt;i&gt;aor.&lt;/b&gt; poët.&lt;/i&gt; βοήσα, &lt;i&gt;ep. en Ion.&lt;/i&gt; ἔβωσα, &lt;i&gt;Dor.&lt;/i&gt; βόασα, &lt;i&gt;med. ep.&lt;/i&gt; βόησατο, &lt;i&gt;Ion.&lt;/i&gt; ἐβώσατο, &lt;i&gt;Dor. conj.&lt;/i&gt; βοάσω, &lt;i&gt;Ion. imperat.&lt;/i&gt; βῶσον, &lt;i&gt;3 sing.&lt;/i&gt; βωσάτω, &lt;i&gt;Ion. inf.&lt;/i&gt; βῶσαι, &lt;i&gt;Ion. ptc.&lt;/i&gt; βώσας, &lt;i&gt;Dor. ptc.&lt;/i&gt; βοάσας, &lt;i&gt;Ion. ptc. med.&lt;/i&gt; βοησάμενος; &lt;i&gt;&lt;b&gt;aor. pass.&lt;/b&gt; Ion.&lt;/i&gt; ἐβώσθην; &lt;b&gt;&lt;i&gt;perf. med.&lt;/b&gt; Ion.&lt;/i&gt; βεβωμένος, &lt;b&gt;&lt;i&gt;fut.&lt;/b&gt; Att.&lt;/i&gt; βοήσομαι, &lt;i&gt;Dor.&lt;/i&gt; βοάσομαι<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/BETA.1.15 v8.1.xml</span>
Warning: (lemma: βόειος) Process::Meta<br/>Warning: (lemma: βόειος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: βοή) Process::Bet<br/>Warning: (lemma: βοή)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(= βοήθεια) $ <br/>Warning: (lemma: βοηθόος) Process::Meta<br/>Warning: (lemma: βοηθόος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: βοθρίον) Process::Bet<br/>Warning: (lemma: βοθρίον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^βόθρος, $ <br/>Warning: (lemma: βοιδάριον) Process::Bet<br/>Warning: (lemma: βοιδάριον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^βοῦς, $ <br/>Warning: (lemma: βοίδιον) Process::Bet<br/>Warning: (lemma: βοίδιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^βοῦς, $ <br/>Warning: (lemma: βομβυλιός) Process::Meta<br/>Warning: (lemma: βομβυλιός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: βόρειος) Process::Meta<br/>Warning: (lemma: βόρειος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: βορραῖος) Process::Meta<br/>Warning: (lemma: βορραῖος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: βόρυες) Process::Meta<br/>Warning: (lemma: βόρυες)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: βούβαλις) Process::Meta<br/>Warning: (lemma: βούβαλις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βοή
<span class='red'>&lt;tmp&gt;</span>(= βοήθεια) <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βοθρίον
<span class='red'>&lt;tmp&gt;</span>βόθρος, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βοιδάριον
<span class='red'>&lt;tmp&gt;</span>βοῦς, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βοίδιον
<span class='red'>&lt;tmp&gt;</span>βοῦς, <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/BETA.1.16 v8.1.xml</span>
Warning: (lemma: βουκολιαστάς) Process::Meta<br/>Warning: (lemma: βουκολιαστάς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: βουκόλιον) Process::Bet<br/>Warning: (lemma: βουκόλιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^βουκόλος, $ <br/>Warning: (lemma: βουλαπτεροῦν) Process::Bet<br/>Warning: (lemma: βουλαπτεροῦν)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^βλαβερόν $ <br/>Warning: (lemma: βουλευμάτιον) Process::Bet<br/>Warning: (lemma: βουλευμάτιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^βούλευμα, $ <br/>Warning: (lemma: βουλεύω) Process::Bet<br/>Warning: (lemma: βουλεύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὅπως&lt;i&gt;-zin&lt;/i&gt; $ <br/>Warning: (lemma: βουλεύω) Process::Bet<br/>Warning: (lemma: βουλεύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἵνα-&lt;i&gt;zin&lt;/i&gt; $ <br/>Warning: (lemma: βουληφόρος) Process::Meta<br/>Warning: (lemma: βουληφόρος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: βούλομαι) Element::WerkV<br/>Warning: (lemma: βούλομαι)<span class="space"></span><span class="space"></span><span class="space"></span>1<br/>Warning: (lemma: βούλομαι) Process::Bet<br/>Warning: (lemma: βούλομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^βούλει &lt;i&gt;als inleiding van een verzoek, in comb. met conj. deliberat.&lt;/i&gt; $ <br/>Warning: (lemma: βούλομαι) Process::Bet<br/>Warning: (lemma: βούλομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εἰ βούλει $ <br/>Warning: (lemma: βούλομαι) Process::Bet<br/>Warning: (lemma: βούλομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὅστις βούλει $ <br/>Warning: (lemma: βούλομαι) Process::Bet<br/>Warning: (lemma: βούλομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^βουλομένῳ μοί ἐστιν<span class="space"></span><span class="space"></span>het is οvereenkomstig mijn wens dat ... $ <br/>Warning: (lemma: βούλομαι) Process::Bet<br/>Warning: (lemma: βούλομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ βουλόμενον $ <br/>Warning: (lemma: βούπρηστις) Process::Meta<br/>Warning: (lemma: βούπρηστις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: βοῦς) Element::WerkV<br/>Warning: (lemma: βοῦς)<span class="space"></span><span class="space"></span><span class="space"></span>1<br/>Warning: (lemma: βοῦς) Process::Bet<br/>Warning: (lemma: βοῦς)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(?).$ <br/>Warning: (lemma: βοῦς) Process::Meta<br/>Warning: (lemma: βοῦς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: βράγχιον) Process::Bet<br/>Warning: (lemma: βράγχιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^βράγχος, $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βουκόλιον
<span class='red'>&lt;tmp&gt;</span>βουκόλος, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βουλαπτεροῦν
<span class='red'>&lt;tmp&gt;</span>βλαβερόν <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βουλευμάτιον
<span class='red'>&lt;tmp&gt;</span>βούλευμα, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βουλεύω
<span class='red'>&lt;tmp&gt;</span>ὅπως&lt;i&gt;-zin&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βούλομαι
<span class='red'>&lt;tmp&gt;</span>&lt;i&gt;&lt;b&gt;praes.&lt;/b&gt; 2 sing.&lt;/i&gt; βούλεαι, &lt;i&gt;conj. 2 sing.&lt;/i&gt; βούληαι, &lt;i&gt;3 plur.&lt;/i&gt; βουλοίατο, &lt;i&gt;imperat. 2 sing.&lt;/i&gt; βούλεο, &lt;i&gt;poët. &lt;b&gt;imperf.&lt;/b&gt;&lt;/i&gt; βουλόμην, &lt;i&gt;Ion. imperf. 3 plur.&lt;/i&gt; ἐβουλέατο; &lt;b&gt;&lt;i&gt;aor.&lt;/b&gt;&lt;/i&gt; ἐβουλήθην &lt;i&gt;en&lt;/i&gt; ἠβουλήθην, &lt;i&gt;imperat. 2 plur.&lt;/i&gt; βουλήθητε, &lt;i&gt;ptc.&lt;/i&gt; βουληθείς; &lt;b&gt;&lt;i&gt;perf&lt;/i&gt;.&lt;/b&gt; βεβούλημαι; &lt;b&gt;&lt;i&gt;fut.&lt;/b&gt;&lt;/i&gt; βουλήσομαι<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βοῦς
<span class='red'>&lt;tmp&gt;</span>&lt;b&gt;&lt;i&gt;sing.&lt;/b&gt; gen.&lt;/i&gt; βοός, &lt;i&gt;poët.&lt;/i&gt; βοῦ, &lt;i&gt;dat.&lt;/i&gt; βοΐ, &lt;i&gt;acc.&lt;/i&gt; βοῦν, &lt;i&gt;ep. en Dor.&lt;/i&gt; βῶν, &lt;i&gt;Ion. poët.&lt;/i&gt; βόα; &lt;b&gt;&lt;i&gt;plur.&lt;/b&gt; nom.&lt;/i&gt; βόες, βοῦς, &lt;i&gt;gen.&lt;/i&gt; βοῶν, &lt;i&gt;poët.&lt;/i&gt; βῶν, &lt;i&gt;dat.&lt;/i&gt; βουσί, &lt;i&gt;ep.&lt;/i&gt; βόεσσι, &lt;i&gt;poët.&lt;/i&gt; βοσί, &lt;i&gt;acc.&lt;/i&gt; βόας, βοῦς, &lt;i&gt;Dor.&lt;/i&gt; βῶς; &lt;b&gt;&lt;i&gt;dual&lt;/i&gt;.&lt;/b&gt; βόε<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βράγχιον
<span class='red'>&lt;tmp&gt;</span>βράγχος, <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/BETA.1.3 v8.2.xml</span>
Warning: (lemma: βαθυχάϊος) Process::Meta<br/>Warning: (lemma: βαθυχάϊος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: βαίνω) Element::WerkV<br/>Warning: (lemma: βαίνω)<span class="space"></span><span class="space"></span><span class="space"></span>1<br/>Warning: (lemma: βαίνω) Process::Bet<br/>Warning: (lemma: βαίνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(ergens) $ <br/>Warning: (lemma: βαίνω) Process::Bet<br/>Warning: (lemma: βαίνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(ergens) $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βαίνω
<span class='red'>&lt;tmp&gt;</span>&lt;b&gt;&lt;i&gt;sigm. aor.&lt;/i&gt; &lt;i&gt;causat.&lt;/i&gt;&lt;/b&gt; ἔβησα, &lt;i&gt;poët.&lt;/i&gt; βῆσα, &lt;i&gt;Dor.&lt;/i&gt; ἔβᾱσα, &lt;i&gt;med.&lt;/i&gt; ἐβησάμην, &lt;i&gt;ep. 2 sing.&lt;/i&gt; ἐβήσαο, &lt;i&gt;Dor. conj.&lt;/i&gt; &lt;i&gt;1 plur.&lt;/i&gt; βάσομεν; &lt;b&gt;&lt;i&gt;aor.&lt;/i&gt; &lt;i&gt;mixtus intrans.&lt;/b&gt; ep.&lt;/i&gt; (ἐ)βήσετο; &lt;b&gt;&lt;i&gt;stamaor. intrans.&lt;/b&gt;&lt;/i&gt; ἔβην, &lt;i&gt;Dor.&lt;/i&gt; ἔβᾱν, &lt;i&gt;poët. 3 sing.&lt;/i&gt; βῆ, &lt;i&gt;plur.&lt;/i&gt; ἔβαν &lt;i&gt;en&lt;/i&gt; βάν, &lt;i&gt;dual.&lt;/i&gt; (ἐ)βήτην &lt;i&gt;en&lt;/i&gt; βάτην, &lt;i&gt;conj.&lt;/i&gt; βῶ, &lt;i&gt;ep.&lt;/i&gt; βήω (βείω), &lt;i&gt;Dor. 1 plur.&lt;/i&gt; βᾶμες, &lt;i&gt;opt.&lt;/i&gt; βαίην; &lt;i&gt;imperat.&lt;/i&gt; βῆθι, &lt;i&gt;Dor.&lt;/i&gt; βᾶθι, &lt;i&gt;3 sing.&lt;/i&gt; βάτω, &lt;i&gt;2 plur.&lt;/i&gt; βᾶτε; &lt;i&gt;inf.&lt;/i&gt; βῆναι, &lt;i&gt;ep.&lt;/i&gt; βήμεναι, &lt;i&gt;Dor.&lt;/i&gt; βᾶμεν; &lt;i&gt;ptc.&lt;/i&gt; βάς βᾶσα βάν; &lt;b&gt;&lt;i&gt;aor. pass.&lt;/b&gt; -&lt;/i&gt;εβάθην &lt;i&gt;in compos.&lt;/i&gt;; &lt;b&gt;&lt;i&gt;perf. intrans&lt;/i&gt;.&lt;/b&gt; βέβηκα, &lt;i&gt;Dor.&lt;/i&gt; βέβᾱκα, &lt;i&gt;poët. 3 plur.&lt;/i&gt; βεβάᾱσι &lt;i&gt;en&lt;/i&gt; βεβᾶσι, &lt;i&gt;inf.&lt;/i&gt; βεβηκέναι, &lt;i&gt;poët.&lt;/i&gt; βεβάναι, &lt;i&gt;ep.&lt;/i&gt; βεβάμεν, &lt;i&gt;ptc.&lt;/i&gt; βεβηκώς -κυῖα, βεβαώς, &lt;i&gt;poët.&lt;/i&gt; βεβώς βεβαυῖα &lt;i&gt;en&lt;/i&gt; βεβῶσα, &lt;i&gt;poet. plur.&lt;/i&gt; βεβαῶτες, &lt;i&gt;Att.&lt;/i&gt; βεβῶτες, &lt;b&gt;&lt;i&gt;plqperf. intrans.&lt;/i&gt;&lt;/b&gt; ἐβεβήκειν, &lt;i&gt;poët. en later 3 sing.&lt;/i&gt; βεβήκει(ν), &lt;i&gt;plur.&lt;/i&gt; βέβᾰσαν; &lt;i&gt;&lt;b&gt;perf. med.-pass.&lt;/b&gt; in compos.&lt;/i&gt; -βέβα(σ)μαι; &lt;i&gt;&lt;b&gt;fut. intrans.&lt;/b&gt;&lt;/i&gt; βήσομαι, &lt;i&gt;Dor.&lt;/i&gt; βάσομαι &lt;i&gt;en&lt;/i&gt; βᾱσεῦμαι, &lt;i&gt;fut. act. causat.&lt;/i&gt; -βήσω &lt;i&gt;in compos.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/BETA.1.4 v8.2.xml</span>
Warning: (lemma: βάκιλα) Process::Bet<br/>Warning: (lemma: βάκιλα)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(Rom. roedenbundels, gedragen door lictoren)&lt;/i&gt; $ <br/>Warning: (lemma: βάκχαρις) Process::Meta<br/>Warning: (lemma: βάκχαρις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: βακχικός) Process::Bet<br/>Warning: (lemma: βακχικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὰ β. bacchische riten.$ <br/>Warning: (lemma: βαλανευτικός) Process::Bet<br/>Warning: (lemma: βαλανευτικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἡ β. $ <br/>Warning: (lemma: βαλβίς) Process::Bet<br/>Warning: (lemma: βαλβίς)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^βαλβῖδες &lt;i&gt;de paaltjes waartussen het startlint hangt&lt;/i&gt;: &lt;i&gt;vandaar overdr.&lt;/i&gt; $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βάκιλα
<span class='red'>&lt;tmp&gt;</span>(Rom. roedenbundels, gedragen door lictoren)&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βακχικός
<span class='red'>&lt;tmp&gt;</span>τὰ β. bacchische riten.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βαλανευτικός
<span class='red'>&lt;tmp&gt;</span>ἡ β. <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>βαλβίς
<span class='red'>&lt;tmp&gt;</span>βαλβῖδες &lt;i&gt;de paaltjes waartussen het startlint hangt&lt;/i&gt;: &lt;i&gt;vandaar overdr.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

