<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.8 v8.1.xml</span>
Warning: (lemma: σκευοφορικός) Process::Vorm<br/>Warning: (lemma: σκευοφορικός)<span class="space"></span><span class="space"></span><span class="space"></span>Encountered ↑ but couldn't retrieve previous etym. <br/>Warning: (lemma: σκέψις) Process::Meta<br/>Warning: (lemma: σκέψις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σκηνέω) Process::Bet<br/>Warning: (lemma: σκηνέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^) $ <br/>Warning: (lemma: σκηνή) Process::Bet<br/>Warning: (lemma: σκηνή)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^) $ <br/>Warning: (lemma: σκηνή) Process::Bet<br/>Warning: (lemma: σκηνή)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;s&gt;&lt;/s&gt; $ <br/>Warning: (lemma: σκηνή) Process::Meta<br/>Warning: (lemma: σκηνή)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σκηνοπηγία) Process::Bet<br/>Warning: (lemma: σκηνοπηγία)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ΝΤ &lt;i&gt;Ιο.&lt;/i&gt; 7.2.$ <br/>Warning: (lemma: σκηνοποιός) Process::Bet<br/>Warning: (lemma: σκηνοποιός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ΝΤ &lt;i&gt;Apost.&lt;/i&gt; 18.3.$ <br/>Warning: (lemma: σκῆνος) Process::Bet<br/>Warning: (lemma: σκῆνος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^5.1.$ <br/>Warning: (lemma: σκηπτοφόρος) Process::Bet<br/>Warning: (lemma: σκηπτοφόρος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σκηπτροφόρος.$ <br/>Warning: (lemma: σκιάδειον) Process::Meta<br/>Warning: (lemma: σκιάδειον)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σκηνέω
<span class='red'>&lt;tmp&gt;</span>) <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σκηνή
<span class='red'>&lt;tmp&gt;</span>) <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σκηνοπηγία
<span class='red'>&lt;tmp&gt;</span>ΝΤ &lt;i&gt;Ιο.&lt;/i&gt; 7.2.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σκηνοποιός
<span class='red'>&lt;tmp&gt;</span>ΝΤ &lt;i&gt;Apost.&lt;/i&gt; 18.3.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σκῆνος
<span class='red'>&lt;tmp&gt;</span>5.1.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σκηπτοφόρος
<span class='red'>&lt;tmp&gt;</span>σκηπτροφόρος.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.9 v8.1.xml</span>
Warning: Vorm pass not successful for node ^σκιάεις -εσσα -εν Pind. zie σκιόεις$ <br/>Error: Error: Vorm pass failed for primary structure lemma σκιάεις -εσσα -εν Pind. zie σκ ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: (lemma: σκιερός) Process::Meta<br/>Warning: (lemma: σκιερός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σκίλλα) Process::Meta<br/>Warning: (lemma: σκίλλα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σκληρότηρ) Error: morfI_node value was undef<br/>Warning: Vorm pass not successful for node ^σκληφρός -ά -όν [σκέλλομαι] mager, slank, klein.$ <br/>Error: Error: Vorm pass failed for primary structure lemma σκληφρός -ά -όν [σκέλλομαι] ma ...<span class="space"></span><span class="space"></span>(Last successful lemma was σκληρυσμός)<br/>Warning: (lemma: σκνιφαῖος) Process::Meta<br/>Warning: (lemma: σκνιφαῖος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 2<br/>
Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.10 v8.1.xml</span>
Warning: (lemma: σκόλοψ) Process::Bet<br/>Warning: (lemma: σκόλοψ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σκόλοπες &lt;i&gt;ook&lt;/i&gt; $ <br/>Warning: (lemma: σκοπέω) Process::Bet<br/>Warning: (lemma: σκοπέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^op basis van; &lt;i&gt;met&lt;/i&gt; πρός + &lt;i&gt;acc.&lt;/i&gt;$ <br/>Warning: (lemma: σκοπιά) Process::Bet<br/>Warning: (lemma: σκοπιά)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^-, $ <br/>Warning: (lemma: σκορπίος) Process::Bet<br/>Warning: (lemma: σκορπίος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὁ Σκορπίος $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σκόλοψ
<span class='red'>&lt;tmp&gt;</span>σκόλοπες &lt;i&gt;ook&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σκοπέω
<span class='red'>&lt;tmp&gt;</span>op basis van; &lt;i&gt;met&lt;/i&gt; πρός + &lt;i&gt;acc.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σκοπιά
<span class='red'>&lt;tmp&gt;</span>-, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σκορπίος
<span class='red'>&lt;tmp&gt;</span>ὁ Σκορπίος <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.11 v8.1.xml</span>
Warning: (lemma: σκοταῖος) Process::Meta<br/>Warning: (lemma: σκοταῖος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σκότιος) Process::Vorm<br/>Warning: (lemma: σκότιος)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: σκότιος) acc. plur. &lt;r&gt;-ους &lt;s&gt;Eur.&lt;/s&gt;&lt;/r&gt; Alc. &lt;r&gt;125&lt;/r&gt;<br/>Warning: (lemma: σκότιος) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: σκότιος) Process::Bet<br/>Warning: (lemma: σκότιος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^($ <br/>Warning: (lemma: σκότος) Process::Bet<br/>Warning: (lemma: σκότος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^διὰ σκότου, ἐν σκότῳ, κατὰ σκότον, ὑπὸ σκότου, ὑπὸ σκότῳ: in duisternis, in het geheim; &lt;i&gt;van pers.&lt;/i&gt; $ <br/>Warning: (lemma: σκύζομαι) Process::Bet<br/>Warning: (lemma: σκύζομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^op$ <br/>Use of uninitialized value $pass2_input in concatenation (.) or string at /home/caspar/share/sandbox/git/grne/bin/../lib/GrNe/Process/Vorm.pm line 503.<br/>Warning: (lemma: σκυθρωπός) Process::Bet<br/>Warning: (lemma: σκυθρωπός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ σ. $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σκότιος
<span class='red'>&lt;tmp&gt;</span>(<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σκότος
<span class='red'>&lt;tmp&gt;</span>διὰ σκότου, ἐν σκότῳ, κατὰ σκότον, ὑπὸ σκότου, ὑπὸ σκότῳ: in duisternis, in het geheim; &lt;i&gt;van pers.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σκύζομαι
<span class='red'>&lt;tmp&gt;</span>op<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σκυθρωπός
<span class='red'>&lt;tmp&gt;</span>τὸ σ. <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.12 v8.1.xml</span>
Warning: (lemma: σκυλάκιον) Process::Bet<br/>Warning: (lemma: σκυλάκιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σκύλαξ, $ <br/>Warning: (lemma: σκύλαξ) Process::Bet<br/>Warning: (lemma: σκύλαξ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^= σ. κυνός $ <br/>Warning: (lemma: σκυλεύω) Process::Bet<br/>Warning: (lemma: σκυλεύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τοὺς νεκροὺς σ. de lijken beroven = σ. τοὺς τελευτήσαντας $ <br/>Warning: (lemma: σκυλεύω) Process::Bet<br/>Warning: (lemma: σκυλεύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^van iets.$ <br/>Warning: (lemma: σκύτειος) Process::Bet<br/>Warning: (lemma: σκύτειος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἡ σκυτεία<span class="space"></span><span class="space"></span>het schoenmakersvak.$ <br/>Warning: (lemma: σκύτειος) Process::Meta<br/>Warning: (lemma: σκύτειος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σκυτικός) Process::Bet<br/>Warning: (lemma: σκυτικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἡ σκυτική<span class="space"></span><span class="space"></span>het schoenmakersvak.$ <br/>Warning: (lemma: σκυτοτομικός) Process::Bet<br/>Warning: (lemma: σκυτοτομικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἡ σκυτοτομική<span class="space"></span><span class="space"></span>het schoenmakersvak.$ <br/>Warning: (lemma: σκυτοτόμος) Process::Meta<br/>Warning: (lemma: σκυτοτόμος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σκωμμάτιον) Process::Bet<br/>Warning: (lemma: σκωμμάτιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σκῶμμα, $ <br/>Warning: (lemma: σκῶρ) Process::Meta<br/>Warning: (lemma: σκῶρ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σκώψ) Process::Meta<br/>Warning: (lemma: σκώψ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σμάραγδος) Process::Bet<br/>Warning: (lemma: σμάραγδος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^= σ. λίθος.$ <br/>Warning: (lemma: σμερδαλέος) Process::Bet<br/>Warning: (lemma: σμερδαλέος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σμερδαλέον &lt;i&gt;en plur.&lt;/i&gt; $ <br/>Warning: (lemma: σμερδνός) Process::Bet<br/>Warning: (lemma: σμερδνός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σμερδνόν.$ <br/>Warning: (lemma: σοβαρός) Process::Bet<br/>Warning: (lemma: σοβαρός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σοβαρόν.$ <br/>Warning: (lemma: σός) Process::Bet<br/>Warning: (lemma: σός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^οἱ σοί de jouwen $ <br/>Warning: (lemma: σός) Process::Bet<br/>Warning: (lemma: σός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^uw voorstel $ <br/>Warning: (lemma: σός) Process::Meta<br/>Warning: (lemma: σός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σοφίζω) Process::Bet<br/>Warning: (lemma: σοφίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^in iets $ <br/>Warning: (lemma: σοφίζω) Process::Bet<br/>Warning: (lemma: σοφίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐσοφισάμην, &lt;i&gt;aor. pass.&lt;/i&gt; ἐσοφίσθην$ <br/>Warning: (lemma: σοφίζω) Process::Bet<br/>Warning: (lemma: σοφίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met betrekking tot iets$ <br/>Warning: (lemma: σοφίζω) Process::Bet<br/>Warning: (lemma: σοφίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^1.16.$ <br/>Warning: (lemma: σοφισμάτιον) Process::Bet<br/>Warning: (lemma: σοφισμάτιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σόφισμα, $ <br/>Warning: (lemma: σοφόνοος) Process::Meta<br/>Warning: (lemma: σοφόνοος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σοφός) Process::Bet<br/>Warning: (lemma: σοφός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^in iets$ <br/>Warning: (lemma: σοφός) Process::Bet<br/>Warning: (lemma: σοφός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^in iets.$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σκυλάκιον
<span class='red'>&lt;tmp&gt;</span>σκύλαξ, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σκύλαξ
<span class='red'>&lt;tmp&gt;</span>= σ. κυνός <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σκυλεύω
<span class='red'>&lt;tmp&gt;</span>τοὺς νεκροὺς σ. de lijken beroven = σ. τοὺς τελευτήσαντας <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σκύτειος
<span class='red'>&lt;tmp&gt;</span>ἡ σκυτεία &lt;toel&gt;(sc. &lt;link target=""&gt;τέχνη&lt;/link&gt;)&lt;/toel&gt; het schoenmakersvak.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σκυτικός
<span class='red'>&lt;tmp&gt;</span>ἡ σκυτική &lt;toel&gt;(sc. &lt;link target=""&gt;τέχνη&lt;/link&gt;)&lt;/toel&gt; het schoenmakersvak.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σκυτοτομικός
<span class='red'>&lt;tmp&gt;</span>ἡ σκυτοτομική &lt;toel&gt;(sc. &lt;link target=""&gt;τέχνη&lt;/link&gt;)&lt;/toel&gt; het schoenmakersvak.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σκωμμάτιον
<span class='red'>&lt;tmp&gt;</span>σκῶμμα, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σμάραγδος
<span class='red'>&lt;tmp&gt;</span>= σ. λίθος.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σμερδαλέος
<span class='red'>&lt;tmp&gt;</span>σμερδαλέον &lt;i&gt;en plur.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σμερδνός
<span class='red'>&lt;tmp&gt;</span>σμερδνόν.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σοβαρός
<span class='red'>&lt;tmp&gt;</span>σοβαρόν.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σός
<span class='red'>&lt;tmp&gt;</span>οἱ σοί de jouwen &lt;toel&gt;(van familie, vrienden, bekenden, volgelingen)&lt;/toel&gt;<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σοφίζω
<span class='red'>&lt;tmp&gt;</span>in iets <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σοφισμάτιον
<span class='red'>&lt;tmp&gt;</span>σόφισμα, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σοφός
<span class='red'>&lt;tmp&gt;</span>in iets<span class='red'>&lt;/tmp&gt;</span>

