<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
Doing<span class='cyan'>data/Sigma.1.1 v8.0.xml</span>
Warning: (lemma: Σ_) Process::Bet<br/>Warning: (lemma: Σ_)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ϲ &lt;i&gt;(halve maan, sikkel); aan het eind van een woord&lt;/i&gt; ς. &lt;i&gt;Als getal&lt;/i&gt; σʹ = &lt;i&gt;200;&lt;/i&gt; ͵σ = &lt;i&gt;200.000.&lt;/i&gt;$ <br/>Warning: (lemma: Σ_) Process::Meta<br/>Warning: (lemma: Σ_)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σά) Process::Meta<br/>Warning: (lemma: σά)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σαββατικός) Process::Bet<br/>Warning: (lemma: σαββατικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σ. πόθος een sabbatsverlangen &lt;i&gt;(d.w.z. verliefdheid op een Jood) AP&lt;/i&gt; 5.160.3.$ <br/>Warning: (lemma: σαγηνεύς) Process::Bet<br/>Warning: (lemma: σαγηνεύς)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(σαγήνη).$ <br/>Warning: (lemma: σαγηνευτήρ) Process::Bet<br/>Warning: (lemma: σαγηνευτήρ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τριχῶν σ. sleepnetvisser voor haren (= &lt;i&gt;kam) &lt;s&gt;AP&lt;/i&gt;&lt;/s&gt; 6.211.5.$ <br/>Warning: (lemma: σαγηνευτήρ) Process::Meta<br/>Warning: (lemma: σαγηνευτήρ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σαγηνεύω) Process::Bet<br/>Warning: (lemma: σαγηνεύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σαγηνευθεὶς ὑπ᾿ ἔρωτι door liefdesverlangen gevangen &lt;i&gt;AP&lt;/i&gt; 11.52.1.$ <br/>Warning: (lemma: σάγμα) Process::Meta<br/>Warning: (lemma: σάγμα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σαίνω) Process::Bet<br/>Warning: (lemma: σαίνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^overdr. met acc.$ <br/>Warning: (lemma: σαίρω) Process::Meta<br/>Warning: (lemma: σαίρω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σακεσφόρος) Process::Meta<br/>Warning: (lemma: σακεσφόρος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σακεσφόρος) Process::Meta<br/>Warning: (lemma: σακεσφόρος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σακκίον) Process::Meta<br/>Warning: (lemma: σακκίον)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σάκκος) Process::Meta<br/>Warning: (lemma: σάκκος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σάκος) Process::Meta<br/>Warning: (lemma: σάκος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σαλπιγκτής) Process::Meta<br/>Warning: (lemma: σαλπιγκτής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σαμπῖ) Process::Bet<br/>Warning: (lemma: σαμπῖ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(ϡ) &lt;i&gt;voor&lt;/i&gt; 900.$ <br/>Warning: (lemma: σαμπῖ) Process::Meta<br/>Warning: (lemma: σαμπῖ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σάν) Process::Bet<br/>Warning: (lemma: σάν)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(Ϻ) $ <br/>Warning: (lemma: σάν) Process::Meta<br/>Warning: (lemma: σάν)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σανδαράκη) Process::Meta<br/>Warning: (lemma: σανδαράκη)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Σ
<span class='red'>&lt;tmp&gt;</span>ϲ &lt;i&gt;(halve maan, sikkel); aan het eind van een woord&lt;/i&gt; ς. &lt;i&gt;Als getal&lt;/i&gt; σʹ = &lt;i&gt;200;&lt;/i&gt; ͵σ = &lt;i&gt;200.000.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σαββατικός
<span class='red'>&lt;tmp&gt;</span>σ. πόθος een sabbatsverlangen &lt;i&gt;(d.w.z. verliefdheid op een Jood) AP&lt;/i&gt; 5.160.3.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σαγηνεύς
<span class='red'>&lt;tmp&gt;</span>(σαγήνη).<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σαγηνευτήρ
<span class='red'>&lt;tmp&gt;</span>τριχῶν σ. sleepnetvisser voor haren (= &lt;i&gt;kam) &lt;s&gt;AP&lt;/i&gt;&lt;/s&gt; 6.211.5.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σαγηνεύω
<span class='red'>&lt;tmp&gt;</span>σαγηνευθεὶς ὑπ’ ἔρωτι door liefdesverlangen gevangen &lt;i&gt;AP&lt;/i&gt; 11.52.1.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σαίνω
<span class='red'>&lt;tmp&gt;</span>overdr. met acc.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σαμπῖ
<span class='red'>&lt;tmp&gt;</span>(ϡ) &lt;i&gt;voor&lt;/i&gt; 900.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σάν
<span class='red'>&lt;tmp&gt;</span>(Ϻ) <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>data/Sigma.1.2 v8.0.xml</span>
Warning: (lemma: σαρδάνιος) Process::Meta<br/>Warning: (lemma: σαρδάνιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σαρκώδης) Process::Bet<br/>Warning: (lemma: σαρκώδης)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ σαρκῶδες $ <br/>Warning: (lemma: σάρξ) Process::Bet<br/>Warning: (lemma: σάρξ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;i&gt;spec. &lt;s&gt;$ <br/>Warning: (lemma: σάρξ) Process::Bet<br/>Warning: (lemma: σάρξ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;/i&gt;&lt;/s&gt; $ <br/>Warning: (lemma: σάρξ) Process::Meta<br/>Warning: (lemma: σάρξ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σαφήνεια) Process::Bet<br/>Warning: (lemma: σαφήνεια)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^duidelijkheid.$ <br/>Warning: (lemma: σαφηνής) Process::Meta<br/>Warning: (lemma: σαφηνής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σάω) Process::Meta<br/>Warning: (lemma: σάω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σβεννύω) Error: morfI_node value was undef<br/>Warning: (lemma: σέβας) Process::Meta<br/>Warning: (lemma: σέβας)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σείω) Process::Bet<br/>Warning: (lemma: σείω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met acc.$ <br/>Warning: (lemma: σείω) Process::Bet<br/>Warning: (lemma: σείω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐσεισάμην &lt;i&gt;en (laat)&lt;/i&gt; ἐσείσθην $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σαρκώδης
<span class='red'>&lt;tmp&gt;</span>τὸ σαρκῶδες <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σάρξ
<span class='red'>&lt;tmp&gt;</span>&lt;i&gt;spec. &lt;s&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σαφήνεια
<span class='red'>&lt;tmp&gt;</span>duidelijkheid.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σείω
<span class='red'>&lt;tmp&gt;</span>met acc.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>data/Sigma.1.3 v8.0.xml</span>
Warning: Vorm pass not successful for node ^σεμνόστομος -ον [σεμνός, στόμα] σεμνόστομος μῦθος hooghartig gesproken woord Aeschl. PV 953.$ <br/>Error: Error: Vorm pass failed for primary structure lemma σεμνόστομος -ον [σεμνός, στόμα ...<span class="space"></span><span class="space"></span>(Last successful lemma was σεμνός)<br/>Warning: (lemma: σέος) Process::Meta<br/>Warning: (lemma: σέος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σεύω) Process::Bet<br/>Warning: (lemma: σεύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἔσσευα &lt;i&gt;etc.&lt;/i&gt; $ <br/>Warning: (lemma: σήκωμα) Process::Meta<br/>Warning: (lemma: σήκωμα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σήκωμα) Process::Meta<br/>Warning: (lemma: σήκωμα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σεύω
<span class='red'>&lt;tmp&gt;</span>ἔσσευα &lt;i&gt;etc.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>data/Sigma.1.4 v8.0.xml</span>
Warning: (lemma: σημαίνω) Process::Bet<br/>Warning: (lemma: σημαίνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὅτι-&lt;i&gt;zin&lt;/i&gt; $ <br/>Warning: (lemma: σημαντήριον) Process::Meta<br/>Warning: (lemma: σημαντήριον)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τήμερον) Process::Meta<br/>Warning: (lemma: τήμερον)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σηρικός) Process::Meta<br/>Warning: (lemma: σηρικός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σής) Process::Meta<br/>Warning: (lemma: σής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σησαμόεις) Process::Bet<br/>Warning: (lemma: σησαμόεις)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὁ σησαμόεις, &lt;i&gt;contr.&lt;/i&gt; σησαμοῦς $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σημαίνω
<span class='red'>&lt;tmp&gt;</span>ὅτι-&lt;i&gt;zin&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σησαμόεις
<span class='red'>&lt;tmp&gt;</span>ὁ σησαμόεις, &lt;i&gt;contr.&lt;/i&gt; σησαμοῦς <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>data/Sigma.1.5 v8.0.xml</span>
Warning: (lemma: σήψ) Process::Meta<br/>Warning: (lemma: σήψ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σιγή) Process::Bet<br/>Warning: (lemma: σιγή)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^= μετὰ σιγῆς $ <br/>Warning: (lemma: σιγηλός) Process::Meta<br/>Warning: (lemma: σιγηλός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σίγμα) Process::Meta<br/>Warning: (lemma: σίγμα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σιγύννης) Process::Meta<br/>Warning: (lemma: σιγύννης)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σίγυννον) Process::Meta<br/>Warning: (lemma: σίγυννον)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σιδηρόδετος) Process::Meta<br/>Warning: (lemma: σιδηρόδετος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σιδηρονόμος) Process::Meta<br/>Warning: (lemma: σιδηρονόμος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σιδηροῦς) Process::Meta<br/>Warning: (lemma: σιδηροῦς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: Vorm pass not successful for node ^σῑκάριος -ου, ὁ [σικάριον] = Lat. sicarius (‘moordenaar’) NT Act.Ap. 21.38.$ <br/>Error: Error: Vorm pass failed for primary structure lemma σῑκάριος -ου, ὁ [σικάριον] = L ...<span class="space"></span><span class="space"></span>(Last successful lemma was σιηγών)<br/>Warning: (lemma: σίκερα) Process::Meta<br/>Warning: (lemma: σίκερα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σίκυος) Process::Meta<br/>Warning: (lemma: σίκυος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σιμός) Process::Bet<br/>Warning: (lemma: σιμός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σιμὰ γελᾶν met opgetrokken neus lachen, spottend lachen &lt;i&gt;AP&lt;/i&gt; 5.177.4.$ <br/>Warning: (lemma: σίπυδνος) Process::Bet<br/>Warning: (lemma: σίπυδνος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σιπύη -ης, ἡ, $ <br/>Warning: (lemma: σίραιον) Process::Bet<br/>Warning: (lemma: σίραιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^).$ <br/>Warning: (lemma: σισύρα) Process::Meta<br/>Warning: (lemma: σισύρα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σιγή
<span class='red'>&lt;tmp&gt;</span>= μετὰ σιγῆς <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σιμός
<span class='red'>&lt;tmp&gt;</span>σιμὰ γελᾶν met opgetrokken neus lachen, spottend lachen &lt;i&gt;AP&lt;/i&gt; 5.177.4.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σίπυδνος
<span class='red'>&lt;tmp&gt;</span>σιπύη -ης, ἡ, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σίραιον
<span class='red'>&lt;tmp&gt;</span>).<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>data/Sigma.1.6 v8.0.xml</span>
Warning: (lemma: σῖτος) Process::Bet<br/>Warning: (lemma: σῖτος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^αὐτὰρ ἐπεὶ σίτοιό τ’ ἐπασσάμεθ’ ἠδὲ ποτῆτος maar toen wij eten en drinken hadden genuttigd; &lt;i&gt;milit.&lt;/i&gt; $ <br/>Warning: (lemma: σιφαῖος) Process::Meta<br/>Warning: (lemma: σιφαῖος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σίφων) Process::Bet<br/>Warning: (lemma: σίφων)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(σῐ-).$ <br/>Warning: (lemma: σκαιός) Process::Bet<br/>Warning: (lemma: σκαιός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σκαιῶς op een domme manier.$ <br/>Warning: (lemma: σκάλλω) Process::Bet<br/>Warning: (lemma: σκάλλω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὰς ῥῖνας $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σῖτος
<span class='red'>&lt;tmp&gt;</span>αὐτὰρ ἐπεὶ σίτοιό τ’ ἐπασσάμεθ’ ἠδὲ ποτῆτος maar toen wij eten en drinken hadden genuttigd; &lt;i&gt;milit.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σίφων
<span class='red'>&lt;tmp&gt;</span>(σῐ-).<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σκαιός
<span class='red'>&lt;tmp&gt;</span>σκαιῶς op een domme manier.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σκάλλω
<span class='red'>&lt;tmp&gt;</span>τὰς ῥῖνας <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>data/Sigma.1.7 v8.0.xml</span>
Warning: (lemma: σκάφος) Process::Meta<br/>Warning: (lemma: σκάφος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σκάφος) Process::Meta<br/>Warning: (lemma: σκάφος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σκευοποιός) Process::Meta<br/>Warning: (lemma: σκευοποιός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σκευοπώλης) Process::Bet<br/>Warning: (lemma: σκευοπώλης)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^70.$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σκευοπώλης
<span class='red'>&lt;tmp&gt;</span>70.<span class='red'>&lt;/tmp&gt;</span>

