<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.13 v8.1.xml</span>
Warning: (lemma: σπαθίον) Process::Bet<br/>Warning: (lemma: σπαθίον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σπάθη, $ <br/>Warning: (lemma: σπανίζω) Process::Bet<br/>Warning: (lemma: σπανίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^χρημάτων geld$ <br/>Warning: (lemma: σπάνιος) Process::Bet<br/>Warning: (lemma: σπάνιος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σπάνιόν ἐστι &lt;i&gt;met inf.&lt;/i&gt; het is een zeldzaamheid om; &lt;i&gt;subst.&lt;/i&gt; τὸ σπάνιον $ <br/>Warning: (lemma: σπάνις) Process::Bet<br/>Warning: (lemma: σπάνις)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^aan iets$ <br/>Warning: (lemma: σπαργάω) Process::Bet<br/>Warning: (lemma: σπαργάω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^naar iets $ <br/>Warning: (lemma: σπαρτίον) Process::Bet<br/>Warning: (lemma: σπαρτίον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σπάρτον, $ <br/>Use of uninitialized value $pass2_input in concatenation (.) or string at /home/caspar/share/sandbox/git/grne/bin/../lib/GrNe/Process/Vorm.pm line 503.<br/>Warning: (lemma: σπαρτός) Process::Meta<br/>Warning: (lemma: σπαρτός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σπάω) Process::Bet<br/>Warning: (lemma: σπάω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἀπό, ἐκ &lt;i&gt;of&lt;/i&gt; παρά + &lt;i&gt;gen.&lt;/i&gt; van iets &lt;i&gt;of&lt;/i&gt; iem.$ <br/>Warning: (lemma: σπείρω) Process::Vorm<br/>Warning: (lemma: σπείρω)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: σπείρω) imperf. iter. &lt;r&gt;σπείρεσκον &lt;s&gt;Hdt.&lt;/s&gt; 4.42.3&lt;/r&gt;; aor. &lt;r&gt;ἔσπειρα&lt;/r&gt;; aor. pass. &lt;r&gt;ἐσπάρην&lt;/r&gt;; perf. &lt;r&gt;ἔσπαρκα&lt;/r&gt;, med.- pass. &lt;r&gt;ἔσπαρμαι&lt;/r&gt;; fut. &lt;r&gt;σπερῶ&lt;/r&gt;.<br/>Warning: (lemma: σπείρω) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: σπείρω) Process::Bet<br/>Warning: (lemma: σπείρω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^θερίζειν oogsten, &lt;i&gt;zowel lett. als overdr.&lt;/i&gt; $ <br/>Warning: (lemma: σπείρω) Process::Bet<br/>Warning: (lemma: σπείρω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^9.11; $ <br/>Warning: (lemma: σπεκουλάτωρ) Process::Bet<br/>Warning: (lemma: σπεκουλάτωρ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^speculator): $ <br/>Warning: (lemma: σπένδω) Process::Bet<br/>Warning: (lemma: σπένδω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σ. λοιβάς plengoffers brengen &lt;i&gt;of&lt;/i&gt; uitgieten = σ. σπονδάς = σ. χοάς; σ. οἶνον wijn plengen; &lt;i&gt;abs.&lt;/i&gt; $ <br/>Warning: (lemma: σπένδω) Process::Bet<br/>Warning: (lemma: σπένδω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^δέπαϊ met een beker$ <br/>Warning: (lemma: σπένδω) Process::Bet<br/>Warning: (lemma: σπένδω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem$ <br/>Warning: (lemma: σπένδω) Process::Bet<br/>Warning: (lemma: σπένδω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^op bepaalde voorwaarden, σ. ἐφ’ ᾧ &lt;i&gt;met inf. of AcI&lt;/i&gt; een verdrag sluiten op voorwaarde dat; &lt;i&gt;met&lt;/i&gt; ὥστε + &lt;i&gt;AcI&lt;/i&gt; $ <br/>Error: (lemma: σπέρχω) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was σπερχνός)<br/>Error: (lemma: σπέρχω) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was σπερχνός)<br/>Error: (lemma: σπέρχω) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was σπερχνός)<br/>Error: (lemma: σπέρχω) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was σπερχνός)<br/>Error: (lemma: σπέρχω) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was σπερχνός)<br/>Error: (lemma: σπέρχω) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was σπερχνός)<br/>Error: (lemma: σπέρχω) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was σπερχνός)<br/>Error: (lemma: σπέρχω) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was σπερχνός)<br/>Error: (lemma: σπέρχω) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was σπερχνός)<br/>Error: (lemma: σπέρχω) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was σπερχνός)<br/>Error: (lemma: σπέρχω) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was σπερχνός)<br/>Error: (lemma: σπέρχω) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was σπερχνός)<br/>Error: (lemma: σπέρχω) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was σπερχνός)<br/>Error: (lemma: σπέρχω) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was σπερχνός)<br/>Error: (lemma: σπέρχω) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was σπερχνός)<br/>Error: (lemma: σπέρχω) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was σπερχνός)<br/>Warning: (lemma: σπέρχω) Process::Bet<br/>Warning: (lemma: σπέρχω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σ. ἐρετμοῖς zich haasten met de riemen ; &lt;i&gt;met inf.&lt;/i&gt; $ <br/>Warning: (lemma: σπεύδω) Process::Vorm<br/>Warning: (lemma: σπεύδω)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: σπεύδω) Dor. 3 plur. &lt;r&gt;σπεύδοντι &lt;s&gt;Theocr.&lt;/s&gt; 16.15&lt;/r&gt;, Dor. conj. 1 plur. &lt;r&gt;σπεύδωμες &lt;s&gt;Theocr.&lt;/s&gt; 15.59&lt;/r&gt;, ep. inf. &lt;r&gt;σπευδέμεν &lt;s&gt;Od.&lt;/s&gt; 24.324&lt;/r&gt;, ep. imperf. &lt;r&gt;σπεῦδον&lt;/r&gt;; aor. &lt;r&gt;ἔσπευσα&lt;/r&gt;, ep. 3 sing. &lt;r&gt;σπεῦσε &lt;s&gt;Od.&lt;/s&gt; 9.250&lt;/r&gt;, ep. conj. &lt;r&gt;σπεύσομεν &lt;s&gt;Il.&lt;/s&gt; 17.121&lt;/r&gt;; perf. med.- pass. &lt;r&gt;ἔσπευσμαι&lt;/r&gt;; fut. &lt;r&gt;σπεύσω&lt;/r&gt;.<br/>Warning: (lemma: σπεύδω) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: σπεύδω) Process::Bet<br/>Warning: (lemma: σπεύδω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σπεύδων -ουσα haastig, snel$ <br/>Warning: (lemma: σπεύδω) Process::Bet<br/>Warning: (lemma: σπεύδω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^zich inspannen (voor)$ <br/>Warning: (lemma: σπεύδω) Process::Bet<br/>Warning: (lemma: σπεύδω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σπεύδων met inspanning, met inzet$ <br/>Warning: (lemma: σπεύδω) Process::Bet<br/>Warning: (lemma: σπεύδω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σῴζειν θέλοντες ἄνδρα γ’ ὃς σπεύδει θανεῖν wanneer we een man willen redden die erop uit is te sterven &lt;s&gt;Soph. &lt;i&gt;A&lt;/s&gt;i.&lt;/i&gt; 812.$ <br/>Warning: (lemma: σπεύδω) Process::Bet<br/>Warning: (lemma: σπεύδω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σ. πρός + &lt;i&gt;acc.&lt;/i&gt; bij iemand gedaan proberen te krijgen$ <br/>Warning: (lemma: σπεύδω) Process::Bet<br/>Warning: (lemma: σπεύδω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὡς, ὅπως &lt;i&gt;of&lt;/i&gt; ἵνα + &lt;i&gt;conj.&lt;/i&gt; $ <br/>Warning: (lemma: σπιλάς) Process::Meta<br/>Warning: (lemma: σπιλάς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σπιλάς) Process::Meta<br/>Warning: (lemma: σπιλάς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σπλαγχνίζω) Process::Bet<br/>Warning: (lemma: σπλαγχνίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: σπλήν) Process::Meta<br/>Warning: (lemma: σπλήν)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σπληνίσκος) Process::Bet<br/>Warning: (lemma: σπληνίσκος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σπληνίον, $ <br/>Warning: (lemma: σπογγίζω) Process::Vorm<br/>Warning: (lemma: σπογγίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: σπογγίζω) fut. 3 sing. &lt;r&gt;σπογγιεῖ &lt;s&gt;Aristoph.&lt;/s&gt;&lt;/r&gt; Th. &lt;r&gt;247&lt;/r&gt;, <br/>Warning: (lemma: σπογγίζω) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: σπογγίον) Process::Bet<br/>Warning: (lemma: σπογγίον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σπόγγος, $ <br/>Warning: (lemma: σπογγίον) Process::Meta<br/>Warning: (lemma: σπογγίον)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σπογγιστικός) Process::Bet<br/>Warning: (lemma: σπογγιστικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἡ σπογγιστική<span class="space"></span><span class="space"></span>$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σπαθίον
<span class='red'>&lt;tmp&gt;</span>σπάθη, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σπανίζω
<span class='red'>&lt;tmp&gt;</span>χρημάτων geld<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σπάνιος
<span class='red'>&lt;tmp&gt;</span>σπάνιόν ἐστι &lt;i&gt;met inf.&lt;/i&gt; het is een zeldzaamheid om; &lt;i&gt;subst.&lt;/i&gt; τὸ σπάνιον <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σπάνις
<span class='red'>&lt;tmp&gt;</span>aan iets<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σπαργάω
<span class='red'>&lt;tmp&gt;</span>naar iets <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σπαρτίον
<span class='red'>&lt;tmp&gt;</span>σπάρτον, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σπάω
<span class='red'>&lt;tmp&gt;</span>ἀπό, ἐκ &lt;i&gt;of&lt;/i&gt; παρά + &lt;i&gt;gen.&lt;/i&gt; van iets &lt;i&gt;of&lt;/i&gt; iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σπείρω
<span class='red'>&lt;tmp&gt;</span>θερίζειν oogsten, &lt;i&gt;zowel lett. als overdr.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σπεκουλάτωρ
<span class='red'>&lt;tmp&gt;</span>speculator): <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σπένδω
<span class='red'>&lt;tmp&gt;</span>σ. λοιβάς plengoffers brengen &lt;i&gt;of&lt;/i&gt; uitgieten = σ. σπονδάς = σ. χοάς; σ. οἶνον wijn plengen; &lt;i&gt;abs.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σπέρχω
<span class='red'>&lt;tmp&gt;</span>σ. ἐρετμοῖς zich haasten met de riemen &lt;toel&gt;(d.w.z. snel roeien)&lt;/toel&gt;; met inf. <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σπεύδω
<span class='red'>&lt;tmp&gt;</span>σπεύδων -ουσα haastig, snel<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σπλαγχνίζω
<span class='red'>&lt;tmp&gt;</span>met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σπληνίσκος
<span class='red'>&lt;tmp&gt;</span>σπληνίον, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σπογγίον
<span class='red'>&lt;tmp&gt;</span>σπόγγος, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σπογγιστικός
<span class='red'>&lt;tmp&gt;</span>ἡ σπογγιστική &lt;toel&gt;(sc. &lt;link target=""&gt;τέχνη&lt;/link&gt;)&lt;/toel&gt; <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.14 v8.1.xml</span>
Warning: (lemma: σπονδή) Process::Bet<br/>Warning: (lemma: σπονδή)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^van &lt;i&gt;of&lt;/i&gt; met iem$ <br/>Warning: (lemma: σπονδή) Process::Bet<br/>Warning: (lemma: σπονδή)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem$ <br/>Warning: (lemma: σπονδή) Process::Bet<br/>Warning: (lemma: σπονδή)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^= σ. ξυγχέαι $ <br/>Warning: (lemma: σπονδή) Process::Meta<br/>Warning: (lemma: σπονδή)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σπονδοφόρος) Process::Meta<br/>Warning: (lemma: σπονδοφόρος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σπουδάζω) Process::Bet<br/>Warning: (lemma: σπουδάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^+ &lt;i&gt;acc.&lt;/i&gt;, &lt;i&gt;met&lt;/i&gt; ὑπέρ + &lt;i&gt;gen., met&lt;/i&gt; ἐπί + &lt;i&gt;dat., met&lt;/i&gt; εἰς + &lt;i&gt;acc.&lt;/i&gt;$ <br/>Warning: (lemma: σπουδαστέον) Process::Bet<br/>Warning: (lemma: σπουδαστέον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^om iem.; &lt;i&gt;met&lt;/i&gt; ἐπί + &lt;i&gt;dat.&lt;/i&gt;: om iets; &lt;i&gt;met&lt;/i&gt; ὅπως: om iets te doen.$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σπονδή
<span class='red'>&lt;tmp&gt;</span>van &lt;i&gt;of&lt;/i&gt; met iem<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σπουδάζω
<span class='red'>&lt;tmp&gt;</span>+ &lt;i&gt;acc.&lt;/i&gt;, &lt;i&gt;met&lt;/i&gt; ὑπέρ + &lt;i&gt;gen., met&lt;/i&gt; ἐπί + &lt;i&gt;dat., met&lt;/i&gt; εἰς + &lt;i&gt;acc.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σπουδαστέον
<span class='red'>&lt;tmp&gt;</span>om iem.; &lt;i&gt;met&lt;/i&gt; ἐπί + &lt;i&gt;dat.&lt;/i&gt;: om iets; &lt;i&gt;met&lt;/i&gt; ὅπως: om iets te doen.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.15 v8.1.xml</span>
Warning: (lemma: σπουδή) Process::Bet<br/>Warning: (lemma: σπουδή)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σπουδὴν ἔχειν haast hebben; &lt;i&gt;met inf.&lt;/i&gt;$ <br/>Warning: (lemma: σπουδή) Process::Bet<br/>Warning: (lemma: σπουδή)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κατὰ σπουδήν in haast, haastig, snel = ὑπὸ σπουδῆς = διὰ σπουδῆς; &lt;i&gt;adv. dat. sing.&lt;/i&gt; σπουδῇ $ <br/>Warning: (lemma: σπουδή) Process::Bet<br/>Warning: (lemma: σπουδή)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^voor iets; &lt;i&gt;na een prep.&lt;/i&gt; $ <br/>Warning: (lemma: σπουδή) Process::Bet<br/>Warning: (lemma: σπουδή)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σπουδὴν ἔχειν &lt;i&gt;of&lt;/i&gt; ποιεῖσθαι &lt;i&gt;met verschillende constructies: met gen.,&lt;/i&gt; &lt;i&gt;met&lt;/i&gt; περί +&lt;i&gt;gen.,&lt;/i&gt; &lt;i&gt;met&lt;/i&gt; ἐπί + &lt;i&gt;dat.&lt;/i&gt; aandacht besteden aan, zorg hebben voor, zich druk maken om; &lt;i&gt;met&lt;/i&gt; εἰς + &lt;i&gt;acc.&lt;/i&gt; streven naar $ <br/>Warning: (lemma: σπουδή) Process::Bet<br/>Warning: (lemma: σπουδή)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^zijn best doen voor, gebrand zijn op$ <br/>Warning: (lemma: σπουδή) Process::Bet<br/>Warning: (lemma: σπουδή)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^= σπουδῇ λέγειν $ <br/>Warning: (lemma: σπυρίδιον) Process::Bet<br/>Warning: (lemma: σπυρίδιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σπυρίς, $ <br/>Warning: Vorm pass not successful for node ^σταδιαῖος -α -ον [στάδιον] alleen in μάχη σταδιαία gevecht van man tegen man (in het gelid) Luc. 33.40.$ <br/>Error: Error: Vorm pass failed for primary structure lemma σταδιαῖος -α -ον [στάδιον] all ...<span class="space"></span><span class="space"></span>(Last successful lemma was σταδαῖος)<br/>Warning: (lemma: στάδιον) Process::Bet<br/>Warning: (lemma: στάδιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἀγωνίζεσθαι στάδιον deelnemen aan de stadionren = τὸ στάδιον ἁμιλλᾶσθαι $ <br/>Warning: (lemma: στάδιος) Process::Bet<br/>Warning: (lemma: στάδιος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σταδία ὑσμίνη staand gevecht, &lt;i&gt;d.w.z.&lt;/i&gt; gevecht van man tegen man &lt;i&gt;(in het gelid); Hom. soms&lt;/i&gt; ἐνὶ σταδίῃ<span class="space"></span><span class="space"></span>in een gevecht van man tegen man.$ <br/>Warning: (lemma: στάζω) Element::WerkV<br/>Warning: (lemma: στάζω)<span class="space"></span><span class="space"></span><span class="space"></span>1<br/>Warning: (lemma: στάζω) Process::Bet<br/>Warning: (lemma: στάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^van iets; &lt;i&gt;met acc. resp.&lt;/i&gt; $ <br/>Warning: (lemma: σταθμόομαι) Process::Bet<br/>Warning: (lemma: σταθμόομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὅτι/ὡς-&lt;i&gt;bijzin of AcI) en dat.&lt;/i&gt; $ <br/>Warning: (lemma: σταθμός) Process::Bet<br/>Warning: (lemma: σταθμός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σταθμόν in gewicht$ <br/>Warning: (lemma: σταίς) Process::Meta<br/>Warning: (lemma: σταίς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σταλαγμός) Process::Bet<br/>Warning: (lemma: σταλαγμός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^= σ. φόνου $ <br/>Warning: (lemma: σταμίν) Process::Bet<br/>Warning: (lemma: σταμίν)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σταμίνεσσι, $ <br/>Warning: (lemma: σταμίν) Process::Meta<br/>Warning: (lemma: σταμίν)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σταμνίον) Process::Bet<br/>Warning: (lemma: σταμνίον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^στάμνος, $ <br/>Warning: (lemma: στασιάζω) Process::Bet<br/>Warning: (lemma: στασιάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem$ <br/>Warning: (lemma: στασιάζω) Process::Bet<br/>Warning: (lemma: στασιάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^spec. in politieke zin$ <br/>Warning: (lemma: στασιάζω) Process::Bet<br/>Warning: (lemma: στασιάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^tegen &lt;i&gt;of&lt;/i&gt; met iem$ <br/>Warning: (lemma: στασιάζω) Process::Bet<br/>Warning: (lemma: στασιάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^verdeeld zijn door partijstrijd, $ <br/>Warning: (lemma: στάσιμος) Process::Bet<br/>Warning: (lemma: στάσιμος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ στάσιμον (μέλος) &lt;i&gt;koorlied gezongen door het koor wanneer het in de orchestra staat, in tegenstelling tot het lied dat het zingt wanneer het binnenkomt&lt;/i&gt;: $ <br/>Warning: (lemma: στάσις) Process::Bet<br/>Warning: (lemma: στάσις)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(lyr.); &lt;i&gt;uitbr.&lt;/i&gt; $ <br/>Warning: (lemma: στασιωτεία) Process::Bet<br/>Warning: (lemma: στασιωτεία)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^πολιτεία &lt;i&gt;voor een staatsvorm die beheerst wordt door één factie&lt;/i&gt;: $ <br/>Warning: (lemma: στάχυς) Process::Vorm<br/>Warning: (lemma: στάχυς)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: στάχυς) acc. &lt;r&gt;στάχυν&lt;/r&gt;, nom. plur. &lt;r&gt;στάχυες&lt;/r&gt;, dat. &lt;r&gt;σταχύεσσιν &lt;s&gt;Il.&lt;/s&gt; 23.598&lt;/r&gt;, acc. &lt;r&gt;στάχυς&lt;/r&gt; en &lt;r&gt;στάχυας&lt;/r&gt;, <br/>Warning: (lemma: στάχυς) (Make sure this definition contains either gebrW and vertM)<br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σπουδή
<span class='red'>&lt;tmp&gt;</span>σπουδὴν ἔχειν haast hebben; &lt;i&gt;met inf.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σπυρίδιον
<span class='red'>&lt;tmp&gt;</span>σπυρίς, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στάδιον
<span class='red'>&lt;tmp&gt;</span>ἀγωνίζεσθαι στάδιον deelnemen aan de stadionren = τὸ στάδιον ἁμιλλᾶσθαι <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στάδιος
<span class='red'>&lt;tmp&gt;</span>σταδία ὑσμίνη staand gevecht, d.w.z. gevecht van man tegen man (in het gelid); Hom. soms ἐνὶ σταδίῃ &lt;toel&gt;(sc. &lt;link target=""&gt;ὑσμίνῃ&lt;/link&gt;)&lt;/toel&gt; in een gevecht van man tegen man.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στάζω
<span class='red'>&lt;tmp&gt;</span>&lt;i&gt;&lt;b&gt;fut.&lt;/i&gt;&lt;/b&gt; στάξω, &lt;i&gt;Aeol. 3 plur.&lt;/i&gt; στάξοισι &lt;s&gt;Pind.&lt;/s&gt;, &lt;i&gt;Dor. 1 plur.&lt;/i&gt; σταξεῦμες &lt;s&gt;Theocr.&lt;/s&gt; 18.46.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σταθμόομαι
<span class='red'>&lt;tmp&gt;</span>ὅτι/ὡς-&lt;i&gt;bijzin of AcI) en dat.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σταθμός
<span class='red'>&lt;tmp&gt;</span>σταθμόν in gewicht<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σταλαγμός
<span class='red'>&lt;tmp&gt;</span>= σ. φόνου <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σταμίν
<span class='red'>&lt;tmp&gt;</span>σταμίνεσσι, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σταμνίον
<span class='red'>&lt;tmp&gt;</span>στάμνος, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στασιάζω
<span class='red'>&lt;tmp&gt;</span>met iem<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στάσιμος
<span class='red'>&lt;tmp&gt;</span>τὸ στάσιμον (μέλος) &lt;i&gt;koorlied gezongen door het koor wanneer het in de orchestra staat, in tegenstelling tot het lied dat het zingt wanneer het binnenkomt&lt;/i&gt;: <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στάσις
<span class='red'>&lt;tmp&gt;</span>(lyr.); &lt;i&gt;uitbr.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στασιωτεία
<span class='red'>&lt;tmp&gt;</span>πολιτεία &lt;i&gt;voor een staatsvorm die beheerst wordt door één factie&lt;/i&gt;: <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.16 v8.1.xml</span>
Warning: (lemma: στείχω) Process::Vorm<br/>Warning: (lemma: στείχω)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: στείχω) ep. conj. praes. act. 3 sing. &lt;r&gt;στείχῃσι&lt;/r&gt;; part. praes. act. ook &lt;r&gt;στίχων &lt;s&gt;Hdt.&lt;/s&gt; 3.14.9&lt;/r&gt;; aor. &lt;r&gt;ἔστιχον&lt;/r&gt;.<br/>Warning: (lemma: στείχω) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: στείχω) Process::Bet<br/>Warning: (lemma: στείχω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^naar een plaats$ <br/>Warning: (lemma: στείχω) Process::Bet<br/>Warning: (lemma: στείχω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^tegen iem.$ <br/>Warning: (lemma: στεκτικός) Process::Bet<br/>Warning: (lemma: στεκτικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^tegen iets.$ <br/>Warning: (lemma: στελεόω) Process::Bet<br/>Warning: (lemma: στελεόω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(ergens) $ <br/>Warning: (lemma: στέλλω) Process::Bet<br/>Warning: (lemma: στέλλω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἱστία de zeilen; &lt;i&gt;med. overdr.&lt;/i&gt; $ <br/>Warning: (lemma: στέλλω) Process::Bet<br/>Warning: (lemma: στέλλω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐστάλην &lt;i&gt;fut.&lt;/i&gt; σταλήσομαι$ <br/>Warning: (lemma: στέλλω) Process::Bet<br/>Warning: (lemma: στέλλω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^naar $ <br/>Warning: (lemma: στέλλω) Process::Bet<br/>Warning: (lemma: στέλλω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met κατά + &lt;i&gt;acc.&lt;/i&gt; over$ <br/>Warning: (lemma: στέλλω) Process::Bet<br/>Warning: (lemma: στέλλω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^μή-&lt;i&gt;bijzin&lt;/i&gt;$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στείχω
<span class='red'>&lt;tmp&gt;</span>naar een plaats<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στεκτικός
<span class='red'>&lt;tmp&gt;</span>tegen iets.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στελεόω
<span class='red'>&lt;tmp&gt;</span>(ergens) <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στέλλω
<span class='red'>&lt;tmp&gt;</span>ἱστία de zeilen; &lt;i&gt;med. overdr.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.17 v8.1.xml</span>
Warning: (lemma: στενάζω) Process::Bet<br/>Warning: (lemma: στενάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(ἐπί +) &lt;i&gt;dat.&lt;/i&gt; om, over$ <br/>Warning: Vorm pass not successful for node ^1. intrans. (act. en med.) zuchten, kreunen, steunen, jammeren vaak met adv. acc. ἁδινά hevig Il. 24.123; βαρέα zwaar of diep Il. 8.334; πυκνὰ μάλα zeer hevig Il.18.318; ook van dieren ἵπποι ... στενάχοντο θέουσαι de paarden steunden bij het rennen Il. 16.393; ook overdr. van zaken rommelen, donderen, bulderen ποταμοί rivieren Il. 16.389; στοά σ. de stoa weerklinkt Aristoph. Ach. 548.$ <br/>Error: Error: Vorm pass failed for primary structure lemma 1. intrans. (act. en med.) zuc ...<span class="space"></span><span class="space"></span>(Last successful lemma was στενάχω)<br/>Warning: Vorm pass not successful for node ^2. met acc. bejammeren, weeklagen om, beklagen πῆμα leed Aeschl. PV. 99; ook med. τοὺς ... στενάχοντο γοῶντες zij beklaagden hen wenend Od. 9.467.$ <br/>Error: Error: Vorm pass failed for primary structure lemma 2. met acc. bejammeren, weekla ...<span class="space"></span><span class="space"></span>(Last successful lemma was στενάχω)<br/>Warning: (lemma: στενόπορος) Process::Bet<br/>Warning: (lemma: στενόπορος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(τὸ) στενόπορον, (τὰ) στενόπορα $ <br/>Warning: (lemma: στενόπορος) Process::Meta<br/>Warning: (lemma: στενόπορος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: στενός) Process::Bet<br/>Warning: (lemma: στενός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(τὸ) στενόν, (τὰ) στενά $ <br/>Warning: (lemma: στενοχωρέω) Process::Bet<br/>Warning: (lemma: στενοχωρέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^a. &lt;i&gt;met acc.&lt;/i&gt; $ <br/>Warning: (lemma: στενοχωρέω) Process::Bet<br/>Warning: (lemma: στενοχωρέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^4.8; &lt;i&gt;ook overdr.&lt;/i&gt; $ <br/>Warning: (lemma: στενοχωρέω) Process::Bet<br/>Warning: (lemma: στενοχωρέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^6.11.$ <br/>Warning: (lemma: στενοχωρία) Process::Bet<br/>Warning: (lemma: στενοχωρία)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^6.4.$ <br/>Warning: (lemma: στένω) Process::Bet<br/>Warning: (lemma: στένω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὑπέρ &lt;i&gt;of&lt;/i&gt; κατά + &lt;i&gt;gen., met&lt;/i&gt; ἀμφί &lt;i&gt;of&lt;/i&gt; ἐπί + &lt;i&gt;dat., met&lt;/i&gt; περί + &lt;i&gt;acc.&lt;/i&gt; $ <br/>
* # total failures: 2<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στενάζω
<span class='red'>&lt;tmp&gt;</span>(ἐπί +) &lt;i&gt;dat.&lt;/i&gt; om, over<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στενόπορος
<span class='red'>&lt;tmp&gt;</span>(τὸ) στενόπορον, (τὰ) στενόπορα <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στενός
<span class='red'>&lt;tmp&gt;</span>(τὸ) στενόν, (τὰ) στενά <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στενοχωρέω
<span class='red'>&lt;tmp&gt;</span>a. &lt;i&gt;met acc.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στενοχωρία
<span class='red'>&lt;tmp&gt;</span>6.4.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στένω
<span class='red'>&lt;tmp&gt;</span>ὑπέρ &lt;i&gt;of&lt;/i&gt; κατά + &lt;i&gt;gen., met&lt;/i&gt; ἀμφί &lt;i&gt;of&lt;/i&gt; ἐπί + &lt;i&gt;dat., met&lt;/i&gt; περί + &lt;i&gt;acc.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

