<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.49 v8.1.xml</span>
Warning: (lemma: σφραγίς) Process::Bet<br/>Warning: (lemma: σφραγίς)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^9.2.$ <br/>Warning: (lemma: σφυράς) Process::Meta<br/>Warning: (lemma: σφυράς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σχαδών) Process::Meta<br/>Warning: (lemma: σχαδών)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σχάσμα) Process::Meta<br/>Warning: (lemma: σχάσμα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σχεδίασμα) Process::Meta<br/>Warning: (lemma: σχεδίασμα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σχέδιος) Process::Meta<br/>Warning: (lemma: σχέδιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σχέδυνος) Process::Meta<br/>Warning: (lemma: σχέδυνος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σχέθω) Process::Meta<br/>Warning: (lemma: σχέθω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σχερός) Process::Meta<br/>Warning: (lemma: σχερός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σχίζω) Process::Bet<br/>Warning: (lemma: σχίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^N$ <br/>Warning: (lemma: σχολαῖος) Process::Bet<br/>Warning: (lemma: σχολαῖος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σχολαίως, &lt;i&gt;comp.&lt;/i&gt; σχολαίτερον/σχολαιότερον &lt;i&gt;en superl.&lt;/i&gt; σχολαίτατα/σχολαιότατα.$ <br/>Warning: (lemma: σχολή) Process::Bet<br/>Warning: (lemma: σχολή)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^= κατὰ σχολήν $ <br/>Warning: (lemma: σχολή) Process::Bet<br/>Warning: (lemma: σχολή)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^= μετὰ σχολῆς $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σφραγίς
<span class='red'>&lt;tmp&gt;</span>9.2.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σχίζω
<span class='red'>&lt;tmp&gt;</span>N<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σχολαῖος
<span class='red'>&lt;tmp&gt;</span>σχολαίως, &lt;i&gt;comp.&lt;/i&gt; σχολαίτερον/σχολαιότερον &lt;i&gt;en superl.&lt;/i&gt; σχολαίτατα/σχολαιότατα.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σχολή
<span class='red'>&lt;tmp&gt;</span>= κατὰ σχολήν <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.50 v8.1.xml</span>
Warning: (lemma: σῶμα) Process::Bet<br/>Warning: (lemma: σῶμα)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^μέρος ἠτιμῶσθαι τοῦ σώματος dat hij<span class="space"></span><span class="space"></span>een deel van zijn burgerstatus kwijt is Dem. 51.12.$ <br/>Warning: (lemma: σῶμα) Process::Meta<br/>Warning: (lemma: σῶμα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σῶμα
<span class='red'>&lt;tmp&gt;</span>μέρος ἠτιμῶσθαι τοῦ σώματος dat hij &lt;toel&gt;(nl. iem. die drie maal iets onwettigs heeft voorgesteld)&lt;/toel&gt; een deel van zijn burgerstatus kwijt is Dem. 51.12.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.51 v8.1.xml</span>
Warning: Vorm pass not successful for node ^σωσίπολις –ι(δ)ος [σῶς, πόλις] de stad behoudend, de stad reddend.$ <br/>Error: Error: Vorm pass failed for primary structure lemma σωσίπολις –ι(δ)ος [σῶς, πόλις] ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^σωστέον [σῴζω] adj. verb. van σῴζω er moet gered worden, er moet behouden worden: (ὅπλα) οὐ λειπτέον τάδ’, ἀθλίως δὲ σωστέον deze (wapens) moeten niet achtergelaten worden, maar koste wat kost bewaard Eur. Herc. 1385.$ <br/>Error: Error: Vorm pass failed for primary structure lemma σωστέον [σῴζω] adj. verb. van<span class="space"></span><span class="space"></span>...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^σῶστρα –ων, τά [σῴζω]$ <br/>Error: Error: Vorm pass failed for primary structure lemma σῶστρα –ων, τά [σῴζω]<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^dankoffer voor (het behoud of de redding van) iem., met gen. σῶστρα γὰρ τοῦ παιδὸς μέλλω θύειν ik ben van plan een dankoffer voor het kind te brengen Hdt. 1.118.2.$ <br/>Error: Error: Vorm pass failed for primary structure lemma dankoffer voor (het behoud of<span class="space"></span><span class="space"></span>...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^beloning voor (het behoud van) iem., met gen. σῶστρα τούτου ἀνακηρύττων terwijl ik een beloning voor hem (een weggelopen slaaf) uitloof Xen. Mem. 2.10.2.$ <br/>Error: Error: Vorm pass failed for primary structure lemma beloning voor (het behoud van) ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^σώτειρα –ας, ἡ [σῴζω] redster, behoedster, beschermster.$ <br/>Error: Error: Vorm pass failed for primary structure lemma σώτειρα –ας, ἡ [σῴζω] redster, ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^σωτήρ, -ῆρος, ὁ [σῴζω] redder, behoeder, beschermer, met gen. ἑστίας πατρός van de vaderlijke haard Aeschl. Ch. 264; τῆς Ἑλλάδος van Griekenland Hdt. 7.139.5; ook met dat. δόμοις van het huis Aristoph. Nub. 1161; als epitheton van goden, vooral Zeus τὸ... τρίτον... τῷ σωτῆρι de derde (dronk) is voor (Zeus) de redder (d.w.z. driemaal is scheepsrecht) Plat. Resp. 583b; later van Christus διὰ Ἰησοῦ Χριστοῦ τοῦ σωτῆρος ἡμῶν door Jezus Christus onze verlosser NT Tit. 3.6.2.$ <br/>Error: Error: Vorm pass failed for primary structure lemma σωτήρ, -ῆρος, ὁ [σῴζω] redder, ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^σωτηρία –ας, ἡ [σωτήρ]$ <br/>Error: Error: Vorm pass failed for primary structure lemma σωτηρία –ας, ἡ [σωτήρ]<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^(lijfs)behoud, redding: ὡς σωτηρίαν Ἕλλησι δώσουσ’ ἔρχομαι ik kom om de Grieken redding te brengen Eur. IA 1472; ook van zaken ἐάν... θεὸς αὐτοῖς διδῷ σωτηρίαν τῶν νόμων als de god hun behoud van hun wetten schenkt Plat. Resp. 425e.$ <br/>Error: Error: Vorm pass failed for primary structure lemma (lijfs)behoud, redding: ὡς σωτ ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^reddingswijze, reddingsmiddel, manier om te ontkomen, veilige terugkeer: ἔστι τις σωτηρία; is er nog hoop op redding? Aeschl. Pers. 735, οὐδὲ ἄλλη σ. ἐφαίνετο er leek geen andere uitweg te zijn Thuc. 3.20.1, περὶ τῆς ἐς τὴν πατρίδα σωτηρίας gericht op de ontsnapping naar hun vaderland Thuc. 7.70.7.$ <br/>Error: Error: Vorm pass failed for primary structure lemma reddingswijze, reddingsmiddel, ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^christ. verlossing.$ <br/>Error: Error: Vorm pass failed for primary structure lemma christ. verlossing.<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^σωτήριος –ον [σωτήρ]$ <br/>Error: Error: Vorm pass failed for primary structure lemma σωτήριος –ον [σωτήρ]<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^van mensen (het leven) reddend, beschermend, veilig houdend; σ. γίγνομαι / εἰμί + gen./dat. is perifrast. voor σῴζω + acc. redden; met gen. τάχ’ ἂν γενοίμεθ’ αὐτοῦ... σωτήριοι dan zullen we hem misschien het leven kunnen redden Soph. Ai. 779; met dat. πόλει σωτήριος μέτοικος een immigrant die jullie stad beschermt Eur. Hrcld. 1032.$ <br/>Error: Error: Vorm pass failed for primary structure lemma van mensen (het leven) reddend ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^van zaken heilzaam, redding brengend, voor het (lijfs)behoud zorgend, van vitaal belang: αὐγαὶ ἡλίου σ. heilzame zonnestralen Aeschl. Suppl. 213; φροντὶς σ. vitale aandacht Aeschl. Suppl. 417; ὥστε σωτήριον, οὐκέτι χαλεπὸν ἐφαίνετο zodat (zijn gedrag) nodig leek voor hun lijfsbehoud, en niet langer hardvochtig Xen. An. 2.6.11; ταῦτα... σωτήρια τῆς ἀρχῆς die dingen stellen de heerschappij veilig Aristot. Pol. 1314a13; ook comp. τὸ πείθεσθαί σοι... σωτηριώτερον αὐτοῖς ἔσται jou te gehoorzamen zal meer voor hun lijfsbehoud zorgen Xen. Mem. 3.3.10; geneesk. te genezen, wat genezen kan worden: ἢν μὲν ἄνευ πυρετοῦ, σωτήριον als het niet met koorts gepaard gaat, is het te genezen Hp. Aph. 7.37.$ <br/>Error: Error: Vorm pass failed for primary structure lemma van zaken heilzaam, redding br ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^subst. τὸ σ. redding, heil: ὄψεται πᾶσα σὰρξ τὸ σωτήριον τοῦ θεοῦ elk levend wezen zal de redding van God zien NT Luc. 3.6; mv. (τὰ) σωτήρια dingen die redding brengen: ἡ ἐλπὶς τῶν σωτηρίων ὡς ἐγγὺς ὄντων de hoop dat onze redding nabij is Aristot. Rh. 1383a17; spec. dankoffer voor het behoud: εὔξασθαι τῷ θεῷ τούτῳ θύσειν σωτήρια aan die god te beloven om een dankoffer te zullen brengen Xen. An. 3.2.9.$ <br/>Error: Error: Vorm pass failed for primary structure lemma subst. τὸ σ. redding, heil: ὄψ ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^σωφρονέω [σώφρων]$ <br/>Error: Error: Vorm pass failed for primary structure lemma σωφρονέω [σώφρων]<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^bij zijn verstand zijn: ὁ μὲν μαίνεται, ὁ δὲ σωφρονεῖ de een is buiten zichzelf, de ander bij zinnen Plat. Phaedr. 244a; aor. ingress. ἐκπεπληγμένος ... ἐσωφρόνησε met een schok kwam hij tot inzicht Hdt. 3.64.5; nuchter zijn, verstandig zijn, redelijk zijn: εἰ σωφρονοῦμεν als we ons verstand gebruiken Thuc. 4.60.1; ook met ptc. παρὰ τούτους πέμποντες αὐτὸν σωφρονοῖμεν ἄν we zouden er verstandig aan doen om hem naar hen toe te sturen Plat. Men. 90d; τοῦτό γε οὐ μεθύειν, ἀλλὰ νήφειν τε καὶ σωφρονεῖν ἐστιν dat is niet dronken zijn, maar nuchter en verstandig Luc. 8.6.$ <br/>Error: Error: Vorm pass failed for primary structure lemma bij zijn verstand zijn: ὁ μὲν<span class="space"></span><span class="space"></span>...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^zelfbeheersing tonen, zich inhouden, zich (fatsoenlijk) gedragen: σύ γ’ οὔπω σωφρονεῖν ἐπίστασαι jij kunt je nog steeds niet beheersen Aeschl. PV 982; οὐ σωφρονήσεις; houd je toch eens in! Soph. Ai. 1259; ὅταν... ὁρῶσιν, ᾧ... ἔξεστιν ὑβρίζειν, τοῦτον σωφρονοῦντα telkens wanneer ze zien dat iemand die gelegenheid heeft om zich te buiten te gaan, zich in acht neemt Xen. Cyr. 8.1.30; ἐπείσθησαν Ἀθηναῖοι Σωκράτην περὶ θεοὺς μὴ σωφρονεῖν de Atheners raakten ervan overtuigd dat Socrates te ver ging wat de goden aangaat Xen. Mem. 1.1.20;van vrouwen fatsoenlijk, kuis zijn: τὸ σωφρονεῖν τιμῶσα τοῦ βίου πλέον je kuisheid hoger achtend dan je leven Aeschl. Suppl. 1013; ἐσωφρόνησε δ’ οὐκ ἔχουσα σωφρονεῖν ze nam een verstandig besluit, en dat terwijl ze niet in staat was zich te beheersen Eur. Hipp. 1034.$ <br/>Error: Error: Vorm pass failed for primary structure lemma zelfbeheersing tonen, zich inh ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^van steden en volkeren een gematigd regime hebben, een gematigde politiek voeren (soms als slogan van oligarchische politiek gebruikt, i.t.t. radicale democratie) Χῖοι... ηὐδαιμόνησάν τε ἅμα καὶ ἐσωφρόνησαν de bewoners van Chios leefden voorspoedig en voerden tegelijk ook een terughoudende politiek Thuc. 8.24.4.$ <br/>Error: Error: Vorm pass failed for primary structure lemma van steden en volkeren een gem ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^σωφρονητέον [σωφρονέω] adj. verb. van σωφρονέω er moet terughoudendheid worden betracht.$ <br/>Error: Error: Vorm pass failed for primary structure lemma σωφρονητέον [σωφρονέω] adj. ve ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^σωφρονίζω [σώφρων]$ <br/>Error: Error: Vorm pass failed for primary structure lemma σωφρονίζω [σώφρων]<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^van personen tot bezinning brengen, fatsoen bijbrengen, bescheidenheid leren, met acc. ὡς..., ἢν... τις ὑβρίζῃ, σωφρονίζῃ opdat hij, als iemand te ver gaat, die persoon weer in het gareel brengt Xen. Cyr. 8.6.16; met inf. ἵνα σωφρονίζωσιν τὰς νέας φιλάνδρους εἶναι opdat ze de jonge vrouwen het fatsoen bijbrengen dat ze hun man trouw moeten zijn NT Tit. 2.4; pass. tot de orde geroepen worden, tot bezinning komen: κακωθῆναι... ἵνα σωφρονισθῶμεν βούλεται hij wil dat we ellende ondervinden zodat we nederigheid leren Thuc. 6.78.2; ἐσωφρονίσθη ἰδὼν ὅσα ... hij kwam bij zinnen toen hij had gezien hoeveel ... Luc. 45.79.$ <br/>Error: Error: Vorm pass failed for primary structure lemma van personen tot bezinning bre ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^van zaken beheersen, in de hand houden, matigen, beteugelen: τῶν... κατὰ τὴν πόλιν τι ἐς εὐτέλειαν σωφρονίσαι de kosten in de stad enigszins terugdringen om te besparen Thuc. 8.1.3; τὴν μὲν λαγνείαν αὐτῶν τῷ λιμῷ σωφρονίζουσι ze (tirannen) beteugelen hun wellust (nl. van de burgers) door honger Xen. Mem. 2.1.16; ἀμπνοὰς... οὐ σωφρονίζει hij heeft zijn ademhaling niet in de hand Eur. HF 869.$ <br/>Error: Error: Vorm pass failed for primary structure lemma van zaken beheersen, in de han ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^σωφρονικός -ή -όν [σώφρων] geneigd tot matiging, beheerst, ingetogen: σ. ἄνθρωποι ingetogen mensen Xen. Mem. 1.3.9; σ. τὴν ἀναβολὴν bescheiden van kleding Luc. 25. 54; subst. τὸ σωφρονικόν de gematigdheid Xen. Mem. 3.10.5.$ <br/>Error: Error: Vorm pass failed for primary structure lemma σωφρονικός -ή -όν [σώφρων] gen ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^σωφρόνισμα –ατος, τό [σωφρονίζω] vermaning, waarschuwing, (wijze) les.$ <br/>Error: Error: Vorm pass failed for primary structure lemma σωφρόνισμα –ατος, τό [σωφρονίζ ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^σωφρονισμός –οῦ, ὁ [σωφρονίζω] (het geven van een) vermaning; (het toepassen van) gezond verstand.$ <br/>Error: Error: Vorm pass failed for primary structure lemma σωφρονισμός –οῦ, ὁ [σωφρονίζω] ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^σωφρονιστήρ -ῆρος, ὁ [σωφρονίζω]$ <br/>Error: Error: Vorm pass failed for primary structure lemma σωφρονιστήρ -ῆρος, ὁ [σωφρονίζ ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^vermaner, terechtwijzer.$ <br/>Error: Error: Vorm pass failed for primary structure lemma vermaner, terechtwijzer.<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^(geneesk.) verstandskies$ <br/>Error: Error: Vorm pass failed for primary structure lemma (geneesk.) verstandskies<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^σωφρονιστήριον –ου, τό [σωφρονιστήρ] tuchthuis, opvoedingsgesticht.$ <br/>Error: Error: Vorm pass failed for primary structure lemma σωφρονιστήριον –ου, τό [σωφρον ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^σωφρονιστής –οῦ, ὁ [σωφρονίζω]$ <br/>Error: Error: Vorm pass failed for primary structure lemma σωφρονιστής –οῦ, ὁ [σωφρονίζω]<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^terechtwijzer, vermaner, zedenmeester.$ <br/>Error: Error: Vorm pass failed for primary structure lemma terechtwijzer, vermaner, zeden ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^mv. οἱ σωφρονισταί college van 10 zedenmeesters in Athene, die de epheben onder hun hoede hadden.$ <br/>Error: Error: Vorm pass failed for primary structure lemma mv. οἱ σωφρονισταί college van ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^σωφρονιστύς -ύος, ἡ [σωφρονίζω] (het geven van een) vermaning; (het toepassen van) gezond verstand.$ <br/>Error: Error: Vorm pass failed for primary structure lemma σωφρονιστύς -ύος, ἡ [σωφρονίζω ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^σωφροσύνη –ης, Ep. en poët. σαοφροσύνη, ἡ [σώφρων]$ <br/>Error: Error: Vorm pass failed for primary structure lemma σωφροσύνη –ης, Ep. en poët. σα ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^gezond verstand, redelijkheid: σαοφροσύνῃσι νοήματα πατρὸς ἔκευθεν hij was zo verstandig om de plannen van zijn vader verborgen te houden Od. 23.30; σκοπῶν τί σωφροσύνη, τί μανία onderzoeken wat gezond verstand is, en wat waanzin Xen. Mem. 1.1.16; ἀληθείας καὶ σωφροσύνης ῥήματα ware en zinnige woorden NT Act. Apt. 26.25.$ <br/>Error: Error: Vorm pass failed for primary structure lemma gezond verstand, redelijkheid: ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^gematigdheid, zelfbeheersing: τράπεζαν πολυτελέα μὲν τύχη παρατίθησιν, αὐταρκέα δὲ σωφροσύνη geluk verschaft een rijkgevulde tafel, matigheid een tafel waaraan je genoeg hebt Democr. B210; εἶναι... ὁμολογεῖται σωφροσύνη τὸ κρατεῖν ἡδονῶν καὶ ἐπιθυμιῶν men is het erover eens dat zelfbeheersing het in de hand houden van je genotsbelevingen en je begeertes is Plat. Smp. 196c.$ <br/>Error: Error: Vorm pass failed for primary structure lemma gematigdheid, zelfbeheersing:<span class="space"></span><span class="space"></span>...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^in politieke zin een gematigd regime, een gematigde politiek(soms als slogan van oligarchische politiek gebruikt, i.t.t. radicale democratie) σωφροσύνην... λαβοῦσαι αἱ πόλεις doordat de steden een gematigd regime hadden gekregen Thuc. 8.64.5.$ <br/>Error: Error: Vorm pass failed for primary structure lemma in politieke zin een gematigd<span class="space"></span><span class="space"></span>...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^σώφρων, -ον, gen. -ονος Ep. en poët. σαόφρων [σῶς, φρήν] comp. σωφρονέστερος, sup. σωφρονέστατος$ <br/>Error: Error: Vorm pass failed for primary structure lemma σώφρων, -ον, gen. -ονος Ep. en ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^verstandig, bij zinnen, nuchter, redelijk: ἁρπασθεισέων ... τιμωρέειν ἀνοήτων, ... μηδεμίαν ὤρην ἔχειν ... σωφρόνων (zij menen) dat wraak nemen voor ontvoerde vrouwen iets voor dwazen (is), (maar) er geen aandacht aan besteden iets voor redelijke mensen Hdt. 1.4.2; ἐπιχείρησιν ... μὴ ... συντάχυνε ἀβούλως, ἀλλ’ ἐπὶ τὸ σωφρονέστερον αὐτὴν λάμβανε maak met die onderneming geen haast zonder beleid, maar begin er aan op een verstandiger manier Hdt. 3.71.13.$ <br/>Error: Error: Vorm pass failed for primary structure lemma verstandig, bij zinnen, nuchte ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^beheerst, fatsoenlijk, gematigd, ingetogen, bescheiden: σώφρων... καὶ ἐγκρατὴς αὐτὸς ἑαυτοῦ gematigd en zichzelf in de hand hebbend Plat. Grg. 491d; σωφρόνως τε καὶ μετρίως πράττων beheerst en fatsoenlijk handelend Plat. Resp. 399b; seks., m.n. van vrouwen en jongens fatsoenlijk, kuis: μοι δὸς σωφρονεστέραν... μητρὸς γενέσθαι gun me dat ik mezelf meer in de hand heb dan mijn moeder Aeschl. Ch. 140; ook van mannen δείξω πρῶτα μὲν σοφὸς γεγώς, ἔπειτα σώφρων ik (Jason) zal aantonen dat ik om te beginnen wijs ben, en verder beheerst (nl. niet ten prooi aan Eros) Eur. Med. 549.$ <br/>Error: Error: Vorm pass failed for primary structure lemma beheerst, fatsoenlijk, gematig ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^politiek gematigd (soms als slogan van oligarchische politiek gebruikt, i.t.t. radicale democratie) ἀριστοκρατία σ. gematigde aristocratie Thuc. 3.82.8, εἰ μὴ πολιτεύσομέν τε σωφρονέστερον καὶ ἐς ὀλίγους μᾶλλον τὰς ἀρχὰς ποιήσομεν als we geen gematigdere politiek gaan bedrijven en de ambten meer gaan toevertrouwen aan beperkt aantal mensen Thuc. 8.53.3.$ <br/>Error: Error: Vorm pass failed for primary structure lemma politiek gematigd (soms als sl ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^subst. τὸ σῶφρον = σωφροσύνη: φασὶ δὲ ξυμμαχίαν διὰ τὸ σῶφρον οὐδενός πω δέξασθαι ze zeggen dat ze vanwege hun behoedzaamheid nog nooit een bondgenootschap met iemand hebben geaccepteerd Thuc. 1.37.2.$ <br/>Error: Error: Vorm pass failed for primary structure lemma subst. τὸ σῶφρον = σωφροσύνη:<span class="space"></span><span class="space"></span>...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^σώω (σαόω) ep. voor Att. σῴζω [σῶς] redden, bewaren, veilig houden.$ <br/>Error: Error: Vorm pass failed for primary structure lemma σώω (σαόω) ep. voor Att. σῴζω<span class="space"></span><span class="space"></span>...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>
* # total failures: 44<br/>
