<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.23 v8.0.xml</span>
Warning: (lemma: στρεπτικός) Process::Bet<br/>Warning: (lemma: στρεπτικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ στρεπτικόν<span class="space"></span><span class="space"></span>$ <br/>Warning: (lemma: στρεπτός) Process::Bet<br/>Warning: (lemma: στρεπτός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὁ στρεπτός &lt;i&gt;of&lt;/i&gt; τὸ στρεπτόν: $ <br/>Warning: (lemma: στρέφω) Process::Bet<br/>Warning: (lemma: στρέφω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^($ <br/>Warning: (lemma: στρέφω) Process::Bet<br/>Warning: (lemma: στρέφω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^) $ <br/>Warning: (lemma: στρέφω) Process::Bet<br/>Warning: (lemma: στρέφω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐστράφην &lt;i&gt;en&lt;/i&gt; ἐστρέφθην$ <br/>Warning: (lemma: στριβιλικίγξ) Process::Bet<br/>Warning: (lemma: στριβιλικίγξ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^οὐδ’ ἄν στρ.: $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στρεπτικός
<span class='red'>&lt;tmp&gt;</span>τὸ στρεπτικόν &lt;toel&gt;(sc. &lt;link target=""&gt;μόριον&lt;/link&gt;)&lt;/toel&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στρεπτός
<span class='red'>&lt;tmp&gt;</span>ὁ στρεπτός &lt;i&gt;of&lt;/i&gt; τὸ στρεπτόν: <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στρέφω
<span class='red'>&lt;tmp&gt;</span>(<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στριβιλικίγξ
<span class='red'>&lt;tmp&gt;</span>οὐδ’ ἄν στρ.: <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.24 v8.1.xml</span>
Warning: (lemma: στρογγύλος) Process::Bet<br/>Warning: (lemma: στρογγύλος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^στρογγύλαι νῆες ronde schepen, &lt;i&gt;d.w.z.&lt;/i&gt; koopvaardijschepen .$ <br/>Warning: (lemma: στρουθός) Process::Bet<br/>Warning: (lemma: στρουθός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^= σ. μεγάλη $ <br/>Warning: (lemma: στρουθός) Process::Bet<br/>Warning: (lemma: στρουθός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^= σ. κατάγαιος $ <br/>Warning: (lemma: στροφάλιγξ) Process::Bet<br/>Warning: (lemma: στροφάλιγξ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σ. κονίης dwarreling van stof, stofwolk.$ <br/>Warning: (lemma: στροφή) Process::Bet<br/>Warning: (lemma: στροφή)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^‘zich in alle mogelijke bochten wringen’ $ <br/>Warning: (lemma: στρόφιον) Process::Bet<br/>Warning: (lemma: στρόφιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^στρόφος, $ <br/>Warning: (lemma: στρωφάω) Process::Bet<br/>Warning: (lemma: στρωφάω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^med.-pass. intrans.$ <br/>Warning: (lemma: στυγερός) Process::Meta<br/>Warning: (lemma: στυγερός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: στυγερώπης) Process::Meta<br/>Warning: (lemma: στυγερώπης)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: στυγέω) Process::Vorm<br/>Warning: (lemma: στυγέω)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: στυγέω) poët. conj. 3 sing. &lt;r&gt;στυγέῃ&lt;/r&gt; en &lt;r&gt;στυγέῃσι&lt;/r&gt;; aor. ep. opt. &lt;r&gt;στύξαιμι &lt;s&gt;Od.&lt;/s&gt; 11.502&lt;/r&gt;; them. aor. poët. &lt;r&gt;ἔστυγον&lt;/r&gt;, fut. med. met pass. bet. &lt;r&gt;στυγήσομαι&lt;/r&gt;<br/>Warning: (lemma: στυγέω) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: στυλίσκος) Process::Bet<br/>Warning: (lemma: στυλίσκος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^στῦλος, $ <br/>Warning: (lemma: στυράκιον) Process::Bet<br/>Warning: (lemma: στυράκιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^στύραξ, $ <br/>Warning: (lemma: στύραξ) Process::Meta<br/>Warning: (lemma: στύραξ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: στύραξ) Process::Meta<br/>Warning: (lemma: στύραξ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: στυφελίζω) Process::Bet<br/>Warning: (lemma: στυφελίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐκ &lt;i&gt;of&lt;/i&gt; ἐκτός + &lt;i&gt;gen.&lt;/i&gt; $ <br/>Use of uninitialized value $pass2_input in concatenation (.) or string at /home/caspar/share/sandbox/git/grne/bin/../lib/GrNe/Process/Vorm.pm line 503.<br/>Warning: (lemma: στυφελός) Process::Meta<br/>Warning: (lemma: στυφελός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Use of uninitialized value $ret in substitution (s///) at /home/caspar/share/sandbox/git/grne/bin/../lib/GrNe/Util.pm line 767.<br/>Warning: Vorm pass not successful for node ^στύ<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>sluiteri<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>2014-07-28T17:03:00<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>acutus met macron<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ω [~ στῦλος] perf. Laconisch 3 plur. ἐστύκαντι Aristoph. Lys. 996$ <br/>Error: Error: Vorm pass failed for primary structure lemma στύ<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>sluiteri<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>201 ...<span class="space"></span><span class="space"></span>(Last successful lemma was στῦψις)<br/>Error: Error: Filebase based on lemma contains tags, something went wrong. (Last successful lemma was στῦψις)<br/>Error: Error: Vorm pass failed for primary structure lemma een erectie krijgen, (hem) omh ...<span class="space"></span><span class="space"></span>(Last successful lemma was στῦψις)<br/>Warning: (lemma: στωικός) Process::Bet<br/>Warning: (lemma: στωικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^οἱ Στωικοί $ <br/>Warning: (lemma: σύ) Process::Vorm<br/>Warning: (lemma: σύ)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: σύ) pron. van de tweede persoon, ep. nom. &lt;r&gt;τύνη&lt;/r&gt;, Dor. &lt;r&gt;τύ&lt;/r&gt;, gen. &lt;r&gt;σοῦ&lt;/r&gt; en encl. &lt;r&gt;σου&lt;/r&gt;, ep. en Ion. &lt;r&gt;σεῦ&lt;/r&gt; en encl. &lt;r&gt;σευ, σέο&lt;/r&gt; en encl. &lt;r&gt;σεο, σεῖο, σέθεν&lt;/r&gt;, ep. ook &lt;r&gt;τεοῖο&lt;/r&gt;, Dor. &lt;r&gt;τεῦ&lt;/r&gt; en encl. &lt;r&gt;τευ, τεῦς &lt;s&gt;Theocr.&lt;/s&gt; 2.126&lt;/r&gt;, dat. &lt;r&gt;σοί&lt;/r&gt; en encl. &lt;r&gt;σοι&lt;/r&gt;, ep. en lyr. &lt;r&gt;τεΐν, τίν&lt;/r&gt;, Ion. encl. &lt;r&gt;τοι&lt;/r&gt;, acc. &lt;r&gt;σέ&lt;/r&gt; en encl. &lt;r&gt;σε&lt;/r&gt;, Dor. &lt;r&gt;τέ&lt;/r&gt; en encl. &lt;r&gt;τε&lt;/r&gt;, encl. &lt;r&gt;τυ&lt;/r&gt;, Boeot. en Dor. &lt;r&gt;τίν&lt;/r&gt;, <br/>Warning: (lemma: σύ) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: σύ) Process::Bet<br/>Warning: (lemma: σύ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὑμεῖς, &lt;i&gt;Aeol. en ep.&lt;/i&gt; ὔμμες, &lt;i&gt;Dor.&lt;/i&gt; ὑμές, &lt;i&gt;gen.&lt;/i&gt; ὑμῶν, &lt;i&gt;ep.&lt;/i&gt; ὑμέων, ὑμείων, &lt;i&gt;Aeol.&lt;/i&gt; ὐμμέων, &lt;i&gt;dat.&lt;/i&gt; ὑμῖν, &lt;i&gt;Aeol. en ep.&lt;/i&gt; ὔμμι &lt;i&gt;en&lt;/i&gt; ὔμμιν, &lt;i&gt;Dor.&lt;/i&gt; ὑμίν, &lt;i&gt;acc.&lt;/i&gt; ὑμᾶς, &lt;i&gt;Ion.&lt;/i&gt; ὑμέας, &lt;i&gt;Aeol. en ep.&lt;/i&gt; ὔμμε, &lt;i&gt;Dor.&lt;/i&gt; ὑμέ, $ <br/>Warning: (lemma: σύ) Process::Bet<br/>Warning: (lemma: σύ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σφώ &lt;i&gt;en&lt;/i&gt; σφῶι, &lt;i&gt;gen. en dat.&lt;/i&gt; σφῶιν &lt;i&gt;en contr.&lt;/i&gt; σφῷν, $ <br/>Warning: (lemma: συβώτης) Process::Vorm<br/>Warning: (lemma: συβώτης)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: συβώτης) ep. gen. &lt;r&gt;-εω &lt;s&gt;Od.&lt;/s&gt; 14.459&lt;/r&gt;, <br/>Warning: (lemma: συβώτης) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: σύγγαμος) Process::Bet<br/>Warning: (lemma: σύγγαμος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem. $ <br/>Warning: (lemma: σύγγαμος) Process::Bet<br/>Warning: (lemma: σύγγαμος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem$ <br/>Warning: (lemma: σύγγαμος) Process::Meta<br/>Warning: (lemma: σύγγαμος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συγγένεια) Process::Bet<br/>Warning: (lemma: συγγένεια)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem$ <br/>Warning: (lemma: συγγενής) Process::Meta<br/>Warning: (lemma: συγγενής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 2<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στρογγύλος
<span class='red'>&lt;tmp&gt;</span>στρογγύλαι νῆες ronde schepen, d.w.z. koopvaardijschepen &lt;toel&gt;(tegenover &lt;link target=""&gt;μακραὶ&lt;/link&gt; &lt;link target=""&gt;νῆες&lt;/link&gt; langwerpige (oorlogs)schepen)&lt;/toel&gt;.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στρουθός
<span class='red'>&lt;tmp&gt;</span>= σ. μεγάλη <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στροφάλιγξ
<span class='red'>&lt;tmp&gt;</span>σ. κονίης dwarreling van stof, stofwolk.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στροφή
<span class='red'>&lt;tmp&gt;</span>‘zich in alle mogelijke bochten wringen’ <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στρόφιον
<span class='red'>&lt;tmp&gt;</span>στρόφος, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στρωφάω
<span class='red'>&lt;tmp&gt;</span>med.-pass. intrans.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στυλίσκος
<span class='red'>&lt;tmp&gt;</span>στῦλος, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στυράκιον
<span class='red'>&lt;tmp&gt;</span>στύραξ, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στυφελίζω
<span class='red'>&lt;tmp&gt;</span>ἐκ &lt;i&gt;of&lt;/i&gt; ἐκτός + &lt;i&gt;gen.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>στωικός
<span class='red'>&lt;tmp&gt;</span>οἱ Στωικοί <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σύ
<span class='red'>&lt;tmp&gt;</span>ὑμεῖς, &lt;i&gt;Aeol. en ep.&lt;/i&gt; ὔμμες, &lt;i&gt;Dor.&lt;/i&gt; ὑμές, &lt;i&gt;gen.&lt;/i&gt; ὑμῶν, &lt;i&gt;ep.&lt;/i&gt; ὑμέων, ὑμείων, &lt;i&gt;Aeol.&lt;/i&gt; ὐμμέων, &lt;i&gt;dat.&lt;/i&gt; ὑμῖν, &lt;i&gt;Aeol. en ep.&lt;/i&gt; ὔμμι &lt;i&gt;en&lt;/i&gt; ὔμμιν, &lt;i&gt;Dor.&lt;/i&gt; ὑμίν, &lt;i&gt;acc.&lt;/i&gt; ὑμᾶς, &lt;i&gt;Ion.&lt;/i&gt; ὑμέας, &lt;i&gt;Aeol. en ep.&lt;/i&gt; ὔμμε, &lt;i&gt;Dor.&lt;/i&gt; ὑμέ, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σύγγαμος
<span class='red'>&lt;tmp&gt;</span>met iem. <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συγγένεια
<span class='red'>&lt;tmp&gt;</span>met iem<span class='red'>&lt;/tmp&gt;</span>

