<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.30 v8.1.xml</span>
Warning: (lemma: συμμαρτυρέω) Process::Bet<br/>Warning: (lemma: συμμαρτυρέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^van/ in iets$ <br/>Warning: (lemma: συμμαρτυρέω) Process::Bet<br/>Warning: (lemma: συμμαρτυρέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὡς &lt;i&gt;of&lt;/i&gt; $ <br/>Warning: (lemma: σύμμαρτυς) Process::Bet<br/>Warning: (lemma: σύμμαρτυς)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^van iets.$ <br/>Warning: (lemma: συμμαχία) Process::Bet<br/>Warning: (lemma: συμμαχία)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem$ <br/>Warning: (lemma: συμμαχικός) Process::Bet<br/>Warning: (lemma: συμμαχικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ συμμαχικόν &lt;i&gt;en&lt;/i&gt; τὰ συμμαχικά<span class="space"></span><span class="space"></span>$ <br/>Warning: (lemma: συμμαχικός) Process::Meta<br/>Warning: (lemma: συμμαχικός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συμμαχίς) Process::Meta<br/>Warning: (lemma: συμμαχίς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συμμάχομαι) Process::Bet<br/>Warning: (lemma: συμμάχομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem.; &lt;i&gt;met&lt;/i&gt; πρός + &lt;i&gt;acc.&lt;/i&gt; tegen iem$ <br/>Warning: (lemma: σύμμαχος) Process::Bet<br/>Warning: (lemma: σύμμαχος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὁ &lt;i&gt;of&lt;/i&gt; ἡ σύμμαχος $ <br/>Warning: (lemma: σύμμαχος) Process::Bet<br/>Warning: (lemma: σύμμαχος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^van iem.; &lt;i&gt;met&lt;/i&gt; ἐπί + &lt;i&gt;acc.&lt;/i&gt; tegen iem.; &lt;i&gt;met gen.:&lt;/i&gt; $ <br/>Warning: (lemma: σύμμαχος) Process::Meta<br/>Warning: (lemma: σύμμαχος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συμμεθίστημι) Process::Bet<br/>Warning: (lemma: συμμεθίστημι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: συμμείγνυμι) Process::Bet<br/>Warning: (lemma: συμμείγνυμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^of &lt;i&gt;met acc. en&lt;/i&gt; πρός + &lt;i&gt;acc.&lt;/i&gt; met iets$ <br/>Warning: (lemma: συμμείγνυμι) Process::Bet<br/>Warning: (lemma: συμμείγνυμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^uit iets$ <br/>Warning: (lemma: συμμείγνυμι) Process::Bet<br/>Warning: (lemma: συμμείγνυμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem$ <br/>Warning: (lemma: συμμείγνυμι) Process::Bet<br/>Warning: (lemma: συμμείγνυμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem$ <br/>Warning: (lemma: συμμείγνυμι) Process::Bet<br/>Warning: (lemma: συμμείγνυμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem$ <br/>Warning: (lemma: συμμείγνυμι) Process::Bet<br/>Warning: (lemma: συμμείγνυμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem$ <br/>Warning: (lemma: σύμμεικτος) Process::Bet<br/>Warning: (lemma: σύμμεικτος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^($ <br/>Warning: (lemma: σύμμεικτος) Process::Bet<br/>Warning: (lemma: σύμμεικτος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^= συμμείκτους ... κατοικίσας $ <br/>Warning: (lemma: σύμμεικτος) Process::Meta<br/>Warning: (lemma: σύμμεικτος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συμμεμετρημένως) Process::Bet<br/>Warning: (lemma: συμμεμετρημένως)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^συμμετρέω, $ <br/>Warning: (lemma: συμμεταβαίνω) Process::Bet<br/>Warning: (lemma: συμμεταβαίνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^tegelijk met iets.$ <br/>Warning: (lemma: συμμεταβάλλω) Process::Bet<br/>Warning: (lemma: συμμεταβάλλω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets met iets$ <br/>Warning: (lemma: συμμεταβάλλω) Process::Bet<br/>Warning: (lemma: συμμεταβάλλω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: συμμεταίτιος) Process::Bet<br/>Warning: (lemma: συμμεταίτιος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^voor iets.$ <br/>Warning: (lemma: συμμετακοσμέω) Process::Bet<br/>Warning: (lemma: συμμετακοσμέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: συμμετέχω) Process::Bet<br/>Warning: (lemma: συμμετέχω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^aan iets; &lt;i&gt;met dat.&lt;/i&gt; met iem.$ <br/>Warning: (lemma: συμμετοικέω) Process::Bet<br/>Warning: (lemma: συμμετοικέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem$ <br/>Warning: (lemma: συμμέτοχος) Process::Bet<br/>Warning: (lemma: συμμέτοχος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^aan iets.$ <br/>Warning: (lemma: συμμέτοχος) Process::Bet<br/>Warning: (lemma: συμμέτοχος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: συμμετρέω) Process::Bet<br/>Warning: (lemma: συμμετρέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^($ <br/>Warning: (lemma: συμμετρέω) Process::Bet<br/>Warning: (lemma: συμμετρέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^aan iem.; &lt;i&gt;pass.&lt;/i&gt; $ <br/>Warning: (lemma: συμμέτρησις) Process::Bet<br/>Warning: (lemma: συμμέτρησις)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^van iets: τῶν κλιμάκων van de ladders; &lt;i&gt;met&lt;/i&gt; ἐκ + gen. op basis van, door vergelijking met iets.$ <br/>Warning: (lemma: συμμετρία) Process::Bet<br/>Warning: (lemma: συμμετρία)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iets; &lt;i&gt;met&lt;/i&gt; &lt;i&gt;gen.&lt;/i&gt; &lt;i&gt;en&lt;/i&gt; πρός + &lt;i&gt;acc.&lt;/i&gt;$ <br/>Warning: (lemma: σύμμετρος) Process::Bet<br/>Warning: (lemma: σύμμετρος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^van ruimte$ <br/>Warning: (lemma: σύμμετρος) Process::Meta<br/>Warning: (lemma: σύμμετρος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συμμηχανάομαι) Process::Bet<br/>Warning: (lemma: συμμηχανάομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem. $ <br/>Warning: (lemma: σύμμιγα) Process::Bet<br/>Warning: (lemma: σύμμιγα)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: συμμιγής) Process::Bet<br/>Warning: (lemma: συμμιγής)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^καθαρός (zuiver) $ <br/>Warning: (lemma: συμμιγής) Process::Bet<br/>Warning: (lemma: συμμιγής)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iets &lt;i&gt;of&lt;/i&gt; iem$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμμαρτυρέω
<span class='red'>&lt;tmp&gt;</span>van/ in iets<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σύμμαρτυς
<span class='red'>&lt;tmp&gt;</span>van iets.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμμαχία
<span class='red'>&lt;tmp&gt;</span>met iem<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμμαχικός
<span class='red'>&lt;tmp&gt;</span>τὸ συμμαχικόν en τὰ συμμαχικά &lt;toel&gt;(de strijdmacht van de)&lt;/toel&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμμάχομαι
<span class='red'>&lt;tmp&gt;</span>iem.; &lt;i&gt;met&lt;/i&gt; πρός + &lt;i&gt;acc.&lt;/i&gt; tegen iem<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σύμμαχος
<span class='red'>&lt;tmp&gt;</span>ὁ &lt;i&gt;of&lt;/i&gt; ἡ σύμμαχος <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμμεθίστημι
<span class='red'>&lt;tmp&gt;</span>met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμμείγνυμι
<span class='red'>&lt;tmp&gt;</span>of &lt;i&gt;met acc. en&lt;/i&gt; πρός + &lt;i&gt;acc.&lt;/i&gt; met iets<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σύμμεικτος
<span class='red'>&lt;tmp&gt;</span>(<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμμεμετρημένως
<span class='red'>&lt;tmp&gt;</span>συμμετρέω, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμμεταβαίνω
<span class='red'>&lt;tmp&gt;</span>tegelijk met iets.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμμεταβάλλω
<span class='red'>&lt;tmp&gt;</span>iets met iets<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμμεταίτιος
<span class='red'>&lt;tmp&gt;</span>voor iets.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμμετακοσμέω
<span class='red'>&lt;tmp&gt;</span>met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμμετέχω
<span class='red'>&lt;tmp&gt;</span>aan iets; &lt;i&gt;met dat.&lt;/i&gt; met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμμετοικέω
<span class='red'>&lt;tmp&gt;</span>met iem<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμμέτοχος
<span class='red'>&lt;tmp&gt;</span>aan iets.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμμετρέω
<span class='red'>&lt;tmp&gt;</span>(<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμμέτρησις
<span class='red'>&lt;tmp&gt;</span>van iets: τῶν κλιμάκων van de ladders; &lt;i&gt;met&lt;/i&gt; ἐκ + gen. op basis van, door vergelijking met iets.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμμετρία
<span class='red'>&lt;tmp&gt;</span>met iets; &lt;i&gt;met&lt;/i&gt; &lt;i&gt;gen.&lt;/i&gt; &lt;i&gt;en&lt;/i&gt; πρός + &lt;i&gt;acc.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σύμμετρος
<span class='red'>&lt;tmp&gt;</span>van ruimte<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμμηχανάομαι
<span class='red'>&lt;tmp&gt;</span>met iem. <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σύμμιγα
<span class='red'>&lt;tmp&gt;</span>met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμμιγής
<span class='red'>&lt;tmp&gt;</span>καθαρός (zuiver) <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.31 v8.1.xml</span>
Warning: (lemma: συμμορία) Process::Meta<br/>Warning: (lemma: συμμορία)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σύμμορος) Process::Meta<br/>Warning: (lemma: σύμμορος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συμμυέω) Process::Bet<br/>Warning: (lemma: συμμυέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: συμπαθέω) Process::Bet<br/>Warning: (lemma: συμπαθέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iets &lt;i&gt;of&lt;/i&gt; iem.$ <br/>Warning: (lemma: συμπαθής) Process::Meta<br/>Warning: (lemma: συμπαθής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συμπαίζω) Process::Vorm<br/>Warning: (lemma: συμπαίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: συμπαίζω) Att. &lt;r&gt;ξύμπαιζω&lt;/r&gt;, praes. Dor. inf. &lt;r&gt;συμπαίσδεν &lt;s&gt;Theocr.&lt;/s&gt; 11.77&lt;/r&gt;, <br/>Warning: (lemma: συμπαίζω) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: συμπαίζω) Process::Bet<br/>Warning: (lemma: συμπαίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.; &lt;i&gt;met acc. v.h. inw. obj.&lt;/i&gt; $ <br/>Warning: (lemma: συμπαραινέω) Process::Bet<br/>Warning: (lemma: συμπαραινέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(aan$ <br/>Warning: (lemma: συμπαρακαλέω) Process::Bet<br/>Warning: (lemma: συμπαρακαλέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^voor iets.$ <br/>Warning: (lemma: συμπαρασκευάζω) Process::Bet<br/>Warning: (lemma: συμπαρασκευάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὅπως-&lt;i&gt;bijzin&lt;/i&gt; $ <br/>Warning: (lemma: συμπάρειμι) Process::Meta<br/>Warning: (lemma: συμπάρειμι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συμπάρειμι) Process::Meta<br/>Warning: (lemma: συμπάρειμι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συμπαρέχω) Process::Bet<br/>Warning: (lemma: συμπαρέχω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets aan iem.$ <br/>Warning: (lemma: σύμπας) Process::Bet<br/>Warning: (lemma: σύμπας)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σύμπασα ἡ πόλις de stad in zijn totaliteit.$ <br/>Warning: (lemma: σύμπας) Process::Bet<br/>Warning: (lemma: σύμπας)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὁ σύμπας στρατός het complete leger$ <br/>Warning: (lemma: σύμπας) Process::Bet<br/>Warning: (lemma: σύμπας)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(τὰ) σύμπαντα $ <br/>Warning: (lemma: σύμπας) Process::Meta<br/>Warning: (lemma: σύμπας)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συμπάσχω) Process::Bet<br/>Warning: (lemma: συμπάσχω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iets $ <br/>Warning: (lemma: συμπείθω) Process::Bet<br/>Warning: (lemma: συμπείθω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^om te.$ <br/>Warning: (lemma: συμπέμπω) Process::Bet<br/>Warning: (lemma: συμπέμπω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem. met iem.$ <br/>Warning: (lemma: συμπενθέω) Process::Bet<br/>Warning: (lemma: συμπενθέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: συμπένομαι) Process::Bet<br/>Warning: (lemma: συμπένομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem. aan iets.$ <br/>Warning: (lemma: συμπεριλαμβάνω) Process::Bet<br/>Warning: (lemma: συμπεριλαμβάνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iets; $ <br/>Warning: (lemma: συμπεριπατέω) Process::Bet<br/>Warning: (lemma: συμπεριπατέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: συμπεριτίθημι) Process::Bet<br/>Warning: (lemma: συμπεριτίθημι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets om iem. &lt;i&gt;overdr.&lt;/i&gt; $ <br/>Warning: (lemma: συμπεριφέρω) Process::Bet<br/>Warning: (lemma: συμπεριφέρω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^med.-pass. intrans.$ <br/>Warning: (lemma: συμπεριφέρω) Process::Bet<br/>Warning: (lemma: συμπεριφέρω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iets; &lt;i&gt;met acc. v.h. inw. obj.&lt;/i&gt; $ <br/>Warning: (lemma: συμπίνω) Process::Vorm<br/>Warning: (lemma: συμπίνω)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: συμπίνω) Att. &lt;r&gt;ξυμπίνω&lt;/r&gt;, Aeol. imperat. &lt;r&gt;σύμπωθι &lt;s&gt;Alc.&lt;/s&gt; 401b&lt;/r&gt;, <br/>Warning: (lemma: συμπίνω) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: συμπίνω) Process::Bet<br/>Warning: (lemma: συμπίνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem$ <br/>Warning: (lemma: συμπίπτω) Process::Vorm<br/>Warning: (lemma: συμπίπτω)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: συμπίπτω) Att. &lt;r&gt;ξυμπίπτω&lt;/r&gt;, imperf. iter. 3 plur. &lt;r&gt;συμπίπτεσκον &lt;s&gt;Emped.&lt;/s&gt; B 59.2&lt;/r&gt;; Ion. plqperf. 3 sing. &lt;r&gt;συνεπεπτώκεε &lt;s&gt;Hdt.&lt;/s&gt; 1.82.1&lt;/r&gt;.<br/>Warning: (lemma: συμπίπτω) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: συμπίπτω) Process::Bet<br/>Warning: (lemma: συμπίπτω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iets &lt;i&gt;of&lt;/i&gt; iem.; &lt;i&gt;overdr.&lt;/i&gt; $ <br/>Warning: (lemma: συμπίπτω) Process::Bet<br/>Warning: (lemma: συμπίπτω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σ. ἀπὸ ταὐτομάτου &lt;i&gt;of&lt;/i&gt; διὰ τύχην &lt;i&gt;of&lt;/i&gt; ἀπὸ τύχης bij toeval gebeuren; &lt;i&gt;met pred. ptc.,&lt;/i&gt; συπίπτω &lt;i&gt;ook weer te geven met adv.&lt;/i&gt; $ <br/>Warning: (lemma: συμπίπτω) Process::Bet<br/>Warning: (lemma: συμπίπτω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^συνέπιπτε &lt;i&gt;en aor.&lt;/i&gt; συνέπεσε $ <br/>Warning: (lemma: συμπίπτω) Process::Bet<br/>Warning: (lemma: συμπίπτω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὥστε, &lt;i&gt;met inf.;&lt;/i&gt; $ <br/>Warning: (lemma: συμπλέκω) Process::Bet<br/>Warning: (lemma: συμπλέκω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iets; &lt;i&gt;pass. met acc. resp.&lt;/i&gt; $ <br/>Warning: (lemma: συμπλέκω) Process::Bet<br/>Warning: (lemma: συμπλέκω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iets$ <br/>Warning: (lemma: συμπλέκω) Process::Bet<br/>Warning: (lemma: συμπλέκω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iets &lt;i&gt;of&lt;/i&gt; iem.; &lt;i&gt;overdr.&lt;/i&gt; $ <br/>Warning: (lemma: συμπλέκω) Process::Bet<br/>Warning: (lemma: συμπλέκω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iets &lt;i&gt;of&lt;/i&gt; iem.; &lt;i&gt;abs.&lt;/i&gt; $ <br/>Warning: (lemma: συμπλέω) Process::Bet<br/>Warning: (lemma: συμπλέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem. $ <br/>Warning: (lemma: συμπληρόω) Process::Bet<br/>Warning: (lemma: συμπληρόω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(met$ <br/>Warning: (lemma: συμπληρόω) Process::Bet<br/>Warning: (lemma: συμπληρόω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iets; &lt;i&gt;ook med.; van schepen&lt;/i&gt; $ <br/>Warning: (lemma: σύμπλοος) Process::Bet<br/>Warning: (lemma: σύμπλοος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem. $ <br/>Warning: (lemma: σύμπλοος) Process::Meta<br/>Warning: (lemma: σύμπλοος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συμποδίζω) Process::Bet<br/>Warning: (lemma: συμποδίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem. aan iets$ <br/>Warning: (lemma: συμποδίζω) Process::Bet<br/>Warning: (lemma: συμποδίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^in iets $ <br/>Warning: (lemma: συμποιέω) Process::Bet<br/>Warning: (lemma: συμποιέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets met iem.$ <br/>Warning: (lemma: συμπολεμέω) Process::Bet<br/>Warning: (lemma: συμπολεμέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^samen met iem$ <br/>Warning: (lemma: συμπολεμέω) Process::Bet<br/>Warning: (lemma: συμπολεμέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem. $ <br/>Warning: (lemma: συμπολιορκέω) Process::Bet<br/>Warning: (lemma: συμπολιορκέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem. $ <br/>Warning: (lemma: συμπονέω) Process::Bet<br/>Warning: (lemma: συμπονέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σ. πόνους $ <br/>Warning: (lemma: συμπονέω) Process::Bet<br/>Warning: (lemma: συμπονέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: συμπορεύομαι) Process::Bet<br/>Warning: (lemma: συμπορεύομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: συμπορθέω) Process::Bet<br/>Warning: (lemma: συμπορθέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets met iem.$ <br/>Warning: (lemma: συμποτικός) Process::Meta<br/>Warning: (lemma: συμποτικός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμμυέω
<span class='red'>&lt;tmp&gt;</span>met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμπαθέω
<span class='red'>&lt;tmp&gt;</span>met iets &lt;i&gt;of&lt;/i&gt; iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμπαίζω
<span class='red'>&lt;tmp&gt;</span>met iem.; &lt;i&gt;met acc. v.h. inw. obj.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμπαραινέω
<span class='red'>&lt;tmp&gt;</span>(aan<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμπαρακαλέω
<span class='red'>&lt;tmp&gt;</span>voor iets.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμπαρασκευάζω
<span class='red'>&lt;tmp&gt;</span>ὅπως-&lt;i&gt;bijzin&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμπαρέχω
<span class='red'>&lt;tmp&gt;</span>iets aan iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σύμπας
<span class='red'>&lt;tmp&gt;</span>σύμπασα ἡ πόλις de stad in zijn totaliteit.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμπάσχω
<span class='red'>&lt;tmp&gt;</span>met iets <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμπείθω
<span class='red'>&lt;tmp&gt;</span>om te.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμπέμπω
<span class='red'>&lt;tmp&gt;</span>iem. met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμπενθέω
<span class='red'>&lt;tmp&gt;</span>met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμπένομαι
<span class='red'>&lt;tmp&gt;</span>met iem. aan iets.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμπεριλαμβάνω
<span class='red'>&lt;tmp&gt;</span>met iets; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμπεριπατέω
<span class='red'>&lt;tmp&gt;</span>met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμπεριτίθημι
<span class='red'>&lt;tmp&gt;</span>iets om iem. &lt;i&gt;overdr.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμπεριφέρω
<span class='red'>&lt;tmp&gt;</span>med.-pass. intrans.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμπίνω
<span class='red'>&lt;tmp&gt;</span>met iem<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμπίπτω
<span class='red'>&lt;tmp&gt;</span>met iets &lt;i&gt;of&lt;/i&gt; iem.; &lt;i&gt;overdr.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμπλέκω
<span class='red'>&lt;tmp&gt;</span>met iets; &lt;i&gt;pass. met acc. resp.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμπλέω
<span class='red'>&lt;tmp&gt;</span>met iem. <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμπληρόω
<span class='red'>&lt;tmp&gt;</span>(met<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σύμπλοος
<span class='red'>&lt;tmp&gt;</span>met iem. <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμποδίζω
<span class='red'>&lt;tmp&gt;</span>iem. aan iets<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμποιέω
<span class='red'>&lt;tmp&gt;</span>iets met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμπολεμέω
<span class='red'>&lt;tmp&gt;</span>samen met iem<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμπολιορκέω
<span class='red'>&lt;tmp&gt;</span>met iem. <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμπονέω
<span class='red'>&lt;tmp&gt;</span>σ. πόνους <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμπορεύομαι
<span class='red'>&lt;tmp&gt;</span>met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμπορθέω
<span class='red'>&lt;tmp&gt;</span>iets met iem.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.32 v8.1.xml</span>
Warning: (lemma: συμπράκτωρ) Process::Bet<br/>Warning: (lemma: συμπράκτωρ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^in iets$ <br/>Warning: (lemma: συμπράττω) Process::Bet<br/>Warning: (lemma: συμπράττω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὥστε, ὅπως om ... te$ <br/>Warning: (lemma: συμπράττω) Process::Bet<br/>Warning: (lemma: συμπράττω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^πρός &lt;i&gt;+ acc.&lt;/i&gt; om ... te bereiken$ <br/>Warning: (lemma: συμπράττω) Process::Bet<br/>Warning: (lemma: συμπράττω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κακῶς σ. $ <br/>Use of uninitialized value $type in string eq at /home/caspar/share/sandbox/git/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/caspar/share/sandbox/git/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/caspar/share/sandbox/git/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^συμπρή- zie συμπρά<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>David van Eijndhoven<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>2012-08-23T11:22:00<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>hier moet een macron op<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>-.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συμπρή- zie συμπρά<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Davi ...<span class="space"></span><span class="space"></span>(Last successful lemma was συμπρεσβύτερος)<br/>Warning: (lemma: συμπρίαμαι) Process::Meta<br/>Warning: (lemma: συμπρίαμαι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συμπροθυμέομαι) Process::Bet<br/>Warning: (lemma: συμπροθυμέομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^+ ἄν $ <br/>Warning: (lemma: σύμπτυκτος) Process::Meta<br/>Warning: (lemma: σύμπτυκτος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συμφέρω) Process::Bet<br/>Warning: (lemma: συμφέρω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^συνηνεγκάμην)$ <br/>Warning: (lemma: συμφέρω) Process::Bet<br/>Warning: (lemma: συμφέρω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εἰς (vaak εἰς ταὐτό in één hand, gemeenschappelijk) $ <br/>Warning: (lemma: συμφέρω) Process::Bet<br/>Warning: (lemma: συμφέρω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^συνηνέχθην) , &lt;i&gt;met dat. of intrans.&lt;/i&gt;$ <br/>Warning: (lemma: συμφέρω) Process::Bet<br/>Warning: (lemma: συμφέρω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^in iets$ <br/>Warning: (lemma: συμφεύγω) Process::Bet<br/>Warning: (lemma: συμφεύγω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: συμφιλοτιμέομαι) Process::Bet<br/>Warning: (lemma: συμφιλοτιμέομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(6).2; &lt;i&gt;met&lt;/i&gt; πρός &lt;i&gt;+ acc.&lt;/i&gt; $ <br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμπράκτωρ
<span class='red'>&lt;tmp&gt;</span>in iets<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμπράττω
<span class='red'>&lt;tmp&gt;</span>ὥστε, ὅπως om ... te<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμπροθυμέομαι
<span class='red'>&lt;tmp&gt;</span>+ ἄν <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμφέρω
<span class='red'>&lt;tmp&gt;</span>συνηνεγκάμην)<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμφεύγω
<span class='red'>&lt;tmp&gt;</span>met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμφιλοτιμέομαι
<span class='red'>&lt;tmp&gt;</span>(6).2; &lt;i&gt;met&lt;/i&gt; πρός &lt;i&gt;+ acc.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.33 v8.1.xml</span>
Warning: (lemma: συμφοιτάω) Process::Bet<br/>Warning: (lemma: συμφοιτάω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem. $ <br/>Warning: (lemma: συμφοιτάω) Process::Bet<br/>Warning: (lemma: συμφοιτάω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^bij iem. $ <br/>Error: Error: Error getting styles, unusual nesting in node &lt;text:tab/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was συμφονεύω)<br/>Error: Error: Couldn't get style for node (&lt;text:tab/&gt;) (Last successful lemma was συμφονεύω)<br/>Error: Error: Error getting styles, unusual nesting in node &lt;text:tab/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was συμφονεύω)<br/>Error: Error: Couldn't get style for node (&lt;text:tab/&gt;) (Last successful lemma was συμφονεύω)<br/>Error: Error: Error getting styles, unusual nesting in node &lt;text:tab/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was συμφονεύω)<br/>Error: Error: Couldn't get style for node (&lt;text:tab/&gt;) (Last successful lemma was συμφονεύω)<br/>Error: Error: Error getting styles, unusual nesting in node &lt;text:tab/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was συμφονεύω)<br/>Error: Error: Couldn't get style for node (&lt;text:tab/&gt;) (Last successful lemma was συμφονεύω)<br/>Warning: (lemma: συμφορά) Process::Bet<br/>Warning: (lemma: συμφορά)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(toevallige) gebeurtenis$ <br/>Warning: (lemma: συμφορά) Process::Bet<br/>Warning: (lemma: συμφορά)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^συμφοραὶ βίου lotgevallen van het leven$ <br/>Warning: (lemma: συμφορά) Process::Bet<br/>Warning: (lemma: συμφορά)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^συμφορὴν ποιεῖσθαι als een ongeluk &lt;i&gt;of&lt;/i&gt; ramp beschouwen, &lt;i&gt;met acc.&lt;/i&gt; iets; &lt;i&gt;met&lt;/i&gt; ὅτι-&lt;i&gt;zin.; eufem. voor&lt;/i&gt; $ <br/>Warning: (lemma: συμφορέω) Process::Vorm<br/>Warning: (lemma: συμφορέω)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: συμφορέω) Ion. imperf. &lt;r&gt;συνεφόρεον &lt;s&gt;Hdt.&lt;/s&gt; 9.83.2&lt;/r&gt;.<br/>Warning: (lemma: συμφορέω) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: συμφορέω) Process::Bet<br/>Warning: (lemma: συμφορέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^naar &lt;i&gt;of&lt;/i&gt; op .$ <br/>Warning: (lemma: συμφορητός) Process::Bet<br/>Warning: (lemma: συμφορητός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^‘potluck$ <br/>Warning: (lemma: συμφορητός) Process::Bet<br/>Warning: (lemma: συμφορητός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^‘picknick$ <br/>Warning: (lemma: συμφορητός) Process::Meta<br/>Warning: (lemma: συμφορητός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σύμφορος) Process::Bet<br/>Warning: (lemma: σύμφορος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets &lt;i&gt;of&lt;/i&gt; iem$ <br/>Warning: (lemma: σύμφορος) Process::Bet<br/>Warning: (lemma: σύμφορος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^voor iets &lt;i&gt;of&lt;/i&gt; iem.; &lt;i&gt;met&lt;/i&gt; εἰς + &lt;i&gt;acc., met&lt;/i&gt; πρός + &lt;i&gt;acc.&lt;/i&gt; voor iets; &lt;i&gt;onpers.&lt;/i&gt; σύμφορόν ἐστι &lt;i&gt;met AcI&lt;/i&gt; het is nuttig dat ...; &lt;i&gt;persoonlijk geconstrueerd met dat. en inf.&lt;/i&gt; $ <br/>Warning: (lemma: σύμφορος) Process::Bet<br/>Warning: (lemma: σύμφορος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^7.35.$ <br/>Warning: (lemma: σύμφορος) Process::Meta<br/>Warning: (lemma: σύμφορος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σύμφρουρος) Process::Meta<br/>Warning: (lemma: σύμφρουρος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σύμφρων) Process::Bet<br/>Warning: (lemma: σύμφρων)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem. $ <br/>Warning: (lemma: συμφυγάς) Process::Meta<br/>Warning: (lemma: συμφυγάς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συμφύλαξ) Process::Bet<br/>Warning: (lemma: συμφύλαξ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: συμφυράω) Process::Bet<br/>Warning: (lemma: συμφυράω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets met iets.$ <br/>Warning: (lemma: συμφύρω) Process::Bet<br/>Warning: (lemma: συμφύρω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^συμπεφυρμένος door elkaar gekneed, vermengd, verbonden; &lt;i&gt;met&lt;/i&gt; μετά + &lt;i&gt;gen., met dat.&lt;/i&gt; met iets$ <br/>Warning: (lemma: συμφυτεύω) Process::Bet<br/>Warning: (lemma: συμφυτεύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(met$ <br/>Warning: (lemma: σύμφυτος) Process::Meta<br/>Warning: (lemma: σύμφυτος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συμφύω) Process::Bet<br/>Warning: (lemma: συμφύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^συνέφυν, η-&lt;i&gt;aor.&lt;/i&gt; συνεφύην &lt;i&gt;en perf.&lt;/i&gt; συμπέφυκα)$ <br/>Warning: (lemma: συμφωνέω) Process::Bet<br/>Warning: (lemma: συμφωνέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iets &lt;i&gt;of&lt;/i&gt; iem$ <br/>Warning: (lemma: συμφωνέω) Process::Bet<br/>Warning: (lemma: συμφωνέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^over iets, op ; &lt;i&gt;met&lt;/i&gt; ὡς-&lt;i&gt;bijzin&lt;/i&gt; $ <br/>Warning: (lemma: συμφωνέω) Process::Bet<br/>Warning: (lemma: συμφωνέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem. $ <br/>Warning: (lemma: σύμφωνος) Process::Bet<br/>Warning: (lemma: σύμφωνος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iets$ <br/>Warning: (lemma: σύμφωνος) Process::Bet<br/>Warning: (lemma: σύμφωνος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^7.5.$ <br/>Warning: (lemma: συμφωνούντως) Process::Bet<br/>Warning: (lemma: συμφωνούντως)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^συμφωνέω, $ <br/>Warning: (lemma: σύμψηφος) Process::Bet<br/>Warning: (lemma: σύμψηφος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^over iets.$ <br/>Warning: (lemma: σύν) Process::Bet<br/>Warning: (lemma: σύν)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σύμμαχος, συμβαίνω, συνάγω, συγγιγνώσκω; &lt;i&gt;kan bij ww. met acc. zowel betrekking hebben op subj. als obj., bijv.&lt;/i&gt; συμφονεύω &lt;i&gt;samen met (een andere moordenaar) doden; samen met (een ander slachtoffer) iem. doden.&lt;/i&gt;$ <br/>Warning: (lemma: σύν) Process::Bet<br/>Warning: (lemma: σύν)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σύμπαντες, συγκόπτω, συμπληρόω.$ <br/>Warning: (lemma: σύν) Process::Bet<br/>Warning: (lemma: σύν)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σύνδυο met twee bij elkaar, &lt;i&gt;d.w.z.&lt;/i&gt; twee aan twee.$ <br/>Warning: (lemma: σύν) Process::Bet<br/>Warning: (lemma: σύν)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^μάχεσθαι σύν &lt;i&gt;met dat.&lt;/i&gt; strijden met $ <br/>Warning: (lemma: σύν) Process::Bet<br/>Warning: (lemma: σύν)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σὺν θεῷ met (de hulp &lt;i&gt;of&lt;/i&gt; instemming van) god$ <br/>Warning: (lemma: σύν) Process::Bet<br/>Warning: (lemma: σύν)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σὺν ἔντεσι (compleet) met wapenrusting $ <br/>Warning: (lemma: σύν) Process::Meta<br/>Warning: (lemma: σύν)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συναγανακτέω) Process::Bet<br/>Warning: (lemma: συναγανακτέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: συναγείρω) Process::Vorm<br/>Warning: (lemma: συναγείρω)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: συναγείρω) Att. en soms ep. &lt;r&gt;ξυναγείρω&lt;/r&gt;, Aeol. perf. med. 3 sing. &lt;r&gt;συναγάγρεται &lt;s&gt;Alc.&lt;/s&gt; 119.10&lt;/r&gt;.<br/>Warning: (lemma: συναγείρω) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: συναγείρω) Process::Bet<br/>Warning: (lemma: συναγείρω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^pass. intrans.$ <br/>Warning: (lemma: συνάγω) Process::Bet<br/>Warning: (lemma: συνάγω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^= σ. ἔριδα Ἄρηος $ <br/>Warning: (lemma: συνάγω) Process::Bet<br/>Warning: (lemma: συνάγω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^= σ. ὑσμίνην $ <br/>Warning: (lemma: συνάγω) Process::Bet<br/>Warning: (lemma: συνάγω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὅτι-&lt;i&gt;zin, met AcI.&lt;/i&gt;$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμφοιτάω
<span class='red'>&lt;tmp&gt;</span>met iem. <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμφορά
<span class='red'>&lt;tmp&gt;</span>(toevallige) gebeurtenis<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμφορέω
<span class='red'>&lt;tmp&gt;</span>naar of op &lt;toel&gt;(een plaats)&lt;/toel&gt;.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμφορητός
<span class='red'>&lt;tmp&gt;</span>‘potluck<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σύμφορος
<span class='red'>&lt;tmp&gt;</span>iets &lt;i&gt;of&lt;/i&gt; iem<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σύμφρων
<span class='red'>&lt;tmp&gt;</span>met iem. <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμφύλαξ
<span class='red'>&lt;tmp&gt;</span>met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμφυράω
<span class='red'>&lt;tmp&gt;</span>iets met iets.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμφύρω
<span class='red'>&lt;tmp&gt;</span>συμπεφυρμένος door elkaar gekneed, vermengd, verbonden; &lt;i&gt;met&lt;/i&gt; μετά + &lt;i&gt;gen., met dat.&lt;/i&gt; met iets<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμφυτεύω
<span class='red'>&lt;tmp&gt;</span>(met<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμφύω
<span class='red'>&lt;tmp&gt;</span>συνέφυν, η-&lt;i&gt;aor.&lt;/i&gt; συνεφύην &lt;i&gt;en perf.&lt;/i&gt; συμπέφυκα)<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμφωνέω
<span class='red'>&lt;tmp&gt;</span>met iets &lt;i&gt;of&lt;/i&gt; iem<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σύμφωνος
<span class='red'>&lt;tmp&gt;</span>met iets<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμφωνούντως
<span class='red'>&lt;tmp&gt;</span>συμφωνέω, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σύμψηφος
<span class='red'>&lt;tmp&gt;</span>over iets.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σύν
<span class='red'>&lt;tmp&gt;</span>σύμμαχος, συμβαίνω, συνάγω, συγγιγνώσκω; &lt;i&gt;kan bij ww. met acc. zowel betrekking hebben op subj. als obj., bijv.&lt;/i&gt; συμφονεύω &lt;i&gt;samen met (een andere moordenaar) doden; samen met (een ander slachtoffer) iem. doden.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συναγανακτέω
<span class='red'>&lt;tmp&gt;</span>met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συναγείρω
<span class='red'>&lt;tmp&gt;</span>pass. intrans.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνάγω
<span class='red'>&lt;tmp&gt;</span>= σ. ἔριδα Ἄρηος <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.34 v8.1.xml</span>
Error: (lemma: συνᾴδω) Error: Unexpected:no text:p inside list-item<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>... (Last successful lemma was συναθροίζω)<br/>Warning: (lemma: σύναιμος) Process::Meta<br/>Warning: (lemma: σύναιμος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συναίτιος) Process::Meta<br/>Warning: (lemma: συναίτιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συνακούω) Process::Bet<br/>Warning: (lemma: συνακούω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem./iets.$ <br/>Warning: (lemma: συναναγιγνώσκω) Process::Bet<br/>Warning: (lemma: συναναγιγνώσκω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets met iem.$ <br/>Warning: (lemma: συναναδίδωμι) Process::Bet<br/>Warning: (lemma: συναναδίδωμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets tegelijk met iets.$ <br/>Warning: (lemma: συναναμείγνυμι) Process::Bet<br/>Warning: (lemma: συναναμείγνυμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^5.9.$ <br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνακούω
<span class='red'>&lt;tmp&gt;</span>iem./iets.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συναναγιγνώσκω
<span class='red'>&lt;tmp&gt;</span>iets met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συναναδίδωμι
<span class='red'>&lt;tmp&gt;</span>iets tegelijk met iets.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συναναμείγνυμι
<span class='red'>&lt;tmp&gt;</span>5.9.<span class='red'>&lt;/tmp&gt;</span>

