<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.40 v8.1.xml</span>
Warning: (lemma: συνεπελαφρύνω) Process::Bet<br/>Warning: (lemma: συνεπελαφρύνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem. iets.$ <br/>Warning: (lemma: συνεπιβαίνω) Process::Bet<br/>Warning: (lemma: συνεπιβαίνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets met iem. $ <br/>Warning: Vorm pass not successful for node ^συν-επιγραφευς, -εως, ὁ [συν, ἐπί, γράφω] mede-ambtenaar.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-επιγραφευς, -εως, ὁ [συν,<span class="space"></span><span class="space"></span>...<span class="space"></span><span class="space"></span>(Last successful lemma was συνεπιβουλεύω)<br/>Warning: (lemma: συνεπικυρόω) Process::Bet<br/>Warning: (lemma: συνεπικυρόω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets met iem.$ <br/>Warning: (lemma: συνεπισκοπέομαι) Process::Bet<br/>Warning: (lemma: συνεπισκοπέομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: συνεπίσταμαι) Process::Bet<br/>Warning: (lemma: συνεπίσταμαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^..., $ <br/>Warning: (lemma: συνεπιστένω) Process::Bet<br/>Warning: (lemma: συνεπιστένω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets.$ <br/>Warning: (lemma: συνεπιστρατεύω) Process::Bet<br/>Warning: (lemma: συνεπιστρατεύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: συνεπιτίθημι) Process::Bet<br/>Warning: (lemma: συνεπιτίθημι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem., &lt;i&gt;met dat., met&lt;/i&gt; μετά + &lt;i&gt;gen.&lt;/i&gt; met iem.; &lt;i&gt;van gebeurtenissen&lt;/i&gt; $ <br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεπελαφρύνω
<span class='red'>&lt;tmp&gt;</span>iem. iets.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεπιβαίνω
<span class='red'>&lt;tmp&gt;</span>iets met iem. <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεπικυρόω
<span class='red'>&lt;tmp&gt;</span>iets met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεπισκοπέομαι
<span class='red'>&lt;tmp&gt;</span>met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεπίσταμαι
<span class='red'>&lt;tmp&gt;</span>..., <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεπιστένω
<span class='red'>&lt;tmp&gt;</span>iets.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεπιστρατεύω
<span class='red'>&lt;tmp&gt;</span>met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεπιτίθημι
<span class='red'>&lt;tmp&gt;</span>iem., &lt;i&gt;met dat., met&lt;/i&gt; μετά + &lt;i&gt;gen.&lt;/i&gt; met iem.; &lt;i&gt;van gebeurtenissen&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.41 v8.1.xml</span>
Warning: (lemma: συνέπομαι) Element::WerkV<br/>Warning: (lemma: συνέπομαι)<span class="space"></span><span class="space"></span><span class="space"></span>1<br/>Warning: (lemma: συνέπομαι) Process::Bet<br/>Warning: (lemma: συνέπομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὰ συνεπόμενα de gevolgen, &lt;i&gt;met gen. of dat.&lt;/i&gt; van iets.$ <br/>Warning: (lemma: συνεργάζομαι) Process::Bet<br/>Warning: (lemma: συνεργάζομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.; &lt;i&gt;met&lt;/i&gt; πρός + &lt;i&gt;acc.&lt;/i&gt; $ <br/>Warning: (lemma: συνεργάτις) Process::Bet<br/>Warning: (lemma: συνεργάτις)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^in iets.$ <br/>Warning: (lemma: συνεργός) Process::Bet<br/>Warning: (lemma: συνεργός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὁ &lt;i&gt;of&lt;/i&gt; ἡ συνεργός $ <br/>Warning: (lemma: συνεργός) Process::Bet<br/>Warning: (lemma: συνεργός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met &lt;i&gt;of&lt;/i&gt; van iem.; &lt;i&gt;met gen. van zaken&lt;/i&gt; $ <br/>Warning: (lemma: συνεργός) Process::Bet<br/>Warning: (lemma: συνεργός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εἰς &lt;i&gt;of&lt;/i&gt; πρός + &lt;i&gt;acc., met&lt;/i&gt; ἐν + &lt;i&gt;dat.&lt;/i&gt; $ <br/>Warning: (lemma: συνεργός) Process::Meta<br/>Warning: (lemma: συνεργός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συνερείδω) Process::Bet<br/>Warning: (lemma: συνερείδω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^χρυσέαισιν συνερείδει περόναις (Zeus) zet hem<span class="space"></span><span class="space"></span>vast<span class="space"></span><span class="space"></span>met gouden spelden.$ <br/>Warning: (lemma: συνερείδω) Process::Bet<br/>Warning: (lemma: συνερείδω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets tegen iem. $ <br/>Warning: (lemma: συνέριθος) Process::Bet<br/>Warning: (lemma: συνέριθος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^voor &lt;i&gt;of&lt;/i&gt; van iem. $ <br/>Warning: (lemma: συνέρχομαι) Process::Bet<br/>Warning: (lemma: συνέρχομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.; &lt;i&gt;met&lt;/i&gt; εἰς + &lt;i&gt;acc.&lt;/i&gt; op , in : σ. ἐς τὠυτό &lt;i&gt;of&lt;/i&gt; εἰς ταὐτόν zich verenigen; σ. ἐς λόγους &lt;i&gt;of&lt;/i&gt; λόγον samenkomen voor een gesprek &lt;i&gt;of&lt;/i&gt; voor overleg; &lt;i&gt;uitbr.&lt;/i&gt; $ <br/>Warning: (lemma: συνερωτάω) Process::Bet<br/>Warning: (lemma: συνερωτάω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^aan iem.; &lt;i&gt;van zaken, perf. pass.&lt;/i&gt; $ <br/>Warning: (lemma: συνέστιος) Process::Bet<br/>Warning: (lemma: συνέστιος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met &lt;i&gt;of&lt;/i&gt; van iem.; &lt;i&gt;met gen.&lt;/i&gt; συνεστίους θοίνης … γενέσθαι deelnemen aan het feestmaal $ <br/>Warning: (lemma: συνεστραμμένως) Process::Bet<br/>Warning: (lemma: συνεστραμμένως)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^συστρέφω, $ <br/>Warning: (lemma: συνετός) Process::Bet<br/>Warning: (lemma: συνετός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met verstand van iets; &lt;i&gt;subst.&lt;/i&gt; τὸ συνετόν $ <br/>Warning: (lemma: συνετός) Process::Bet<br/>Warning: (lemma: συνετός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^voor iem.$ <br/>Warning: (lemma: συνετός) Process::Meta<br/>Warning: (lemma: συνετός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συνευδαιμονέω) Process::Bet<br/>Warning: (lemma: συνευδαιμονέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: συνεύδω) Process::Bet<br/>Warning: (lemma: συνεύδω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.; &lt;i&gt;uitbr.&lt;/i&gt; $ <br/>Warning: (lemma: συνευπορέω) Process::Bet<br/>Warning: (lemma: συνευπορέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὅπως-&lt;i&gt;bijzin&lt;/i&gt; $ <br/>Warning: (lemma: συνεύχομαι) Process::Bet<br/>Warning: (lemma: συνεύχομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.; &lt;i&gt;met acc.&lt;/i&gt; om iets$ <br/>Warning: (lemma: συνεφάπτομαι) Process::Bet<br/>Warning: (lemma: συνεφάπτομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets met iem. $ <br/>Warning: (lemma: συνεχής) Process::Bet<br/>Warning: (lemma: συνεχής)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^aan iets &lt;i&gt;of&lt;/i&gt; iem.$ <br/>Warning: (lemma: συνεχής) Process::Meta<br/>Warning: (lemma: συνεχής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συνέχω) Process::Bet<br/>Warning: (lemma: συνέχω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^5.14; $ <br/>Warning: (lemma: συνέχω) Process::Bet<br/>Warning: (lemma: συνέχω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^= μετ’ ἀλλήλων σ. $ <br/>Warning: (lemma: συνήγορος) Process::Meta<br/>Warning: (lemma: συνήγορος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συνήδομαι) Process::Bet<br/>Warning: (lemma: συνήδομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.; &lt;i&gt;met dat. van zaken, met&lt;/i&gt; ἐπί + &lt;i&gt;dat.&lt;/i&gt; over iets; &lt;i&gt;met&lt;/i&gt; ὅτι-&lt;i&gt;zin; met dubb. dat.&lt;/i&gt; met iem. over iets.$ <br/>Warning: (lemma: συνήθεια) Process::Bet<br/>Warning: (lemma: συνήθεια)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^διὰ / κατὰ συνήθειαν uit gewoonte, volgens het gebruik; παρὰ συνήθειαν tegen de gewoonte in, tegen het gebruik in; &lt;i&gt;met gen.&lt;/i&gt; $ <br/>Warning: (lemma: συνήθης) Process::Bet<br/>Warning: (lemma: συνήθης)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.; &lt;i&gt;subst.&lt;/i&gt; ὁ συνήθης intieme vriend, vertrouweling.$ <br/>Warning: (lemma: συνήθης) Process::Bet<br/>Warning: (lemma: συνήθης)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σύνηθες (ἐστι) &lt;i&gt;met dat. en inf.&lt;/i&gt; het is iems. gewoonte om; &lt;i&gt;subst.&lt;/i&gt; τὸ σύνηθες $ <br/>Warning: (lemma: συνήθης) Process::Meta<br/>Warning: (lemma: συνήθης)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συνήκοος) Process::Bet<br/>Warning: (lemma: συνήκοος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets.$ <br/>Warning: (lemma: συνῆλιξ) Process::Bet<br/>Warning: (lemma: συνῆλιξ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^van iem. $ <br/>Warning: (lemma: συνημερεύω) Process::Bet<br/>Warning: (lemma: συνημερεύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: συνηρεφής) Process::Meta<br/>Warning: (lemma: συνηρεφής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνέπομαι
<span class='red'>&lt;tmp&gt;</span>&lt;b&gt;volgen,&lt;/b&gt; &lt;i&gt;met dat.&lt;/i&gt;:<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεργάζομαι
<span class='red'>&lt;tmp&gt;</span>met iem.; &lt;i&gt;met&lt;/i&gt; πρός + &lt;i&gt;acc.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεργάτις
<span class='red'>&lt;tmp&gt;</span>in iets.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεργός
<span class='red'>&lt;tmp&gt;</span>ὁ &lt;i&gt;of&lt;/i&gt; ἡ συνεργός <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνερείδω
<span class='red'>&lt;tmp&gt;</span>χρυσέαισιν συνερείδει περόναις (Zeus) zet hem &lt;toel&gt;(Dionysus)&lt;/toel&gt; vast &lt;toel&gt;(nl. in zijn dijbeen)&lt;/toel&gt; met gouden spelden.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνέριθος
<span class='red'>&lt;tmp&gt;</span>voor &lt;i&gt;of&lt;/i&gt; van iem. <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνέρχομαι
<span class='red'>&lt;tmp&gt;</span>met iem.; met εἰς + acc. op &lt;toel&gt;(een plaats)&lt;/toel&gt;, in &lt;toel&gt;(een verbintenis)&lt;/toel&gt;: σ. ἐς τὠυτό of εἰς ταὐτόν zich verenigen; σ. ἐς λόγους of λόγον samenkomen voor een gesprek of voor overleg; uitbr. <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνερωτάω
<span class='red'>&lt;tmp&gt;</span>aan iem.; &lt;i&gt;van zaken, perf. pass.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνέστιος
<span class='red'>&lt;tmp&gt;</span>met of van iem.; met gen. συνεστίους θοίνης … γενέσθαι deelnemen aan het feestmaal &lt;toel&gt;(bij iem. thuis)&lt;/toel&gt;<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεστραμμένως
<span class='red'>&lt;tmp&gt;</span>συστρέφω, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνετός
<span class='red'>&lt;tmp&gt;</span>met verstand van iets; &lt;i&gt;subst.&lt;/i&gt; τὸ συνετόν <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνευδαιμονέω
<span class='red'>&lt;tmp&gt;</span>met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεύδω
<span class='red'>&lt;tmp&gt;</span>met iem.; &lt;i&gt;uitbr.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνευπορέω
<span class='red'>&lt;tmp&gt;</span>ὅπως-&lt;i&gt;bijzin&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεύχομαι
<span class='red'>&lt;tmp&gt;</span>met iem.; &lt;i&gt;met acc.&lt;/i&gt; om iets<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεφάπτομαι
<span class='red'>&lt;tmp&gt;</span>iets met iem. <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνεχής
<span class='red'>&lt;tmp&gt;</span>aan iets &lt;i&gt;of&lt;/i&gt; iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνέχω
<span class='red'>&lt;tmp&gt;</span>5.14; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνήδομαι
<span class='red'>&lt;tmp&gt;</span>met iem.; &lt;i&gt;met dat. van zaken, met&lt;/i&gt; ἐπί + &lt;i&gt;dat.&lt;/i&gt; over iets; &lt;i&gt;met&lt;/i&gt; ὅτι-&lt;i&gt;zin; met dubb. dat.&lt;/i&gt; met iem. over iets.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνήθεια
<span class='red'>&lt;tmp&gt;</span>διὰ / κατὰ συνήθειαν uit gewoonte, volgens het gebruik; παρὰ συνήθειαν tegen de gewoonte in, tegen het gebruik in; &lt;i&gt;met gen.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνήθης
<span class='red'>&lt;tmp&gt;</span>met iem.; &lt;i&gt;subst.&lt;/i&gt; ὁ συνήθης intieme vriend, vertrouweling.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνήκοος
<span class='red'>&lt;tmp&gt;</span>iets.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνῆλιξ
<span class='red'>&lt;tmp&gt;</span>van iem. <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνημερεύω
<span class='red'>&lt;tmp&gt;</span>met iem.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.42 v8.1.xml</span>
Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^συν-ηττάομαι samen verslagen worden, samen (met ...) het onderspit delven.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-ηττάομαι samen verslagen w ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^συν-θᾱκέω [σύνθακος] samen zitting houden met, met dat.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-θᾱκέω [σύνθακος] samen zit ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^σύν-θᾱκος –ον [σύν, θᾶκος] samen zitting houdend (met), samen (op de troon) zittend (met) met dat. en gen. ἔστι ... καὶ Ζηνὶ σύνθακος θρόνων Αἰδώς Schroom zit ook samen op de troon met Zeus Soph. OC 1267; uitbr. partner ὦ ... Λητοῦς κόρη, σύνθακε, συγκύναγε dochter van Leto, mijn partner, mijn jachtgenoot Eur. Hipp. 1093.$ <br/>Error: Error: Vorm pass failed for primary structure lemma σύν-θᾱκος –ον [σύν, θᾶκος] sam ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^συν-θάλπω Att. ook ξυνθάλπω geheel verwarmen, οὕτω ... ἂν... ξυνθάλποιτο ἡ κοιλίη zo zal de buik geheel worden verwarmd Hp. Sal. 7.14; ook overdr. μηδέ με ... ξύνθαλπε μύθοις ψευδέσιν en verwarm me niet met huichelachtige woorden Aeschl. PV 685.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-θάλπω Att. ook ξυνθάλπω ge ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^συν-θαμβέω zich samen verbazen (over) met dat.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-θαμβέω zich samen verbazen ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^συν-θάπτω Att. ook ξυνθάπτω, aor. pass. συνετάφην, perf. med. συντέθαμμαι$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-θάπτω Att. ook ξυνθάπτω, a ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^met acc. samen begraven, helpen te begraven: ἢν μή τις ἄλλος τόνδε συνθάπτειν θέλῃ als niemand zal willen helpen hem te begraven Aeschl. Sept. 1027; ook pass. γνωσθέντες τῇ ... σκευῇ τῶν ὅπλων ξυντεθαμμένῃ herkend aan de wapenrusting die met hen was begraven Thuc. 1.8.1.$ <br/>Error: Error: Vorm pass failed for primary structure lemma met acc. samen begraven, helpe ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^met acc. en dat. samen begraven met: κόσμος ... ᾧ σφε συνθάψει πόσις de uitdossing waarmee haar man haar zal begraven Eur. Alc. 149; ook pass. συνετάφημεν οὖν αὐτῷ διὰ τοῦ βαπτίσματος we zijn dus door de doop samen met hem begraven NT Rom. 6.4.$ <br/>Error: Error: Vorm pass failed for primary structure lemma met acc. en dat. samen begrave ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^συν-θεάομαι samen (als toeschouwer) kijken naar: ὑμᾶς ἐκελεύσαμεν συνθεάσασθαι wij spoorden jullie aan om samen te kijken Plat. Lach. 178a; samen observeren, samen inspecteren παρεῖναι ὡς συνθεασόμενον τὰ ἱερά dat hij aanwezig moest zijn om samen de voortekenen te inspecteren Xen. An. 6.4.15.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-θεάομαι samen (als toescho ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^συν-θεᾱτής –οῦ, ὁ medetoeschouwer, medebeschouwer$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-θεᾱτής –οῦ, ὁ medetoeschou ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^συνθέλω, zie συνεθέλω.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συνθέλω, zie συνεθέλω.<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^συν-θερίζω geheel oogsten.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-θερίζω geheel oogsten.<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^συν-θεσίαι, -ῶν, αἱ [συντίθημι] Hom. gen. pl. συνθεσιάων overeenkomst.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-θεσίαι, -ῶν, αἱ [συντίθημι ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^σύν-θεσις, -εως, ἡ [συντίθημι]$ <br/>Error: Error: Vorm pass failed for primary structure lemma σύν-θεσις, -εως, ἡ [συντίθημι]<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^samenstelling, combinatie, compositie: γραμμάτων συνθέσεις lettercombinaties (d.w.z. het schrift) Aeschl. PV 460; σ. ἔκ τε ῥημάτων γιγνομένη καὶ ὀνομάτων een compositie die ontstaat uit werkwoorden en naamwoorden Plat. Sph. 263d.$ <br/>Error: Error: Vorm pass failed for primary structure lemma samenstelling, combinatie, com ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^overeenkomst: ὁμολογίαι καὶ συνθέσεις περὶ γάμων overeenkomsten en afspraken over een huwelijk Plut. Sull. 35.5.$ <br/>Error: Error: Vorm pass failed for primary structure lemma overeenkomst: ὁμολογίαι καὶ συ ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^συν-θετέον [συντίθημι] adj. verb. van συντίθημι er moet samengesteld worden.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-θετέον [συντίθημι] adj. ve ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^συν-θέτης [συντίθημι] samensteller van wetten Plat. Lg. 722e.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-θέτης [συντίθημι] samenste ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^συν-θετικός -ή -όν Att. ook ξυνθετικός [συντίθημι] samenstellend, horend bij een samenstelling: ὁ ... λογισμὸς μνήμη τίς ἐστι ξυνθετική een redenering is een soort samengestelde herinnering Hp. Praec. 1.4.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-θετικός -ή -όν Att. ook ξυ ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^σύν-θετος –ον [συντίθημι]$ <br/>Error: Error: Vorm pass failed for primary structure lemma σύν-θετος –ον [συντίθημι]<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^samengesteld: διαιρετὸς ... καὶ πάλιν σύνθετος uit elkaar gehaald en weer in elkaar gezet Xen. Cyr. 4.3.20; met ἐκ + gen. uit σ. ἐκ πολλῶν samengesteld uit vele zaken Plat. Resp. 611b.$ <br/>Error: Error: Vorm pass failed for primary structure lemma samengesteld: διαιρετὸς ... κα ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^overdr. gefabriceerd, verzonnen: νόσημα γὰρ αἴσχιστον εἶναί φημι συνθέτους λόγους ik vind dat verzonnen woorden de schandelijkste ziekte zijn Aeschl. PV 686.$ <br/>Error: Error: Vorm pass failed for primary structure lemma overdr. gefabriceerd, verzonne ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^subst. τὸ σύνθετον overeenkomst: ταῦτα ... ὥσπερ ἐκ συνθέτου τέο γενόμενα alsof die dingen op afspraak gebeurden Hdt. 3.86.2.$ <br/>Error: Error: Vorm pass failed for primary structure lemma subst. τὸ σύνθετον overeenkoms ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^συν-θέω samen-rennen, mee-rennen$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-θέω samen-rennen, mee-renn ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^(later Gr.) samen (naar hetzelfde punt) rennen, te hoop lopen οἱ φίλοι ὡς εἶδον, συνέθεον ἐπ’ αὐτὸν ἀσπασόμενοι toen zijn vrienden hem zagen, renden ze samen op hem af om hem te begroeten Luc. 80.9; συνέθεον βοηθοῦντες ze liepen te hoop om te helpen Plut. Pyr. 15.9.$ <br/>Error: Error: Vorm pass failed for primary structure lemma (later Gr.) samen (naar hetzel ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^overdr. meelopen, naar wens verlopen οὐχ ἥμιν συνθεύσεται ἥδε ... βουλή dit plan zal voor ons niet gunstig verlopen Od. 20.245.$ <br/>Error: Error: Vorm pass failed for primary structure lemma overdr. meelopen, naar wens ve ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^geneesk. samentrekken οἱ μύες φιλέουσι ... ξυνθεῖν de spieren trekken graag samen Hp. Fract. 35.$ <br/>Error: Error: Vorm pass failed for primary structure lemma geneesk. samentrekken οἱ μύες<span class="space"></span><span class="space"></span>...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^συν-θεωρέω Att. ook ξυνθεωρέω mede-theôros zijn, met dat. met iem. ἀκόντων ὑμῶν Ἐλευσῖνάδε ξυνθεωρεῖν dat (ik) tegen jullie wil als theôros mee was naar Eleusis Lys. 8.5.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-θεωρέω Att. ook ξυνθεωρέω<span class="space"></span><span class="space"></span>...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^συν-θήγω geheel scherpen, geheel wetten: perf. pass. ὀργῇ συντεθηγμένος φρένας met een door woede gescherpt verstand Eur. Hipp. 689.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-θήγω geheel scherpen, gehe ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^συν-θήκη –ης, ἡ Att. ook ξυνθήκη [συντίθημι]$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-θήκη –ης, ἡ Att. ook ξυνθή ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^overeenkomst, afspraak, contract: συνθήκη καὶ ὁμολογία een afspraak of conventie Plat. Crat. 384d; vaak plur. verdrag, met πρός + acc. met: ξυνθῆκαι ἐγένοντο Λακεδαιμονίων ... πρὸς Τισσαφέρνην er kwam een verdrag tot stand van de Spartanen met Tissaphernes Thuc. 8.58.1; ἐμμενῶ ταῖς ξυνθήκαις ik zal me houden aan dit verdrag Thuc. 5.18.9; met epexeg. inf. ὅτι συνθῆκαι σφίσιν αὐτοῖς εἶεν ... βοηθεῖν dat ze zelf een verdrag hadden om te helpen Xen. Hell. 7.5.4.$ <br/>Error: Error: Vorm pass failed for primary structure lemma overeenkomst, afspraak, contra ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^later Gr. samenstelling, combinatie; met ἐκ + gen. van: ἔστι ... ἐκ δύο καλῶν ἀλλόκοτον τὴν ξυνθήκην εἶναι het is mogelijk dat de combinatie van twee mooie dingen het tegenovergestelde is Luc. 71.5.$ <br/>Error: Error: Vorm pass failed for primary structure lemma later Gr. samenstelling, combi ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^opslagplaats Hp.$ <br/>Error: Error: Vorm pass failed for primary structure lemma opslagplaats Hp.<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^σύν-θημα –ατος, τό Att. ook ξύνθημα [συντίθημι]$ <br/>Error: Error: Vorm pass failed for primary structure lemma σύν-θημα –ατος, τό Att. ook ξύ ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^afspraak, overeenkomst (vaak plur.) ἀπ’ ὀλίγων συνθημάτων ῥᾳδίως ... ὁμονοήσουσιν ze zullen het gemakkelijk eens worden op basis van een paar afspraken Isocr. 4.78; τὸ συνθήματα εἶναι τὰ ὀνόματα (de idee) dat de woorden (voor zaken) conventies zijn Plat. Crat. 433e; concr. οὗ τὰ Θησέως Περίθου τε κεῖται πίστ’ ἀεὶ ξυνθήματα waar de voor altijd betrouwbare afspraken van Theseus en Perithus (Perithoüs) zich bevinden Soph. OC 1594; ἀπό / ἐκ συνθήματος op basis van een afspraak, volgens afspraak: ἀπὸ συνθήματος Οἰνόην αἱρέουσι ze nemen volgens afspraak Oinoë in Hdt. 5.74.2; ἀναδέξαι Πέρσῃσι ἐκ συνθήματος ἀσπίδα dat ze volgens afspraak een schild zouden hebben getoond aan de Perzen Hdt. 6.121.1.$ <br/>Error: Error: Vorm pass failed for primary structure lemma afspraak, overeenkomst (vaak p ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^(afgesproken) teken, signaal: δέλτον ἐγγεγραμμένην ξυνθήμαθ’ een tablet beschreven met afgesproken tekens (d.w.z. schrifttekens) Soph. Tr. 158; ὁ Βρασίδας ἰδὼν τὸ ξύνθημα ἔθει δρόμῳ ... toen Brasidas het signaal had gezien, rende hij op een draf ... Thuc. 4.112.1; σύνθημα ἐποιήσαντο ... πυρὰ καίειν ze spraken als teken af om vuren te ontsteken Xen. An. 4.6.20; σ. παρεγγυᾶν het (aanvals)signaal doorgeven Xen. Cyr. 3.3.58 = σ. παραδιδόναι Xen. An. 7.3.34; wachtwoord ἅτε ... ἐπιστάμενοι τὸ ξύνθημα aangezien ze het wachtwoord kenden Thuc. 7.44.5; μετὰ ... τοῦ συνθήματος Ἥρης met het wachtwoord ‘Hera’ Hdt. 9.98.3.$ <br/>Error: Error: Vorm pass failed for primary structure lemma (afgesproken) teken, signaal:<span class="space"></span><span class="space"></span>...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^συν-θηματιαῖος –α –ον [σύνθημα] afgesproken, besteld$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-θηματιαῖος –α –ον [σύνθημα ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^συν-θηρᾱτής –οῦ, ὁ [συνθηράω] mede-jager, jachtgenoot, met gen. obj.: τί οὖν οὐ σύ μοι ... ἐγένου σ. τῶν φίλων; waarom word je niet mijn mede-jager op vrienden? Xen. Mem. 3.11.15.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-θηρᾱτής –οῦ, ὁ [συνθηράω]<span class="space"></span><span class="space"></span>...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^συν-θηράω samen (met ...) jagen, mee op jacht gaan (met), met dat. met iem.; med. ook in tmesis, overdr. met acc. op iets/iem.: σὺν ... νιν θηρώμεθ’ εὐθὺς wij belaagden haar direct samen Soph. Ant. 433.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-θηράω samen (met ...) jage ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^συν-θηρευτής –οῦ, ὁ [συνθηρεύω] mede-jager, jachtgenoot.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-θηρευτής –οῦ, ὁ [συνθηρεύω ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^συν-θηρεύω samen (met ...) jagen, mee op jacht gaan (met), met dat. met iem.; med. ook overdr. met acc. op iets/iem.: ἃ δ’ οὐ κεκτήμεθα, μίμησις ἤδη ταῦτα συνθηρεύεται wat wij niet bezitten, bij de jacht daarop helpt imitatie ons Aristoph. Th. 156.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-θηρεύω samen (met ...) jag ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^σύν-θηρος –ον [σύν, θήρα] samen jagend, met dat.: ὃς καὶ σ. ποτε ἐγένετο τῷ Κύρῳ die ook ooit samen op jacht was geweest met Cyrus Xen. Cyr. 2.1.1; met gen. obj. σ. τῶν ἀγαθῶν φίλων mede-jager op goede vrienden Xen. Mem. 2.6.35.$ <br/>Error: Error: Vorm pass failed for primary structure lemma σύν-θηρος –ον [σύν, θήρα] same ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^συν-θιασώτης –ου, ὁ [σύν, θίασος] mede-deelnemer aan een thiasos; vandaar overdr. partner, compagnon, met gen. in iets: ὦ τῆς ἡλικίας ἡμῖν τῆς αὐτῆς συνθιασῶτα jij die met ons dezelfde leeftijd viert Aristoph. Ve. 728.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-θιασώτης –ου, ὁ [σύν, θίασ ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^συν-θλάω geheel verbrijzelen.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-θλάω geheel verbrijzelen.<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^συν-θλίβω geheel platdrukken, samenpersen: ἠκολούθει αὐτῷ ὄχλος πολύς, καὶ συνέθλιβον αὐτόν een grote menigte vergezelde hem en ze drongen om hem samen NT Marc. 5.24.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-θλίβω geheel platdrukken,<span class="space"></span><span class="space"></span>...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^συν-θνῄσκω samen (met ...) sterven, met dat.: οὐ ... εὐσέβεια συνθνῄσκει βροτοῖς vroomheid sterft niet samen met de mensen Soph. Ph. 1443.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-θνῄσκω samen (met ...) ste ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^συν-θοινάτωρ, -ορος, ὁ [σύν, θοίνη] mede-deelnemer aan een feestmaal, feestdisgenoot.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-θοινάτωρ, -ορος, ὁ [σύν, θ ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^συν-θρᾱνόομαι geheel in stukken breken, helemaal verbrijzeld worden.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-θρᾱνόομαι geheel in stukke ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^συν-θραύω geheel verbrijzelen, met acc.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-θραύω geheel verbrijzelen, ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^σύν-θρηνος –ον [σύν, θρῆνος] mee-jammerend, samen (wee)klagend met, met dat.$ <br/>Error: Error: Vorm pass failed for primary structure lemma σύν-θρηνος –ον [σύν, θρῆνος] m ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^συν-θριαμβεύω samen met ... een triomftocht vieren, met dat.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-θριαμβεύω samen met ... ee ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^σύν-θρονος, -ον [σύν, θρόνος] de troon delend met, met dat.$ <br/>Error: Error: Vorm pass failed for primary structure lemma σύν-θρονος, -ον [σύν, θρόνος]<span class="space"></span><span class="space"></span>...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^συν-θρύπτω geheel in stukken breken, met acc.; overdr. breken, vermurwen μου τὴν καρδίαν mijn hart NT Act. Ap. 21.13.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-θρύπτω geheel in stukken b ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^συν-θύω mee-offeren, samen (met ...) offeren, met dat.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-θύω mee-offeren, samen (me ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^συν-ιζάνω [σύν, ἱζάνω] (‘samen-zitten’ ) invallen, inkrimpen: σάρκες het (lichaams)vlees Theocr. 22.112.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-ιζάνω [σύν, ἱζάνω] (‘samen ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^συν-ίζησις, -εως, ἡ [σύν, ἵζω] (‘samen-zitting’) ineenstorting: οἰκοδομημάτων van gebouwen Plut. Crass. 2.5.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-ίζησις, -εως, ἡ [σύν, ἵζω] ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^συν-ίζω [σύν, ἵζω] fut. med. συνεδοῦμαι ‘samen-zitten’$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-ίζω [σύν, ἵζω] fut. med. σ ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^van mensen (een) zitting houden, bijeenkomen.$ <br/>Error: Error: Vorm pass failed for primary structure lemma van mensen (een) zitting houde ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^van zaken ineenstorten, invallen, inkrimpen: (ὁ σπλήν) ὅταν καθαρθῇ τὸ σῶμα ... εἰς ταὐτὸν συνίζει wanneer het lichaam is gereinigd, krimpt (de milt) ineen tot dezelfde grootte Plat. Tim. 72d.$ <br/>Error: Error: Vorm pass failed for primary structure lemma van zaken ineenstorten, invall ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^συν-ίημι ook ξυνιημι [σύν, ἵημι]$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-ίημι ook ξυνιημι [σύν, ἵημ ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^act.$ <br/>Error: Error: Vorm pass failed for primary structure lemma act.<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^met acc. van persoon bijeenbrengen: τίς ... σφωε θεῶν ἔριδι ξυνέηκε μάχεσθαι; wie van de goden bracht hen in twist bijeen om te vechten? Il. 1.8.$ <br/>Error: Error: Vorm pass failed for primary structure lemma met acc. van persoon bijeenbre ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^met acc. van zaak (informatie) vernemen, kennis nemen (van), luisteren naar (iets): ἐμέθεν ξυνίει ἔπος luister naar mijn woorden Od. 6.289; met ὡς-bijzin ξύνες ... τήνδ’ ὡς ἀγηθὴς ... χωρεῖ πρὸς ἡμᾶς γραῖα merk op hoe vreugdeloos deze oude vrouw naar ons toeloopt Soph. Tr. 870; ook abs. σιγῇ νῦν ξυνίει luister nu in stilte Od. 15. 391; inzien, begrijpen: ξυνῆκας je hebt het begrepen Aeschl. Suppl. 467; οὐ ξυνεὶς δόλον ... ἀνδρὸς aangezien hij de list van de man niet had doorzien Aeschl. Pers. 361.$ <br/>Error: Error: Vorm pass failed for primary structure lemma met acc. van zaak (informatie) ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^met gen. (een geluid) horen, luisteren naar (iem.), (iem.) verstaan: τοῖϊν δὲ ξυνέηχ’ hij hoorde hen beiden Od. 18.34; μευ βουλέων ξύνιεν ze luisterden naar mijn raadgevingen Il. 1.273; (φωναί) φθέγγονθ’ ὥς τε θεοῖσι συνιέμεν (de stemmen) maakten een geluid dat voor de goden te verstaan was Hes. Th. 831; οἱ ... Ἕλληνες ... ὅσοι ἀλλήλων ξυνίεσαν ald die Grieken die elkaar verstonden Thuc. 1.3.4.$ <br/>Error: Error: Vorm pass failed for primary structure lemma met gen. (een geluid) horen, l ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^med.$ <br/>Error: Error: Vorm pass failed for primary structure lemma med.<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^tot een akkoord komen: ὄφρ’ ἐπὶ νηυσὶ συνώμεθα ... ἀμφὶ γάμῳ opdat we bij de schepen tot een akkoord komen over het huwelijk Il. 13.381.$ <br/>Error: Error: Vorm pass failed for primary structure lemma tot een akkoord komen: ὄφρ’ ἐπ ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^met gen. horen, verstaan: τοῦ δ’ ἀγορεύοντος ξύνετο hij (Menelaus) verstond wat hij (Telemachus) zei Od. 4.76.$ <br/>Error: Error: Vorm pass failed for primary structure lemma met gen. horen, verstaan: τοῦ<span class="space"></span><span class="space"></span>...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^συν-ικετεύω [σύν, ἱκετεύω] samen (met ...) smeken, met dat.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-ικετεύω [σύν, ἱκετεύω] sam ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^συν-ικνέομαι [σύν, ἱκνέομαι] aangaan, raken, betreffen, met dat.: ἄτοπον ... τὸ μηδὲν ... συνικνεῖσθαι τὰ τῶν ἐκγόνων τοῖς γονεῦσιν het zou vreemd zijn wanneer de situatie van hun nakomelingen de ouders helemaal niet zou raken Aristot. EN 1100a30.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-ικνέομαι [σύν, ἱκνέομαι] a ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^συν-ίππαρχος –ου, ὁ [σύν, ἵππαρχος] mede-aanvoerder van de ruiterij.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-ίππαρχος –ου, ὁ [σύν, ἵππα ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^συν-ιππεύς -έως, ὁ [σύν, ἱππεύς] mede-ruiter.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συν-ιππεύς -έως, ὁ [σύν, ἱππεύ ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^σύνισαν imperf. 3 plur. van 2. σύνειμι (εἶμι).$ <br/>Error: Error: Vorm pass failed for primary structure lemma σύνισαν imperf. 3 plur. van 2. ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^συνιστάνω zie συνίστημι.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συνιστάνω zie συνίστημι.<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/devlop/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^συνιστάω zie συνίστημι.$ <br/>Error: Error: Vorm pass failed for primary structure lemma συνιστάω zie συνίστημι.<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>
* # total failures: 74<br/>
