<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.46 v8.0.xml</span>
Warning: (lemma: συνυπηρετέω) Process::Bet<br/>Warning: (lemma: συνυπηρετέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem.$ <br/>Warning: (lemma: συνυποκρίνομαι) Process::Bet<br/>Warning: (lemma: συνυποκρίνομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^:13; &lt;i&gt;met acc.&lt;/i&gt; &lt;i&gt;en dat.&lt;/i&gt;$ <br/>Warning: (lemma: συνυποτίθεμαι) Process::Bet<br/>Warning: (lemma: συνυποτίθεμαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^[$ <br/>Warning: (lemma: συνυποτίθεμαι) Process::Bet<br/>Warning: (lemma: συνυποτίθεμαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^370a.$ <br/>Warning: (lemma: συνυπουργέω) Process::Bet<br/>Warning: (lemma: συνυπουργέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem.$ <br/>Warning: (lemma: συνύφανσις) Process::Meta<br/>Warning: (lemma: συνύφανσις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συνωδίνω) Process::Bet<br/>Warning: (lemma: συνωδίνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iets$ <br/>Warning: (lemma: συνῳδός) Process::Vorm<br/>Warning: (lemma: συνῳδός)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: συνῳδός) Att. &lt;r&gt;ξυνῳδός&lt;/r&gt;, poët. &lt;r&gt;συναοιδός &lt;s&gt;Eur.&lt;/s&gt;&lt;/r&gt; HF. &lt;r&gt;787&lt;/r&gt;<br/>Warning: (lemma: συνῳδός) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: συνωθέω) Process::Bet<br/>Warning: (lemma: συνωθέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^in &lt;i&gt;of&lt;/i&gt; op een plaats$ <br/>Warning: (lemma: συνωμοσία) Process::Bet<br/>Warning: (lemma: συνωμοσία)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^= οἱ ἐκ τῆς συνωμοσίας $ <br/>Warning: (lemma: συνωμότης) Process::Bet<br/>Warning: (lemma: συνωμότης)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met/van iem. $ <br/>Warning: (lemma: συνώνυμος) Process::Bet<br/>Warning: (lemma: συνώνυμος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^of -$ <br/>Warning: (lemma: συνώνυμος) Process::Bet<br/>Warning: (lemma: συνώνυμος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^aan elkaar ἀλλήλοις $ <br/>Warning: (lemma: συνώνυμος) Process::Meta<br/>Warning: (lemma: συνώνυμος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συνωρίζω) Process::Bet<br/>Warning: (lemma: συνωρίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^. $ <br/>Warning: (lemma: συνωρίς) Process::Bet<br/>Warning: (lemma: συνωρίς)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τέκνων $ <br/>Warning: (lemma: συνωφελέω) Process::Bet<br/>Warning: (lemma: συνωφελέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(voor) iem.; &lt;i&gt;met&lt;/i&gt; εἰς + &lt;i&gt;inf.&lt;/i&gt; voor &lt;i&gt;of&lt;/i&gt; bij iets$ <br/>Warning: (lemma: συρίζω) Process::Vorm<br/>Warning: (lemma: συρίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: συρίζω) Dor. praes. 2 sing. &lt;r&gt;συρίσδες&lt;/r&gt;, inf. &lt;r&gt;συρίσδεν &lt;s&gt;Theocr.&lt;/s&gt; 1.14&lt;/r&gt;; Att. imperf. &lt;r&gt;ἐσύριττον&lt;/r&gt;, Dor.&lt;r&gt;&lt;i&gt;&lt;/i&gt; 3&lt;/r&gt; sing. &lt;r&gt;σύρισδε &lt;s&gt;Theocr.&lt;/s&gt; 6.44&lt;/r&gt;; aor. &lt;r&gt;ἐσύριξα&lt;/r&gt;, later &lt;r&gt;ἐσύρισα&lt;/r&gt;; Αtt. fut. &lt;r&gt;συριῶ&lt;/r&gt;<br/>Warning: (lemma: συρίζω) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: συρίζω) Process::Bet<br/>Warning: (lemma: συρίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^s. &lt;i&gt;of met acc. v.h. inw. obj.&lt;/i&gt;$ <br/>Warning: Vorm pass not successful for node ^2.met acc. uitfluiten (ter afkeuring); ook pass.$ <br/>Error: Error: Vorm pass failed for primary structure lemma 2.met acc. uitfluiten (ter afk ...<span class="space"></span><span class="space"></span>(Last successful lemma was συρίζω)<br/>Warning: (lemma: συρράπτω) Process::Bet<br/>Warning: (lemma: συρράπτω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σ. δέρματα νεύρῳ βοός huiden met een runderpees aan elkaar naaien; &lt;i&gt;overdr.&lt;/i&gt; $ <br/>Warning: (lemma: συρράσσω) Process::Vorm<br/>Warning: (lemma: συρράσσω)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: συρράσσω) aor. &lt;r&gt;συνέρραξα&lt;/r&gt;; fut. &lt;r&gt;ξυρράξω &lt;s&gt;Thuc.&lt;/s&gt; 8.96.2&lt;/r&gt;, <br/>Warning: (lemma: συρράσσω) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: συρρέω) Process::Vorm<br/>Warning: (lemma: συρρέω)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: συρρέω) Ion. imperf. 3 sing. &lt;r&gt;συνέρρεε &lt;s&gt;Hdt.&lt;/s&gt; 8.42.1&lt;/r&gt;.<br/>Warning: (lemma: συρρέω) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: συρρέω) Process::Bet<br/>Warning: (lemma: συρρέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^naar een plaats: εἰς τοῦτο πάντες ξυνερρυήκεσαν allen waren naar die plek samengestroomd Xen. An. 5.2.3.$ <br/>Warning: (lemma: συρρήγνυμι) Process::Bet<br/>Warning: (lemma: συρρήγνυμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem. $ <br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνυπηρετέω
<span class='red'>&lt;tmp&gt;</span>iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνυποκρίνομαι
<span class='red'>&lt;tmp&gt;</span>:13; &lt;i&gt;met acc.&lt;/i&gt; &lt;i&gt;en dat.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνυποτίθεμαι
<span class='red'>&lt;tmp&gt;</span>[<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνυπουργέω
<span class='red'>&lt;tmp&gt;</span>iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνωδίνω
<span class='red'>&lt;tmp&gt;</span>met iets<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνωθέω
<span class='red'>&lt;tmp&gt;</span>in &lt;i&gt;of&lt;/i&gt; op een plaats<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνωμοσία
<span class='red'>&lt;tmp&gt;</span>= οἱ ἐκ τῆς συνωμοσίας <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνωμότης
<span class='red'>&lt;tmp&gt;</span>met/van iem. <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνώνυμος
<span class='red'>&lt;tmp&gt;</span>of -<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνωρίζω
<span class='red'>&lt;tmp&gt;</span>. <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνωρίς
<span class='red'>&lt;tmp&gt;</span>τέκνων <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συνωφελέω
<span class='red'>&lt;tmp&gt;</span>(voor) iem.; &lt;i&gt;met&lt;/i&gt; εἰς + &lt;i&gt;inf.&lt;/i&gt; voor &lt;i&gt;of&lt;/i&gt; bij iets<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συρίζω
<span class='red'>&lt;tmp&gt;</span>s. &lt;i&gt;of met acc. v.h. inw. obj.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συρράπτω
<span class='red'>&lt;tmp&gt;</span>σ. δέρματα νεύρῳ βοός huiden met een runderpees aan elkaar naaien; &lt;i&gt;overdr.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συρρέω
<span class='red'>&lt;tmp&gt;</span>naar een plaats: εἰς τοῦτο πάντες ξυνερρυήκεσαν allen waren naar die plek samengestroomd Xen. An. 5.2.3.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συρρήγνυμι
<span class='red'>&lt;tmp&gt;</span>met iem. <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.47 v8.1.xml</span>
Warning: (lemma: σύσπαστος) Process::Meta<br/>Warning: (lemma: σύσπαστος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συσταδόν) Process::Meta<br/>Warning: (lemma: συσταδόν)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συστάς) Process::Meta<br/>Warning: (lemma: συστάς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σύστασις) Process::Bet<br/>Warning: (lemma: σύστασις)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^~ συνίστημι: $ <br/>Warning: (lemma: σύστασις) Process::Bet<br/>Warning: (lemma: σύστασις)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^~ συνίσταμαι $ <br/>Warning: (lemma: συστατικός) Process::Bet<br/>Warning: (lemma: συστατικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^3.1.$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σύστασις
<span class='red'>&lt;tmp&gt;</span>~ συνίστημι: <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συστατικός
<span class='red'>&lt;tmp&gt;</span>3.1.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.48 v8.1.xml</span>
Warning: (lemma: σύστοιχος) Process::Bet<br/>Warning: (lemma: σύστοιχος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^consequent, $ <br/>Warning: (lemma: συστολίζω) Process::Bet<br/>Warning: (lemma: συστολίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem$ <br/>Warning: (lemma: συστρατεύω) Process::Bet<br/>Warning: (lemma: συστρατεύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: συστρέφω) Process::Bet<br/>Warning: (lemma: συστρέφω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^= ξ. ἐν σφίσιν αὐτοῖς $ <br/>Warning: (lemma: συσχολάζω) Process::Bet<br/>Warning: (lemma: συσχολάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: σῦφαρ) Process::Meta<br/>Warning: (lemma: σῦφαρ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συχνός) Process::Bet<br/>Warning: (lemma: συχνός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^συχνόν &lt;i&gt;en&lt;/i&gt; συχνά, &lt;i&gt;zelden&lt;/i&gt; συχνῶς$ <br/>Warning: (lemma: σφαγή) Process::Bet<br/>Warning: (lemma: σφαγή)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σφαγὰς ποιεῖν &lt;i&gt;of&lt;/i&gt; ποιεῖσθαι een bloedbad aanrichten$ <br/>Warning: (lemma: σφαγιάζω) Process::Bet<br/>Warning: (lemma: σφαγιάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;/i&gt; ἐσφαγίασα, &lt;i&gt;pass.&lt;/i&gt; ἐσφαγιάσθην; $ <br/>Warning: (lemma: σφαγιάζω) Process::Bet<br/>Warning: (lemma: σφαγιάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ptc. med.- pass.&lt;/i&gt; ἐσφαγιασμένος; $ <br/>Warning: (lemma: σφαγιάζω) Process::Bet<br/>Warning: (lemma: σφαγιάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;/i&gt; σφαγιάσω, &lt;i&gt;pass.&lt;/i&gt; σφαγιασθήσομαι, &lt;i&gt;zowel act. als med.&lt;/i&gt; $ <br/>Warning: (lemma: σφαδᾴζω) Process::Bet<br/>Warning: (lemma: σφαδᾴζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὁ .. ἵππος πληγεὶς σφαδᾴζων ἀποσείεται τὸν Κῦρον het paard werd geraakt, steigert en werpt Cyrus af; &lt;i&gt;van personen&lt;/i&gt; $ <br/>Warning: (lemma: σφαδᾴζω) Process::Bet<br/>Warning: (lemma: σφαδᾴζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^= εἰς τὸν ἀγῶνα $ <br/>Warning: (lemma: σφαδᾴζω) Process::Bet<br/>Warning: (lemma: σφαδᾴζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^om$ <br/>Warning: (lemma: σφάζω) Process::Bet<br/>Warning: (lemma: σφάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἔσφαξα, &lt;i&gt;pass.&lt;/i&gt; ἐσφάχθην &lt;i&gt;en&lt;/i&gt; η-&lt;i&gt;aor.&lt;/i&gt; ἐσφάγην; $ <br/>Warning: (lemma: σφάζω) Process::Bet<br/>Warning: (lemma: σφάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^med.-pass.&lt;/i&gt; ἔσφαγμαι; $ <br/>Warning: (lemma: σφάζω) Process::Bet<br/>Warning: (lemma: σφάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σφάξω, $ <br/>Warning: (lemma: σφαιρίον) Process::Bet<br/>Warning: (lemma: σφαιρίον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σφαῖρα, $ <br/>Warning: (lemma: σφάκελος) Process::Bet<br/>Warning: (lemma: σφάκελος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^stuiptrekking$ <br/>Warning: (lemma: σφαλερός) Process::Bet<br/>Warning: (lemma: σφαλερός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σφάλλω &lt;i&gt;act. (causat.)&lt;/i&gt;$ <br/>Warning: (lemma: σφαλερός) Process::Bet<br/>Warning: (lemma: σφαλερός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σφαλερόν (ἐστι) ... is riskant &lt;i&gt;of&lt;/i&gt; gevaarlijk$ <br/>Warning: (lemma: σφαλερός) Process::Bet<br/>Warning: (lemma: σφαλερός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σφάλλομαι &lt;i&gt;intrans.&lt;/i&gt;$ <br/>Warning: (lemma: σφάλλω) Process::Vorm<br/>Warning: (lemma: σφάλλω)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: σφάλλω) &lt;r&gt;&lt;b&gt;&lt;i&gt;praes.&lt;/b&gt; Dor. 3 plur.&lt;/i&gt; σφάλλοντι &lt;s&gt;Theocr.&lt;/s&gt; 24.112; &lt;/r&gt;<br/>Warning: (lemma: σφάλλω) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: σφάλλω) Element::WerkV<br/>Warning: (lemma: σφάλλω)<span class="space"></span><span class="space"></span><span class="space"></span>1<br/>Warning: (lemma: σφάλλω) Process::Bet<br/>Warning: (lemma: σφάλλω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^in &lt;i&gt;of&lt;/i&gt; met betrekking tot iets$ <br/>Warning: (lemma: σφεῖς) Process::Vorm<br/>Warning: (lemma: σφεῖς)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: σφεῖς) pron. pers. van de 3 plur., gen. &lt;r&gt;σφῶν&lt;/r&gt;, zonder contr. &lt;r&gt;σφέων&lt;/r&gt;, encl. &lt;r&gt;σφεων&lt;/r&gt;, ook &lt;r&gt;σφείων&lt;/r&gt;; dat. &lt;r&gt;σφίσι&lt;/r&gt;, encl. &lt;r&gt;σφισι&lt;/r&gt;, vaker &lt;r&gt;σφι, σφιν&lt;/r&gt;, met elis. &lt;r&gt;σφ&lt;/r&gt;’, Aeol. &lt;r&gt;ἄσφι &lt;s&gt;Sapph.&lt;/s&gt; 149&lt;/r&gt;, Lac. &lt;r&gt;φιν &lt;s&gt;Emped.&lt;/s&gt; B 22.3&lt;/r&gt;; acc. &lt;r&gt;σφᾶς&lt;/r&gt;, encl. &lt;r&gt;σφας&lt;/r&gt;, zonder contr. &lt;r&gt;σφέας&lt;/r&gt;, encl. &lt;r&gt;σφεας&lt;/r&gt;, ook &lt;r&gt;σφε&lt;/r&gt;<br/>Warning: (lemma: σφεῖς) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: σφεῖς) Process::Bet<br/>Warning: (lemma: σφεῖς)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σφεῖς &lt;i&gt;benadrukt identiteit, vaak contrastief&lt;/i&gt; $ <br/>Warning: (lemma: σφέλας) Process::Vorm<br/>Warning: (lemma: σφέλας)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: σφέλας) ep. plur. &lt;r&gt;σφέλα &lt;s&gt;Od.&lt;/s&gt; 17.231&lt;/r&gt; <br/>Warning: (lemma: σφέλας) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: σφέλας) Process::Meta<br/>Warning: (lemma: σφέλας)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σφενδονάω) Process::Bet<br/>Warning: (lemma: σφενδονάω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(met) iets$ <br/>Warning: (lemma: σφετερίζω) Process::Vorm<br/>Warning: (lemma: σφετερίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: σφετερίζω) aor. &lt;r&gt;ἐσφετέρισα&lt;/r&gt;, med. &lt;r&gt;ἐσφετερισάμην&lt;/r&gt;, ptc. med. nom. m. plur. &lt;r&gt;σφετεριξάμενοι &lt;s&gt;Aeschl.&lt;/s&gt;&lt;/r&gt; Suppl. &lt;r&gt;38&lt;/r&gt;, <br/>Warning: (lemma: σφετερίζω) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: σφηνίσκος) Process::Bet<br/>Warning: (lemma: σφηνίσκος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σφήν, $ <br/>Warning: (lemma: σφήξ) Process::Meta<br/>Warning: (lemma: σφήξ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σφίγξ) Process::Meta<br/>Warning: (lemma: σφίγξ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σφόδρα) Process::Bet<br/>Warning: (lemma: σφόδρα)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^= μάλα σφόδρα $ <br/>Warning: (lemma: σφονδύλιον) Process::Bet<br/>Warning: (lemma: σφονδύλιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σφόνδυλος, $ <br/>Warning: (lemma: σφραγίδιον) Process::Bet<br/>Warning: (lemma: σφραγίδιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σφραγίς, $ <br/>Warning: (lemma: σφραγίζω) Process::Vorm<br/>Warning: (lemma: σφραγίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: σφραγίζω) ptc. fut. med. &lt;r&gt;σφραγιούμενος &lt;s&gt;Plut.&lt;/s&gt;&lt;/r&gt; Pomp. &lt;r&gt;5.2&lt;/r&gt;, act. en med.<br/>Warning: (lemma: σφραγίζω) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: σφραγίζω) Process::Bet<br/>Warning: (lemma: σφραγίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὁ σφραγισάμενος hij (is) degene die op ons zijn zegel heeft gedrukt; &lt;i&gt;met&lt;/i&gt; ὅτι-&lt;i&gt;zin&lt;/i&gt; $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σύστοιχος
<span class='red'>&lt;tmp&gt;</span>consequent, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συστολίζω
<span class='red'>&lt;tmp&gt;</span>iem<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συστρατεύω
<span class='red'>&lt;tmp&gt;</span>met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συστρέφω
<span class='red'>&lt;tmp&gt;</span>= ξ. ἐν σφίσιν αὐτοῖς <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συσχολάζω
<span class='red'>&lt;tmp&gt;</span>met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συχνός
<span class='red'>&lt;tmp&gt;</span>συχνόν &lt;i&gt;en&lt;/i&gt; συχνά, &lt;i&gt;zelden&lt;/i&gt; συχνῶς<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σφαγή
<span class='red'>&lt;tmp&gt;</span>σφαγὰς ποιεῖν &lt;i&gt;of&lt;/i&gt; ποιεῖσθαι een bloedbad aanrichten<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σφαγιάζω
<span class='red'>&lt;tmp&gt;</span>&lt;/i&gt; ἐσφαγίασα, &lt;i&gt;pass.&lt;/i&gt; ἐσφαγιάσθην; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σφαδᾴζω
<span class='red'>&lt;tmp&gt;</span>ὁ .. ἵππος πληγεὶς σφαδᾴζων ἀποσείεται τὸν Κῦρον het paard werd geraakt, steigert en werpt Cyrus af; &lt;i&gt;van personen&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σφάζω
<span class='red'>&lt;tmp&gt;</span>ἔσφαξα, &lt;i&gt;pass.&lt;/i&gt; ἐσφάχθην &lt;i&gt;en&lt;/i&gt; η-&lt;i&gt;aor.&lt;/i&gt; ἐσφάγην; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σφαιρίον
<span class='red'>&lt;tmp&gt;</span>σφαῖρα, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σφάκελος
<span class='red'>&lt;tmp&gt;</span>stuiptrekking<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σφαλερός
<span class='red'>&lt;tmp&gt;</span>σφάλλω &lt;i&gt;act. (causat.)&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σφάλλω
<span class='red'>&lt;tmp&gt;</span>&lt;b&gt;&lt;i&gt;aor.&lt;/i&gt;&lt;/b&gt; ἔσφηλα, &lt;i&gt;ep.&lt;/i&gt; σφῆλα &lt;s&gt;Od.&lt;/s&gt; 17.464, &lt;i&gt;Dor.&lt;/i&gt; ἔσφᾱλα &lt;s&gt;Pind.&lt;/s&gt; &lt;i&gt;P.&lt;/i&gt; 8.15; &lt;i&gt;aor. pass.&lt;/i&gt; ἐσφάλην; &lt;b&gt;&lt;i&gt;perf.&lt;/b&gt; med.-pass.&lt;/i&gt; ἔσφαλμαι, &lt;i&gt;plqperf.&lt;/i&gt; ἐσφάλμην; &lt;b&gt;&lt;i&gt;fut.&lt;/i&gt;&lt;/b&gt; σφαλῶ, &lt;i&gt;med.&lt;/i&gt; σφαλοῦμαι, &lt;i&gt;pass.&lt;/i&gt; σφαλήσομαι.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σφεῖς
<span class='red'>&lt;tmp&gt;</span>σφεῖς &lt;i&gt;benadrukt identiteit, vaak contrastief&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σφενδονάω
<span class='red'>&lt;tmp&gt;</span>(met) iets<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σφηνίσκος
<span class='red'>&lt;tmp&gt;</span>σφήν, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σφόδρα
<span class='red'>&lt;tmp&gt;</span>= μάλα σφόδρα <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σφονδύλιον
<span class='red'>&lt;tmp&gt;</span>σφόνδυλος, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σφραγίδιον
<span class='red'>&lt;tmp&gt;</span>σφραγίς, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σφραγίζω
<span class='red'>&lt;tmp&gt;</span>ὁ σφραγισάμενος hij (is) degene die op ons zijn zegel heeft gedrukt; &lt;i&gt;met&lt;/i&gt; ὅτι-&lt;i&gt;zin&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

