<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
Doing<span class='cyan'>migrator-build-dir/data/ZETA.1.1 v8.1.xml</span>
Warning: (lemma: Ϝ_) Process::Bet<br/>Warning: (lemma: Ϝ_)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ϛʹ = 6, ͵ϛ = 6000.$ <br/>Warning: (lemma: Ϝ_) Process::Meta<br/>Warning: (lemma: Ϝ_)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: Ζ_) Process::Bet<br/>Warning: (lemma: Ζ_)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ζʹ = 7, ͵ζ = 7000 .$ <br/>Warning: (lemma: Ζ_) Process::Meta<br/>Warning: (lemma: Ζ_)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ζάθεος) Process::Meta<br/>Warning: (lemma: ζάθεος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Error: Error: Error getting styles, unusual nesting in node &lt;text:tab/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was ζαμενής)<br/>Error: Error: Couldn't get style for node (&lt;text:tab/&gt;) (Last successful lemma was ζαμενής)<br/>Error: Error: Error getting styles, unusual nesting in node &lt;text:tab/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was ζαμενής)<br/>Error: Error: Couldn't get style for node (&lt;text:tab/&gt;) (Last successful lemma was ζαμενής)<br/>Error: Error: Error getting styles, unusual nesting in node &lt;text:tab/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was ζαμενής)<br/>Error: Error: Couldn't get style for node (&lt;text:tab/&gt;) (Last successful lemma was ζαμενής)<br/>Error: Error: Error getting styles, unusual nesting in node &lt;text:tab/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was ζαμενής)<br/>Error: Error: Couldn't get style for node (&lt;text:tab/&gt;) (Last successful lemma was ζαμενής)<br/>Warning: (lemma: ζε) Process::Bet<br/>Warning: (lemma: ζε)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^Ἀθήναζε, Ὀλυμπίαζε, χαμᾶζε.$ <br/>Warning: (lemma: ζε) Process::Meta<br/>Warning: (lemma: ζε)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ζευγίτης) Process::Bet<br/>Warning: (lemma: ζευγίτης)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(ζεῦγος) &lt;i&gt;ossen konden permitteren&lt;/i&gt; .$ <br/>Warning: (lemma: ζεύγνυμι) Element::WerkV<br/>Warning: (lemma: ζεύγνυμι)<span class="space"></span><span class="space"></span><span class="space"></span>1<br/>Warning: (lemma: ζεύγνυμι) Process::Bet<br/>Warning: (lemma: ζεύγνυμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^= ζ. τὸν ποταμόν $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Ϝ
<span class='red'>&lt;tmp&gt;</span>ϛʹ = 6, ͵ϛ = 6000.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Ζ
<span class='red'>&lt;tmp&gt;</span>ζʹ = 7, ͵ζ = 7000 &lt;toel&gt;(voor het getal 6 zie de letter wau, na de epsilon)&lt;/toel&gt;.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ζε
<span class='red'>&lt;tmp&gt;</span>Ἀθήναζε, Ὀλυμπίαζε, χαμᾶζε.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ζευγίτης
<span class='red'>&lt;tmp&gt;</span>(ζεῦγος) &lt;i&gt;ossen konden permitteren&lt;/i&gt; .<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ζεύγνυμι
<span class='red'>&lt;tmp&gt;</span>&lt;b&gt;&lt;i&gt;aor.&lt;/b&gt;&lt;/i&gt; ἔζευξα, &lt;i&gt;med.&lt;/i&gt; ἐζευξάμην; &lt;b&gt;&lt;i&gt;aor. pass.&lt;/b&gt;&lt;/i&gt; ἐζεύχθην &lt;i&gt;en later&lt;/i&gt; ἐζύγην; &lt;b&gt;&lt;i&gt;perf. med.-pass.&lt;/b&gt;&lt;/i&gt; ἔζευγμαι, &lt;i&gt;ptc.&lt;/i&gt; ἐζευγμένος, &lt;i&gt;plqperf. med.-pass. 3 sing.&lt;/i&gt; ἔζευκτο; &lt;b&gt;&lt;i&gt;fut.&lt;/b&gt;&lt;/i&gt; ζεύξω, &lt;i&gt;med.&lt;/i&gt; ζεύξομαι<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/ZETA.1.2 v8.1.xml</span>
Warning: (lemma: ζεῦγος) Process::Meta<br/>Warning: (lemma: ζεῦγος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: Ζεύς_) Process::Meta<br/>Warning: (lemma: Ζεύς_)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ζέω) Process::Bet<br/>Warning: (lemma: ζέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^van &lt;i&gt;of&lt;/i&gt; door iets $ <br/>Warning: (lemma: ζῆλος) Process::Bet<br/>Warning: (lemma: ζῆλος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^3.3; $ <br/>Warning: (lemma: ζῆλος) Process::Bet<br/>Warning: (lemma: ζῆλος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^voor iem. &lt;i&gt;of&lt;/i&gt; iets $ <br/>Warning: (lemma: ζηλόω) Process::Bet<br/>Warning: (lemma: ζηλόω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^13.4.$ <br/>Warning: (lemma: ζημία) Process::Bet<br/>Warning: (lemma: ζημία)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^θάνατον ζημίαν προτιθέναι &lt;i&gt;of&lt;/i&gt; τάττειν &lt;i&gt;of&lt;/i&gt; ἐπιτίθεσθαι de doodstraf opleggen, &lt;i&gt;pass.&lt;/i&gt; $ <br/>Warning: (lemma: ζῆτα) Process::Bet<br/>Warning: (lemma: ζῆτα)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(~ Ζ, ζ), &lt;i&gt;zie&lt;/i&gt; Ζ, ζ.$ <br/>Warning: (lemma: ζῆτα) Process::Meta<br/>Warning: (lemma: ζῆτα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ζέω
<span class='red'>&lt;tmp&gt;</span>van &lt;i&gt;of&lt;/i&gt; door iets <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ζῆλος
<span class='red'>&lt;tmp&gt;</span>3.3; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ζηλόω
<span class='red'>&lt;tmp&gt;</span>13.4.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ζημία
<span class='red'>&lt;tmp&gt;</span>θάνατον ζημίαν προτιθέναι &lt;i&gt;of&lt;/i&gt; τάττειν &lt;i&gt;of&lt;/i&gt; ἐπιτίθεσθαι de doodstraf opleggen, &lt;i&gt;pass.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ζῆτα
<span class='red'>&lt;tmp&gt;</span>(~ Ζ, ζ), &lt;i&gt;zie&lt;/i&gt; Ζ, ζ.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/ZETA.1.3 v8.1.xml</span>
Warning: (lemma: ζήω) Element::WerkV<br/>Warning: (lemma: ζήω)<span class="space"></span><span class="space"></span><span class="space"></span>1<br/>Warning: (lemma: ζοφόω) Process::Bet<br/>Warning: (lemma: ζοφόω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐζοφωμένος donker, verduisterd.$ <br/>Error: (lemma: ζύγιος) Error: Unexpected:no text:p inside list-item<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>onder het ... (Last successful lemma was ζυγηφόρος)<br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ζήω
<span class='red'>&lt;tmp&gt;</span>&lt;b&gt;&lt;i&gt;aor.&lt;/b&gt;&lt;/i&gt; ἔζησα, &lt;i&gt;Ion.&lt;/i&gt; ἔζωσα; &lt;b&gt;&lt;i&gt;perf.&lt;/b&gt;&lt;/i&gt; ἔζηκα; &lt;b&gt;&lt;i&gt;fut.&lt;/b&gt;&lt;/i&gt; ζήσω, &lt;i&gt;med.&lt;/i&gt; ζήσομαι<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ζοφόω
<span class='red'>&lt;tmp&gt;</span>ἐζοφωμένος donker, verduisterd.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/ZETA.1.4 v8.1.xml</span>
Warning: (lemma: ζωγρία) Process::Bet<br/>Warning: (lemma: ζωγρία)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ζωγρίᾳ λαμβάνειν &lt;i&gt;of&lt;/i&gt; αἱρεῖν levend gevangen nemen.$ <br/>Warning: (lemma: ζῴδιον) Process::Bet<br/>Warning: (lemma: ζῴδιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ζῷον, $ <br/>Warning: (lemma: ζῳοθηρικός) Process::Bet<br/>Warning: (lemma: ζῳοθηρικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἡ ζ.<span class="space"></span><span class="space"></span>$ <br/>Warning: (lemma: ζῳοποιέω) Process::Bet<br/>Warning: (lemma: ζῳοποιέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^15.22.$ <br/>Warning: (lemma: ζῳοτροφικός) Process::Bet<br/>Warning: (lemma: ζῳοτροφικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἡ ζ.<span class="space"></span><span class="space"></span>$ <br/>Warning: (lemma: ζωμίδιον) Process::Bet<br/>Warning: (lemma: ζωμίδιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ζωμός, $ <br/>Warning: (lemma: ζωμίον) Process::Bet<br/>Warning: (lemma: ζωμίον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ζωμός, $ <br/>Warning: (lemma: ζώνιον) Process::Bet<br/>Warning: (lemma: ζώνιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ζώνη, $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ζωγρία
<span class='red'>&lt;tmp&gt;</span>ζωγρίᾳ λαμβάνειν &lt;i&gt;of&lt;/i&gt; αἱρεῖν levend gevangen nemen.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ζῴδιον
<span class='red'>&lt;tmp&gt;</span>ζῷον, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ζῳοθηρικός
<span class='red'>&lt;tmp&gt;</span>ἡ ζ. &lt;toel&gt;(sc. &lt;link target=""&gt;τέχνη&lt;/link&gt;)&lt;/toel&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ζῳοποιέω
<span class='red'>&lt;tmp&gt;</span>15.22.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ζῳοτροφικός
<span class='red'>&lt;tmp&gt;</span>ἡ ζ. &lt;toel&gt;(sc. &lt;link target=""&gt;τέχνη&lt;/link&gt;)&lt;/toel&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ζωμίδιον
<span class='red'>&lt;tmp&gt;</span>ζωμός, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ζωμίον
<span class='red'>&lt;tmp&gt;</span>ζωμός, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ζώνιον
<span class='red'>&lt;tmp&gt;</span>ζώνη, <span class='red'>&lt;/tmp&gt;</span>

