<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.25 v8.1.xml</span>
Warning: (lemma: συγγιγνώσκω) Process::Bet<br/>Warning: (lemma: συγγιγνώσκω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὡς-, ὅτι-&lt;i&gt;bijzin&lt;/i&gt;$ <br/>Warning: (lemma: συγγιγνώσκω) Process::Bet<br/>Warning: (lemma: συγγιγνώσκω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σ. ἑαυτῷ $ <br/>Warning: (lemma: συγγιγνώσκω) Process::Bet<br/>Warning: (lemma: συγγιγνώσκω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εἰ-&lt;i&gt;bijzin&lt;/i&gt;$ <br/>Warning: (lemma: συγγνώμη) Process::Bet<br/>Warning: (lemma: συγγνώμη)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σ. ἔχειν medelijden hebben (met), begrip hebben (voor), vergiffenis schenken (aan), excuseren &lt;i&gt;met dat. van persoon; met gen. van zaak&lt;/i&gt;$ <br/>Warning: (lemma: συγγνώμη) Process::Bet<br/>Warning: (lemma: συγγνώμη)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^= σ. ἀπονέμειν $ <br/>Warning: (lemma: συγγνώμη) Process::Bet<br/>Warning: (lemma: συγγνώμη)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^συγγνώμην λαμβάνειν geëxcuseerd worden$ <br/>Warning: (lemma: συγγνώμη) Process::Bet<br/>Warning: (lemma: συγγνώμη)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σ. (ἐστι)&lt;i&gt;met dat. en ptc.&lt;/i&gt; er is begrip voor (iem.) dat, het is begrijpelijk, vergeeflijk dat iem$ <br/>Warning: (lemma: συγγνώμη) Process::Bet<br/>Warning: (lemma: συγγνώμη)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εἰ-&lt;i&gt;bijzin&lt;/i&gt;: het is vergeeflijk als ...$ <br/>Warning: (lemma: συγγνωμοσύνη) Process::Bet<br/>Warning: (lemma: συγγνωμοσύνη)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^+ &lt;i&gt;gen.&lt;/i&gt;$ <br/>Warning: (lemma: συγγνώμων) Process::Bet<br/>Warning: (lemma: συγγνώμων)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^over &lt;i&gt;of&lt;/i&gt; in iets$ <br/>Warning: (lemma: συγγνώμων) Process::Bet<br/>Warning: (lemma: συγγνώμων)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^jegens iem$ <br/>Warning: (lemma: συγγνώμων) Process::Bet<br/>Warning: (lemma: συγγνώμων)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^voor iets$ <br/>Warning: (lemma: συγγνωστέος) Process::Bet<br/>Warning: (lemma: συγγνωστέος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^aan iem$ <br/>Warning: (lemma: συγγνωστός) Process::Bet<br/>Warning: (lemma: συγγνωστός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^συγγνωστόν/συγγνωστά (ἐστι) &lt;i&gt;met (dat. en) inf., of met AcI&lt;/i&gt;: het is iem. te vergeven dat ..., het is vergeeflijk dat iem$ <br/>Warning: (lemma: συγγνωστός) Process::Bet<br/>Warning: (lemma: συγγνωστός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^συγγνωστός (ἐστι) &lt;i&gt;met ptc.&lt;/i&gt; het is hem te vergeven dat $ <br/>Warning: (lemma: συγγομφόω) Process::Bet<br/>Warning: (lemma: συγγομφόω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(γόμφοι) $ <br/>Warning: (lemma: σύγγονος) Process::Bet<br/>Warning: (lemma: σύγγονος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὁ, ἡ σ. broer, zuster; οἱ σύγγονοι de verwanten, broers en/of zusters$ <br/>Warning: (lemma: συγγραπτέον) Process::Bet<br/>Warning: (lemma: συγγραπτέον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^door iem.$ <br/>Warning: (lemma: συγγραφικός) Process::Meta<br/>Warning: (lemma: συγγραφικός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συγγράφω) Process::Bet<br/>Warning: (lemma: συγγράφω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^patres conscripti $ <br/>Warning: (lemma: συγκάθημαι) Process::Bet<br/>Warning: (lemma: συγκάθημαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met.$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συγγιγνώσκω
<span class='red'>&lt;tmp&gt;</span>ὡς-, ὅτι-&lt;i&gt;bijzin&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συγγνώμη
<span class='red'>&lt;tmp&gt;</span>σ. ἔχειν medelijden hebben (met), begrip hebben (voor), vergiffenis schenken (aan), excuseren &lt;i&gt;met dat. van persoon; met gen. van zaak&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συγγνωμοσύνη
<span class='red'>&lt;tmp&gt;</span>+ &lt;i&gt;gen.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συγγνώμων
<span class='red'>&lt;tmp&gt;</span>over &lt;i&gt;of&lt;/i&gt; in iets<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συγγνωστέος
<span class='red'>&lt;tmp&gt;</span>aan iem<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συγγνωστός
<span class='red'>&lt;tmp&gt;</span>συγγνωστόν/συγγνωστά (ἐστι) &lt;i&gt;met (dat. en) inf., of met AcI&lt;/i&gt;: het is iem. te vergeven dat ..., het is vergeeflijk dat iem<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συγγομφόω
<span class='red'>&lt;tmp&gt;</span>(γόμφοι) <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σύγγονος
<span class='red'>&lt;tmp&gt;</span>ὁ, ἡ σ. broer, zuster; οἱ σύγγονοι de verwanten, broers en/of zusters<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συγγραπτέον
<span class='red'>&lt;tmp&gt;</span>door iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συγγράφω
<span class='red'>&lt;tmp&gt;</span>patres conscripti <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συγκάθημαι
<span class='red'>&lt;tmp&gt;</span>met.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.26 v8.1.xml</span>
Warning: (lemma: συγκαθίζω) Process::Bet<br/>Warning: (lemma: συγκαθίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^act. intrans. en med.- pass. intrans.$ <br/>Warning: (lemma: συγκάμνω) Process::Bet<br/>Warning: (lemma: συγκάμνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^samen met iem.$ <br/>Warning: (lemma: συγκαταβαίνω) Process::Bet<br/>Warning: (lemma: συγκαταβαίνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iets $ <br/>Warning: (lemma: συγκαταγηράσκω) Process::Bet<br/>Warning: (lemma: συγκαταγηράσκω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iets &lt;i&gt;of&lt;/i&gt; iem.$ <br/>Warning: (lemma: συγκατακαίω) Process::Bet<br/>Warning: (lemma: συγκατακαίω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem. $ <br/>Warning: (lemma: συγκατάκειμαι) Process::Bet<br/>Warning: (lemma: συγκατάκειμαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem. $ <br/>Warning: (lemma: συγκατασπάω) Process::Bet<br/>Warning: (lemma: συγκατασπάω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iets $ <br/>Warning: (lemma: συγκατέρχομαι) Process::Bet<br/>Warning: (lemma: συγκατέρχομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: συγκατηγορέω) Process::Bet<br/>Warning: (lemma: συγκατηγορέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.; &lt;i&gt;met gen.&lt;/i&gt; tegen iem.$ <br/>Warning: (lemma: σύγκειμαι) Process::Bet<br/>Warning: (lemma: σύγκειμαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^= καθάπερ ἦν ξυγκείμενον $ <br/>Warning: (lemma: σύγκειμαι) Process::Bet<br/>Warning: (lemma: σύγκειμαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὰ συγκείμενα wat afgesproken &lt;i&gt;of&lt;/i&gt; overeengekomen is, afspraak, overeenkomst: κατὰ τὰ συγκείμενα volgens de afspraak = ἐκ τῶν ξυγκειμένων $ <br/>Warning: (lemma: σύγκειμαι) Process::Bet<br/>Warning: (lemma: σύγκειμαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.; &lt;i&gt;subst. n.&lt;/i&gt; τὸ συγκείμενον het afgesprokene, &lt;i&gt;bijv. (afh. van context&lt;/i&gt;) de afgesproken plaats$ <br/>Warning: (lemma: συγκεκροτημένως) Process::Bet<br/>Warning: (lemma: συγκεκροτημένως)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^συγκροτέω, $ <br/>Warning: (lemma: συγκελεύω) Process::Bet<br/>Warning: (lemma: συγκελεύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^om te.$ <br/>Warning: (lemma: συγκεράννυμι) Process::Bet<br/>Warning: (lemma: συγκεράννυμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iets$ <br/>Warning: (lemma: συγκεράννυμι) Process::Bet<br/>Warning: (lemma: συγκεράννυμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^συγκέκραμαι &lt;i&gt;uitbr.&lt;/i&gt; $ <br/>Warning: (lemma: συγκεράννυμι) Process::Bet<br/>Warning: (lemma: συγκεράννυμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^12.24; &lt;i&gt;pass.&lt;/i&gt; $ <br/>Warning: (lemma: συγκεράννυμι) Process::Bet<br/>Warning: (lemma: συγκεράννυμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^uit iets; &lt;i&gt;med. overdr. van vriendschappen en vijandschappen&lt;/i&gt; $ <br/>Warning: (lemma: συγκεχυμένως) Process::Bet<br/>Warning: (lemma: συγκεχυμένως)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^συγχέω, $ <br/>Warning: (lemma: συγκινδυνεύω) Process::Bet<br/>Warning: (lemma: συγκινδυνεύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.; &lt;i&gt;abs.; met acc. v.h. inw. obj.&lt;/i&gt; $ <br/>Warning: (lemma: σύγκλητος) Process::Bet<br/>Warning: (lemma: σύγκλητος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἡ σύγκλητος , &lt;i&gt;in Griekenland&lt;/i&gt; $ <br/>Warning: (lemma: σύγκλισις) Process::Meta<br/>Warning: (lemma: σύγκλισις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σύγκλυς) Process::Meta<br/>Warning: (lemma: σύγκλυς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σύγκολλος) Process::Meta<br/>Warning: (lemma: σύγκολλος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συγκαθίζω
<span class='red'>&lt;tmp&gt;</span>act. intrans. en med.- pass. intrans.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συγκάμνω
<span class='red'>&lt;tmp&gt;</span>samen met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συγκαταβαίνω
<span class='red'>&lt;tmp&gt;</span>met iets <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συγκαταγηράσκω
<span class='red'>&lt;tmp&gt;</span>met iets &lt;i&gt;of&lt;/i&gt; iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συγκατακαίω
<span class='red'>&lt;tmp&gt;</span>met iem. <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συγκατάκειμαι
<span class='red'>&lt;tmp&gt;</span>met iem. <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συγκατασπάω
<span class='red'>&lt;tmp&gt;</span>met iets <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συγκατέρχομαι
<span class='red'>&lt;tmp&gt;</span>met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συγκατηγορέω
<span class='red'>&lt;tmp&gt;</span>met iem.; &lt;i&gt;met gen.&lt;/i&gt; tegen iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σύγκειμαι
<span class='red'>&lt;tmp&gt;</span>= καθάπερ ἦν ξυγκείμενον <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συγκεκροτημένως
<span class='red'>&lt;tmp&gt;</span>συγκροτέω, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συγκελεύω
<span class='red'>&lt;tmp&gt;</span>om te.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συγκεράννυμι
<span class='red'>&lt;tmp&gt;</span>met iets<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συγκεχυμένως
<span class='red'>&lt;tmp&gt;</span>συγχέω, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συγκινδυνεύω
<span class='red'>&lt;tmp&gt;</span>met iem.; &lt;i&gt;abs.; met acc. v.h. inw. obj.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σύγκλητος
<span class='red'>&lt;tmp&gt;</span>ἡ σύγκλητος &lt;toel&gt;(sc. &lt;link target=""&gt;βουλή&lt;/link&gt;)&lt;/toel&gt;, in Griekenland <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.27 v8.1.xml</span>
Warning: (lemma: σύγκρασις) Process::Meta<br/>Warning: (lemma: σύγκρασις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συγκρίνω) Process::Bet<br/>Warning: (lemma: συγκρίνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem. met iem., &lt;i&gt;met&lt;/i&gt; ἑαυτόν en &lt;i&gt;dat.&lt;/i&gt; zichzelf met iem.; &lt;i&gt;ook&lt;/i&gt; $ <br/>Warning: (lemma: συγκριτικός) Process::Bet<br/>Warning: (lemma: συγκριτικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἡ συγκριτική (τέχνη) $ <br/>Warning: (lemma: συγκροτέω) Process::Bet<br/>Warning: (lemma: συγκροτέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σ. τὼ χεῖρε in de handen klappen, applaudisseren ; &lt;i&gt;ook van ergernis;&lt;/i&gt; σ. τοὺς ὀδόντας klappertanden.$ <br/>Warning: (lemma: συγκρύπτω) Process::Bet<br/>Warning: (lemma: συγκρύπτω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^($ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συγκρίνω
<span class='red'>&lt;tmp&gt;</span>iem. met iem., &lt;i&gt;met&lt;/i&gt; ἑαυτόν en &lt;i&gt;dat.&lt;/i&gt; zichzelf met iem.; &lt;i&gt;ook&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συγκριτικός
<span class='red'>&lt;tmp&gt;</span>ἡ συγκριτική (τέχνη) <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συγκροτέω
<span class='red'>&lt;tmp&gt;</span>σ. τὼ χεῖρε in de handen klappen, applaudisseren ; &lt;i&gt;ook van ergernis;&lt;/i&gt; σ. τοὺς ὀδόντας klappertanden.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συγκρύπτω
<span class='red'>&lt;tmp&gt;</span>(<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.28 v8.1.xml</span>
Warning: (lemma: συγκωμάζω) Process::Vorm<br/>Warning: (lemma: συγκωμάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: συγκωμάζω) aor. Dor. imperat. 2 plur. &lt;r&gt;συγκωμάξατε &lt;s&gt;Pind.&lt;/s&gt;&lt;/r&gt;<br/>Warning: (lemma: συγκωμάζω) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: συγχαίρω) Process::Bet<br/>Warning: (lemma: συγχαίρω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^over iets$ <br/>Warning: (lemma: συγχαίρω) Process::Bet<br/>Warning: (lemma: συγχαίρω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^13.6; &lt;i&gt;met dat. van personen&lt;/i&gt; $ <br/>Warning: (lemma: συγχέω) Process::Bet<br/>Warning: (lemma: συγχέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^overdr.$ <br/>Warning: (lemma: συγχορηγέω) Process::Bet<br/>Warning: (lemma: συγχορηγέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^aan iem.; &lt;i&gt;met acc. v.h. inw. obj.&lt;/i&gt; $ <br/>Warning: (lemma: συγχωρέω) Process::Bet<br/>Warning: (lemma: συγχωρέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὅτι-&lt;i&gt;zin, met&lt;/i&gt; ὡς-&lt;i&gt;zin; pass.&lt;/i&gt; $ <br/>Warning: (lemma: συγχωρητέος) Process::Bet<br/>Warning: (lemma: συγχωρητέος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^συγχωρητέον &lt;i&gt;en plur.&lt;/i&gt; συγχωρητέα $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συγχαίρω
<span class='red'>&lt;tmp&gt;</span>over iets<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συγχέω
<span class='red'>&lt;tmp&gt;</span>overdr.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συγχορηγέω
<span class='red'>&lt;tmp&gt;</span>aan iem.; &lt;i&gt;met acc. v.h. inw. obj.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συγχωρέω
<span class='red'>&lt;tmp&gt;</span>ὅτι-&lt;i&gt;zin, met&lt;/i&gt; ὡς-&lt;i&gt;zin; pass.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συγχωρητέος
<span class='red'>&lt;tmp&gt;</span>συγχωρητέον &lt;i&gt;en plur.&lt;/i&gt; συγχωρητέα <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Sigma.1.29 v8.1.xml</span>
Warning: (lemma: συζεύγνυμι) Process::Bet<br/>Warning: (lemma: συζεύγνυμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem. met iem.; &lt;i&gt;vaak pass. met dat.&lt;/i&gt;$ <br/>Warning: (lemma: συζήω) Process::Bet<br/>Warning: (lemma: συζήω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.; &lt;i&gt;met dat. van zaken&lt;/i&gt; met iets$ <br/>Use of uninitialized value $pass2_input in concatenation (.) or string at /home/caspar/share/sandbox/git/grne/bin/../lib/GrNe/Process/Vorm.pm line 503.<br/>Warning: (lemma: σύζυγος) Process::Bet<br/>Warning: (lemma: σύζυγος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὁ &lt;i&gt;en&lt;/i&gt; ἡ σύζυγος &lt;i&gt;iem. die samen met een ander een paar vormt&lt;/i&gt;: $ <br/>Warning: (lemma: σύζυγος) Process::Meta<br/>Warning: (lemma: σύζυγος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: σύκινος) Process::Bet<br/>Warning: (lemma: σύκινος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σ. ξύλον stuk vijgenhout.$ <br/>Warning: (lemma: συλάω) Process::Vorm<br/>Warning: (lemma: συλάω)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: συλάω) ep. imperf. 3 sing. &lt;r&gt;ἐσύλα&lt;/r&gt; en &lt;r&gt;σύλα&lt;/r&gt;, Aeol. dual. &lt;r&gt;συλήτην &lt;s&gt;Il.&lt;/s&gt; 13.202&lt;/r&gt;.<br/>Warning: (lemma: συλάω) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: συλέω) Process::Vorm<br/>Warning: (lemma: συλέω)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: συλέω) alleen med., Ion. ptc. &lt;r&gt;συλεύμενον &lt;s&gt;Theocr.&lt;/s&gt; 19.2&lt;/r&gt;, <br/>Warning: (lemma: συλέω) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: συλλαμβάνω) Process::Bet<br/>Warning: (lemma: συλλαμβάνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem. &lt;i&gt;of&lt;/i&gt; iets; &lt;i&gt;met dat. en acc.&lt;/i&gt; iem. met &lt;i&gt;of&lt;/i&gt; in iets = &lt;i&gt;met dat. en gen.&lt;/i&gt; = &lt;i&gt;met dat. en&lt;/i&gt; εἰς + &lt;i&gt;acc.&lt;/i&gt;$ <br/>Warning: (lemma: συλλαμβάνω) Process::Bet<br/>Warning: (lemma: συλλαμβάνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^aan iets$ <br/>Warning: (lemma: συλλαμβάνω) Process::Bet<br/>Warning: (lemma: συλλαμβάνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐν γαστρί in de buik.$ <br/>Warning: (lemma: συλλέγω) Process::Vorm<br/>Warning: (lemma: συλλέγω)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: συλλέγω) Att. &lt;r&gt;ξυλλέγω&lt;/r&gt;, aor. ep. med. 3 sing. &lt;r&gt;συλλέξατο &lt;s&gt;Il.&lt;/s&gt; 18.413&lt;/r&gt;.<br/>Warning: (lemma: συλλέγω) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: συλλήπτωρ) Process::Bet<br/>Warning: (lemma: συλλήπτωρ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met &lt;i&gt;of&lt;/i&gt; in iets.$ <br/>Warning: (lemma: συλλογιστέος) Process::Bet<br/>Warning: (lemma: συλλογιστέος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὡς-&lt;i&gt;zin&lt;/i&gt;$ <br/>Warning: (lemma: συλλυπέω) Process::Bet<br/>Warning: (lemma: συλλυπέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^over iets$ <br/>Warning: (lemma: συλλυπέω) Process::Bet<br/>Warning: (lemma: συλλυπέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem. $ <br/>Warning: (lemma: συμβαίνω) Process::Bet<br/>Warning: (lemma: συμβαίνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^= ξ. καθ’ ὁμολογίαν $ <br/>Warning: (lemma: συμβαίνω) Process::Bet<br/>Warning: (lemma: συμβαίνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem$ <br/>Warning: (lemma: συμβαίνω) Process::Bet<br/>Warning: (lemma: συμβαίνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^op bepaalde voorwaarden$ <br/>Warning: (lemma: συμβαίνω) Process::Bet<br/>Warning: (lemma: συμβαίνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iets$ <br/>Warning: (lemma: συμβαίνω) Process::Bet<br/>Warning: (lemma: συμβαίνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^‘samenlopen’, het geval zijn$ <br/>Warning: (lemma: συμβαίνω) Process::Bet<br/>Warning: (lemma: συμβαίνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^συμβαίνει &lt;i&gt;met AcI&lt;/i&gt; het volgt dat … .$ <br/>Warning: (lemma: συμβαίνω) Process::Bet<br/>Warning: (lemma: συμβαίνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὰ συμβεβηκότα accidentia.$ <br/>Warning: (lemma: σύμβακχος) Process::Bet<br/>Warning: (lemma: σύμβακχος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: συμβάλλω) Process::Vorm<br/>Warning: (lemma: συμβάλλω)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: συμβάλλω) Att. en soms ep. &lt;r&gt;ξυμβάλλω&lt;/r&gt;, stamaor. dual. &lt;r&gt;ξυμβλήτην &lt;s&gt;Od.&lt;/s&gt; 21.15&lt;/r&gt;, inf. &lt;r&gt;ξυμβλήμεναι &lt;s&gt;Il.&lt;/s&gt; 21.578&lt;/r&gt;, med. ind. 3 sing. &lt;r&gt;ξύμβλητο&lt;/r&gt; en 3 plur. &lt;r&gt;ξύμβληντο&lt;/r&gt;, conj. 2 sing. &lt;r&gt;συμβλήσεαι &lt;s&gt;Il.&lt;/s&gt; 20.335&lt;/r&gt;, 3 sing. &lt;r&gt;ξύμβληται &lt;s&gt;Od.&lt;/s&gt; 7.204&lt;/r&gt;, ptc. &lt;r&gt;ξυμβλήμενος &lt;s&gt;Od.&lt;/s&gt; 11.127&lt;/r&gt;; ook in tmes.<br/>Warning: (lemma: συμβάλλω) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: συμβάλλω) Process::Bet<br/>Warning: (lemma: συμβάλλω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem. tegenover iem$ <br/>Warning: (lemma: συμβάλλω) Process::Bet<br/>Warning: (lemma: συμβάλλω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem$ <br/>Warning: (lemma: συμβάλλω) Process::Bet<br/>Warning: (lemma: συμβάλλω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem$ <br/>Warning: (lemma: συμβάλλω) Process::Bet<br/>Warning: (lemma: συμβάλλω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὅτι-&lt;i&gt;zin;&lt;/i&gt; $ <br/>Warning: (lemma: συμβάλλω) Process::Bet<br/>Warning: (lemma: συμβάλλω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^μέρος σ. een deel bijdragen= μοῖραν σ. $ <br/>Warning: (lemma: συμβάλλω) Process::Bet<br/>Warning: (lemma: συμβάλλω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εἰς &lt;i&gt;of&lt;/i&gt; πρός + &lt;i&gt;acc.&lt;/i&gt; aan iets$ <br/>Warning: (lemma: συμβάλλω) Process::Bet<br/>Warning: (lemma: συμβάλλω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σ. γνώμην zijn mening geven = σ. λόγον $ <br/>Warning: (lemma: συμβάλλω) Process::Bet<br/>Warning: (lemma: συμβάλλω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem$ <br/>Warning: (lemma: συμβατικός) Process::Bet<br/>Warning: (lemma: συμβατικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^συμβατικῶς ἔχειν tot een overeenkomst geneigd zijn.$ <br/>Warning: (lemma: συμβατικός) Process::Meta<br/>Warning: (lemma: συμβατικός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συμβιβάζω) Process::Bet<br/>Warning: (lemma: συμβιβάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^door iets; &lt;i&gt;overdr.&lt;/i&gt; $ <br/>Warning: (lemma: συμβιβάζω) Process::Bet<br/>Warning: (lemma: συμβιβάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem$ <br/>Warning: (lemma: συμβιβάζω) Process::Bet<br/>Warning: (lemma: συμβιβάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὅτι-&lt;i&gt;zin&lt;/i&gt; $ <br/>Warning: (lemma: συμβιόω) Process::Bet<br/>Warning: (lemma: συμβιόω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.; &lt;i&gt;overdr. met dat. van zaken&lt;/i&gt; $ <br/>Warning: (lemma: συμβόλαιος) Process::Meta<br/>Warning: (lemma: συμβόλαιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συμβολή) Process::Bet<br/>Warning: (lemma: συμβολή)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem. $ <br/>Warning: (lemma: συμβολή) Process::Bet<br/>Warning: (lemma: συμβολή)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^= συμβολὰς παρέχεσθαι &lt;i&gt;met&lt;/i&gt; εἰς + &lt;i&gt;acc.&lt;/i&gt; $ <br/>Warning: (lemma: σύμβολος) Process::Bet<br/>Warning: (lemma: σύμβολος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐνοδίους ... συμβόλους διώρισ’(α) ik heb voortekens die op ons pad komen geduid Aesch. PV 487.$ <br/>Warning: (lemma: σύμβολος) Process::Meta<br/>Warning: (lemma: σύμβολος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: συμβούλευμα) Process::Bet<br/>Warning: (lemma: συμβούλευμα)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^aan iem. $ <br/>Warning: (lemma: συμβουλευτέος) Process::Bet<br/>Warning: (lemma: συμβουλευτέος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^aan iem.$ <br/>Warning: (lemma: συμβουλεύω) Process::Bet<br/>Warning: (lemma: συμβουλεύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem.; &lt;i&gt;met&lt;/i&gt; περί + &lt;i&gt;gen.&lt;/i&gt; over iets; &lt;i&gt;met acc. v.h. inw. obj.&lt;/i&gt; $ <br/>Warning: (lemma: συμβουλεύω) Process::Bet<br/>Warning: (lemma: συμβουλεύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets (aan) iem.; &lt;i&gt;met inf.&lt;/i&gt; $ <br/>Warning: (lemma: συμβουλεύω) Process::Bet<br/>Warning: (lemma: συμβουλεύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.; &lt;i&gt;met acc.&lt;/i&gt; over iets$ <br/>Warning: (lemma: συμβουλεύω) Process::Bet<br/>Warning: (lemma: συμβουλεύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem.; &lt;i&gt;met acc.&lt;/i&gt; over iets; &lt;i&gt;ellipt.&lt;/i&gt; $ <br/>Warning: (lemma: συμβουλή) Process::Bet<br/>Warning: (lemma: συμβουλή)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^over iets.$ <br/>Warning: (lemma: συμβουλία) Process::Bet<br/>Warning: (lemma: συμβουλία)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^aan iem.$ <br/>Warning: (lemma: σύμβουλος) Process::Bet<br/>Warning: (lemma: σύμβουλος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^in, over iets; ξύμβουλος γίγνεσθαι raadgeven, adviseren, &lt;i&gt;met dat.&lt;/i&gt; iem$ <br/>Warning: (lemma: σύμβουλος) Process::Bet<br/>Warning: (lemma: σύμβουλος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^adviseren om … $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συζεύγνυμι
<span class='red'>&lt;tmp&gt;</span>iem. met iem.; &lt;i&gt;vaak pass. met dat.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συζήω
<span class='red'>&lt;tmp&gt;</span>met iem.; &lt;i&gt;met dat. van zaken&lt;/i&gt; met iets<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σύζυγος
<span class='red'>&lt;tmp&gt;</span>ὁ &lt;i&gt;en&lt;/i&gt; ἡ σύζυγος &lt;i&gt;iem. die samen met een ander een paar vormt&lt;/i&gt;: <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σύκινος
<span class='red'>&lt;tmp&gt;</span>σ. ξύλον stuk vijgenhout.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συλλαμβάνω
<span class='red'>&lt;tmp&gt;</span>iem. &lt;i&gt;of&lt;/i&gt; iets; &lt;i&gt;met dat. en acc.&lt;/i&gt; iem. met &lt;i&gt;of&lt;/i&gt; in iets = &lt;i&gt;met dat. en gen.&lt;/i&gt; = &lt;i&gt;met dat. en&lt;/i&gt; εἰς + &lt;i&gt;acc.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συλλήπτωρ
<span class='red'>&lt;tmp&gt;</span>met &lt;i&gt;of&lt;/i&gt; in iets.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συλλογιστέος
<span class='red'>&lt;tmp&gt;</span>ὡς-&lt;i&gt;zin&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συλλυπέω
<span class='red'>&lt;tmp&gt;</span>over iets<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμβαίνω
<span class='red'>&lt;tmp&gt;</span>= ξ. καθ’ ὁμολογίαν <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σύμβακχος
<span class='red'>&lt;tmp&gt;</span>met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμβάλλω
<span class='red'>&lt;tmp&gt;</span>iem. tegenover iem<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμβατικός
<span class='red'>&lt;tmp&gt;</span>συμβατικῶς ἔχειν tot een overeenkomst geneigd zijn.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμβιβάζω
<span class='red'>&lt;tmp&gt;</span>door iets; &lt;i&gt;overdr.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμβιόω
<span class='red'>&lt;tmp&gt;</span>met iem.; &lt;i&gt;overdr. met dat. van zaken&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμβολή
<span class='red'>&lt;tmp&gt;</span>met iem. <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σύμβολος
<span class='red'>&lt;tmp&gt;</span>ἐνοδίους ... συμβόλους διώρισ’(α) ik heb voortekens die op ons pad komen geduid Aesch. PV 487.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμβούλευμα
<span class='red'>&lt;tmp&gt;</span>aan iem. <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμβουλευτέος
<span class='red'>&lt;tmp&gt;</span>aan iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμβουλεύω
<span class='red'>&lt;tmp&gt;</span>iem.; &lt;i&gt;met&lt;/i&gt; περί + &lt;i&gt;gen.&lt;/i&gt; over iets; &lt;i&gt;met acc. v.h. inw. obj.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμβουλή
<span class='red'>&lt;tmp&gt;</span>over iets.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>συμβουλία
<span class='red'>&lt;tmp&gt;</span>aan iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>σύμβουλος
<span class='red'>&lt;tmp&gt;</span>in, over iets; ξύμβουλος γίγνεσθαι raadgeven, adviseren, &lt;i&gt;met dat.&lt;/i&gt; iem<span class='red'>&lt;/tmp&gt;</span>

