<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
Doing<span class='cyan'>migrator-build-dir/data/GAMMA.1.1 v8.2.xml</span>
Warning: (lemma: Γ_) Process::Bet<br/>Warning: (lemma: Γ_)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^γʹ = 3; ͵γ = 3.000.$ <br/>Warning: (lemma: Γ_) Process::Meta<br/>Warning: (lemma: Γ_)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: γάγγραινα) Process::Meta<br/>Warning: (lemma: γάγγραινα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: γαμέω) Process::Bet<br/>Warning: (lemma: γαμέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^Ἀδρήστοιο δ’ ἔγημε θυγατρῶν hij trouwde met één van de dochters van Adrastυs $ <br/>Warning: (lemma: γαμέω) Process::Bet<br/>Warning: (lemma: γαμέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^5.11.$ <br/>Warning: (lemma: γαμέω) Process::Bet<br/>Warning: (lemma: γαμέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^γάμος &lt;i&gt;aangaat:&lt;/i&gt; $ <br/>Warning: (lemma: γαμέω) Process::Bet<br/>Warning: (lemma: γαμέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met (een man).$ <br/>Warning: (lemma: γαμήλευμα) Error: morfI_node value was undef<br/>Warning: (lemma: γαμικός) Process::Bet<br/>Warning: (lemma: γαμικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^huwelijkskwesties $ <br/>Warning: (lemma: γάμμα) Process::Bet<br/>Warning: (lemma: γάμμα)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^Γ, γ.$ <br/>Warning: (lemma: γάμμα) Process::Meta<br/>Warning: (lemma: γάμμα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: γάμος) Process::Bet<br/>Warning: (lemma: γάμος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^γάμον γαμεῖν, &lt;i&gt;zie&lt;/i&gt; γαμέω.$ <br/>Warning: (lemma: γανόω) Process::Meta<br/>Warning: (lemma: γανόω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: γάνυμαι) Process::Bet<br/>Warning: (lemma: γάνυμαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^over iets &lt;i&gt;of&lt;/i&gt; iemand.$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Γ
<span class='red'>&lt;tmp&gt;</span>γʹ = 3; ͵γ = 3.000.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γαμέω
<span class='red'>&lt;tmp&gt;</span>Ἀδρήστοιο δ’ ἔγημε θυγατρῶν hij trouwde met één van de dochters van Adrastυs <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γαμικός
<span class='red'>&lt;tmp&gt;</span>huwelijkskwesties <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γάμμα
<span class='red'>&lt;tmp&gt;</span>Γ, γ.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γάμος
<span class='red'>&lt;tmp&gt;</span>γάμον γαμεῖν, &lt;i&gt;zie&lt;/i&gt; γαμέω.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γάνυμαι
<span class='red'>&lt;tmp&gt;</span>over iets &lt;i&gt;of&lt;/i&gt; iemand.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/GAMMA.1.2 v8.1.xml</span>
Warning: (lemma: γάρ) Process::Bet<br/>Warning: (lemma: γάρ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εἰ γάρ, &lt;i&gt;Hom. ook&lt;/i&gt; αἲ γάρ &lt;i&gt;met opt.;&lt;/i&gt; γάρ &lt;i&gt;benadrukt dat de wens een reactie is op wat eerder is gezegd&lt;/i&gt;: ja, als eens ..., &lt;i&gt;d.w.z.&lt;/i&gt; $ <br/>Warning: (lemma: γάρ) Process::Bet<br/>Warning: (lemma: γάρ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἀλλὰ γάρ &lt;i&gt;en&lt;/i&gt; ἀλλὰ ... γάρ &lt;i&gt;zie&lt;/i&gt; ἀλλά; καὶ γάρ &lt;i&gt;en&lt;/i&gt; καὶ ... γάρ &lt;i&gt;zie&lt;/i&gt; καί.$ <br/>Warning: (lemma: γάρ) Process::Meta<br/>Warning: (lemma: γάρ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: γάρ) Process::Meta<br/>Warning: (lemma: γάρ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: γάρ) Process::Bet<br/>Warning: (lemma: γάρ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^καί &lt;i&gt;en&lt;/i&gt; δέ; &lt;i&gt;de zin wordt onderbroken; vaak te vertalen met&lt;/i&gt; $ <br/>Warning: (lemma: γάρ) Process::Meta<br/>Warning: (lemma: γάρ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: γάρ) Process::Bet<br/>Warning: (lemma: γάρ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἦ γάρ; $ <br/>Warning: (lemma: γάρ) Process::Bet<br/>Warning: (lemma: γάρ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^οὐ γάρ; $ <br/>Warning: (lemma: γάρ) Process::Bet<br/>Warning: (lemma: γάρ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^πῶς γὰρ οὐ; $ <br/>Warning: (lemma: γάρ) Process::Bet<br/>Warning: (lemma: γάρ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τί γάρ; $ <br/>Warning: (lemma: γάρ) Process::Meta<br/>Warning: (lemma: γάρ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γάρ-1
<span class='red'>&lt;tmp&gt;</span>εἰ γάρ, &lt;i&gt;Hom. ook&lt;/i&gt; αἲ γάρ &lt;i&gt;met opt.;&lt;/i&gt; γάρ &lt;i&gt;benadrukt dat de wens een reactie is op wat eerder is gezegd&lt;/i&gt;: ja, als eens ..., &lt;i&gt;d.w.z.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γάρ-3
<span class='red'>&lt;tmp&gt;</span>καί &lt;i&gt;en&lt;/i&gt; δέ; &lt;i&gt;de zin wordt onderbroken; vaak te vertalen met&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γάρ-4
<span class='red'>&lt;tmp&gt;</span>ἦ γάρ; <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/GAMMA.1.3 v8.1.xml</span>
Warning: Vorm pass not successful for node ^γα̅ρύω Dor. en Aeol. voor γηρύω.$ <br/>Error: Error: Vorm pass failed for primary structure lemma γα̅ρύω Dor. en Aeol. voor γηρύ ...<span class="space"></span><span class="space"></span>(Last successful lemma was γαργαρεών)<br/>Warning: (lemma: γαστήρ) Process::Bet<br/>Warning: (lemma: γαστήρ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐν γαστρὶ ἔχειν zwanger zijn.$ <br/>Warning: (lemma: γάστρις) Process::Meta<br/>Warning: (lemma: γάστρις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γαστήρ
<span class='red'>&lt;tmp&gt;</span>ἐν γαστρὶ ἔχειν zwanger zijn.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/GAMMA.1.4 v8.1.xml</span>
Warning: (lemma: γαυριάω) Process::Bet<br/>Warning: (lemma: γαυριάω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^op &lt;i&gt;of&lt;/i&gt; vanwege iets; &lt;i&gt;ook med.&lt;/i&gt;$ <br/>Warning: (lemma: γαυρόω) Process::Bet<br/>Warning: (lemma: γαυρόω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^op &lt;i&gt;of&lt;/i&gt; vanwege iets.$ <br/>Warning: (lemma: γαυσός) Process::Meta<br/>Warning: (lemma: γαυσός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γαυριάω
<span class='red'>&lt;tmp&gt;</span>op &lt;i&gt;of&lt;/i&gt; vanwege iets; &lt;i&gt;ook med.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γαυρόω
<span class='red'>&lt;tmp&gt;</span>op &lt;i&gt;of&lt;/i&gt; vanwege iets.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/GAMMA.1.5 v8.1.xml</span>
Warning: (lemma: γε) Process::Bet<br/>Warning: (lemma: γε)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^γε, &lt;i&gt;en drukt uit dat andere dingen er even niet toe doen&lt;/i&gt; $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γε
<span class='red'>&lt;tmp&gt;</span>γε, &lt;i&gt;en drukt uit dat andere dingen er even niet toe doen&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/GAMMA.1.6 v8.2.xml</span>
Warning: (lemma: γείνομαι) Process::Bet<br/>Warning: (lemma: γείνομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^γεινόμενος, &lt;i&gt;als metr. variant van&lt;/i&gt; $ <br/>Warning: (lemma: γελάω) Element::WerkV<br/>Warning: (lemma: γελάω)<span class="space"></span><span class="space"></span><span class="space"></span>1<br/>Warning: (lemma: γέλοιος) Process::Meta<br/>Warning: (lemma: γέλοιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: γέμω) Process::Bet<br/>Warning: (lemma: γέμω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^of $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γείνομαι
<span class='red'>&lt;tmp&gt;</span>γεινόμενος, &lt;i&gt;als metr. variant van&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γελάω
<span class='red'>&lt;tmp&gt;</span>&lt;b&gt;&lt;i&gt;aor.&lt;/b&gt;&lt;/i&gt; ἐγέλασα, &lt;i&gt;ep.&lt;/i&gt; (ἐ)γέλασσα, &lt;i&gt;Dor.&lt;/i&gt; (ἐ)γέλαξα; &lt;b&gt;&lt;i&gt;perf. med.-pass.&lt;/b&gt; 3 sing.&lt;/i&gt; γεγέλασται; &lt;b&gt;&lt;i&gt;aor. pass.&lt;/b&gt;&lt;/i&gt; ἐγελάσθην;&lt;b&gt; &lt;i&gt;fut.&lt;/b&gt; Att. med.&lt;/i&gt; γελάσομαι, &lt;i&gt;later&lt;/i&gt; γελάσω<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γέμω
<span class='red'>&lt;tmp&gt;</span>of <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/GAMMA.1.7 v8.1.xml</span>
Warning: (lemma: γενεά) Process::Bet<br/>Warning: (lemma: γενεά)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^= ἀπὸ γενεᾶς $ <br/>Warning: (lemma: γενέθλιος) Process::Bet<br/>Warning: (lemma: γενέθλιος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἡ γενεθλία<span class="space"></span><span class="space"></span>verjaardag; &lt;i&gt;subst., als acc. v.h. inw. obj.&lt;/i&gt;$ <br/>Warning: (lemma: γένημα) Process::Bet<br/>Warning: (lemma: γένημα)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^9.10.$ <br/>Warning: (lemma: γενναῖος) Process::Meta<br/>Warning: (lemma: γενναῖος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: γενναιότης) Process::Bet<br/>Warning: (lemma: γενναιότης)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^γενναιότης σοι, μωρία δ᾿ ἔνεστί τις u bezit geestesadel, maar ook een zekere dwaasheid; &lt;i&gt;van vruchtbare landbouwgrond&lt;/i&gt;$ <br/>Warning: (lemma: γεννάω) Element::WerkV<br/>Warning: (lemma: γεννάω)<span class="space"></span><span class="space"></span><span class="space"></span>1<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γενεά
<span class='red'>&lt;tmp&gt;</span>= ἀπὸ γενεᾶς <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γενέθλιος
<span class='red'>&lt;tmp&gt;</span>ἡ γενεθλία &lt;toel&gt;(sc. &lt;link target=""&gt;ἡμέρα&lt;/link&gt;)&lt;/toel&gt; verjaardag; subst., als acc. v.h. inw. obj.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γένημα
<span class='red'>&lt;tmp&gt;</span>9.10.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γενναιότης
<span class='red'>&lt;tmp&gt;</span>γενναιότης σοι, μωρία δ’ ἔνεστί τις u bezit geestesadel, maar ook een zekere dwaasheid; &lt;i&gt;van vruchtbare landbouwgrond&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γεννάω
<span class='red'>&lt;tmp&gt;</span>&lt;i&gt;&lt;b&gt;perf.&lt;/b&gt;&lt;/i&gt; γεγέννηκα, &lt;b&gt;&lt;i&gt;perf. med.-pass.&lt;/b&gt;&lt;/i&gt; γεγέννημαι; &lt;b&gt;&lt;i&gt;fut.&lt;/b&gt;&lt;/i&gt; γεννήσω, &lt;i&gt;Dor.&lt;/i&gt; γεννά̅σω, &lt;i&gt;med.&lt;/i&gt; γεννήσομαι, &lt;i&gt;fut. pass.&lt;/i&gt; γεννηθήσομαι<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/GAMMA.1.8 v8.1.xml</span>
Warning: (lemma: γένος) Process::Bet<br/>Warning: (lemma: γένος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^($ <br/>Warning: (lemma: γέντο) Process::Meta<br/>Warning: (lemma: γέντο)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: γέρων) Process::Bet<br/>Warning: (lemma: γέρων)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^οἱ γέροντες $ <br/>Warning: (lemma: γευστέον) Process::Bet<br/>Warning: (lemma: γευστέον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^van iets $ <br/>Warning: (lemma: γεύω) Element::WerkV<br/>Warning: (lemma: γεύω)<span class="space"></span><span class="space"></span><span class="space"></span>1<br/>Warning: (lemma: γεύω) Process::Bet<br/>Warning: (lemma: γεύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^1; &lt;i&gt;overdr.&lt;/i&gt; $ <br/>Warning: (lemma: γεφυροποιός) Process::Bet<br/>Warning: (lemma: γεφυροποιός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^pontifex) $ <br/>Warning: Vorm pass not successful for node ^γεωγραφία -ας, ἡ, Ion. γεωγραφίη [γῆ, γράφω] (titel van werk over geografie) Geografie.$ <br/>Error: Error: Vorm pass failed for primary structure lemma γεωγραφία -ας, ἡ, Ion. γεωγραφ ...<span class="space"></span><span class="space"></span>(Last successful lemma was γεφυρωτής)<br/>Warning: (lemma: γεώλοφος) Process::Bet<br/>Warning: (lemma: γεώλοφος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὁ γ. $ <br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γένος
<span class='red'>&lt;tmp&gt;</span>(<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γέρων
<span class='red'>&lt;tmp&gt;</span>οἱ γέροντες <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γευστέον
<span class='red'>&lt;tmp&gt;</span>van iets <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γεύω
<span class='red'>&lt;tmp&gt;</span>&lt;b&gt;&lt;i&gt;aor.&lt;/b&gt; med. ep. conj.&lt;/i&gt; γεύσεται, -σόμεθα, &lt;i&gt;poët. opt. 3 plur.&lt;/i&gt; γευσαίατο; &lt;i&gt;perf. med.&lt;/i&gt; γέγευμαι<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γεφυροποιός
<span class='red'>&lt;tmp&gt;</span>pontifex) <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γεώλοφος
<span class='red'>&lt;tmp&gt;</span>ὁ γ. <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/GAMMA.1.9 v8.2.xml</span>
Warning: (lemma: γεώργιον) Process::Bet<br/>Warning: (lemma: γεώργιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^3.9.$ <br/>Warning: (lemma: γῆ) Process::Meta<br/>Warning: (lemma: γῆ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: γηθέω) Process::Bet<br/>Warning: (lemma: γηθέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^φρένα, κατὰ θυμόν &lt;i&gt;of&lt;/i&gt; θυμῷ: in zijn hart; &lt;i&gt;met NcP&lt;/i&gt;$ <br/>Warning: (lemma: γηθέω) Process::Bet<br/>Warning: (lemma: γηθέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὅτι- &lt;i&gt;of&lt;/i&gt; οὕνεκα-&lt;i&gt;zin&lt;/i&gt; dat; &lt;i&gt;perf. ptc.&lt;/i&gt; γεγηθώς $ <br/>Warning: (lemma: γηθόσυνος) Process::Meta<br/>Warning: (lemma: γηθόσυνος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: γηίτης) Process::Meta<br/>Warning: (lemma: γηίτης)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: γηραλέος) Process::Bet<br/>Warning: (lemma: γηραλέος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^γηραιός, γεραιός.$ <br/>Warning: (lemma: γηρύω) Element::WerkV<br/>Warning: (lemma: γηρύω)<span class="space"></span><span class="space"></span><span class="space"></span>1<br/>Warning: (lemma: Γίγας_) Process::Meta<br/>Warning: (lemma: Γίγας_)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γεώργιον
<span class='red'>&lt;tmp&gt;</span>3.9.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γηθέω
<span class='red'>&lt;tmp&gt;</span>φρένα, κατὰ θυμόν &lt;i&gt;of&lt;/i&gt; θυμῷ: in zijn hart; &lt;i&gt;met NcP&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γηραλέος
<span class='red'>&lt;tmp&gt;</span>γηραιός, γεραιός.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γηρύω
<span class='red'>&lt;tmp&gt;</span>&lt;b&gt;&lt;i&gt;aor.&lt;/b&gt;&lt;/i&gt; ἐγήρυσα, &lt;i&gt;med.&lt;/i&gt; -άμην, &lt;i&gt;Dor.&lt;/i&gt; -γα̅ρ-; &lt;i&gt;ptc. aor. pass.&lt;/i&gt; γηρυθείς &lt;i&gt;(med. bet.); &lt;b&gt;fut.&lt;/b&gt;&lt;/i&gt; γηρύσω, &lt;i&gt;med.&lt;/i&gt; -ύσομαι, &lt;i&gt;Dor.&lt;/i&gt; γα̅ρ-<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/GAMMA.1.10 v8.2.xml</span>
Warning: Vorm pass not successful for node ^γίγνομαι en γί̅νομαι, Ion., Aeol. en koine praes. γί̅νομαι, imperf. ἐγι(γ)νόμην poët. γιγνόμην; aor­. ἐγενόμην, Dor. (ἐ)γενόμαν, Ion. iter. 3 sing. γενέσκετο, ep. Ion. 2 sing. γένεο en γένευ, athem. ep. en poët. 3 sing. ἔγεντο en γέντο, Ion. imperat. γενεῦ; θη-aor. ἐγενήθην (geen pass. bet.); perf. γέγονα ep. 2 plur. γεγάα̅τε 3 plur. γεγόνα̅σι, ep. γεγάα̅σι, later γέγοναν, inf. γεγονέναι, ep. γεγά̆μεν, Dor. γεγά̅κειν, ptc. γεγονώς -υῖα -ός, ep. γεγαώς -αυῖα (-αῶτες -αυῖαι), poët. γεγώς -ῶσα (-ῶτες dual. -ῶτε), plqperf. 3 sing. ἐγεγόνει, Ion. -όνεε; perf. ook γεγένημαι, ptc. γεγενημένος, plqperf. med. (ἐ)γεγένητο; fut. γενήσομαι, θη-fut. 3 sing. γενηθήσεται$ <br/>Error: Error: Vorm pass failed for higher structure lemma. γίγνομαι en γί̅νομαι, Ion., Ae ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^γιγνώσκω en γινώσκω, praes. Ion., Aeol., Dor. en koine γινώσκω; stamaor. ἔγνων, ep. γνῶν, 3 plur. ἔγνωσαν, poët. ἔγνων, Dor. ἔγνον, ep. 3 dual. γνώτην, conj. γνῶ -ῷς -ῷ, ep. ook γνώω γνώῃς γνώῃ, plur. γνώομεν γνώωσι, opt. γνοίην, plur. γνοῖμεν γνοῖτε γνοῖεν naast γνοίημεν γνοίητε γνοίησαν, imperat. γνῶθι, plur. γνῶτε, inf. γνῶναι, ep. γνώμεναι, ptc. γνούς; aor. pass. ἐγνώσθην; perf. ἔγνωκα; perf. pass. ἔγνωσμαι; fut. γνώσομαι, Dor. 3 sing. γνωσεῖται; fut. pass. γνωσθήσομαι.$ <br/>Error: Error: Vorm pass failed for higher structure lemma. γιγνώσκω en γινώσκω, praes. Io ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^γίνομαι, zie γίγνομαι.$ <br/>Error: Error: Vorm pass failed for primary structure lemma γίνομαι, zie γίγνομαι.<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^γινώσκω, zie γιγνώσκω.$ <br/>Error: Error: Vorm pass failed for primary structure lemma γινώσκω, zie γιγνώσκω.<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>
* # total failures: 4<br/>
Doing<span class='cyan'>migrator-build-dir/data/GAMMA.1.11 v8.1.xml</span>
Warning: Vorm pass not successful for node ^γλαυκίσκος -ου, ὁ [γλαυκός] een bepaald soort blauwgrijs visje AP 5.185.2.$ <br/>Error: Error: Vorm pass failed for primary structure lemma γλαυκίσκος -ου, ὁ [γλαυκός] ee ...<span class="space"></span><span class="space"></span>(Last successful lemma was γλαυκιάω)<br/>Warning: (lemma: γλαυκός) Process::Meta<br/>Warning: (lemma: γλαυκός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: γλαῦξ) Process::Meta<br/>Warning: (lemma: γλαῦξ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: γλαφυρός) Process::Bet<br/>Warning: (lemma: γλαφυρός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ γ. $ <br/>Warning: (lemma: γλίχομαι) Process::Bet<br/>Warning: (lemma: γλίχομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὡς &lt;i&gt;en indic. fut.&lt;/i&gt;$ <br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γλαφυρός
<span class='red'>&lt;tmp&gt;</span>τὸ γ. <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γλίχομαι
<span class='red'>&lt;tmp&gt;</span>ὡς &lt;i&gt;en indic. fut.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/GAMMA.1.12 v8.1.xml</span>
Warning: (lemma: γνάφαλλον) Process::Bet<br/>Warning: (lemma: γνάφαλλον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κνέφαλλον.$ <br/>Warning: (lemma: γναφεῖον) Process::Bet<br/>Warning: (lemma: γναφεῖον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κναφεῖον.$ <br/>Warning: (lemma: γναφεύς) Process::Bet<br/>Warning: (lemma: γναφεύς)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κναφεύς.$ <br/>Warning: (lemma: γνήσιος) Process::Bet<br/>Warning: (lemma: γνήσιος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ γ. $ <br/>Warning: (lemma: γνήσιος) Process::Bet<br/>Warning: (lemma: γνήσιος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^8.8.$ <br/>Warning: (lemma: γνῶμα) Process::Bet<br/>Warning: (lemma: γνῶμα)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^($ <br/>Warning: (lemma: γνωμονικός) Process::Bet<br/>Warning: (lemma: γνωμονικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^in iets $ <br/>Warning: (lemma: γνωρίζω) Process::Bet<br/>Warning: (lemma: γνωρίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κληδόνας ... δυσκρίτους ἐγνώρις’ αὐτοῖς ik maakte moeilijk te beoordelen voortekenen aan hen duidelijk; &lt;i&gt;pass.&lt;/i&gt;$ <br/>Warning: (lemma: γνώριμος) Process::Meta<br/>Warning: (lemma: γνώριμος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: γνωσιμαχέω) Process::Bet<br/>Warning: (lemma: γνωσιμαχέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^μή &lt;i&gt;en inf.&lt;/i&gt;$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γνάφαλλον
<span class='red'>&lt;tmp&gt;</span>κνέφαλλον.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γναφεῖον
<span class='red'>&lt;tmp&gt;</span>κναφεῖον.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γναφεύς
<span class='red'>&lt;tmp&gt;</span>κναφεύς.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γνήσιος
<span class='red'>&lt;tmp&gt;</span>τὸ γ. <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γνῶμα
<span class='red'>&lt;tmp&gt;</span>(<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γνωμονικός
<span class='red'>&lt;tmp&gt;</span>in iets <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γνωρίζω
<span class='red'>&lt;tmp&gt;</span>κληδόνας ... δυσκρίτους ἐγνώρις’ αὐτοῖς ik maakte moeilijk te beoordelen voortekenen aan hen duidelijk; &lt;i&gt;pass.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γνωσιμαχέω
<span class='red'>&lt;tmp&gt;</span>μή &lt;i&gt;en inf.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/GAMMA.1.13 v8.1.xml</span>
Warning: (lemma: γνωστικός) Process::Bet<br/>Warning: (lemma: γνωστικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἡ γνωστική &lt;i&gt;of&lt;/i&gt; τὸ γνωστικόν $ <br/>Warning: (lemma: γνωτός) Process::Meta<br/>Warning: (lemma: γνωτός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: γνωτός) Process::Meta<br/>Warning: (lemma: γνωτός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: γοάω) Element::WerkV<br/>Warning: (lemma: γοάω)<span class="space"></span><span class="space"></span><span class="space"></span>1<br/>Warning: (lemma: γομφωτικός) Process::Bet<br/>Warning: (lemma: γομφωτικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἡ γομφωτική timmermansvak.$ <br/>Warning: Vorm pass not successful for node ^γονίας [γόνος] adj., alleen in: χειμὼν ... γονίας een plotseling opkomende storm Aeschl. Ch. 1067 (betekenis onzeker).$ <br/>Error: Error: Vorm pass failed for primary structure lemma γονίας [γόνος] adj., alleen in ...<span class="space"></span><span class="space"></span>(Last successful lemma was γονή)<br/>Warning: (lemma: γόνιμος) Process::Meta<br/>Warning: (lemma: γόνιμος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: γονοειδής) Process::Bet<br/>Warning: (lemma: γονοειδής)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(1).$ <br/>Warning: (lemma: γόνυ) Process::Bet<br/>Warning: (lemma: γόνυ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^= τῶν γουνάτων λαβέσθαι $ <br/>Warning: (lemma: γόνυ) Process::Meta<br/>Warning: (lemma: γόνυ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: γονυπετέω) Process::Bet<br/>Warning: (lemma: γονυπετέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^voor iem.; &lt;i&gt;abs.&lt;/i&gt;$ <br/>Warning: (lemma: Γορπιαῖος_) Process::Bet<br/>Warning: (lemma: Γορπιαῖος_)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;i&gt;(naam van maand in Macedonië) &lt;s&gt;Plut&lt;/i&gt;.&lt;/s&gt; &lt;i&gt;Thes.&lt;/i&gt; 20.7.$ <br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γνωστικός
<span class='red'>&lt;tmp&gt;</span>ἡ γνωστική &lt;i&gt;of&lt;/i&gt; τὸ γνωστικόν <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γοάω
<span class='red'>&lt;tmp&gt;</span>&lt;i&gt;&lt;b&gt;praes.&lt;/b&gt;&lt;/i&gt; γοαο- &lt;i&gt;en&lt;/i&gt; γοοω-, &lt;i&gt;inf.&lt;/i&gt; γοήμεναι, &lt;i&gt;ptc.&lt;/i&gt; γοόων γοόωσα; &lt;i&gt;ep. imperf.&lt;/i&gt; γόων, &lt;i&gt;Ion. imperf.&lt;/i&gt; γόον, &lt;i&gt;iter.&lt;/i&gt; γοάσκεν; &lt;b&gt;&lt;i&gt;fut.&lt;/b&gt; med. ep.&lt;/i&gt; γοήσομαι, &lt;i&gt;later act.&lt;/i&gt; γοήσω<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γομφωτικός
<span class='red'>&lt;tmp&gt;</span>ἡ γομφωτική timmermansvak.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γονοειδής
<span class='red'>&lt;tmp&gt;</span>(1).<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γόνυ
<span class='red'>&lt;tmp&gt;</span>= τῶν γουνάτων λαβέσθαι <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γονυπετέω
<span class='red'>&lt;tmp&gt;</span>voor iem.; &lt;i&gt;abs.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Γορπιαῖος
<span class='red'>&lt;tmp&gt;</span>&lt;i&gt;(naam van maand in Macedonië) &lt;s&gt;Plut&lt;/i&gt;.&lt;/s&gt; &lt;i&gt;Thes.&lt;/i&gt; 20.7.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/GAMMA.1.14 v8.1.xml</span>
Warning: (lemma: γοῦν) Process::Bet<br/>Warning: (lemma: γοῦν)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^γε&lt;i&gt;); richt de volle aandacht op het woord vóór&lt;/i&gt; γοῦν, &lt;i&gt;en drukt uit dat andere dingen er even niet toe doen&lt;/i&gt; $ <br/>Warning: (lemma: γοῦν) Process::Bet<br/>Warning: (lemma: γοῦν)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(γε) &lt;i&gt;bewijs levert voor (een woord) in het voorafgaande, dat zo nader wordt uitgewerkt&lt;/i&gt; $ <br/>Warning: (lemma: γοῦν) Process::Meta<br/>Warning: (lemma: γοῦν)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γοῦν
<span class='red'>&lt;tmp&gt;</span>γε&lt;i&gt;); richt de volle aandacht op het woord vóór&lt;/i&gt; γοῦν, &lt;i&gt;en drukt uit dat andere dingen er even niet toe doen&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/GAMMA.1.15 v8.1.xml</span>
Warning: (lemma: γουνάζομαι) Process::Bet<br/>Warning: (lemma: γουνάζομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(iem.) $ <br/>Warning: (lemma: γουνόομαι) Process::Bet<br/>Warning: (lemma: γουνόομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^γουνάζομαι.$ <br/>Warning: (lemma: γουνός) Process::Meta<br/>Warning: (lemma: γουνός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: γράμμα) Process::Bet<br/>Warning: (lemma: γράμμα)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^3.15; &lt;i&gt;plur.&lt;/i&gt; $ <br/>Warning: (lemma: γραμματίδιον) Process::Meta<br/>Warning: (lemma: γραμματίδιον)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: γραμματοκύφων) Process::Bet<br/>Warning: (lemma: γραμματοκύφων)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^D$ <br/>Warning: (lemma: γραῦς) Process::Bet<br/>Warning: (lemma: γραῦς)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^γυνή.$ <br/>Warning: (lemma: γραῦς) Process::Meta<br/>Warning: (lemma: γραῦς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: γραφή) Process::Bet<br/>Warning: (lemma: γραφή)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^~ γράφειν &lt;i&gt;‘schilderen’&lt;/i&gt;$ <br/>Warning: (lemma: γραφή) Process::Bet<br/>Warning: (lemma: γραφή)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^~ γράφειν &lt;i&gt;‘schrijven’&lt;/i&gt;$ <br/>Warning: (lemma: γραφή) Process::Bet<br/>Warning: (lemma: γραφή)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^~ γράφεσθαι &lt;i&gt;‘een aanklacht indienen’,&lt;/i&gt; $ <br/>Warning: (lemma: γράφω) Element::WerkV<br/>Warning: (lemma: γράφω)<span class="space"></span><span class="space"></span><span class="space"></span>1<br/>Warning: (lemma: γράφω) Process::Bet<br/>Warning: (lemma: γράφω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;i&gt;spec$ <br/>Warning: (lemma: γράφω) Process::Bet<br/>Warning: (lemma: γράφω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;/i&gt;$ <br/>Warning: (lemma: γράφω) Process::Bet<br/>Warning: (lemma: γράφω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^= γεγραμμένον ἐστίν $ <br/>Warning: (lemma: γράφω) Process::Bet<br/>Warning: (lemma: γράφω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^γ. εἰς ὕδωρ &lt;i&gt;of&lt;/i&gt; ἐν ὕδατι &lt;i&gt;of&lt;/i&gt; $ <br/>Warning: (lemma: γράφω) Process::Bet<br/>Warning: (lemma: γράφω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^754e$ <br/>Warning: (lemma: γράφω) Process::Bet<br/>Warning: (lemma: γράφω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὡς &lt;i&gt;en ptc.&lt;/i&gt;$ <br/>Warning: (lemma: γριπηίς) Process::Bet<br/>Warning: (lemma: γριπηίς)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^γ. τέχνη visserskunst.$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γουνάζομαι
<span class='red'>&lt;tmp&gt;</span>(iem.) <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γουνόομαι
<span class='red'>&lt;tmp&gt;</span>γουνάζομαι.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γράμμα
<span class='red'>&lt;tmp&gt;</span>3.15; &lt;i&gt;plur.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γραμματοκύφων
<span class='red'>&lt;tmp&gt;</span>D<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γραῦς
<span class='red'>&lt;tmp&gt;</span>γυνή.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γραφή
<span class='red'>&lt;tmp&gt;</span>~ γράφειν &lt;i&gt;‘schilderen’&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γράφω
<span class='red'>&lt;tmp&gt;</span>&lt;b&gt;&lt;i&gt;aor. pass.&lt;/b&gt;&lt;/i&gt; ἐγράφην, &lt;i&gt;ptc.&lt;/i&gt; γραφείς; &lt;b&gt;&lt;i&gt;perf&lt;/i&gt;.&lt;/b&gt; γέγραφα; &lt;b&gt;&lt;i&gt;perf. med.-pass.&lt;/b&gt;&lt;/i&gt; γέγραμμαι, &lt;i&gt;later&lt;/i&gt; γεγράφημαι, &lt;i&gt;2 sing.&lt;/i&gt; γέγραψαι, &lt;i&gt;3 sing.&lt;/i&gt; -απται; &lt;i&gt;Ion. 3 plur.&lt;/i&gt; γεγράφαται; &lt;i&gt;plqperf. med.-pass. 3 sing.&lt;/i&gt; (ἐ)γέγραπτο, &lt;i&gt;3 plur. koine&lt;/i&gt; ἐγεγράφατο<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γριπηίς
<span class='red'>&lt;tmp&gt;</span>γ. τέχνη visserskunst.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/GAMMA.1.16 v8.2.xml</span>
Warning: (lemma: γυιοδάμα̅ς) Process::Meta<br/>Warning: (lemma: γυιοδάμα̅ς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: γυμνάζω) Process::Bet<br/>Warning: (lemma: γυμνάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem. in iets trainen; &lt;i&gt;met&lt;/i&gt; &lt;i&gt;inf.&lt;/i&gt;$ <br/>Warning: (lemma: γυμναστικός) Process::Bet<br/>Warning: (lemma: γυμναστικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἡ γ. (τέχνη) gymnastiek.$ <br/>Warning: (lemma: γυμνικός) Process::Bet<br/>Warning: (lemma: γυμνικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^γ. ἀγών sportwedstrijd.$ <br/>Warning: (lemma: γυναικεῖος) Process::Meta<br/>Warning: (lemma: γυναικεῖος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: γυνή) Process::Meta<br/>Warning: (lemma: γυνή)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: γυρῖνος) Process::Meta<br/>Warning: (lemma: γυρῖνος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: γύψ) Process::Meta<br/>Warning: (lemma: γύψ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γυμνάζω
<span class='red'>&lt;tmp&gt;</span>iem. in iets trainen; &lt;i&gt;met&lt;/i&gt; &lt;i&gt;inf.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γυμναστικός
<span class='red'>&lt;tmp&gt;</span>ἡ γ. (τέχνη) gymnastiek.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γυμνικός
<span class='red'>&lt;tmp&gt;</span>γ. ἀγών sportwedstrijd.<span class='red'>&lt;/tmp&gt;</span>

