<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
Doing<span class='cyan'>migrator-build-dir/data/ALPHA.1.4 v8.1.xml</span>
Warning: (lemma: ἀγελεία) Process::Meta<br/>Warning: (lemma: ἀγελεία)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἀγεληδόν) Process::Meta<br/>Warning: (lemma: ἀγεληδόν)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
Doing<span class='cyan'>migrator-build-dir/data/ALPHA.1.5 v8.1.xml</span>
Warning: (lemma: ἀγένειος) Process::Bet<br/>Warning: (lemma: ἀγένειος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^οἱ ἀγένειοι de baardloze jongens &lt;i&gt;(jongens die nog mee mochten dingen naar bepaalde prijzen bij de grote spelen); subst.&lt;/i&gt;: τὸ ἀγένειον $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἀγένειος
<span class='red'>&lt;tmp&gt;</span>οἱ ἀγένειοι de baardloze jongens &lt;i&gt;(jongens die nog mee mochten dingen naar bepaalde prijzen bij de grote spelen); subst.&lt;/i&gt;: τὸ ἀγένειον <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/ALPHA.1.6 v8.1.xml</span>
Warning: (lemma: ἄγη) Process::Meta<br/>Warning: (lemma: ἄγη)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἀγήραος) Process::Meta<br/>Warning: (lemma: ἀγήραος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἁγίζω) Process::Bet<br/>Warning: (lemma: ἁγίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^aan.$ <br/>Warning: (lemma: ἀγκίστριον) Process::Bet<br/>Warning: (lemma: ἀγκίστριον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἄγκιστρον, $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἁγίζω
<span class='red'>&lt;tmp&gt;</span>aan.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἀγκίστριον
<span class='red'>&lt;tmp&gt;</span>ἄγκιστρον, <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/ALPHA.1.12 v8.1.xml</span>
* # total failures: 0<br/>
Doing<span class='cyan'>migrator-build-dir/data/ALPHA.1.14 v8.1.xml</span>
Warning: (lemma: ἀεί) Process::Bet<br/>Warning: (lemma: ἀεί)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἀεί ποτε van oudsher; &lt;i&gt;met nadere precisering door prep. bep.&lt;/i&gt;$ <br/>Warning: (lemma: ἀεί) Process::Meta<br/>Warning: (lemma: ἀεί)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἀειθεήρ) Process::Bet<br/>Warning: (lemma: ἀειθεήρ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^αἰθήρ $ <br/>Warning: (lemma: ἀεικέλιος) Process::Meta<br/>Warning: (lemma: ἀεικέλιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἀεικής) Process::Bet<br/>Warning: (lemma: ἀεικής)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^οὐδὲν ἀεικές<span class="space"></span><span class="space"></span>&lt;i&gt;met AcI&lt;/i&gt; het is helemaal niet vreemd dat.$ <br/>Warning: (lemma: ἀεικής) Process::Meta<br/>Warning: (lemma: ἀεικής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἀεικίνητος) Process::Meta<br/>Warning: (lemma: ἀεικίνητος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἀείρειτος) Process::Bet<br/>Warning: (lemma: ἀείρειτος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἀρετή $ <br/>Warning: (lemma: ἀεισχορροῦς) Process::Bet<br/>Warning: (lemma: ἀεισχορροῦς)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^αἰσχρός $ <br/>Warning: (lemma: ἀειφυγία) Process::Bet<br/>Warning: (lemma: ἀειφυγία)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^= φεύγειν ἀειφυγίᾳ $ <br/>Warning: (lemma: ἄελπτος) Process::Bet<br/>Warning: (lemma: ἄελπτος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^= ἐξ ἀέλπτων.$ <br/>Warning: (lemma: ἀέναος) Process::Meta<br/>Warning: (lemma: ἀέναος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἄεπτος) Process::Meta<br/>Warning: (lemma: ἄεπτος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἄεπτος) Process::Bet<br/>Warning: (lemma: ἄεπτος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἀ-, ἕπομαι] &lt;i&gt;van jonge dieren,&lt;/i&gt; $ <br/>Warning: (lemma: ἄεπτος) Process::Meta<br/>Warning: (lemma: ἄεπτος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἀέριος) Process::Meta<br/>Warning: (lemma: ἀέριος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἀεροειδής) Process::Meta<br/>Warning: (lemma: ἀεροειδής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἀερόεις) Process::Meta<br/>Warning: (lemma: ἀερόεις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἀερσίπους) Process::Meta<br/>Warning: (lemma: ἀερσίπους)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἄζυμος) Process::Bet<br/>Warning: (lemma: ἄζυμος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^5.7.$ <br/>Warning: (lemma: ἀηδής) Process::Bet<br/>Warning: (lemma: ἀηδής)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἀηδῶς &lt;i&gt;ook&lt;/i&gt; $ <br/>Warning: (lemma: ἀηδής) Process::Bet<br/>Warning: (lemma: ἀηδής)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^οὐκ ἀηδῶς niet ongaarne, zonder tegenzin$ <br/>Warning: (lemma: ἀηδής) Process::Bet<br/>Warning: (lemma: ἀηδής)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἀ. διακεῖσθαι &lt;i&gt;met&lt;/i&gt; πρός + &lt;i&gt;acc. v. pers.&lt;/i&gt; een afkeer hebben van iem. $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἀεί
<span class='red'>&lt;tmp&gt;</span>ἀεί ποτε van oudsher; &lt;i&gt;met nadere precisering door prep. bep.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἀειθεήρ
<span class='red'>&lt;tmp&gt;</span>αἰθήρ <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἀεικής
<span class='red'>&lt;tmp&gt;</span>οὐδὲν ἀεικές &lt;toel&gt;(sc. &lt;link target=""&gt;ἐστι&lt;/link&gt;)&lt;/toel&gt; met AcI het is helemaal niet vreemd dat.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἀείρειτος
<span class='red'>&lt;tmp&gt;</span>ἀρετή <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἀεισχορροῦς
<span class='red'>&lt;tmp&gt;</span>αἰσχρός <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἀειφυγία
<span class='red'>&lt;tmp&gt;</span>= φεύγειν ἀειφυγίᾳ <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἄελπτος
<span class='red'>&lt;tmp&gt;</span>= ἐξ ἀέλπτων.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἄεπτος-2
<span class='red'>&lt;tmp&gt;</span>ἀ-, ἕπομαι] &lt;i&gt;van jonge dieren,&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἄζυμος
<span class='red'>&lt;tmp&gt;</span>5.7.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἀηδής
<span class='red'>&lt;tmp&gt;</span>ἀηδῶς &lt;i&gt;ook&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/ALPHA.1.17 v8.1.xml</span>
Warning: (lemma: αἰγίοχος) Process::Bet<br/>Warning: (lemma: αἰγίοχος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^) .$ <br/>Warning: (lemma: αἰγίοχος) Process::Meta<br/>Warning: (lemma: αἰγίοχος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: αἰγίπους) Process::Meta<br/>Warning: (lemma: αἰγίπους)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: αἰγλήεις) Process::Meta<br/>Warning: (lemma: αἰγλήεις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: αἰδέομαι) Element::WerkV<br/>Warning: (lemma: αἰδέομαι)<span class="space"></span><span class="space"></span><span class="space"></span>1<br/>Warning: (lemma: ἀίδηλος) Process::Meta<br/>Warning: (lemma: ἀίδηλος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἀϊδής) Process::Meta<br/>Warning: (lemma: ἀϊδής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἀιδνής) Process::Meta<br/>Warning: (lemma: ἀιδνής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἄϊδρις) Process::Meta<br/>Warning: (lemma: ἄϊδρις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>αἰγίοχος
<span class='red'>&lt;tmp&gt;</span>) &lt;toel&gt;(epith. van Zeus; herkomst onzeker)&lt;/toel&gt;.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>αἰδέομαι
<span class='red'>&lt;tmp&gt;</span>&lt;b&gt;&lt;i&gt;aor.&lt;/i&gt;&lt;/b&gt; ᾐδεσάμην, &lt;i&gt;poët.&lt;/i&gt; αἰδεσάμην, &lt;i&gt;pass. (met act. bet.&lt;/i&gt;) ᾐδέσθην, &lt;i&gt;ep. 3 plur.&lt;/i&gt; αἴδεσθεν, &lt;i&gt;ep. imperat.&lt;/i&gt; αἴδεσσαι; &lt;b&gt;&lt;i&gt;perf.&lt;/i&gt;&lt;/b&gt; ᾔδεσμαι; &lt;b&gt;&lt;i&gt;fut.&lt;/i&gt;&lt;/b&gt; αἰδέσομαι, &lt;i&gt;ep.&lt;/i&gt; αἰδέσσομαι, &lt;i&gt;pass.&lt;/i&gt; αἰδεσθήσομαι<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/ALPHA.1.18 v8.1.xml</span>
Warning: (lemma: αἰζηός) Process::Bet<br/>Warning: (lemma: αἰζηός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὁ αἰ. $ <br/>Warning: (lemma: αἰζηός) Process::Meta<br/>Warning: (lemma: αἰζηός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: αἰθαλόεις) Process::Meta<br/>Warning: (lemma: αἰθαλόεις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: αἰθήρ) Process::Bet<br/>Warning: (lemma: αἰθήρ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^Αἰθήρ, ὁ, ἡ $ <br/>Warning: (lemma: αἰθρία) Process::Bet<br/>Warning: (lemma: αἰθρία)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^αἰθρίας (οὔσης) bij heldere hemel.$ <br/>Warning: (lemma: αἴθριος) Process::Bet<br/>Warning: (lemma: αἴθριος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ αἴθριον ‘$ <br/>Warning: (lemma: αἴθω) Process::Bet<br/>Warning: (lemma: αἴθω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^αἴθειν πῦρ een vuur aansteken$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>αἰζηός
<span class='red'>&lt;tmp&gt;</span>ὁ αἰ. <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>αἰθήρ
<span class='red'>&lt;tmp&gt;</span>Αἰθήρ, ὁ, ἡ <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>αἰθρία
<span class='red'>&lt;tmp&gt;</span>αἰθρίας (οὔσης) bij heldere hemel.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>αἴθριος
<span class='red'>&lt;tmp&gt;</span>τὸ αἴθριον ‘<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>αἴθω
<span class='red'>&lt;tmp&gt;</span>αἴθειν πῦρ een vuur aansteken<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/ALPHA.1.19 v8.1.xml</span>
Warning: (lemma: αἰκίζω) Process::Bet<br/>Warning: (lemma: αἰκίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ᾐκίσαντο τὰ χωρία zij hebben het landgoed vernield Dem. 43.72; &lt;i&gt;met acc. v.h. inw. obj.&lt;/i&gt;$ <br/>Warning: (lemma: αἴλινος) Process::Meta<br/>Warning: (lemma: αἴλινος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: αἱματηρός) Process::Meta<br/>Warning: (lemma: αἱματηρός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: αἱματόεις) Process::Meta<br/>Warning: (lemma: αἱματόεις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: αἱμύλος) Process::Bet<br/>Warning: (lemma: αἱμύλος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^αἱμύλιοι λόγοι mooie woordjes; &lt;i&gt;alg.&lt;/i&gt; $ <br/>Warning: (lemma: αἱμύλος) Process::Meta<br/>Warning: (lemma: αἱμύλος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: αἵμων) Process::Meta<br/>Warning: (lemma: αἵμων)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: αἵμων) Process::Meta<br/>Warning: (lemma: αἵμων)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: αἰνέω) Process::Bet<br/>Warning: (lemma: αἰνέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem$ <br/>Warning: (lemma: αἰνιγμός) Process::Bet<br/>Warning: (lemma: αἰνιγμός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^δι’ αἰνιγμάτων door middel van raadsels, in duistere taal.$ <br/>Warning: (lemma: αἰνίττομαι) Process::Bet<br/>Warning: (lemma: αἰνίττομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὅτι dat; &lt;i&gt;met&lt;/i&gt; εἰς + &lt;i&gt;acc.&lt;/i&gt;$ <br/>Warning: (lemma: αἰνίττομαι) Process::Bet<br/>Warning: (lemma: αἰνίττομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εἰς &lt;i&gt;of&lt;/i&gt; πρός + &lt;i&gt;acc.&lt;/i&gt; $ <br/>Warning: Vorm pass not successful for node ^αἰνόθεν [αἰνός] adv., alleen in: αἰνόθεν αἰνῶς allerverschrikkelijkst Il. 7.97.$ <br/>Error: Error: Vorm pass failed for primary structure lemma αἰνόθεν [αἰνός] adv., alleen i ...<span class="space"></span><span class="space"></span>(Last successful lemma was αἰνόδρυπτος)<br/>Warning: (lemma: αἰνός) Process::Bet<br/>Warning: (lemma: αἰνός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^αἰνῶς &lt;i&gt;ook intensiverend&lt;/i&gt; $ <br/>Warning: (lemma: αἴξ) Process::Meta<br/>Warning: (lemma: αἴξ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: αἰολοθώρηξ) Process::Meta<br/>Warning: (lemma: αἰολοθώρηξ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>αἰκίζω
<span class='red'>&lt;tmp&gt;</span>ᾐκίσαντο τὰ χωρία zij hebben het landgoed vernield Dem. 43.72; &lt;i&gt;met acc. v.h. inw. obj.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>αἱμύλος
<span class='red'>&lt;tmp&gt;</span>αἱμύλιοι λόγοι mooie woordjes; &lt;i&gt;alg.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>αἰνέω
<span class='red'>&lt;tmp&gt;</span>iem<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>αἰνιγμός
<span class='red'>&lt;tmp&gt;</span>δι’ αἰνιγμάτων door middel van raadsels, in duistere taal.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>αἰνίττομαι
<span class='red'>&lt;tmp&gt;</span>ὅτι dat; &lt;i&gt;met&lt;/i&gt; εἰς + &lt;i&gt;acc.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>αἰνός
<span class='red'>&lt;tmp&gt;</span>αἰνῶς &lt;i&gt;ook intensiverend&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/ALPHA.1.26 v8.1.xml</span>
Error: (lemma: ἄκρος) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἀκρόπτολις)<br/>Error: (lemma: ἄκρος) Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἀκρόπτολις)<br/>Warning: (lemma: ἄκρος) Process::Bet<br/>Warning: (lemma: ἄκρος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^in$ <br/>Warning: (lemma: ἄκρος) Process::Bet<br/>Warning: (lemma: ἄκρος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^in$ <br/>Warning: (lemma: ἄκρος) Process::Bet<br/>Warning: (lemma: ἄκρος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἄκρως &lt;i&gt;ook&lt;/i&gt; $ <br/>Warning: (lemma: ἄκρος) Process::Meta<br/>Warning: (lemma: ἄκρος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἄκρος
<span class='red'>&lt;tmp&gt;</span>in<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/ALPHA.1.27 v8.1.xml</span>
Warning: (lemma: ἀκροχειριασμός) Process::Meta<br/>Warning: (lemma: ἀκροχειριασμός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἀκροχειρίζομαι) Process::Bet<br/>Warning: (lemma: ἀκροχειρίζομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met iem.$ <br/>Warning: (lemma: ἀκροχλίαρος) Process::Meta<br/>Warning: (lemma: ἀκροχλίαρος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἀκτέος) Process::Bet<br/>Warning: (lemma: ἀκτέος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἀκτέον (ἐστι) $ <br/>Warning: (lemma: ἀκτέος) Process::Bet<br/>Warning: (lemma: ἀκτέος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^tegen; &lt;i&gt;van toestanden als oorlog en vrede&lt;/i&gt; $ <br/>Error: Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was ἀκτέριστος)<br/>Error: Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἀκτέριστος)<br/>Error: Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was ἀκτέριστος)<br/>Error: Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἀκτέριστος)<br/>Error: Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was ἀκτέριστος)<br/>Error: Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἀκτέριστος)<br/>Error: Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was ἀκτέριστος)<br/>Error: Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἀκτέριστος)<br/>Warning: (lemma: ἀκτή) Process::Bet<br/>Warning: (lemma: ἀκτή)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^‘$ <br/>Warning: (lemma: ἀκτή) Process::Meta<br/>Warning: (lemma: ἀκτή)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Error: Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was ἄκυμος)<br/>Error: Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἄκυμος)<br/>Error: Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was ἄκυμος)<br/>Error: Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἄκυμος)<br/>Error: Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was ἄκυμος)<br/>Error: Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἄκυμος)<br/>Error: Error: Error getting styles, unusual nesting in node &lt;text:line-break/&gt;<span class="space"></span><span class="space"></span>(Last successful lemma was ἄκυμος)<br/>Error: Error: Couldn't get style for node (&lt;text:line-break/&gt;) (Last successful lemma was ἄκυμος)<br/>Warning: (lemma: ἀκύμων) Process::Bet<br/>Warning: (lemma: ἀκύμων)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^2. ἀκύμων -ον, &lt;i&gt;gen.&lt;/i&gt; -ονος [ἀ-, κύω] $ <br/>Warning: (lemma: ἀκύμων) Process::Meta<br/>Warning: (lemma: ἀκύμων)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἄκυρος) Process::Bet<br/>Warning: (lemma: ἄκυρος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἄκυρον ποιεῖν τι (iets) krachteloos maken.$ <br/>Warning: (lemma: ἄκυρος) Process::Bet<br/>Warning: (lemma: ἄκυρος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^over iets.$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἀκροχειρίζομαι
<span class='red'>&lt;tmp&gt;</span>met iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἀκτέος
<span class='red'>&lt;tmp&gt;</span>ἀκτέον (ἐστι) <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἀκτή-1
<span class='red'>&lt;tmp&gt;</span>‘<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἀκύμων-1
<span class='red'>&lt;tmp&gt;</span>2. ἀκύμων -ον, &lt;i&gt;gen.&lt;/i&gt; -ονος [ἀ-, κύω] <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἄκυρος
<span class='red'>&lt;tmp&gt;</span>ἄκυρον ποιεῖν τι (iets) krachteloos maken.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/ALPHA.1.28 v8.1.xml</span>
Warning: (lemma: ἄκων) Process::Meta<br/>Warning: (lemma: ἄκων)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἄκων) Process::Meta<br/>Warning: (lemma: ἄκων)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἀλάβαστρος) Process::Meta<br/>Warning: (lemma: ἀλάβαστρος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἀλαλάζω) Process::Bet<br/>Warning: (lemma: ἀλαλάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^13.1.$ <br/>Warning: (lemma: ἀλαλαί) Process::Meta<br/>Warning: (lemma: ἀλαλαί)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἀλάομαι) Element::WerkV<br/>Warning: (lemma: ἀλάομαι)<span class="space"></span><span class="space"></span><span class="space"></span>1<br/>Warning: (lemma: ἀλάομαι) Process::Bet<br/>Warning: (lemma: ἀλάομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^door, over$ <br/>Warning: (lemma: ἀλγεινός) Process::Meta<br/>Warning: (lemma: ἀλγεινός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἀλγέω) Process::Bet<br/>Warning: (lemma: ἀλγέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^vanwege iem., om iem$ <br/>Warning: (lemma: ἀλγέω) Process::Bet<br/>Warning: (lemma: ἀλγέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^door iets = &lt;i&gt;met acc.&lt;/i&gt; = &lt;i&gt;met&lt;/i&gt; ἐπί + &lt;i&gt;dat.&lt;/i&gt; = &lt;i&gt;met&lt;/i&gt; διά + &lt;i&gt;acc.&lt;/i&gt; = &lt;i&gt;met&lt;/i&gt; περί + &lt;i&gt;gen.&lt;/i&gt; = &lt;i&gt;met&lt;/i&gt; περί + &lt;i&gt;acc.;&lt;/i&gt; &lt;i&gt;met ptc.&lt;/i&gt; $ <br/>Warning: (lemma: ἀλγύνω) Process::Bet<br/>Warning: (lemma: ἀλγύνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^door iets = &lt;i&gt;met&lt;/i&gt; ἐπί + &lt;i&gt;dat.&lt;/i&gt; = &lt;i&gt;met acc.&lt;/i&gt;$ <br/>Warning: (lemma: ἀλεείνω) Process::Bet<br/>Warning: (lemma: ἀλεείνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem. of iets.$ <br/>Warning: (lemma: ἀλέη) Process::Bet<br/>Warning: (lemma: ἀλέη)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^tegen iets$ <br/>Warning: (lemma: ἀλέη) Process::Meta<br/>Warning: (lemma: ἀλέη)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἄλεισον) Process::Meta<br/>Warning: (lemma: ἄλεισον)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἄλειφαρ) Process::Meta<br/>Warning: (lemma: ἄλειφαρ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἀλείφω) Process::Bet<br/>Warning: (lemma: ἀλείφω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^‘zich insmeren voor’, &lt;i&gt;vandaar&lt;/i&gt;: $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἀλαλάζω
<span class='red'>&lt;tmp&gt;</span>13.1.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἀλάομαι
<span class='red'>&lt;tmp&gt;</span>&lt;b&gt;&lt;i&gt;aor.&lt;/b&gt; ep. pass.&lt;/i&gt; ἀλήθην, &lt;i&gt;Dor. ptc.&lt;/i&gt; ἀλᾱθείς; &lt;b&gt;&lt;i&gt;perf.&lt;/b&gt; ep. poët.&lt;/i&gt; ἀλάλημαι, &lt;i&gt;ep. poët. plqperf. 3 sing.&lt;/i&gt; ἀλάλητο, &lt;i&gt;3 plur.&lt;/i&gt; ἀλάληντο<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἀλγέω
<span class='red'>&lt;tmp&gt;</span>vanwege iem., om iem<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἀλγύνω
<span class='red'>&lt;tmp&gt;</span>door iets = &lt;i&gt;met&lt;/i&gt; ἐπί + &lt;i&gt;dat.&lt;/i&gt; = &lt;i&gt;met acc.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἀλεείνω
<span class='red'>&lt;tmp&gt;</span>iem. of iets.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἀλέη-1
<span class='red'>&lt;tmp&gt;</span>tegen iets<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἀλείφω
<span class='red'>&lt;tmp&gt;</span>‘zich insmeren voor’, &lt;i&gt;vandaar&lt;/i&gt;: <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/ALPHA.1.29 v8.1.xml</span>
Warning: (lemma: ἀλεκτρυών) Process::Bet<br/>Warning: (lemma: ἀλεκτρυών)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἀ. Νομαδικός ‘Numidische haan’ (= parelhoen) = Nομάς ἀ.$ <br/>Warning: (lemma: ἀλέξω) Element::WerkV<br/>Warning: (lemma: ἀλέξω)<span class="space"></span><span class="space"></span><span class="space"></span>1<br/>Warning: (lemma: ἀλέξω) Process::Bet<br/>Warning: (lemma: ἀλέξω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets ten behoeve van iem$ <br/>Warning: (lemma: ἀλέξω) Process::Bet<br/>Warning: (lemma: ἀλέξω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets van iem$ <br/>Warning: (lemma: ἀλέξω) Process::Bet<br/>Warning: (lemma: ἀλέξω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^tegen iets$ <br/>Warning: (lemma: ἀλέομαι) Process::Bet<br/>Warning: (lemma: ἀλέομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^conj.&lt;/i&gt; ἀλέηται;$ <br/>Warning: (lemma: ἀλέομαι) Process::Bet<br/>Warning: (lemma: ἀλέομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^Hom.&lt;/i&gt; ἠλεύατο &lt;i&gt;en&lt;/i&gt; ἀλεύατο, &lt;i&gt;conj. (= praes.&lt;/i&gt;) ἀλεύεται, ἀλέηται, plur. ἀλεώμεθα, &lt;i&gt;opt.&lt;/i&gt; ἀλέαιτο; &lt;i&gt;ep. imperat.&lt;/i&gt; ἄλευαι &lt;i&gt;en&lt;/i&gt; ἀλέασθε, &lt;i&gt;inf.&lt;/i&gt; ἀλέασθαι, ἀλεύασθαι, &lt;i&gt;ptc.&lt;/i&gt; ἀλευάμενος $ <br/>Warning: (lemma: ἀλέω) Process::Bet<br/>Warning: (lemma: ἀλέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἤλεσα, &lt;i&gt;ep.&lt;/i&gt; ἄλεσσα &lt;i&gt;(in tmes.); $ <br/>Warning: (lemma: ἀλέω) Process::Bet<br/>Warning: (lemma: ἀλέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^med.- pass.&lt;/i&gt; ἀλήλε(σ)μαι, $ <br/>Warning: (lemma: ἀλεωρά) Process::Bet<br/>Warning: (lemma: ἀλεωρά)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^tegen iets.$ <br/>Warning: (lemma: ἀλήθεια) Process::Bet<br/>Warning: (lemma: ἀλήθεια)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἀληθείᾳ φρενῶν in de oprechtheid van zijn gemoed.$ <br/>Warning: (lemma: ἀλήθεια) Process::Bet<br/>Warning: (lemma: ἀλήθεια)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(τῇ) ἀληθείᾳ in werkelijkheid, werkelijk, echt = ξυν ἀληθείᾳ $ <br/>Warning: (lemma: ἀλήθεια) Process::Bet<br/>Warning: (lemma: ἀλήθεια)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^= ἐπ’ ἀληθείᾳ = ἐπ’ ἀληθείαις = ἐν τῇ ἀληθείᾳ $ <br/>Warning: (lemma: ἀλήθεια) Process::Bet<br/>Warning: (lemma: ἀλήθεια)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^= κατὰ (τὴν) ἀλήθειαν = μεθ’ ἀληθείας.$ <br/>Warning: (lemma: ἀληθεύω) Process::Bet<br/>Warning: (lemma: ἀληθεύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^over iets = &lt;i&gt;met acc.&lt;/i&gt; $ <br/>Warning: (lemma: ἀληθής) Process::Bet<br/>Warning: (lemma: ἀληθής)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ ἀληθές, &lt;i&gt;crasis&lt;/i&gt; τἀληθές<span class="space"></span><span class="space"></span>$ <br/>Warning: (lemma: ἀληθής) Process::Bet<br/>Warning: (lemma: ἀληθής)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τἀληθῆ.$ <br/>Warning: (lemma: ἀληθής) Process::Bet<br/>Warning: (lemma: ἀληθής)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὡς ἀληθῶς werkelijk, echt$ <br/>Warning: (lemma: ἀληθής) Process::Bet<br/>Warning: (lemma: ἀληθής)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἄληθες; $ <br/>Warning: (lemma: ἀληθής) Process::Meta<br/>Warning: (lemma: ἀληθής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἀληθινός) Process::Meta<br/>Warning: (lemma: ἀληθινός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἁλής) Process::Meta<br/>Warning: (lemma: ἁλής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἀλθαίνω) Process::Bet<br/>Warning: (lemma: ἀλθαίνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ep. 3 sing.&lt;/i&gt; ἄλθετο , $ <br/>Warning: (lemma: ἀλίαστος) Process::Bet<br/>Warning: (lemma: ἀλίαστος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἀλίαστον; &lt;i&gt;van personen&lt;/i&gt; $ <br/>Warning: (lemma: ἀλίγκιος) Process::Meta<br/>Warning: (lemma: ἀλίγκιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἀλεκτρυών
<span class='red'>&lt;tmp&gt;</span>ἀ. Νομαδικός ‘Numidische haan’ (= parelhoen) = Nομάς ἀ.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἀλέξω
<span class='red'>&lt;tmp&gt;</span>&lt;b&gt;&lt;i&gt;sigm. aor.&lt;/b&gt; opt. 3 sing.&lt;/i&gt; ἀλεξήσειε, &lt;i&gt;inf.&lt;/i&gt; ἀλεξῆσαι, &lt;i&gt;ptc.&lt;/i&gt; ἀλεξήσας; &lt;b&gt;&lt;i&gt;them. redupl. aor.&lt;/b&gt; ep. poët. 3 sing.&lt;/i&gt; ἄλαλκε, &lt;i&gt;conj. 3 sing.&lt;/i&gt; ἀλαλκῃσι, &lt;i&gt;opt. 2 sing.&lt;/i&gt; ἀλάλκοις, &lt;i&gt;3 sing.&lt;/i&gt; ἀλάλκοι, &lt;i&gt;3 plur.&lt;/i&gt; ἀλάλκοιεν, &lt;i&gt;inf.&lt;/i&gt; ἀλαλκεῖν, &lt;i&gt;ptc.&lt;/i&gt; ἀλαλκών; &lt;b&gt;&lt;i&gt;fut.&lt;/b&gt;&lt;/i&gt; ἀλέξω &lt;i&gt;en&lt;/i&gt; ἀλεξήσω<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἀλέομαι
<span class='red'>&lt;tmp&gt;</span>conj.&lt;/i&gt; ἀλέηται;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἀλέω
<span class='red'>&lt;tmp&gt;</span>ἤλεσα, &lt;i&gt;ep.&lt;/i&gt; ἄλεσσα &lt;i&gt;(in tmes.); <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἀλεωρά
<span class='red'>&lt;tmp&gt;</span>tegen iets.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἀλήθεια
<span class='red'>&lt;tmp&gt;</span>ἀληθείᾳ φρενῶν in de oprechtheid van zijn gemoed.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἀληθεύω
<span class='red'>&lt;tmp&gt;</span>over iets = &lt;i&gt;met acc.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἀληθής
<span class='red'>&lt;tmp&gt;</span>τὸ ἀληθές, crasis τἀληθές &lt;toel&gt;(Ion. &lt;link target=""&gt;τὠληθές&lt;/link&gt;)&lt;/toel&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἀλθαίνω
<span class='red'>&lt;tmp&gt;</span>ep. 3 sing. ἄλθετο &lt;toel&gt;(zie ook &lt;link target=""&gt;ἄλθω&lt;/link&gt;)&lt;/toel&gt;, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἀλίαστος
<span class='red'>&lt;tmp&gt;</span>ἀλίαστον; &lt;i&gt;van personen&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

