<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
Doing<span class='cyan'>migrator-build-dir/data/GAMMA.1.10 v8.3.xml</span>
Warning: (lemma: γίγνομαι) Element::WerkV<br/>Warning: (lemma: γίγνομαι)<span class="space"></span><span class="space"></span><span class="space"></span>1<br/>Warning: (lemma: γίγνομαι) Process::Bet<br/>Warning: (lemma: γίγνομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εἶναι zijn, bestaan$ <br/>Warning: (lemma: γίγνομαι) Process::Bet<br/>Warning: (lemma: γίγνομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ γενόμενον &lt;i&gt;of&lt;/i&gt; τὰ γενόμενα gebeurtenis(sen), feit(en$ <br/>Warning: (lemma: γίγνομαι) Process::Bet<br/>Warning: (lemma: γίγνομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^door toedoen van$ <br/>Warning: (lemma: γίγνομαι) Process::Bet<br/>Warning: (lemma: γίγνομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὥστε &lt;i&gt;en inf.&lt;/i&gt;$ <br/>Warning: (lemma: γίγνομαι) Process::Bet<br/>Warning: (lemma: γίγνομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^later &lt;i&gt;met adj. ter omschrijving van pass.&lt;/i&gt;$ <br/>Warning: (lemma: γίγνομαι) Process::Bet<br/>Warning: (lemma: γίγνομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^($ <br/>Warning: (lemma: γίγνομαι) Process::Bet<br/>Warning: (lemma: γίγνομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^= ἐντὸς ἑωυτοῦ $ <br/>Warning: (lemma: γίγνομαι) Process::Bet<br/>Warning: (lemma: γίγνομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐγένετο δέ &lt;i&gt;en onafh. hoofdzin&lt;/i&gt;$ <br/>Warning: (lemma: γίγνομαι) Process::Bet<br/>Warning: (lemma: γίγνομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εὖ &lt;i&gt;of&lt;/i&gt; κακῶς<span class="space"></span><span class="space"></span>$ <br/>Warning: (lemma: γιγνώσκω) Element::WerkV<br/>Warning: (lemma: γιγνώσκω)<span class="space"></span><span class="space"></span><span class="space"></span>1<br/>Warning: (lemma: γιγνώσκω) Process::Bet<br/>Warning: (lemma: γιγνώσκω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἄνδρα οὐ γινώσκω ik heb geen gemeenschap met een man gehad&lt;s&gt; &lt;i&gt;$ <br/>Warning: (lemma: γιγνώσκω) Process::Bet<br/>Warning: (lemma: γιγνώσκω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;/s&gt; Luc.&lt;/i&gt; 1.34.$ <br/>Warning: (lemma: γιγνώσκω) Process::Bet<br/>Warning: (lemma: γιγνώσκω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὅτι &lt;i&gt;of&lt;/i&gt; ὡς dat; &lt;i&gt;met prolepsis&lt;/i&gt;$ <br/>Warning: (lemma: γιγνώσκω) Process::Bet<br/>Warning: (lemma: γιγνώσκω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^περί τινος met betrekking tot iets; &lt;i&gt;met AcI&lt;/i&gt;: ἔγνωσαν ... Ἀριστόδημον ... ἔργα ἀποδέξασθαι μεγάλα zij oordeelden dat Aristodemus heldendaden had laten zien; &lt;i&gt;met&lt;/i&gt; ὅτι &lt;i&gt;of&lt;/i&gt; $ <br/>Warning: (lemma: γιγνώσκω) Process::Bet<br/>Warning: (lemma: γιγνώσκω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἠξίουν εἰδέναι ... εἰ ... αὐτῳ ἐγνωσμένον εἴη ik wilde weten of hij vastbesloten was$ <br/>Warning: (lemma: γιγνώσκω) Process::Bet<br/>Warning: (lemma: γιγνώσκω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^Luc.&lt;/s&gt; 8.3; &lt;i&gt;pass. van een besluit&lt;/i&gt;$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γίγνομαι
<span class='red'>&lt;tmp&gt;</span>aor­. ἐγενόμην, Dor. (ἐ)γενόμαν, Ion. iter. 3 sing. γενέσκετο, ep. Ion. 2 sing. γένεο en γένευ, athem. ep. en poët. 3 sing. ἔγεντο en γέντο, Ion. imperat. γενεῦ; θη-aor. ἐγενήθην &lt;toel&gt;(geen pass. bet.)&lt;/toel&gt;; perf. γέγονα ep. 2 plur. γεγάατε 3 plur. γεγόνασι, ep. γεγάασι, later γέγοναν, inf. γεγονέναι, ep. γεγάμεν, Dor. γεγάκειν, ptc. γεγονώς -υῖα -ός, ep. γεγαώς -αυῖα (-αῶτες -αυῖαι), poët. γεγώς -ῶσα (-ῶτες dual. -ῶτε), plqperf. 3 sing. ἐγεγόνει, Ion. -όνεε; perf. ook γεγένημαι, ptc. γεγενημένος, plqperf. med. (ἐ)γεγένητο; fut. γενήσομαι, θη-fut. 3 sing. γενηθήσεται<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>γιγνώσκω
<span class='red'>&lt;tmp&gt;</span>&lt;b&gt;&lt;i&gt;stamaor.&lt;/b&gt;&lt;/i&gt; ἔγνων, &lt;i&gt;ep.&lt;/i&gt; γνῶν, &lt;i&gt;3 plur.&lt;/i&gt; ἔγνωσαν, &lt;i&gt;poët.&lt;/i&gt; ἔγνων, &lt;i&gt;Dor.&lt;/i&gt; ἔγνον, &lt;i&gt;ep. 3 dual.&lt;/i&gt; γνώτην, &lt;i&gt;conj.&lt;/i&gt; γνῶ γνῷς γνῷ, &lt;i&gt;ep. ook&lt;/i&gt; γνώω γνώῃς γνώῃ, &lt;i&gt;plur.&lt;/i&gt; γνώομεν γνώωσι, &lt;i&gt;opt.&lt;/i&gt; γνοίην, &lt;i&gt;plur.&lt;/i&gt; γνοῖμεν γνοῖτε γνοῖεν &lt;i&gt;naast&lt;/i&gt; γνοίημεν γνοίητε γνοίησαν, &lt;i&gt;imperat.&lt;/i&gt; γνῶθι, &lt;i&gt;plur.&lt;/i&gt; γνῶτε, &lt;i&gt;inf.&lt;/i&gt; γνῶναι, &lt;i&gt;ep.&lt;/i&gt; γνώμεναι, &lt;i&gt;ptc.&lt;/i&gt; γνούς; &lt;b&gt;&lt;i&gt;aor. pass.&lt;/b&gt;&lt;/i&gt; ἐγνώσθην; &lt;b&gt;&lt;i&gt;perf.&lt;/i&gt;&lt;/b&gt; ἔγνωκα; &lt;b&gt;&lt;i&gt;perf. pass.&lt;/b&gt;&lt;/i&gt; ἔγνωσμαι; &lt;b&gt;&lt;i&gt;fut.&lt;/b&gt;&lt;/i&gt; γνώσομαι, &lt;i&gt;Dor. 3 sing.&lt;/i&gt; γνωσεῖται; &lt;b&gt;&lt;i&gt;fut. pass.&lt;/b&gt;&lt;/i&gt; γνωσθήσομαι.<span class='red'>&lt;/tmp&gt;</span>

