<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
Doing<span class='cyan'>migrator-build-dir/data/DELTA.1.0 v8.0.xml</span>
Error: (lemma: δάμνημι) Error: Unexpected:no text:p inside list-item<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>overweldi ... (Last successful lemma was [none])<br/>Warning: (lemma: δαφοινεός) Process::Vorm<br/>Warning: (lemma: δαφοινεός)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: δαφοινεός) &lt;r&gt;&lt;b&gt;donker rood&lt;/b&gt;: εἷμα ... δαφοινεὸν αἵματι kleding die donkerrood is van het bloed &lt;s&gt;Il.&lt;/s&gt; 18.538.&lt;/r&gt;<br/>Warning: (lemma: δαφοινεός) (Make sure this definition contains either gebrW and vertM)<br/>Error: (lemma: δαφοινεός) Error: Bet is empty!, panicking. (Last successful lemma was [none])<br/>Warning: Vorm pass not successful for node ^1. δελφίς -ίδος [Δελφοί] adj. f. Delfisch.$ <br/>Error: Error: Vorm pass failed for primary structure lemma 1. δελφίς -ίδος [Δελφοί] adj.<span class="space"></span><span class="space"></span>...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: (lemma: δελφίς) Process::Meta<br/>Warning: (lemma: δελφίς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 3<br/>
Doing<span class='cyan'>migrator-build-dir/data/DELTA.1.17 v8.1.xml</span>
Warning: (lemma: διαστολή) Process::Bet<br/>Warning: (lemma: διαστολή)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^14.7.$ <br/>Warning: (lemma: διατελέω) Process::Bet<br/>Warning: (lemma: διατελέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^.. $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>διαστολή
<span class='red'>&lt;tmp&gt;</span>14.7.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>διατελέω
<span class='red'>&lt;tmp&gt;</span>.. <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/DELTA.1.18 v8.1.xml</span>
Warning: (lemma: διάτορος) Process::Meta<br/>Warning: (lemma: διάτορος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: διάτριχα) Process::Bet<br/>Warning: (lemma: διάτριχα)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^διὰ τρίχα.$ <br/>Warning: (lemma: διαυγάζω) Process::Bet<br/>Warning: (lemma: διαυγάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^1.19.$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>διάτριχα
<span class='red'>&lt;tmp&gt;</span>διὰ τρίχα.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>διαυγάζω
<span class='red'>&lt;tmp&gt;</span>1.19.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/DELTA.1.37 v8.1.xml</span>
Warning: (lemma: δύσφημος) Process::Meta<br/>Warning: (lemma: δύσφημος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: δυσφορέω) Process::Bet<br/>Warning: (lemma: δυσφορέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^om , door, vanwege$ <br/>Warning: (lemma: δύσφορος) Process::Bet<br/>Warning: (lemma: δύσφορος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^δυσφόρως φέρειν (iets) moeilijk verdragen; &lt;i&gt;geneesk.&lt;/i&gt; δυσφόρως (διάγειν) τὴν νύκτα een slechte nacht hebben $ <br/>Warning: (lemma: δύσφρων) Process::Bet<br/>Warning: (lemma: δύσφρων)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^δυσφρόνως op onbezonnen wijze.$ <br/>Warning: (lemma: δυσχεραίνω) Process::Bet<br/>Warning: (lemma: δυσχεραίνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^περί, κατά + &lt;i&gt;gen.; met inf.&lt;/i&gt;$ <br/>Warning: (lemma: δυσχερής) Process::Bet<br/>Warning: (lemma: δυσχερής)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^voor iem$ <br/>Warning: (lemma: δυσχερής) Process::Bet<br/>Warning: (lemma: δυσχερής)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^δ. φέρειν moeilijk verdragen; δ. ἔχειν weerzin voelen voor, &lt;i&gt;met&lt;/i&gt; πρός + &lt;i&gt;acc.;&lt;/i&gt; $ <br/>Warning: (lemma: δύω) Process::Bet<br/>Warning: (lemma: δύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἀμφί, περί + &lt;i&gt;dat.&lt;/i&gt;$ <br/>Warning: (lemma: δύω) Process::Meta<br/>Warning: (lemma: δύω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: δῶ) Process::Meta<br/>Warning: (lemma: δῶ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: δώδεκα) Process::Meta<br/>Warning: (lemma: δώδεκα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: δωρέω) Process::Bet<br/>Warning: (lemma: δωρέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets aan iem.; &lt;i&gt;praes. ook&lt;/i&gt; $ <br/>Warning: (lemma: δωρέω) Process::Bet<br/>Warning: (lemma: δωρέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem. met iets; &lt;i&gt;pass.&lt;/i&gt;$ <br/>Warning: (lemma: δώρημα) Process::Bet<br/>Warning: (lemma: δώρημα)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^aan iem.$ <br/>Warning: (lemma: δωρητός) Process::Bet<br/>Warning: (lemma: δωρητός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^δωρητόν, οὐκ αἰτητόν geschonken, zonder dat erom was gevraagd S. OT 384.$ <br/>Warning: (lemma: δωροφορέω) Process::Bet<br/>Warning: (lemma: δωροφορέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^aan iem.; &lt;i&gt;met acc. v.h. inw. obj.&lt;/i&gt;$ <br/>Warning: (lemma: δώς) Process::Meta<br/>Warning: (lemma: δώς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δυσφορέω
<span class='red'>&lt;tmp&gt;</span>om , door, vanwege<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δύσφορος
<span class='red'>&lt;tmp&gt;</span>δυσφόρως φέρειν (iets) moeilijk verdragen; geneesk. δυσφόρως (διάγειν) τὴν νύκτα een slechte nacht hebben &lt;toel&gt;(geneesk.)&lt;/toel&gt;<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δύσφρων
<span class='red'>&lt;tmp&gt;</span>δυσφρόνως op onbezonnen wijze.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δυσχεραίνω
<span class='red'>&lt;tmp&gt;</span>περί, κατά + &lt;i&gt;gen.; met inf.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δυσχερής
<span class='red'>&lt;tmp&gt;</span>voor iem<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δύω-1
<span class='red'>&lt;tmp&gt;</span>ἀμφί, περί + &lt;i&gt;dat.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δωρέω
<span class='red'>&lt;tmp&gt;</span>iets aan iem.; &lt;i&gt;praes. ook&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δώρημα
<span class='red'>&lt;tmp&gt;</span>aan iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δωρητός
<span class='red'>&lt;tmp&gt;</span>δωρητόν, οὐκ αἰτητόν geschonken, zonder dat erom was gevraagd S. OT 384.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δωροφορέω
<span class='red'>&lt;tmp&gt;</span>aan iem.; &lt;i&gt;met acc. v.h. inw. obj.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/DELTA.1.38 v8.1.xml</span>
Warning: (lemma: δοκέω) Process::Bet<br/>Warning: (lemma: δοκέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἄν); &lt;i&gt;dat. laat zich vaak vertalen als subj.&lt;/i&gt;: $ <br/>Warning: (lemma: δοκέω) Process::Bet<br/>Warning: (lemma: δοκέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^((ἐμοί), &lt;i&gt;jij&lt;/i&gt; (σοί) &lt;i&gt;enz.&lt;/i&gt;) $ <br/>Warning: (lemma: δοκέω) Process::Bet<br/>Warning: (lemma: δοκέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὡς ἐμοὶ δοκῶ naar mijn mening; &lt;i&gt;zie ook&lt;/i&gt; 3c.$ <br/>Warning: (lemma: δοκέω) Process::Bet<br/>Warning: (lemma: δοκέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^, $ <br/>Warning: (lemma: δοκέω) Process::Bet<br/>Warning: (lemma: δοκέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^δοκεῖ, δόξει, ἔδοξε &lt;i&gt;en pass.&lt;/i&gt; δέδοκται, &lt;i&gt;met dat. en inf. praes. of aor.&lt;/i&gt;$ <br/>Warning: (lemma: δοκέω) Process::Bet<br/>Warning: (lemma: δοκέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἔδοξε τῇ βουλῇ / τῷ δήμῳ $ <br/>Warning: (lemma: δοκέω) Process::Bet<br/>Warning: (lemma: δοκέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὡς ἐμοὶ δοκεῖ; &lt;i&gt;ook in vaste formules met inf.&lt;/i&gt;: ἐμοὶ δοκεῖν, ὡς ἐμοὶ δοκεῖν $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δοκέω
<span class='red'>&lt;tmp&gt;</span>ἄν); &lt;i&gt;dat. laat zich vaak vertalen als subj.&lt;/i&gt;: <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/DELTA.1.39 v8.0.xml</span>
Warning: (lemma: δή) Process::Bet<br/>Warning: (lemma: δή)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τί δή; $ <br/>Warning: (lemma: δή) Process::Bet<br/>Warning: (lemma: δή)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὡς &lt;i&gt;+ ptc., ook met ironische, sarcastische toon&lt;/i&gt; $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δή
<span class='red'>&lt;tmp&gt;</span>τί δή; <span class='red'>&lt;/tmp&gt;</span>

