<style>
    .green { color: green }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
Doing<span class='cyan'>migrator-build-dir/data/DELTA.1.1 v8.1.xml</span>
Warning: Vorm pass not successful for node ^Δ, δ, τό (δέλτα), indecl., delta (vierde letter van het Griekse alfabet); als getal: δ´ = 4; ͵δ = 4000.$ <br/>Error: Error: Vorm pass failed for primary structure lemma Δ, δ, τό (δέλτα), indecl., del ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: (lemma: δᾶ) Process::Bet<br/>Warning: (lemma: δᾶ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^γῆ), &lt;i&gt;interj.,&lt;/i&gt; &lt;i&gt;uitroep van afschuw,&lt;/i&gt; $ <br/>Warning: (lemma: δᾶ) Process::Bet<br/>Warning: (lemma: δᾶ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^)$ <br/>Warning: (lemma: δαήμων) Process::Bet<br/>Warning: (lemma: δαήμων)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^in iets.$ <br/>Warning: (lemma: δαί) Process::Bet<br/>Warning: (lemma: δαί)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^δή, &lt;i&gt;steeds na vraagwoord, vaak in kom.; drukt uit dat de vraag voor de hand ligt (en dus verbaasd overkomt)&lt;/i&gt;, $ <br/>Warning: (lemma: δαί) Process::Bet<br/>Warning: (lemma: δαί)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^πῶς δαί hoe dan?; τί δαί wat dan?, waarom dan?, wat nou?, wat dan wel?$ <br/>Warning: (lemma: δᾳδίον) Process::Bet<br/>Warning: (lemma: δᾳδίον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^δᾴς, $ <br/>Warning: (lemma: δαΐζω) Process::Bet<br/>Warning: (lemma: δαΐζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;/i&gt; ἐδάϊξα, &lt;i&gt;pass.&lt;/i&gt; ἐδαΐχθην; $ <br/>Warning: (lemma: δαΐζω) Process::Bet<br/>Warning: (lemma: δαΐζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^med.-pass.&lt;/i&gt; δεδάϊγμαι, &lt;i&gt;ep. plqperf. 3 sing.&lt;/i&gt; δεδάϊκτο; $ <br/>Warning: (lemma: δαΐζω) Process::Bet<br/>Warning: (lemma: δαΐζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;/i&gt; δαΐξω, $ <br/>Warning: (lemma: δαΐζω) Process::Bet<br/>Warning: (lemma: δαΐζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^in tweeën gespleten in zijn hart $ <br/>Warning: (lemma: δαιμόνιον) Process::Bet<br/>Warning: (lemma: δαιμόνιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^δαιμόνια ἐκβάλλειν demonen uitdrijven.$ <br/>Warning: (lemma: δαιμόνιος) Process::Bet<br/>Warning: (lemma: δαιμόνιος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(ὦ) δαιμόνιε, &lt;i&gt;f.&lt;/i&gt; δαιμονίη$ <br/>Warning: (lemma: δαιμόνιος) Process::Bet<br/>Warning: (lemma: δαιμόνιος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^verbazing, &lt;i&gt;verontwaardiging.&lt;/i&gt;$ <br/>Warning: (lemma: δαιμόνιος) Process::Meta<br/>Warning: (lemma: δαιμόνιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: δαίμων) Process::Bet<br/>Warning: (lemma: δαίμων)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἀγαθὸς δαίμων de goede geest ; &lt;i&gt;ook van de geesten van doden; christ. steeds van kwade geesten, demonen.&lt;/i&gt;$ <br/>Warning: (lemma: δαίνυμι) Element::WerkV<br/>Warning: (lemma: δαίνυμι)<span class="space"></span><span class="space"></span><span class="space"></span>1<br/>Warning: (lemma: δαίνυμι) Process::Bet<br/>Warning: (lemma: δαίνυμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^δ. γάμον, γάμους, ὑμεναίους een bruiloftsmaal houden$ <br/>Warning: (lemma: δαίομαι) Process::Bet<br/>Warning: (lemma: δαίομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets $ <br/>Warning: (lemma: δαίομαι) Process::Bet<br/>Warning: (lemma: δαίομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem., iem. iets $ <br/>Warning: (lemma: δαίομαι) Process::Meta<br/>Warning: (lemma: δαίομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: δάϊος) Process::Meta<br/>Warning: (lemma: δάϊος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: δάις) Process::Bet<br/>Warning: (lemma: δάις)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^δαΐ in de strijd.$ <br/>Warning: (lemma: δάις) Process::Meta<br/>Warning: (lemma: δάις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: δαΐς) Process::Meta<br/>Warning: (lemma: δαΐς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: δαίς) Process::Meta<br/>Warning: (lemma: δαίς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δᾶ
<span class='red'>&lt;tmp&gt;</span>γῆ), &lt;i&gt;interj.,&lt;/i&gt; &lt;i&gt;uitroep van afschuw,&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δαήμων
<span class='red'>&lt;tmp&gt;</span>in iets.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δαί
<span class='red'>&lt;tmp&gt;</span>δή, &lt;i&gt;steeds na vraagwoord, vaak in kom.; drukt uit dat de vraag voor de hand ligt (en dus verbaasd overkomt)&lt;/i&gt;, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δᾳδίον
<span class='red'>&lt;tmp&gt;</span>δᾴς, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δαΐζω
<span class='red'>&lt;tmp&gt;</span>&lt;/i&gt; ἐδάϊξα, &lt;i&gt;pass.&lt;/i&gt; ἐδαΐχθην; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δαιμόνιον
<span class='red'>&lt;tmp&gt;</span>δαιμόνια ἐκβάλλειν demonen uitdrijven.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δαιμόνιος
<span class='red'>&lt;tmp&gt;</span>(ὦ) δαιμόνιε, &lt;i&gt;f.&lt;/i&gt; δαιμονίη<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δαίμων
<span class='red'>&lt;tmp&gt;</span>ἀγαθὸς δαίμων de goede geest &lt;toel&gt;(hier plengde men aan na de maaltijd, voor het echte drinken begon)&lt;/toel&gt;; ook van de geesten van doden; christ. steeds van kwade geesten, demonen.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δαίνυμι
<span class='red'>&lt;tmp&gt;</span>&lt;b&gt;&lt;i&gt;aor.&lt;/b&gt;&lt;/i&gt; ἔδαισα, &lt;i&gt;pass. ptc.&lt;/i&gt; δαισθείς; &lt;b&gt;&lt;i&gt;fut.&lt;/b&gt;&lt;/i&gt; δαίσω<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δαίομαι-1
<span class='red'>&lt;tmp&gt;</span>iets <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δάις
<span class='red'>&lt;tmp&gt;</span>δαΐ in de strijd.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/DELTA.1.2 v8.1.xml</span>
Warning: (lemma: δαΐφρων) Process::Meta<br/>Warning: (lemma: δαΐφρων)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: δαΐφρων) Process::Meta<br/>Warning: (lemma: δαΐφρων)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: δαίω) Process::Bet<br/>Warning: (lemma: δαίω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^δέδη- $ <br/>Warning: (lemma: δάκρυ) Process::Meta<br/>Warning: (lemma: δάκρυ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: δάκτυλος) Process::Bet<br/>Warning: (lemma: δάκτυλος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(±&lt;i&gt;2 cm.); overdr.&lt;/i&gt;$ <br/>Warning: (lemma: δάμνημι) Element::WerkV<br/>Warning: (lemma: δάμνημι)<span class="space"></span><span class="space"></span><span class="space"></span>1<br/>Error: (lemma: δάμνημι) Error: Unexpected:no text:p inside list-item<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>overweldi ... (Last successful lemma was δαμνάω)<br/>Warning: (lemma: δᾶν) Process::Bet<br/>Warning: (lemma: δᾶν)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(?) $ <br/>Warning: (lemma: δᾶν) Process::Meta<br/>Warning: (lemma: δᾶν)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δαίω
<span class='red'>&lt;tmp&gt;</span>δέδη- <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δάκτυλος
<span class='red'>&lt;tmp&gt;</span>(±&lt;i&gt;2 cm.); overdr.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δᾶν
<span class='red'>&lt;tmp&gt;</span>(?) <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/DELTA.1.3 v8.1.xml</span>
Warning: (lemma: δαφοινεός) Process::Vorm<br/>Warning: (lemma: δαφοινεός)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: δαφοινεός) &lt;r&gt;&lt;b&gt;donker rood&lt;/b&gt;: εἷμα ... δαφοινεὸν αἵματι kleding die donkerrood is van het bloed &lt;s&gt;Il.&lt;/s&gt; 18.538.&lt;/r&gt;<br/>Warning: (lemma: δαφοινεός) (Make sure this definition contains either gebrW and vertM)<br/>Error: (lemma: δαφοινεός) Error: Bet is empty!, panicking. (Last successful lemma was δαφνώδης)<br/>Warning: (lemma: δάω) Process::Bet<br/>Warning: (lemma: δάω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^δέδαε, &lt;i&gt;met dubbele acc.&lt;/i&gt; iem. iets$ <br/>Warning: (lemma: δάω) Process::Meta<br/>Warning: (lemma: δάω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δάω
<span class='red'>&lt;tmp&gt;</span>δέδαε, &lt;i&gt;met dubbele acc.&lt;/i&gt; iem. iets<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/DELTA.1.4 v8.1.xml</span>
Warning: (lemma: δεδίσκομαι) Process::Meta<br/>Warning: (lemma: δεδίσκομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: δεδίσκομαι) Process::Meta<br/>Warning: (lemma: δεδίσκομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: δεῖ) Process::Bet<br/>Warning: (lemma: δεῖ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^δέω.$ <br/>Warning: (lemma: δειδίσκομαι) Process::Meta<br/>Warning: (lemma: δειδίσκομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: δείελος) Process::Bet<br/>Warning: (lemma: δείελος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἡ (ὁ) δείελος $ <br/>Warning: (lemma: δείκνυμαι) Process::Meta<br/>Warning: (lemma: δείκνυμαι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: δείκνυμι) Element::WerkV<br/>Warning: (lemma: δείκνυμι)<span class="space"></span><span class="space"></span><span class="space"></span>1<br/>Warning: (lemma: δείκνυμι) Process::Bet<br/>Warning: (lemma: δείκνυμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὡς &lt;i&gt;of&lt;/i&gt; $ <br/>Warning: (lemma: δειλός) Process::Bet<br/>Warning: (lemma: δειλός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ δειλόν $ <br/>Warning: (lemma: δεῖνα) Process::Meta<br/>Warning: (lemma: δεῖνα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: δεινόπους) Process::Meta<br/>Warning: (lemma: δεινόπους)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: δεινός) Process::Bet<br/>Warning: (lemma: δεινός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^οὐ(δὲν) δεινὸν μή $ <br/>Warning: (lemma: δεινός) Process::Bet<br/>Warning: (lemma: δεινός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^δεινός εἰμι &lt;i&gt;met inf. of&lt;/i&gt; $ <br/>Warning: (lemma: δεινός) Process::Bet<br/>Warning: (lemma: δεινός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^δεινόν ἐστι $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δεῖ
<span class='red'>&lt;tmp&gt;</span>δέω.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δείελος
<span class='red'>&lt;tmp&gt;</span>ἡ (ὁ) δείελος <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δείκνυμι
<span class='red'>&lt;tmp&gt;</span>&lt;b&gt;&lt;i&gt;praes.&lt;/b&gt; imperat.&lt;/i&gt; δείκνυ &lt;i&gt;en&lt;/i&gt; δείκνυε, &lt;i&gt;&lt;b&gt;imperf&lt;/b&gt;.&lt;/i&gt; ἐδεικνυον &lt;i&gt;en&lt;/i&gt; ἐδείκνυν, &lt;i&gt;poët. 3 sing.&lt;/i&gt; δείκνυ &lt;i&gt;en&lt;/i&gt; δείκνυε, &lt;i&gt;3 plur.&lt;/i&gt; ἐδείκνυσαν &lt;i&gt;en&lt;/i&gt; ἐδείκνυον; &lt;b&gt;&lt;i&gt;aor&lt;/i&gt;.&lt;/b&gt; ἔδειξα, &lt;i&gt;ep.&lt;/i&gt; δεῖξα, &lt;i&gt;Ion.&lt;/i&gt; ἔδεξα, &lt;i&gt;ep. med. 3 sing.&lt;/i&gt; δείξατο; &lt;b&gt;&lt;i&gt;aor. pass.&lt;/b&gt;&lt;/i&gt; ἐδείχθην, &lt;i&gt;Ion.&lt;/i&gt; ἐδέχθην; &lt;b&gt;&lt;i&gt;perf. act.&lt;/b&gt;&lt;/i&gt; δέδειχα; &lt;b&gt;&lt;i&gt;perf. med.-pass.&lt;/b&gt;&lt;/i&gt; δέδειγμαι, &lt;i&gt;Ion. 3 sing.&lt;/i&gt; δέδεκται, &lt;b&gt;&lt;i&gt;plqperf.&lt;/b&gt;&lt;/i&gt; (ἐ)δεδείγμην; &lt;b&gt;&lt;i&gt;fut.&lt;/b&gt;&lt;/i&gt; δείξω, &lt;i&gt;Ion.&lt;/i&gt; δέξω, &lt;i&gt;med.&lt;/i&gt; δέξομαι, &lt;b&gt;&lt;i&gt;fut. perf.&lt;/b&gt;&lt;/i&gt; δεδείξομαι<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δειλός
<span class='red'>&lt;tmp&gt;</span>τὸ δειλόν <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δεινός
<span class='red'>&lt;tmp&gt;</span>οὐ(δὲν) δεινὸν μή <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/DELTA.1.5 v8.0.xml</span>
Warning: (lemma: δέκα) Process::Bet<br/>Warning: (lemma: δέκα)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὰ δέκα ἀφ’ ἥβης de tien klassen vanaf dienstleeftijd $ <br/>Warning: (lemma: δεκαέτης) Process::Meta<br/>Warning: (lemma: δεκαέτης)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: δεκάπους) Process::Meta<br/>Warning: (lemma: δεκάπους)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: δεκέτης) Process::Meta<br/>Warning: (lemma: δεκέτης)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: δεκτός) Process::Bet<br/>Warning: (lemma: δεκτός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^aan iem.$ <br/>Warning: (lemma: δέλεαρ) Process::Bet<br/>Warning: (lemma: δέλεαρ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^voor $ <br/>Warning: (lemma: δέλτα) Process::Meta<br/>Warning: (lemma: δέλτα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: δελτίον) Process::Bet<br/>Warning: (lemma: δελτίον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^δέλτος, $ <br/>Warning: (lemma: δελφάκιον) Process::Bet<br/>Warning: (lemma: δελφάκιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^δέλφαξ, $ <br/>Warning: Vorm pass not successful for node ^δελφίς -ίδος [Δελφοί] adj. f. Delfisch.$ <br/>Error: Error: Vorm pass failed for primary structure lemma δελφίς -ίδος [Δελφοί] adj. f.<span class="space"></span><span class="space"></span>...<span class="space"></span><span class="space"></span>(Last successful lemma was δελφινοφόρος)<br/>Warning: (lemma: δέμας) Process::Bet<br/>Warning: (lemma: δέμας)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^δέμας &lt;i&gt;met gen.&lt;/i&gt; $ <br/>Warning: (lemma: δέμας) Process::Meta<br/>Warning: (lemma: δέμας)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: δέμω) Process::Bet<br/>Warning: (lemma: δέμω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;/i&gt; ἔδειμα, &lt;i&gt;ep.&lt;/i&gt; δεῖμα, &lt;i&gt;ep. conj. 1 plur.&lt;/i&gt; δείμομεν $ <br/>Warning: (lemma: δέμω) Process::Bet<br/>Warning: (lemma: δέμω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^med.-pass.&lt;/i&gt; δέδμημαι, &lt;i&gt;Dor. 3 plur.&lt;/i&gt; δέδμανται, &lt;i&gt;ep. en Ion. plqperf. med.-pass. 3 sing.&lt;/i&gt; (ἐ)δέδμητο, $ <br/>Warning: (lemma: δέν) Process::Meta<br/>Warning: (lemma: δέν)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: δενδρίον) Process::Bet<br/>Warning: (lemma: δενδρίον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^δένδρον, $ <br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δέκα
<span class='red'>&lt;tmp&gt;</span>τὰ δέκα ἀφ’ ἥβης de tien klassen vanaf dienstleeftijd &lt;toel&gt;(d.w.z. leeftijdsgroepen soldaten voor elke leeftijd tussen de 20 en 30 jaar)&lt;/toel&gt;<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δεκτός
<span class='red'>&lt;tmp&gt;</span>aan iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δέλεαρ
<span class='red'>&lt;tmp&gt;</span>voor &lt;toel&gt;(een prooi)&lt;/toel&gt;<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δελτίον
<span class='red'>&lt;tmp&gt;</span>δέλτος, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δελφάκιον
<span class='red'>&lt;tmp&gt;</span>δέλφαξ, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δέμας
<span class='red'>&lt;tmp&gt;</span>δέμας &lt;i&gt;met gen.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δέμω
<span class='red'>&lt;tmp&gt;</span>&lt;/i&gt; ἔδειμα, &lt;i&gt;ep.&lt;/i&gt; δεῖμα, &lt;i&gt;ep. conj. 1 plur.&lt;/i&gt; δείμομεν <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δενδρίον
<span class='red'>&lt;tmp&gt;</span>δένδρον, <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/DELTA.1.6 v8.1.xml</span>
Warning: (lemma: δεξιός) Process::Bet<br/>Warning: (lemma: δεξιός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ δεξιόν<span class="space"></span><span class="space"></span>de rechterflank; &lt;i&gt;in adv. uitdr. met prep.&lt;/i&gt;: ἐπὶ, εἰς, πρὸς (τὰ) δεξιά naar rechts; ἐπὶ δεξιόφιν aan de rechterkant; ἐκ (τῶν) δεξιῶν van &lt;i&gt;of&lt;/i&gt; aan de rechterkant; &lt;i&gt;van voortekens in de vorm van vogels of bliksem&lt;/i&gt;$ <br/>Warning: (lemma: δεξιός) Process::Bet<br/>Warning: (lemma: δεξιός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐκ δεξιᾶς van &lt;i&gt;of&lt;/i&gt; aan de rechterkant; ἐν δεξιᾷ ἔχειν (een plaats) aan de rechterkant houden$ <br/>Warning: (lemma: δεξιότης) Process::Meta<br/>Warning: (lemma: δεξιότης)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: δεξιώνυμος) Process::Bet<br/>Warning: (lemma: δεξιώνυμος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εὐώνυμος ‘linker; ongunstig’: $ <br/>Warning: (lemma: δεόντως) Process::Bet<br/>Warning: (lemma: δεόντως)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^δέω 2, $ <br/>Warning: (lemma: δέος) Process::Bet<br/>Warning: (lemma: δέος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^voor iets &lt;i&gt;of&lt;/i&gt; iem.; &lt;i&gt;met acc. resp.&lt;/i&gt;$ <br/>Warning: (lemma: δέος) Process::Bet<br/>Warning: (lemma: δέος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^dat$ <br/>Warning: (lemma: δέος) Process::Bet<br/>Warning: (lemma: δέος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^dat$ <br/>Warning: (lemma: δέρκομαι) Element::WerkV<br/>Warning: (lemma: δέρκομαι)<span class="space"></span><span class="space"></span><span class="space"></span>1<br/>Warning: (lemma: δέρκομαι) Process::Bet<br/>Warning: (lemma: δέρκομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^δ. δεινόν &lt;i&gt;of&lt;/i&gt; δεινά vreselijk, angstaanjagend kijken$ <br/>Warning: (lemma: δερμάτιον) Process::Bet<br/>Warning: (lemma: δερμάτιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^δέρμα, $ <br/>Warning: (lemma: δέρρις) Process::Meta<br/>Warning: (lemma: δέρρις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: δεσμός) Process::Bet<br/>Warning: (lemma: δεσμός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(ἐν) δεσμοῖς in de boeien, in gevangenschap$ <br/>Warning: (lemma: δεσπόσυνος) Process::Bet<br/>Warning: (lemma: δεσπόσυνος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὁ δ. $ <br/>Warning: (lemma: δεσπόσυνος) Process::Meta<br/>Warning: (lemma: δεσπόσυνος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: δεσποτίσκος) Process::Bet<br/>Warning: (lemma: δεσποτίσκος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^δεσπότης, $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δεξιός
<span class='red'>&lt;tmp&gt;</span>τὸ δεξιόν &lt;toel&gt;(met of zonder &lt;link target=""&gt;κέρας&lt;/link&gt;)&lt;/toel&gt; de rechterflank; in adv. uitdr. met prep.: ἐπὶ, εἰς, πρὸς (τὰ) δεξιά naar rechts; ἐπὶ δεξιόφιν aan de rechterkant; ἐκ (τῶν) δεξιῶν van of aan de rechterkant; van voortekens in de vorm van vogels of bliksem<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δεξιώνυμος
<span class='red'>&lt;tmp&gt;</span>εὐώνυμος ‘linker; ongunstig’: <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δεόντως
<span class='red'>&lt;tmp&gt;</span>δέω 2, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δέος
<span class='red'>&lt;tmp&gt;</span>voor iets &lt;i&gt;of&lt;/i&gt; iem.; &lt;i&gt;met acc. resp.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δέρκομαι
<span class='red'>&lt;tmp&gt;</span>&lt;b&gt; &lt;i&gt;perf.&lt;/b&gt;&lt;/i&gt; δέδορκα; &lt;b&gt;&lt;i&gt;fut.&lt;/i&gt;&lt;/b&gt; δέρξομαι; &lt;i&gt;actieve, mediale en passieve vormen alle met actieve betekenis.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δερμάτιον
<span class='red'>&lt;tmp&gt;</span>δέρμα, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δεσμός
<span class='red'>&lt;tmp&gt;</span>(ἐν) δεσμοῖς in de boeien, in gevangenschap<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δεσπόσυνος
<span class='red'>&lt;tmp&gt;</span>ὁ δ. <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δεσποτίσκος
<span class='red'>&lt;tmp&gt;</span>δεσπότης, <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/DELTA.1.7 v8.1.xml</span>
Warning: (lemma: δεῦρο) Process::Bet<br/>Warning: (lemma: δεῦρο)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^μέχρι &lt;i&gt;of&lt;/i&gt; $ <br/>Warning: (lemma: δευτεραῖος) Process::Bet<br/>Warning: (lemma: δευτεραῖος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(sc. ἡμέρα) de dag erna$ <br/>Warning: (lemma: δεύτερος) Process::Bet<br/>Warning: (lemma: δεύτερος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(τὸ) δεύτερον $ <br/>Warning: (lemma: δεύτερος) Process::Meta<br/>Warning: (lemma: δεύτερος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: δεύω) Process::Meta<br/>Warning: (lemma: δεύω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: δεύω) Process::Meta<br/>Warning: (lemma: δεύω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: δέω) Process::Meta<br/>Warning: (lemma: δέω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: δέω) Process::Bet<br/>Warning: (lemma: δέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^μικροῦ (πολλοῦ &lt;i&gt;etc.&lt;/i&gt;) δέω, &lt;i&gt;met inf.&lt;/i&gt; $ <br/>Warning: (lemma: δέω) Process::Meta<br/>Warning: (lemma: δέω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δεῦρο
<span class='red'>&lt;tmp&gt;</span>μέχρι &lt;i&gt;of&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δευτεραῖος
<span class='red'>&lt;tmp&gt;</span>(sc. ἡμέρα) de dag erna<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δεύτερος
<span class='red'>&lt;tmp&gt;</span>(τὸ) δεύτερον <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δέω-2
<span class='red'>&lt;tmp&gt;</span>μικροῦ (πολλοῦ &lt;i&gt;etc.&lt;/i&gt;) δέω, &lt;i&gt;met inf.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/DELTA.1.8 v8.1.xml</span>
Warning: (lemma: δῆθεν) Process::Bet<br/>Warning: (lemma: δῆθεν)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὡς &lt;i&gt;en ptc.&lt;/i&gt;$ <br/>Warning: (lemma: δῆθεν) Process::Meta<br/>Warning: (lemma: δῆθεν)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: δῆλος) Process::Bet<br/>Warning: (lemma: δῆλος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^δῆλον δέ·... γάρ &lt;i&gt;om bewijs of argument in te leiden&lt;/i&gt;$ <br/>Warning: (lemma: δῆλος) Process::Bet<br/>Warning: (lemma: δῆλος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^δῆλα δή (δηλαδή) $ <br/>Warning: (lemma: δῆλος) Process::Bet<br/>Warning: (lemma: δῆλος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^δῆλον ὅτι (δηλονότι) $ <br/>Warning: (lemma: δημηγορικός) Process::Bet<br/>Warning: (lemma: δημηγορικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὰ δημηγορικά $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δῆθεν
<span class='red'>&lt;tmp&gt;</span>ὡς &lt;i&gt;en ptc.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δῆλος
<span class='red'>&lt;tmp&gt;</span>δῆλον δέ·... γάρ &lt;i&gt;om bewijs of argument in te leiden&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δημηγορικός
<span class='red'>&lt;tmp&gt;</span>τὰ δημηγορικά <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/DELTA.1.9 v8.1.xml</span>
Warning: (lemma: δημιουργός) Process::Bet<br/>Warning: (lemma: δημιουργός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^οἱ δημιουργοί $ <br/>Warning: (lemma: δημόθροος) Process::Meta<br/>Warning: (lemma: δημόθροος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: δημόσιος) Process::Bet<br/>Warning: (lemma: δημόσιος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^δημοσίᾳ, &lt;i&gt;Ion.&lt;/i&gt; δημοσίῃ $ <br/>Warning: (lemma: δημόσιος) Process::Meta<br/>Warning: (lemma: δημόσιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: δῆρις) Process::Vorm<br/>Warning: (lemma: δῆρις)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: δῆρις) alleen acc. &lt;r&gt;-ιν &lt;i&gt;in &lt;s&gt;Il.&lt;/s&gt; en &lt;s&gt;Od.&lt;/s&gt;&lt;/i&gt;&lt;/r&gt; <br/>Warning: (lemma: δῆρις) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: δηρόβιος) Process::Meta<br/>Warning: (lemma: δηρόβιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: δηρός) Process::Meta<br/>Warning: (lemma: δηρός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δημιουργός
<span class='red'>&lt;tmp&gt;</span>οἱ δημιουργοί <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>δημόσιος
<span class='red'>&lt;tmp&gt;</span>δημοσίᾳ, &lt;i&gt;Ion.&lt;/i&gt; δημοσίῃ <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/DELTA.1.10 v8.2.xml</span>
Warning: (lemma: διάδρομος) Process::Meta<br/>Warning: (lemma: διάδρομος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: διάδρομος) Process::Meta<br/>Warning: (lemma: διάδρομος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: διαειδής) Process::Meta<br/>Warning: (lemma: διαειδής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
Doing<span class='cyan'>migrator-build-dir/data/DELTA.1.11 v8.2.xml</span>
Warning: (lemma: διαιτάω) Process::Bet<br/>Warning: (lemma: διαιτάω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^~ δίαιτα$ <br/>Warning: (lemma: διαιτάω) Process::Bet<br/>Warning: (lemma: διαιτάω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^~ διαιτητής$ <br/>Error: (lemma: διαιτάω) Error: Something's wrong: couldn't get betekenis elements for one of the (tertiary) list items. (Last successful lemma was διαιτάω)<br/>Warning: (lemma: διαιτάω) Something's wrong: couldn't get betekenis elements for one of the (tertiary) list items.<br/>Error: (lemma: διαιτάω) Error: Something's wrong: couldn't get betekenis elements for one of the (tertiary) list items. (Last successful lemma was διαιτάω)<br/>Warning: (lemma: διαιτάω) Something's wrong: couldn't get betekenis elements for one of the (tertiary) list items.<br/>Warning: (lemma: διαιτάω) Process::Meta<br/>Warning: (lemma: διαιτάω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: διαιώνιος) Process::Meta<br/>Warning: (lemma: διαιώνιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: διακενῆς) Process::Meta<br/>Warning: (lemma: διακενῆς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>διαιτάω
<span class='red'>&lt;tmp&gt;</span>~ δίαιτα&lt;!-- <br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Beek, L.C. van<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>2016-02-01T11:35:00<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Hier 2. διαιτάω invoegen<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>--&gt;<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>διαιτάω-2
<span class='red'>&lt;tmp&gt;</span>POSSIBLY MISSING TEXT<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/DELTA.1.12 v8.2.xml</span>
Warning: (lemma: διακόσιοι) Process::Meta<br/>Warning: (lemma: διακόσιοι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: διαλανθάνω) Process::Bet<br/>Warning: (lemma: διαλανθάνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^voor iemand$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>διαλανθάνω
<span class='red'>&lt;tmp&gt;</span>voor iemand<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/DELTA.1.13 v8.1.xml</span>
Warning: (lemma: διαμαρτάνω) Process::Bet<br/>Warning: (lemma: διαμαρτάνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^.$ <br/>Warning: (lemma: διαμιλλάομαι) Process::Bet<br/>Warning: (lemma: διαμιλλάομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^tegen, περί + &lt;i&gt;gen.&lt;/i&gt; om; &lt;i&gt;pass.&lt;/i&gt;$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>διαμαρτάνω
<span class='red'>&lt;tmp&gt;</span>.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>διαμιλλάομαι
<span class='red'>&lt;tmp&gt;</span>tegen, περί + &lt;i&gt;gen.&lt;/i&gt; om; &lt;i&gt;pass.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/DELTA.1.14 v8.1.xml</span>
Warning: Vorm pass not successful for node ^<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Versie<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Datum<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Auteur<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Aanpassingen<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>6.0<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>28-6-2013<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>JR<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Invoer lemmata<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>7.0<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>16-01-16<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>IS/AR<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Hoofdredactie, klaar<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>8.0<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>29-01-16<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>LvB<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Voorbereiding migratie<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>$ <br/>Error: Error: Vorm pass failed for primary structure lemma <br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/> ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: (lemma: διαμπερής) Process::Bet<br/>Warning: (lemma: διαμπερής)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^διαμπερές, &lt;i&gt;ook&lt;/i&gt; διαμπερέως$ <br/>Warning: (lemma: διαμπερής) Process::Bet<br/>Warning: (lemma: διαμπερής)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^διαμπερές, &lt;i&gt;als prep. met gen.&lt;/i&gt; $ <br/>Warning: (lemma: διανεμητικός) Process::Bet<br/>Warning: (lemma: διανεμητικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^πρός &lt;i&gt;+ acc.&lt;/i&gt;$ <br/>Warning: (lemma: διανέμω) Process::Bet<br/>Warning: (lemma: διανέμω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐν &lt;i&gt;+ dat.&lt;/i&gt;$ <br/>Warning: (lemma: διανήχομαι) Process::Bet<br/>Warning: (lemma: διανήχομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εἰς &lt;i&gt;+ acc, met&lt;/i&gt; πρός &lt;i&gt;+ acc.&lt;/i&gt;$ <br/>Warning: (lemma: διάνοια) Process::Bet<br/>Warning: (lemma: διάνοια)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐπί &lt;i&gt;+ dat.&lt;/i&gt;$ <br/>Warning: (lemma: διανταῖος) Process::Meta<br/>Warning: (lemma: διανταῖος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: διαπασῶν) Process::Bet<br/>Warning: (lemma: διαπασῶν)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^διὰ πασῶν, &lt;i&gt;overdr.&lt;/i&gt;$ <br/>Warning: (lemma: διαπασῶν) Process::Meta<br/>Warning: (lemma: διαπασῶν)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: διαπαύω) Process::Bet<br/>Warning: (lemma: διαπαύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^διαπαύων bij tussenpozen.$ <br/>Warning: (lemma: διαπειλέω) Process::Bet<br/>Warning: (lemma: διαπειλέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὡς&lt;i&gt;-zin&lt;/i&gt;$ <br/>Warning: (lemma: διαπετάννυμι) Process::Bet<br/>Warning: (lemma: διαπετάννυμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐπί &lt;i&gt;+ gen.&lt;/i&gt; $ <br/>Warning: (lemma: διαπέτομαι) Process::Bet<br/>Warning: (lemma: διαπέτομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^διά &lt;i&gt;+ gen.&lt;/i&gt;$ <br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>διαμπερής
<span class='red'>&lt;tmp&gt;</span>διαμπερές, &lt;i&gt;ook&lt;/i&gt; διαμπερέως<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>διανεμητικός
<span class='red'>&lt;tmp&gt;</span>πρός &lt;i&gt;+ acc.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>διανέμω
<span class='red'>&lt;tmp&gt;</span>ἐν &lt;i&gt;+ dat.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>διανήχομαι
<span class='red'>&lt;tmp&gt;</span>εἰς &lt;i&gt;+ acc, met&lt;/i&gt; πρός &lt;i&gt;+ acc.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>διάνοια
<span class='red'>&lt;tmp&gt;</span>ἐπί &lt;i&gt;+ dat.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>διαπασῶν
<span class='red'>&lt;tmp&gt;</span>διὰ πασῶν, &lt;i&gt;overdr.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>διαπαύω
<span class='red'>&lt;tmp&gt;</span>διαπαύων bij tussenpozen.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>διαπειλέω
<span class='red'>&lt;tmp&gt;</span>ὡς&lt;i&gt;-zin&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>διαπετάννυμι
<span class='red'>&lt;tmp&gt;</span>ἐπί &lt;i&gt;+ gen.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>διαπέτομαι
<span class='red'>&lt;tmp&gt;</span>διά &lt;i&gt;+ gen.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/DELTA.1.15 v8.1.xml</span>
Warning: (lemma: διάπλους) Process::Meta<br/>Warning: (lemma: διάπλους)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: διάπλους) Process::Meta<br/>Warning: (lemma: διάπλους)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: διαπρό) Process::Meta<br/>Warning: (lemma: διαπρό)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
Doing<span class='cyan'>migrator-build-dir/data/DELTA.1.16 v8.1.xml</span>
Warning: (lemma: διαρρήγνυμι) Process::Bet<br/>Warning: (lemma: διαρρήγνυμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^διαρραγείης jij kan barsten!$ <br/>Warning: (lemma: διαρρίπτω) Process::Bet<br/>Warning: (lemma: διαρρίπτω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^~ διά uiteen: $ <br/>Warning: (lemma: διαρρίπτω) Process::Bet<br/>Warning: (lemma: διαρρίπτω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^~ διά door … heen: $ <br/>Warning: (lemma: διαρροθέω) Process::Bet<br/>Warning: (lemma: διαρροθέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets onder iem.$ <br/>Warning: (lemma: διαρτάω) Process::Bet<br/>Warning: (lemma: διαρτάω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets van iets.$ <br/>Warning: (lemma: διασαφέω) Process::Bet<br/>Warning: (lemma: διασαφέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^δ. εἰ duidelijk maken of … .$ <br/>Warning: (lemma: διασείω) Process::Bet<br/>Warning: (lemma: διασείω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(iem.) $ <br/>Warning: (lemma: διασκευάζω) Process::Bet<br/>Warning: (lemma: διασκευάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τἆλλα de rest.$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>διαρρήγνυμι
<span class='red'>&lt;tmp&gt;</span>διαρραγείης jij kan barsten!<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>διαρρίπτω
<span class='red'>&lt;tmp&gt;</span>~ διά uiteen: <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>διαρροθέω
<span class='red'>&lt;tmp&gt;</span>iets onder iem.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>διαρτάω
<span class='red'>&lt;tmp&gt;</span>iets van iets.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>διασαφέω
<span class='red'>&lt;tmp&gt;</span>δ. εἰ duidelijk maken of … .<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>διασείω
<span class='red'>&lt;tmp&gt;</span>(iem.) <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>διασκευάζω
<span class='red'>&lt;tmp&gt;</span>τἆλλα de rest.<span class='red'>&lt;/tmp&gt;</span>

