<style>
    .blue { color: SlateBlue }
    .cyan { color: Teal }
    .red { color: Crimson }
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .green { color: green }
    .yellow { color: #7d6420 }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
Doing<span class='cyan'>migrator-build-dir/data/Kappa.1.19 v8.1.xml</span>
Warning: (lemma: καταβολή) Process::Bet<br/>Warning: (lemma: καταβολή)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^[$ <br/>Warning: (lemma: καταγιγνώσκω) Process::Bet<br/>Warning: (lemma: καταγιγνώσκω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὅτι &lt;i&gt;of&lt;/i&gt; $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καταβολή
<span class='red'>&lt;tmp&gt;</span>[<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καταγιγνώσκω
<span class='red'>&lt;tmp&gt;</span>ὅτι &lt;i&gt;of&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.1.22 v8.1.xml</span>
* # total failures: 0<br/>
Doing<span class='cyan'>migrator-build-dir/data/Kappa.2.2 v8.1.xml</span>
Warning: (lemma: καταμαρτυρέω) Process::Bet<br/>Warning: (lemma: καταμαρτυρέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^-26.$ <br/>Warning: (lemma: καταμάω) Process::Meta<br/>Warning: (lemma: καταμάω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: καταμάω) Process::Meta<br/>Warning: (lemma: καταμάω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καταμαρτυρέω
<span class='red'>&lt;tmp&gt;</span>-26.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.3.1 v8.1.xml</span>
Warning: (lemma: κατάχυσμα) Process::Bet<br/>Warning: (lemma: κατάχυσμα)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὰ καταχύσματα $ <br/>Warning: (lemma: καταψύχω) Process::Bet<br/>Warning: (lemma: καταψύχω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κατέψυκτo $ <br/>Warning: (lemma: κατεγγυάω) Process::Bet<br/>Warning: (lemma: κατεγγυάω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^[$ <br/>Warning: (lemma: κατεγγυάω) Process::Bet<br/>Warning: (lemma: κατεγγυάω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^] 59.49.$ <br/>Warning: Vorm pass not successful for node ^κατεδήδοκα perf. act. bij κατεσθίω.$ <br/>Error: Error: Vorm pass failed for primary structure lemma κατεδήδοκα perf. act. bij κατε ...<span class="space"></span><span class="space"></span>(Last successful lemma was κατεγγυάω)<br/>Warning: Vorm pass not successful for node ^κατέδομαι fut. bij κατεσθίω.$ <br/>Error: Error: Vorm pass failed for primary structure lemma κατέδομαι fut. bij κατεσθίω.<span class="space"></span><span class="space"></span>(Last successful lemma was κατεγγυάω)<br/>Warning: Vorm pass not successful for node ^κατέδυν stamaor. bij καταδύομαι (zie καταδύω).$ <br/>Error: Error: Vorm pass failed for primary structure lemma κατέδυν stamaor. bij καταδύομα ...<span class="space"></span><span class="space"></span>(Last successful lemma was κατέδραμον)<br/>Warning: (lemma: κατεῖδον) Process::Bet<br/>Warning: (lemma: κατεῖδον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὴν ἐμὴν ἀμαθίαν κ.mijn onwetendheid opmerken $ <br/>Warning: (lemma: κατείρω) Process::Meta<br/>Warning: (lemma: κατείρω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 3<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κατάχυσμα
<span class='red'>&lt;tmp&gt;</span>τὰ καταχύσματα <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καταψύχω
<span class='red'>&lt;tmp&gt;</span>κατέψυκτo <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κατεγγυάω
<span class='red'>&lt;tmp&gt;</span>[<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κατεῖδον
<span class='red'>&lt;tmp&gt;</span>τὴν ἐμὴν ἀμαθίαν κ.mijn onwetendheid opmerken <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.3.2 v8.1.xml</span>
Warning: Vorm pass not successful for node ^κατέλεκτο ep. indic. aor. med. 3 sing.van καταλέχομαι.$ <br/>Error: Error: Vorm pass failed for primary structure lemma κατέλεκτο ep. indic. aor. med. ...<span class="space"></span><span class="space"></span>(Last successful lemma was κατελεέω)<br/>Warning: Vorm pass not successful for node ^κατελεύσομαι fut. bij κατέρχομαι.$ <br/>Error: Error: Vorm pass failed for primary structure lemma κατελεύσομαι fut. bij κατέρχομ ...<span class="space"></span><span class="space"></span>(Last successful lemma was κατελεέω)<br/>Warning: Vorm pass not successful for node ^κατελθών ptc. aor. bij κατέρχομαι.$ <br/>Error: Error: Vorm pass failed for primary structure lemma κατελθών ptc. aor. bij κατέρχο ...<span class="space"></span><span class="space"></span>(Last successful lemma was κατελεέω)<br/>Warning: (lemma: κατεργάζομαι) Process::Bet<br/>Warning: (lemma: κατεργάζομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^1; $ <br/>Warning: (lemma: κατεργασίαας) Process::Meta<br/>Warning: (lemma: κατεργασίαας)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κατερείπω) Process::Bet<br/>Warning: (lemma: κατερείπω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κατήριπον &lt;i&gt;en perf.&lt;/i&gt; κατερήριπα, $ <br/>
* # total failures: 3<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κατεργάζομαι
<span class='red'>&lt;tmp&gt;</span>1; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κατερείπω
<span class='red'>&lt;tmp&gt;</span>κατήριπον &lt;i&gt;en perf.&lt;/i&gt; κατερήριπα, <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.3.3 v8.1.xml</span>
Warning: (lemma: κατέχω) Process::Bet<br/>Warning: (lemma: κατέχω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(ὥστε) μή &lt;i&gt;en inf&lt;/i&gt; $ <br/>Warning: (lemma: κατέχω) Process::Bet<br/>Warning: (lemma: κατέχω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;i&gt;(mentaal)$ <br/>Warning: (lemma: κατηγορέω) Process::Bet<br/>Warning: (lemma: κατηγορέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^πρός/εἰς + &lt;i&gt;acc.&lt;/i&gt;: $ <br/>Warning: (lemma: κατηγορέω) Process::Bet<br/>Warning: (lemma: κατηγορέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κ. &lt;i&gt;met gen. en&lt;/i&gt; ὅτι, ὡς&lt;i&gt;of inf.&lt;/i&gt; $ <br/>Warning: (lemma: κατηγορέω) Process::Bet<br/>Warning: (lemma: κατηγορέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κατηγορεῖται, &lt;i&gt;met gen. en inf.&lt;/i&gt;$ <br/>Warning: (lemma: κατηγορέω) Process::Bet<br/>Warning: (lemma: κατηγορέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὅτι&lt;i&gt;of&lt;/i&gt; $ <br/>Warning: (lemma: κατηγορέω) Process::Bet<br/>Warning: (lemma: κατηγορέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὅτι &lt;i&gt;of&lt;/i&gt; $ <br/>Warning: (lemma: κατηγορητέον) Process::Bet<br/>Warning: (lemma: κατηγορητέον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^οὐδὲ κατηγορητέον $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κατέχω
<span class='red'>&lt;tmp&gt;</span>(ὥστε) μή &lt;i&gt;en inf&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κατηγορέω
<span class='red'>&lt;tmp&gt;</span>πρός/εἰς + &lt;i&gt;acc.&lt;/i&gt;: <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κατηγορητέον
<span class='red'>&lt;tmp&gt;</span>οὐδὲ κατηγορητέον <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.3.4 v8.1.xml</span>
Warning: (lemma: κατήορος) Process::Meta<br/>Warning: (lemma: κατήορος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κατηχέω) Process::Bet<br/>Warning: (lemma: κατηχέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^leerling $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κατηχέω
<span class='red'>&lt;tmp&gt;</span>leerling <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.3.5 v8.1.xml</span>
Warning: (lemma: κατοκώχιμος) Process::Bet<br/>Warning: (lemma: κατοκώχιμος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὑπό &lt;i&gt;of&lt;/i&gt; ἐκ + &lt;i&gt;gen.&lt;/i&gt;$ <br/>Warning: (lemma: κάτω) Process::Bet<br/>Warning: (lemma: κάτω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἄνω (καὶ) κάτω, &lt;i&gt;zie&lt;/i&gt; ἄνω.$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κατοκώχιμος
<span class='red'>&lt;tmp&gt;</span>ὑπό &lt;i&gt;of&lt;/i&gt; ἐκ + &lt;i&gt;gen.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κάτω
<span class='red'>&lt;tmp&gt;</span>ἄνω (καὶ) κάτω, &lt;i&gt;zie&lt;/i&gt; ἄνω.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.3.6 v8.1.xml</span>
Warning: (lemma: κατῶρυξ) Process::Meta<br/>Warning: (lemma: κατῶρυξ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κατώτατος) Process::Bet<br/>Warning: (lemma: κατώτατος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κατώτατα op het laagste punt.$ <br/>Warning: (lemma: καυσόω) Process::Bet<br/>Warning: (lemma: καυσόω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^3.10.$ <br/>Warning: (lemma: καυστηριάζω) Process::Bet<br/>Warning: (lemma: καυστηριάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^4.2.$ <br/>Warning: (lemma: καυστός) Process::Meta<br/>Warning: (lemma: καυστός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: καυχάομαι) Process::Bet<br/>Warning: (lemma: καυχάομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^9.2.$ <br/>Warning: (lemma: καχύποπτος) Process::Meta<br/>Warning: (lemma: καχύποπτος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κεδνός) Process::Bet<br/>Warning: (lemma: κεδνός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;i&gt;vooral van zaken,$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κατώτατος
<span class='red'>&lt;tmp&gt;</span>κατώτατα op het laagste punt.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καυσόω
<span class='red'>&lt;tmp&gt;</span>3.10.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καυστηριάζω
<span class='red'>&lt;tmp&gt;</span>4.2.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καυχάομαι
<span class='red'>&lt;tmp&gt;</span>9.2.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κεδνός
<span class='red'>&lt;tmp&gt;</span>&lt;i&gt;vooral van zaken,<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.3.7 v8.1.xml</span>
Warning: (lemma: κεῖμαι) Process::Bet<br/>Warning: (lemma: κεῖμαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;s&gt;&lt;/s&gt; 1456a35.$ <br/>Warning: (lemma: κεῖμαι) Process::Bet<br/>Warning: (lemma: κεῖμαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐν &lt;i&gt;of&lt;/i&gt; ἐπί + &lt;i&gt;dat.&lt;/i&gt;$ <br/>Warning: (lemma: κειρύλος) Process::Bet<br/>Warning: (lemma: κειρύλος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κηρύλος .$ <br/>Warning: (lemma: κείω) Process::Meta<br/>Warning: (lemma: κείω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κείω) Process::Meta<br/>Warning: (lemma: κείω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κελαδῆτις) Process::Meta<br/>Warning: (lemma: κελαδῆτις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κεῖμαι
<span class='red'>&lt;tmp&gt;</span>&lt;s&gt;&lt;/s&gt; 1456a35.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κειρύλος
<span class='red'>&lt;tmp&gt;</span>κηρύλος &lt;toel&gt;(ijsvogel)&lt;/toel&gt;.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.3.8 v8.1.xml</span>
Warning: (lemma: κέλευμα) Process::Meta<br/>Warning: (lemma: κέλευμα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κελεύω) Process::Bet<br/>Warning: (lemma: κελεύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ κελευσόμενον &lt;i&gt;of&lt;/i&gt; τὰ κελευσόμενα de opdracht(en); &lt;i&gt;spec.&lt;/i&gt; $ <br/>Warning: (lemma: κελήτιον) Process::Bet<br/>Warning: (lemma: κελήτιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κέλης, $ <br/>Warning: (lemma: κεμήλιος) Process::Meta<br/>Warning: (lemma: κεμήλιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κενοδοντίς) Process::Meta<br/>Warning: (lemma: κενοδοντίς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κελεύω
<span class='red'>&lt;tmp&gt;</span>τὸ κελευσόμενον &lt;i&gt;of&lt;/i&gt; τὰ κελευσόμενα de opdracht(en); &lt;i&gt;spec.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κελήτιον
<span class='red'>&lt;tmp&gt;</span>κέλης, <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.3.9 v8.1.xml</span>
Warning: (lemma: κενταυρικός) Process::Bet<br/>Warning: (lemma: κενταυρικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κενταυρικῶς &lt;i&gt;op de manier van centauren&lt;/i&gt; $ <br/>Warning: (lemma: κεντουρίων) Process::Meta<br/>Warning: (lemma: κεντουρίων)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κεντροδάλητις) Process::Meta<br/>Warning: (lemma: κεντροδάλητις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κένωσις) Process::Bet<br/>Warning: (lemma: κένωσις)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κενώσιος δεῖται (het lichaam) behoeft lediging HP. &lt;i&gt;Aph.&lt;/i&gt; 2.8; $ <br/>Warning: (lemma: κεραμικός) Process::Bet<br/>Warning: (lemma: κεραμικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ κεραμικόν $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κενταυρικός
<span class='red'>&lt;tmp&gt;</span>κενταυρικῶς &lt;i&gt;op de manier van centauren&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κένωσις
<span class='red'>&lt;tmp&gt;</span>κενώσιος δεῖται (het lichaam) behoeft lediging HP. &lt;i&gt;Aph.&lt;/i&gt; 2.8; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κεραμικός
<span class='red'>&lt;tmp&gt;</span>τὸ κεραμικόν <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.3.10 v8.1.xml</span>
Warning: (lemma: κεράννυμι) Process::Bet<br/>Warning: (lemma: κεράννυμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^($ <br/>Warning: (lemma: κεραυνομάχας) Process::Meta<br/>Warning: (lemma: κεραυνομάχας)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κεραυνός) Process::Meta<br/>Warning: (lemma: κεραυνός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κεραυνοφόρος) Process::Bet<br/>Warning: (lemma: κεραυνοφόρος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὁ κεραυνοφόρος $ <br/>Warning: (lemma: κεράω) Process::Bet<br/>Warning: (lemma: κεράω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κεράννυμι.$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κεράννυμι
<span class='red'>&lt;tmp&gt;</span>(<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κεραυνοφόρος
<span class='red'>&lt;tmp&gt;</span>ὁ κεραυνοφόρος <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κεράω
<span class='red'>&lt;tmp&gt;</span>κεράννυμι.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.3.11 v8.1.xml</span>
Warning: (lemma: κερκιδοποιϊκός) Process::Bet<br/>Warning: (lemma: κερκιδοποιϊκός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἡ κ.<span class="space"></span><span class="space"></span>$ <br/>Warning: (lemma: κερκιστικός) Process::Bet<br/>Warning: (lemma: κερκιστικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἡ κ.<span class="space"></span><span class="space"></span>$ <br/>Warning: (lemma: κεροβάτης) Process::Meta<br/>Warning: (lemma: κεροβάτης)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κέρχνος) Process::Meta<br/>Warning: (lemma: κέρχνος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κεύθω) Process::Bet<br/>Warning: (lemma: κεύθω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iets voor iem$ <br/>Warning: (lemma: κεφάλαιον) Process::Bet<br/>Warning: (lemma: κεφάλαιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐν κεφαλαίοις $ <br/>Warning: (lemma: κεφαλή) Process::Bet<br/>Warning: (lemma: κεφαλή)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^11.3.$ <br/>Warning: (lemma: κεφαλή) Process::Bet<br/>Warning: (lemma: κεφαλή)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^: $ <br/>Warning: (lemma: κεφαληγερέτας) Process::Bet<br/>Warning: (lemma: κεφαληγερέτας)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^νεφεληγερέτης .$ <br/>Warning: (lemma: κεφαληγερέτας) Process::Meta<br/>Warning: (lemma: κεφαληγερέτας)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κεφαλίς) Process::Bet<br/>Warning: (lemma: κεφαλίς)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κεφαλή, $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κερκιδοποιϊκός
<span class='red'>&lt;tmp&gt;</span>ἡ κ. &lt;toel&gt;(sc. &lt;link target=""&gt;τέχνη&lt;/link&gt;)&lt;/toel&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κερκιστικός
<span class='red'>&lt;tmp&gt;</span>ἡ κ. &lt;toel&gt;(sc. &lt;link target=""&gt;τέχνη&lt;/link&gt;)&lt;/toel&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κεύθω
<span class='red'>&lt;tmp&gt;</span>iets voor iem<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κεφάλαιον
<span class='red'>&lt;tmp&gt;</span>ἐν κεφαλαίοις <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κεφαλή
<span class='red'>&lt;tmp&gt;</span>11.3.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κεφαληγερέτας
<span class='red'>&lt;tmp&gt;</span>νεφεληγερέτης &lt;toel&gt;(Zeus)&lt;/toel&gt;.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κεφαλίς
<span class='red'>&lt;tmp&gt;</span>κεφαλή, <span class='red'>&lt;/tmp&gt;</span>

