<style>
    .red { color: Crimson }
    .bright_red { color: #741616 }
    .green { color: green }
    .cyan { color: Teal }
    .yellow { color: #7d6420 }
    .bright_blue { color: DarkBlue }
    .blue { color: SlateBlue }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
Doing<span class='cyan'>migrator-build-dir/data/Kappa.1.1 v8.1.xml</span>
Warning: (lemma: Κ_) Process::Bet<br/>Warning: (lemma: Κ_)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κ´ = 20, ´κ͵ = 20.000.$ <br/>Warning: (lemma: Κ_) Process::Meta<br/>Warning: (lemma: Κ_)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κάδος) Process::Meta<br/>Warning: (lemma: κάδος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: καθαίρεσις) Process::Bet<br/>Warning: (lemma: καθαίρεσις)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^10.8.$ <br/>Warning: (lemma: καθαιρέω) Process::Bet<br/>Warning: (lemma: καθαιρέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^λογισμοὺς spitsvondigheden onderuithalen &lt;s&gt;$ <br/>Warning: (lemma: καθαιρέω) Process::Bet<br/>Warning: (lemma: καθαιρέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;i&gt;2&lt;/s&gt; Cor.&lt;/i&gt; 10.4; &lt;i&gt;ook med.&lt;/i&gt;$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Κ
<span class='red'>&lt;tmp&gt;</span>κ´ = 20, ´κ͵ = 20.000.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καθαίρεσις
<span class='red'>&lt;tmp&gt;</span>10.8.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καθαιρέω
<span class='red'>&lt;tmp&gt;</span>λογισμοὺς spitsvondigheden onderuithalen &lt;s&gt;<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.1.2 v8.1.xml</span>
Warning: (lemma: καθάπερ) Process::Meta<br/>Warning: (lemma: καθάπερ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: καθάρειος) Process::Meta<br/>Warning: (lemma: καθάρειος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: καθαρειότης) Process::Meta<br/>Warning: (lemma: καθαρειότης)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: καθάρσιος) Process::Meta<br/>Warning: (lemma: καθάρσιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
Doing<span class='cyan'>migrator-build-dir/data/Kappa.1.3 v8.1.xml</span>
Warning: (lemma: καθημέριος) Process::Bet<br/>Warning: (lemma: καθημέριος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^καθᾱμέριον.$ <br/>Warning: (lemma: καθημέριος) Process::Meta<br/>Warning: (lemma: καθημέριος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: καθιδρύω) Process::Bet<br/>Warning: (lemma: καθιδρύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^, $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καθημέριος
<span class='red'>&lt;tmp&gt;</span>καθᾱμέριον.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καθιδρύω
<span class='red'>&lt;tmp&gt;</span>, <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.1.4 v8.1.xml</span>
Warning: (lemma: καθίζω) Process::Bet<br/>Warning: (lemma: καθίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^οὐδ’ ἐκάθιζε Γαδάτας Gadatas zat niet aan tafel &lt;s&gt;Xen. &lt;i&gt;C&lt;/s&gt;yr.&lt;/i&gt; 8.4.2.$ <br/>Warning: (lemma: καθίημι) Process::Bet<br/>Warning: (lemma: καθίημι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;b&gt;&lt;i&gt;act., met acc.&lt;/i&gt;$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καθίζω
<span class='red'>&lt;tmp&gt;</span>οὐδ’ ἐκάθιζε Γαδάτας Gadatas zat niet aan tafel &lt;s&gt;Xen. &lt;i&gt;C&lt;/s&gt;yr.&lt;/i&gt; 8.4.2.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καθίημι
<span class='red'>&lt;tmp&gt;</span>&lt;b&gt;&lt;i&gt;act., met acc.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.1.5 v8.1.xml</span>
Warning: (lemma: καθίστημι) Process::Bet<br/>Warning: (lemma: καθίστημι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κατίστημι; &lt;i&gt;sigm. aor.&lt;/i&gt; κατέστησα &lt;i&gt;en med.&lt;/i&gt; κατεστησάμην, &lt;i&gt;aor. pass.&lt;/i&gt; κατεστάθην; &lt;i&gt;fut.&lt;/i&gt; καταστήσω, &lt;i&gt;fut. pass.&lt;/i&gt; κατασταθήσομαι$ <br/>Warning: (lemma: καθίστημι) Process::Bet<br/>Warning: (lemma: καθίστημι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κατίσταμαι; &lt;i&gt;stamaor.&lt;/i&gt; κατέστην; &lt;i&gt;perf.&lt;/i&gt; καθέστηκα, &lt;i&gt;Ion.&lt;/i&gt; κατέστηκα; &lt;i&gt;fut. perf.&lt;/i&gt; καθεστήξω$ <br/>Warning: (lemma: καθόλου) Process::Meta<br/>Warning: (lemma: καθόλου)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: καθοσιόω) Process::Bet<br/>Warning: (lemma: καθοσιόω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(de man$ <br/>Warning: (lemma: καθότι) Process::Meta<br/>Warning: (lemma: καθότι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: καθυπέρτατος) Process::Meta<br/>Warning: (lemma: καθυπέρτατος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: καθυπέρτερος) Process::Bet<br/>Warning: (lemma: καθυπέρτερος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^καθυπέρτερον, &lt;i&gt;ook&lt;/i&gt; καθ᾿ ὑπέρτερον $ <br/>Warning: (lemma: καθυπέρτερος) Process::Meta<br/>Warning: (lemma: καθυπέρτερος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: καθώς) Process::Bet<br/>Warning: (lemma: καθώς)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^καθώς ... οὕτως $ <br/>Warning: (lemma: καθώς) Process::Meta<br/>Warning: (lemma: καθώς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καθίστημι
<span class='red'>&lt;tmp&gt;</span>κατίστημι; &lt;i&gt;sigm. aor.&lt;/i&gt; κατέστησα &lt;i&gt;en med.&lt;/i&gt; κατεστησάμην, &lt;i&gt;aor. pass.&lt;/i&gt; κατεστάθην; &lt;i&gt;fut.&lt;/i&gt; καταστήσω, &lt;i&gt;fut. pass.&lt;/i&gt; κατασταθήσομαι<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καθοσιόω
<span class='red'>&lt;tmp&gt;</span>(de man<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καθυπέρτερος
<span class='red'>&lt;tmp&gt;</span>καθυπέρτερον, &lt;i&gt;ook&lt;/i&gt; καθ’ ὑπέρτερον <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καθώς
<span class='red'>&lt;tmp&gt;</span>καθώς ... οὕτως <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.1.6 v8.1.xml</span>
Warning: (lemma: καινουργός) Process::Bet<br/>Warning: (lemma: καινουργός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὁ κ. $ <br/>Warning: (lemma: καινουργός) Process::Bet<br/>Warning: (lemma: καινουργός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ κ. $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καινουργός
<span class='red'>&lt;tmp&gt;</span>ὁ κ. <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.1.7 v8.1.xml</span>
Warning: (lemma: καίριος) Process::Meta<br/>Warning: (lemma: καίριος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: καιρός) Process::Bet<br/>Warning: (lemma: καιρός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^καιρός ἐστι &lt;i&gt;met inf.&lt;/i&gt; $ <br/>Warning: (lemma: καιρός) Process::Bet<br/>Warning: (lemma: καιρός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἀπὸ καιροῦ $ <br/>Warning: (lemma: καιρός) Process::Bet<br/>Warning: (lemma: καιρός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἄχρι καιροῦ $ <br/>Warning: (lemma: καιρός) Process::Bet<br/>Warning: (lemma: καιρός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐν καιρῷ $ <br/>Warning: (lemma: καιρός) Process::Bet<br/>Warning: (lemma: καιρός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐπὶ καιροῦ $ <br/>Warning: (lemma: καιρός) Process::Bet<br/>Warning: (lemma: καιρός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐς καιρόν $ <br/>Warning: (lemma: καιρός) Process::Bet<br/>Warning: (lemma: καιρός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κατὰ καιρόν $ <br/>Warning: (lemma: καιρός) Process::Bet<br/>Warning: (lemma: καιρός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^παρὰ καιρόν $ <br/>Warning: (lemma: καιρός) Process::Bet<br/>Warning: (lemma: καιρός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^πρὸ καιροῦ $ <br/>Warning: (lemma: καιρός) Process::Bet<br/>Warning: (lemma: καιρός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σὺν καιρῷ $ <br/>Warning: (lemma: καίτοι) Process::Meta<br/>Warning: (lemma: καίτοι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κακηγορίου) Process::Meta<br/>Warning: (lemma: κακηγορίου)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κακηγόρος) Process::Meta<br/>Warning: (lemma: κακηγόρος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κακία) Process::Bet<br/>Warning: (lemma: κακία)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^Κακία, ἡ $ <br/>Warning: (lemma: κακίζω) Process::Bet<br/>Warning: (lemma: κακίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^($ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καιρός
<span class='red'>&lt;tmp&gt;</span>καιρός ἐστι &lt;i&gt;met inf.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κακία
<span class='red'>&lt;tmp&gt;</span>Κακία, ἡ <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κακίζω
<span class='red'>&lt;tmp&gt;</span>(<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.1.8 v8.1.xml</span>
Warning: (lemma: κακοδικίαας) Process::Meta<br/>Warning: (lemma: κακοδικίαας)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κακόθρους) Process::Meta<br/>Warning: (lemma: κακόθρους)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κακόκνημος) Process::Meta<br/>Warning: (lemma: κακόκνημος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κακομήχανος) Process::Meta<br/>Warning: (lemma: κακομήχανος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κακόνους) Process::Meta<br/>Warning: (lemma: κακόνους)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κακόξενος) Process::Meta<br/>Warning: (lemma: κακόξενος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κακόπους) Process::Meta<br/>Warning: (lemma: κακόπους)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
Doing<span class='cyan'>migrator-build-dir/data/Kappa.1.9 v8.1.xml</span>
Warning: (lemma: κακός) Process::Bet<br/>Warning: (lemma: κακός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(τὸ) κακόν, (τὰ) κακά$ <br/>Warning: (lemma: κακός) Process::Bet<br/>Warning: (lemma: κακός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κακῶς ἔχειν/ πάσχειν / πράττειν $ <br/>Warning: (lemma: κακός) Process::Bet<br/>Warning: (lemma: κακός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κακῶς ἀκούειν $ <br/>Warning: (lemma: κακός) Process::Bet<br/>Warning: (lemma: κακός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κακῶς λέγειν τινα $ <br/>Warning: (lemma: κακός) Process::Bet<br/>Warning: (lemma: κακός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κακῶς ποιεῖν/ δρᾶν τινα (iem.) $ <br/>Warning: (lemma: κακός) Process::Meta<br/>Warning: (lemma: κακός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Error: (lemma: κακό) Error: Unexpected:no text:p inside list-item<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>... (Last successful lemma was κακός-1)<br/>Warning: (lemma: κακοῦργος) Process::Meta<br/>Warning: (lemma: κακοῦργος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κακόχρους) Process::Meta<br/>Warning: (lemma: κακόχρους)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κακός-1
<span class='red'>&lt;tmp&gt;</span>(τὸ) κακόν, (τὰ) κακά<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.1.10 v8.1.xml</span>
Warning: (lemma: καλάϊνος) Process::Meta<br/>Warning: (lemma: καλάϊνος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: καλαμευτής) Process::Meta<br/>Warning: (lemma: καλαμευτής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: καλαμευτής) Process::Meta<br/>Warning: (lemma: καλαμευτής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: καλάσιρις) Process::Bet<br/>Warning: (lemma: καλάσιρις)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^οἱ Καλασίριες -ων $ <br/>Warning: (lemma: καλέω) Process::Bet<br/>Warning: (lemma: καλέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὁ βῆ καλέων Ἀγαμέμνοναhij ging om Agammenon uit te nodigen $ <br/>Warning: (lemma: καλλίβοτρυς) Process::Meta<br/>Warning: (lemma: καλλίβοτρυς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: καλλιδίνης) Process::Meta<br/>Warning: (lemma: καλλιδίνης)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: καλλιέλαιος) Process::Meta<br/>Warning: (lemma: καλλιέλαιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: καλλιερέω) Process::Bet<br/>Warning: (lemma: καλλιερέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὥστε &lt;i&gt;en inf.&lt;/i&gt;$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καλάσιρις
<span class='red'>&lt;tmp&gt;</span>οἱ Καλασίριες -ων <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καλέω
<span class='red'>&lt;tmp&gt;</span>ὁ βῆ καλέων Ἀγαμέμνοναhij ging om Agammenon uit te nodigen <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καλλιερέω
<span class='red'>&lt;tmp&gt;</span>ὥστε &lt;i&gt;en inf.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.1.11 v8.1.xml</span>
Warning: (lemma: καλλικόμας) Process::Meta<br/>Warning: (lemma: καλλικόμας)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: καλλίνικος) Process::Bet<br/>Warning: (lemma: καλλίνικος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὁ καλλίνικος<span class="space"></span><span class="space"></span>&lt;i&gt;en&lt;/i&gt; τὸ καλλίνικον<span class="space"></span><span class="space"></span>$ <br/>Warning: (lemma: καλλιπάρῃος) Process::Meta<br/>Warning: (lemma: καλλιπάρῃος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: καλλίπηχυς) Process::Meta<br/>Warning: (lemma: καλλίπηχυς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: καλλίπρῳρος) Process::Meta<br/>Warning: (lemma: καλλίπρῳρος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: καλλίρροος) Process::Meta<br/>Warning: (lemma: καλλίρροος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κάλλος) Process::Bet<br/>Warning: (lemma: κάλλος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(κρητῆρ) κάλλει ἐνίκα πᾶσαν ἐπ’ αἶαν (de krater) was in schoοnheid de mooiste op de hele aarde $ <br/>Warning: (lemma: καλλωπίζω) Process::Bet<br/>Warning: (lemma: καλλωπίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;i&gt;$ <br/>Warning: (lemma: καλλωπίζω) Process::Bet<br/>Warning: (lemma: καλλωπίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;/i&gt; 252a$ <br/>Warning: (lemma: καλοκἀγαθός) Process::Bet<br/>Warning: (lemma: καλοκἀγαθός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^die zo’n voortreffelijke zoon was $ <br/>Warning: (lemma: καλοκἀγαθός) Process::Meta<br/>Warning: (lemma: καλοκἀγαθός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καλλίνικος
<span class='red'>&lt;tmp&gt;</span>ὁ καλλίνικος &lt;toel&gt;(sc. &lt;link target=""&gt;ὕμνος&lt;/link&gt;)&lt;/toel&gt; en τὸ καλλίνικον &lt;toel&gt;(sc. &lt;link target=""&gt;μέλος&lt;/link&gt;)&lt;/toel&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κάλλος
<span class='red'>&lt;tmp&gt;</span>(κρητῆρ) κάλλει ἐνίκα πᾶσαν ἐπ’ αἶαν (de krater) was in schoοnheid de mooiste op de hele aarde <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καλλωπίζω
<span class='red'>&lt;tmp&gt;</span>&lt;i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καλοκἀγαθός
<span class='red'>&lt;tmp&gt;</span>die zo’n voortreffelijke zoon was <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.1.12 v8.1.xml</span>
Warning: (lemma: καλός) Process::Bet<br/>Warning: (lemma: καλός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^καλόν &lt;i&gt;met inf.&lt;/i&gt;$ <br/>Warning: (lemma: καλός) Process::Bet<br/>Warning: (lemma: καλός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^καλὴ ὁμολογία goede belijdenis &lt;s&gt;$ <br/>Warning: (lemma: καλός) Process::Bet<br/>Warning: (lemma: καλός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;/s&gt; &lt;i&gt;Tim.&lt;/i&gt; 6.12.$ <br/>Warning: (lemma: καλός) Process::Bet<br/>Warning: (lemma: καλός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἀγαθός &lt;i&gt;zie&lt;/i&gt; καλοκἀγαθός.$ <br/>Warning: (lemma: καλός) Process::Bet<br/>Warning: (lemma: καλός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^καλόν, καλά $ <br/>Warning: (lemma: καλός) Process::Bet<br/>Warning: (lemma: καλός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^καλῶς; &lt;i&gt;comp.&lt;/i&gt; κάλλιον, καλλιόνως; &lt;i&gt;superl.&lt;/i&gt; κάλλιστα$ <br/>Warning: (lemma: καλός) Process::Bet<br/>Warning: (lemma: καλός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κ. ποιεῖν, &lt;i&gt;met nom. en ptc.&lt;/i&gt;$ <br/>Warning: (lemma: καλός) Process::Bet<br/>Warning: (lemma: καλός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κ. ἔχει &lt;i&gt;met inf.&lt;/i&gt;$ <br/>Warning: (lemma: καλύβιον) Process::Bet<br/>Warning: (lemma: καλύβιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^καλύβη, $ <br/>Warning: (lemma: κάλυμμα) Process::Bet<br/>Warning: (lemma: κάλυμμα)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^3.15.$ <br/>Warning: (lemma: καλῴδιον) Process::Bet<br/>Warning: (lemma: καλῴδιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κάλως, $ <br/>Warning: (lemma: κάλως) Process::Bet<br/>Warning: (lemma: κάλως)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^vast $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καλός
<span class='red'>&lt;tmp&gt;</span>καλόν &lt;i&gt;met inf.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καλύβιον
<span class='red'>&lt;tmp&gt;</span>καλύβη, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κάλυμμα
<span class='red'>&lt;tmp&gt;</span>3.15.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καλῴδιον
<span class='red'>&lt;tmp&gt;</span>κάλως, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κάλως
<span class='red'>&lt;tmp&gt;</span>vast <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.1.13 v8.1.xml</span>
Warning: (lemma: κάμνω) Process::Bet<br/>Warning: (lemma: κάμνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^οἱ καμόντες &lt;i&gt;en subst. ptc. perf.&lt;/i&gt; οἱ κεκμηκότες $ <br/>Warning: (lemma: καμψίπους) Process::Meta<br/>Warning: (lemma: καμψίπους)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: καναχηδά) Process::Meta<br/>Warning: (lemma: καναχηδά)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κανηφόρος) Process::Meta<br/>Warning: (lemma: κανηφόρος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κανθήλιος) Process::Bet<br/>Warning: (lemma: κανθήλιος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κ. ὄνος $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κάμνω
<span class='red'>&lt;tmp&gt;</span>οἱ καμόντες &lt;i&gt;en subst. ptc. perf.&lt;/i&gt; οἱ κεκμηκότες <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κανθήλιος
<span class='red'>&lt;tmp&gt;</span>κ. ὄνος <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.1.14 v8.1.xml</span>
Warning: (lemma: κανών) Process::Bet<br/>Warning: (lemma: κανών)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^10.15; $ <br/>Warning: (lemma: κάππα) Process::Meta<br/>Warning: (lemma: κάππα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κάρ) Process::Meta<br/>Warning: (lemma: κάρ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κάρα) Process::Meta<br/>Warning: (lemma: κάρα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: καρβάν) Process::Meta<br/>Warning: (lemma: καρβάν)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κανών
<span class='red'>&lt;tmp&gt;</span>10.15; <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.1.15 v8.1.xml</span>
Warning: (lemma: καρκινόχειρ) Process::Meta<br/>Warning: (lemma: καρκινόχειρ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: καρπάλιμος) Process::Bet<br/>Warning: (lemma: καρπάλιμος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^καρπαλίμως.$ <br/>Warning: (lemma: καρπός) Process::Meta<br/>Warning: (lemma: καρπός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: καρπός) Process::Meta<br/>Warning: (lemma: καρπός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: καρταίπους) Process::Meta<br/>Warning: (lemma: καρταίπους)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καρπάλιμος
<span class='red'>&lt;tmp&gt;</span>καρπαλίμως.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.1.16 v8.1.xml</span>
Warning: (lemma: κάρφος) Process::Meta<br/>Warning: (lemma: κάρφος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: καρφυρά) Process::Meta<br/>Warning: (lemma: καρφυρά)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κασαυρεῖον) Process::Meta<br/>Warning: (lemma: κασαυρεῖον)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
