<style>
    .bright_blue { color: DarkBlue }
    .blue { color: SlateBlue }
    .yellow { color: #7d6420 }
    .green { color: green }
    .bright_red { color: #741616 }
    .cyan { color: Teal }
    .red { color: Crimson }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
Doing<span class='cyan'>migrator-build-dir/data/Kappa.1.18 v8.1.xml</span>
Warning: (lemma: καταβαρέω) Process::Bet<br/>Warning: (lemma: καταβαρέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^12.16.$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καταβαρέω
<span class='red'>&lt;tmp&gt;</span>12.16.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.1.20 v8.1.xml</span>
Warning: (lemma: κάταγμα) Process::Meta<br/>Warning: (lemma: κάταγμα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κάταγμα) Process::Meta<br/>Warning: (lemma: κάταγμα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
Doing<span class='cyan'>migrator-build-dir/data/Kappa.1.21 v8.1.xml</span>
Warning: (lemma: καταδέω) Process::Meta<br/>Warning: (lemma: καταδέω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: καταδέω) Process::Meta<br/>Warning: (lemma: καταδέω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κατάδηλος) Process::Bet<br/>Warning: (lemma: κατάδηλος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὅτι &lt;i&gt;of&lt;/i&gt; $ <br/>Warning: (lemma: καταδύω) Process::Bet<br/>Warning: (lemma: καταδύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κατέδυν; &lt;i&gt;perf.&lt;/i&gt; καταδέδυκα$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κατάδηλος
<span class='red'>&lt;tmp&gt;</span>ὅτι &lt;i&gt;of&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καταδύω
<span class='red'>&lt;tmp&gt;</span>κατέδυν; &lt;i&gt;perf.&lt;/i&gt; καταδέδυκα<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.1.23 v8.1.xml</span>
Warning: (lemma: κατακαλύπτω) Process::Bet<br/>Warning: (lemma: κατακαλύπτω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^11.7; &lt;i&gt;overdr.&lt;/i&gt; $ <br/>Warning: (lemma: κατακλάω) Process::Meta<br/>Warning: (lemma: κατακλάω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κατακλάω) Process::Meta<br/>Warning: (lemma: κατακλάω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κατακαλύπτω
<span class='red'>&lt;tmp&gt;</span>11.7; &lt;i&gt;overdr.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.1.24 v8.1.xml</span>
Warning: (lemma: κατακλύζω) Process::Bet<br/>Warning: (lemma: κατακλύζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^3.6; &lt;i&gt;overdr.&lt;/i&gt; $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κατακλύζω
<span class='red'>&lt;tmp&gt;</span>3.6; &lt;i&gt;overdr.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.1.26 v8.1.xml</span>
* # total failures: 0<br/>
