<style>
    .bright_red { color: #741616 }
    .bright_blue { color: DarkBlue }
    .blue { color: SlateBlue }
    .cyan { color: Teal }
    .yellow { color: #7d6420 }
    .green { color: green }
    .red { color: Crimson }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
Doing<span class='cyan'>migrator-build-dir/data/Kappa.1.25 v8.1.xml</span>
Warning: (lemma: καταλαλέω) Process::Bet<br/>Warning: (lemma: καταλαλέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^2.12.$ <br/>Warning: (lemma: καταλαμβάνω) Process::Bet<br/>Warning: (lemma: καταλαμβάνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὅτι-&lt;i&gt;zin&lt;/i&gt; $ <br/>Warning: (lemma: καταλέγω) Process::Bet<br/>Warning: (lemma: καταλέγω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^5.9; &lt;i&gt;met inf.&lt;/i&gt;$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καταλαλέω
<span class='red'>&lt;tmp&gt;</span>2.12.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καταλαμβάνω
<span class='red'>&lt;tmp&gt;</span>ὅτι-&lt;i&gt;zin&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καταλέγω
<span class='red'>&lt;tmp&gt;</span>5.9; &lt;i&gt;met inf.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.2.1 v8.1.xml</span>
Warning: (lemma: καταληπτέος) Process::Bet<br/>Warning: (lemma: καταληπτέος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^gegrepen$ <br/>Warning: (lemma: καταληπτικός) Process::Bet<br/>Warning: (lemma: καταληπτικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κ. φαντασία $ <br/>Warning: (lemma: καταληπτός) Process::Meta<br/>Warning: (lemma: καταληπτός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: καταλιμπάνω) Process::Bet<br/>Warning: (lemma: καταλιμπάνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^$ <br/>Warning: (lemma: καταλλάττω) Process::Bet<br/>Warning: (lemma: καταλλάττω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^5.18; &lt;i&gt;pass.&lt;/i&gt;$ <br/>Warning: (lemma: κατάλυσις) Process::Bet<br/>Warning: (lemma: κατάλυσις)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^χειρῶν καὶ σκελέων κατάλυσις slapheid van armen en benen.$ <br/>Warning: (lemma: καταλύω) Process::Bet<br/>Warning: (lemma: καταλύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;i&gt;overdr.&lt;s&gt;&lt;/i&gt;&lt;/s&gt; $ <br/>Warning: (lemma: καταμανθάνω) Process::Bet<br/>Warning: (lemma: καταμανθάνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὡς- &lt;i&gt;of&lt;/i&gt; ὅτι-&lt;i&gt;zin&lt;/i&gt;$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καταληπτέος
<span class='red'>&lt;tmp&gt;</span>gegrepen<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καταληπτικός
<span class='red'>&lt;tmp&gt;</span>κ. φαντασία <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καταλιμπάνω
<span class='red'>&lt;tmp&gt;</span><span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καταλλάττω
<span class='red'>&lt;tmp&gt;</span>5.18; &lt;i&gt;pass.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κατάλυσις
<span class='red'>&lt;tmp&gt;</span>χειρῶν καὶ σκελέων κατάλυσις slapheid van armen en benen.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καταλύω
<span class='red'>&lt;tmp&gt;</span>&lt;i&gt;overdr.&lt;s&gt;&lt;/i&gt;&lt;/s&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καταμανθάνω
<span class='red'>&lt;tmp&gt;</span>ὡς- &lt;i&gt;of&lt;/i&gt; ὅτι-&lt;i&gt;zin&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.2.3 v8.1.xml</span>
Warning: (lemma: καταξιόω) Process::Bet<br/>Warning: (lemma: καταξιόω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^[$ <br/>Warning: (lemma: καταξιόω) Process::Bet<br/>Warning: (lemma: καταξιόω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem. iets$ <br/>Warning: (lemma: καταξιόω) Process::Bet<br/>Warning: (lemma: καταξιόω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^1.5; &lt;i&gt;pregn.&lt;/i&gt; $ <br/>Warning: (lemma: καταπαλτικός) Process::Meta<br/>Warning: (lemma: καταπαλτικός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καταξιόω
<span class='red'>&lt;tmp&gt;</span>[<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.2.4 v8.1.xml</span>
Warning: Vorm pass not successful for node ^καταπεπτηώς -υῖα -ός ptc. perf.van καταπτήσσω.$ <br/>Error: Error: Vorm pass failed for primary structure lemma καταπεπτηώς -υῖα -ός ptc. perf ...<span class="space"></span><span class="space"></span>(Last successful lemma was καταπεμπτέος)<br/>Warning: (lemma: καταπίνω) Process::Bet<br/>Warning: (lemma: καταπίνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^2.7; $ <br/>Warning: (lemma: καταπλήξ) Process::Meta<br/>Warning: (lemma: καταπλήξ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καταπίνω
<span class='red'>&lt;tmp&gt;</span>2.7; <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.2.5 v8.1.xml</span>
Warning: (lemma: καταπότιον) Process::Meta<br/>Warning: (lemma: καταπότιον)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: καταπράττω) Process::Bet<br/>Warning: (lemma: καταπράττω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὥστε &lt;i&gt;en inf.&lt;/i&gt; $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καταπράττω
<span class='red'>&lt;tmp&gt;</span>ὥστε &lt;i&gt;en inf.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.2.6 v8.1.xml</span>
Warning: (lemma: καταργέω) Process::Bet<br/>Warning: (lemma: καταργέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;i&gt;&lt;/i&gt; 2 &lt;i&gt;Cor.&lt;/i&gt; 3.11; &lt;i&gt;met&lt;/i&gt; ἀπό + &lt;i&gt;gen.&lt;/i&gt; $ <br/>Warning: (lemma: κατώρης) Process::Meta<br/>Warning: (lemma: κατώρης)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: καταρρέω) Process::Bet<br/>Warning: (lemma: καταρρέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εἰς &lt;i&gt;en acc.&lt;/i&gt;$ <br/>Warning: (lemma: καταρρήγνυμι) Process::Bet<br/>Warning: (lemma: καταρρήγνυμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κατέρρωγα)$ <br/>Warning: (lemma: κατάρρους) Process::Meta<br/>Warning: (lemma: κατάρρους)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καταργέω
<span class='red'>&lt;tmp&gt;</span>&lt;i&gt;&lt;/i&gt; 2 &lt;i&gt;Cor.&lt;/i&gt; 3.11; &lt;i&gt;met&lt;/i&gt; ἀπό + &lt;i&gt;gen.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καταρρέω
<span class='red'>&lt;tmp&gt;</span>εἰς &lt;i&gt;en acc.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καταρρήγνυμι
<span class='red'>&lt;tmp&gt;</span>κατέρρωγα)<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.2.7 v8.1.xml</span>
Warning: (lemma: καταρρώξ) Process::Meta<br/>Warning: (lemma: καταρρώξ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: καταρτίζω) Process::Bet<br/>Warning: (lemma: καταρτίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^: καταρτίζεσθε betert uw leven &lt;s&gt;$ <br/>Warning: (lemma: καταρτίζω) Process::Bet<br/>Warning: (lemma: καταρτίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;i&gt;2&lt;/s&gt; Cor.&lt;/i&gt; 13.11.$ <br/>Warning: (lemma: καταρτισμός) Process::Meta<br/>Warning: (lemma: καταρτισμός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κατασβέννυμι) Process::Bet<br/>Warning: (lemma: κατασβέννυμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κατέσβηκα, $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καταρτίζω
<span class='red'>&lt;tmp&gt;</span>: καταρτίζεσθε betert uw leven &lt;s&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κατασβέννυμι
<span class='red'>&lt;tmp&gt;</span>κατέσβηκα, <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.2.8 v8.1.xml</span>
Warning: (lemma: κατασκευάζω) Process::Bet<br/>Warning: (lemma: κατασκευάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὡς &lt;i&gt;en ptc. fut.&lt;/i&gt;$ <br/>Warning: (lemma: κατασπάω) Process::Bet<br/>Warning: (lemma: κατασπάω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(iem.) $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κατασκευάζω
<span class='red'>&lt;tmp&gt;</span>ὡς &lt;i&gt;en ptc. fut.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κατασπάω
<span class='red'>&lt;tmp&gt;</span>(iem.) <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.2.9 v8.1.xml</span>
Warning: (lemma: καταστολή) Process::Bet<br/>Warning: (lemma: καταστολή)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^2.9.$ <br/>Warning: (lemma: καταστρέφω) Process::Bet<br/>Warning: (lemma: καταστρέφω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸν βίον) $ <br/>Warning: (lemma: καταστρηνιάω) Process::Bet<br/>Warning: (lemma: καταστρηνιάω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^5.11.$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καταστολή
<span class='red'>&lt;tmp&gt;</span>2.9.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καταστρέφω
<span class='red'>&lt;tmp&gt;</span>τὸν βίον) <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καταστρηνιάω
<span class='red'>&lt;tmp&gt;</span>5.11.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.2.10 v8.1.xml</span>
Warning: (lemma: κατατήκω) Process::Bet<br/>Warning: (lemma: κατατήκω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κατατέτηκα, $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κατατήκω
<span class='red'>&lt;tmp&gt;</span>κατατέτηκα, <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.2.11 v8.1.xml</span>
Warning: (lemma: καταφανής) Process::Bet<br/>Warning: (lemma: καταφανής)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^καταφανές ἐστιν &lt;i&gt;of&lt;/i&gt; γίγνεται $ <br/>Warning: (lemma: καταφανής) Process::Bet<br/>Warning: (lemma: καταφανής)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὅτι &lt;i&gt;of&lt;/i&gt; $ <br/>Warning: (lemma: καταφερής) Process::Bet<br/>Warning: (lemma: καταφερής)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εὖτ᾿ ἂν ... &lt;i&gt;overdr.&lt;/i&gt;$ <br/>Warning: (lemma: καταφερής) Process::Bet<br/>Warning: (lemma: καταφερής)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐπί &lt;i&gt;of&lt;/i&gt; πρός + &lt;i&gt;acc.&lt;/i&gt;$ <br/>Warning: (lemma: καταφέρω) Process::Bet<br/>Warning: (lemma: καταφέρω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^χρήματα κ. $ <br/>Warning: (lemma: καταφέρω) Process::Bet<br/>Warning: (lemma: καταφέρω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ψῆφον κ. $ <br/>Warning: (lemma: καταφέρω) Process::Bet<br/>Warning: (lemma: καταφέρω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^αἰτιώματα κ. $ <br/>Warning: (lemma: καταφθείρω) Process::Bet<br/>Warning: (lemma: καταφθείρω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^3.8.$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καταφανής
<span class='red'>&lt;tmp&gt;</span>καταφανές ἐστιν &lt;i&gt;of&lt;/i&gt; γίγνεται <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καταφερής
<span class='red'>&lt;tmp&gt;</span>εὖτ’ ἂν ... &lt;i&gt;overdr.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καταφέρω
<span class='red'>&lt;tmp&gt;</span>χρήματα κ. <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καταφθείρω
<span class='red'>&lt;tmp&gt;</span>3.8.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.2.12 v8.1.xml</span>
Warning: (lemma: καταχέω) Process::Bet<br/>Warning: (lemma: καταχέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^-6 &lt;i&gt;(tmesis); overdr.&lt;/i&gt;$ <br/>Warning: (lemma: καταχής) Process::Meta<br/>Warning: (lemma: καταχής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καταχέω
<span class='red'>&lt;tmp&gt;</span>-6 &lt;i&gt;(tmesis); overdr.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

