<style>
    .bright_blue { color: DarkBlue }
    .blue { color: SlateBlue }
    .cyan { color: Teal }
    .green { color: green }
    .yellow { color: #7d6420 }
    .red { color: Crimson }
    .bright_red { color: #741616 }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
Doing<span class='cyan'>migrator-build-dir/data/Psi.1.0 v8.1.xml</span>
Warning: (lemma: Ψ_) Process::Bet<br/>Warning: (lemma: Ψ_)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ψ´ = 700, ͵ψ = 700.000.$ <br/>Warning: (lemma: Ψ_) Process::Meta<br/>Warning: (lemma: Ψ_)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ψαλάθριον) Process::Meta<br/>Warning: (lemma: ψαλάθριον)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ψαμμακοσιογάργαροι) Process::Meta<br/>Warning: (lemma: ψαμμακοσιογάργαροι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ψάρ) Process::Meta<br/>Warning: (lemma: ψάρ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ψέγω) Process::Bet<br/>Warning: (lemma: ψέγω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^vanwege iets.$ <br/>Warning: (lemma: ψεῖ) Process::Meta<br/>Warning: (lemma: ψεῖ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Ψ
<span class='red'>&lt;tmp&gt;</span>ψ´ = 700, ͵ψ = 700.000.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ψέγω
<span class='red'>&lt;tmp&gt;</span>vanwege iets.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Psi.2.0 v8.1.xml</span>
Warning: (lemma: ψευδατράφαξυς) Process::Bet<br/>Warning: (lemma: ψευδατράφαξυς)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^).$ <br/>Warning: (lemma: ψευδής) Process::Meta<br/>Warning: (lemma: ψευδής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ψεύδω) Process::Bet<br/>Warning: (lemma: ψεύδω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^iem. in iets$ <br/>Warning: (lemma: ψεύδω) Process::Bet<br/>Warning: (lemma: ψεύδω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐψευσάμην, $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ψευδατράφαξυς
<span class='red'>&lt;tmp&gt;</span>).<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ψεύδω
<span class='red'>&lt;tmp&gt;</span>iem. in iets<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Psi.3.0 v8.1.xml</span>
Warning: (lemma: ψήν) Process::Meta<br/>Warning: (lemma: ψήν)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
Doing<span class='cyan'>migrator-build-dir/data/Psi.4.0 v8.1.xml</span>
Warning: (lemma: ψόα) Process::Meta<br/>Warning: (lemma: ψόα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ψύττα) Process::Bet<br/>Warning: (lemma: ψύττα)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^!$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ψύττα
<span class='red'>&lt;tmp&gt;</span>!<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Psi.5.0 v8.1.xml</span>
Warning: (lemma: ψυχεινός) Process::Meta<br/>Warning: (lemma: ψυχεινός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ψυχικός) Process::Bet<br/>Warning: (lemma: ψυχικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;i&gt;$ <br/>Warning: (lemma: ψυχικός) Process::Bet<br/>Warning: (lemma: ψυχικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;/i&gt; πνευματικός $ <br/>Warning: (lemma: ψυχικός) Process::Bet<br/>Warning: (lemma: ψυχικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὁ ψυχικὸς ἄνθρωπος de mens die de Geest niet bezit ΝΤ &lt;i&gt;1 Cor.&lt;/i&gt; 2.14.$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ψυχικός
<span class='red'>&lt;tmp&gt;</span>&lt;i&gt;<span class='red'>&lt;/tmp&gt;</span>

