<style>
    .green { color: green }
    .yellow { color: #7d6420 }
    .cyan { color: Teal }
    .bright_red { color: #741616 }
    .bright_blue { color: DarkBlue }
    .blue { color: SlateBlue }
    .red { color: Crimson }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
Doing<span class='cyan'>migrator-build-dir/data/Kappa.1.27 v8.1.xml</span>
Warning: Vorm pass not successful for node ^καί partikel, vaak in crasis: met α, bijv. κἀγαθοί = καὶ ἀγαθοί; met ε, bijv. κἀγώ = καὶ ἐγώ; met η,bijv. χἠ = καὶ ἡ; met ι, bijv. χἰλαρή = καὶ ἱλαρή; met ο, bijv. χὠ = καὶ ὁ; met υ, bijv. χὐμεῖς = καὶ ὑμεῖς; met αι, bijv. κᾀσχρῶν = καὶ αἰσχρῶν; met αυ, bijv. καὐτός = καὶ αὐτός; met ει, bijv. κεἰ = καὶ εἰ, κᾆτα = καὶ εἶτα; met ευ, bijv. κεὐγένεια = καὶ εὐγένεια; met οι, bijv. χοἰ = καὶ οἱ; met ου, bijv. χοὖτος = καὶ οὗτος, <br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>sluiteri<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>2017-09-06T09:33:00<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>s<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Lucien, het zou wellicht overzichtelijker zijn als deze opmerking op een nieuwe regel begon, maar is in strijd met stijlgids denk ik? Enfin, mag ook wel zo<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>drukt toevoeging uit en, ook, zelfs$ <br/>Error: Error: Vorm pass failed for higher structure lemma. καί partikel, vaak in crasis:<span class="space"></span><span class="space"></span>...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: (lemma: καίτοι) Process::Bet<br/>Warning: (lemma: καίτοι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^vraag$ <br/>Warning: (lemma: καίτοι) Process::Meta<br/>Warning: (lemma: καίτοι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>καίτοι
<span class='red'>&lt;tmp&gt;</span>vraag<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.4.1 v8.1.xml</span>
Warning: (lemma: κήδειος) Process::Meta<br/>Warning: (lemma: κήδειος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κήδω) Process::Bet<br/>Warning: (lemma: κήδω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^μὴ of $ <br/>Warning: Vorm pass not successful for node ^κῆεν ep. aor. act. 3 sing.van κάω.$ <br/>Error: Error: Vorm pass failed for primary structure lemma κῆεν ep. aor. act. 3 sing.van<span class="space"></span><span class="space"></span>...<span class="space"></span><span class="space"></span>(Last successful lemma was κήδω)<br/>Warning: (lemma: κήλεος) Process::Meta<br/>Warning: (lemma: κήλεος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κήξ) Process::Meta<br/>Warning: (lemma: κήξ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κήδω
<span class='red'>&lt;tmp&gt;</span>μὴ of <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.4.2 v8.1.xml</span>
Warning: (lemma: Κήρ_) Process::Meta<br/>Warning: (lemma: Κήρ_)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κῆρ) Process::Meta<br/>Warning: (lemma: κῆρ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κηραίνω) Process::Meta<br/>Warning: (lemma: κηραίνω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κηραίνω) Process::Meta<br/>Warning: (lemma: κηραίνω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κηρύκειον) Process::Meta<br/>Warning: (lemma: κηρύκειον)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κῆρυξ) Process::Bet<br/>Warning: (lemma: κῆρυξ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^2.7.$ <br/>Warning: (lemma: κηώδης) Process::Meta<br/>Warning: (lemma: κηώδης)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κῆρυξ
<span class='red'>&lt;tmp&gt;</span>2.7.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.4.3 v8.1.xml</span>
Warning: (lemma: κιθαρῳδία) Process::Meta<br/>Warning: (lemma: κιθαρῳδία)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κίκι) Process::Meta<br/>Warning: (lemma: κίκι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κίνδυνος) Process::Bet<br/>Warning: (lemma: κίνδυνος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κίνδυνον αἴρεσθαι &lt;i&gt;of&lt;/i&gt; ἀναρριπτέειν &lt;i&gt;of&lt;/i&gt; ἀναλαμβάνειν &lt;i&gt;of&lt;/i&gt; ἀναβάλλειν &lt;i&gt;of&lt;/i&gt; ὑποδύεσθαι $ <br/>Warning: (lemma: κίνδυνος) Process::Bet<br/>Warning: (lemma: κίνδυνος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^+ εἰς, ἐπὶ, πρὸς κίνδυνον: $ <br/>Warning: (lemma: κίνδυνος) Process::Bet<br/>Warning: (lemma: κίνδυνος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κίνδυνος ἔχει, &lt;i&gt;met acc. en inf.&lt;/i&gt;: $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κίνδυνος
<span class='red'>&lt;tmp&gt;</span>κίνδυνον αἴρεσθαι &lt;i&gt;of&lt;/i&gt; ἀναρριπτέειν &lt;i&gt;of&lt;/i&gt; ἀναλαμβάνειν &lt;i&gt;of&lt;/i&gt; ἀναβάλλειν &lt;i&gt;of&lt;/i&gt; ὑποδύεσθαι <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.4.4 v8.1.xml</span>
Warning: (lemma: κινέω) Process::Bet<br/>Warning: (lemma: κινέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κεκινημένος περί $ <br/>Warning: (lemma: κινητός) Process::Meta<br/>Warning: (lemma: κινητός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κίρκος) Process::Meta<br/>Warning: (lemma: κίρκος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κίρκος) Process::Bet<br/>Warning: (lemma: κίρκος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κρίκος.$ <br/>Warning: (lemma: κίρκος) Process::Meta<br/>Warning: (lemma: κίρκος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κίσθος) Process::Meta<br/>Warning: (lemma: κίσθος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κιστίς) Process::Bet<br/>Warning: (lemma: κιστίς)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κίστη, $ <br/>Warning: (lemma: κίταρις) Process::Meta<br/>Warning: (lemma: κίταρις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κιττοφόρος) Process::Meta<br/>Warning: (lemma: κιττοφόρος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κινέω
<span class='red'>&lt;tmp&gt;</span>κεκινημένος περί <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κίρκος-2
<span class='red'>&lt;tmp&gt;</span>κρίκος.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κιστίς
<span class='red'>&lt;tmp&gt;</span>κίστη, <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.4.5 v8.1.xml</span>
Warning: (lemma: κλάξ) Process::Meta<br/>Warning: (lemma: κλάξ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κλειδίον) Process::Bet<br/>Warning: (lemma: κλειδίον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κλείς, $ <br/>Warning: (lemma: κλεινός) Process::Meta<br/>Warning: (lemma: κλεινός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κλείς) Process::Meta<br/>Warning: (lemma: κλείς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κλείω) Process::Meta<br/>Warning: (lemma: κλείω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: Vorm pass not successful for node ^2. κλείω ep. zie κλέω.$ <br/>Error: Error: Vorm pass failed for primary structure lemma 2. κλείω ep. zie κλέω.<span class="space"></span><span class="space"></span>(Last successful lemma was κλείω-1)<br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κλειδίον
<span class='red'>&lt;tmp&gt;</span>κλείς, <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.4.6 v8.1.xml</span>
Warning: (lemma: κλῃδοῦχοςου) Process::Meta<br/>Warning: (lemma: κλῃδοῦχοςου)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κλῄζω) Process::Meta<br/>Warning: (lemma: κλῄζω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κλῄζω) Process::Bet<br/>Warning: (lemma: κλῄζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^1. κλείω.$ <br/>Warning: (lemma: κλῄζω) Process::Meta<br/>Warning: (lemma: κλῄζω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κλῆμα) Process::Bet<br/>Warning: (lemma: κλῆμα)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^vitis).$ <br/>Warning: (lemma: κληματίς) Process::Bet<br/>Warning: (lemma: κληματίς)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κλῆμα, $ <br/>Warning: (lemma: κληρονομέω) Process::Bet<br/>Warning: (lemma: κληρονομέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^6.9.$ <br/>Warning: (lemma: κληρονομία) Process::Bet<br/>Warning: (lemma: κληρονομία)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^($ <br/>Warning: (lemma: κληρουχικός) Process::Bet<br/>Warning: (lemma: κληρουχικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(νόμος) κληρουχικός lex agraria, &lt;i&gt;in Rome.&lt;/i&gt;$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κλῄζω-2
<span class='red'>&lt;tmp&gt;</span>1. κλείω.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κλῆμα
<span class='red'>&lt;tmp&gt;</span>vitis).<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κληματίς
<span class='red'>&lt;tmp&gt;</span>κλῆμα, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κληρονομέω
<span class='red'>&lt;tmp&gt;</span>6.9.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κληρονομία
<span class='red'>&lt;tmp&gt;</span>(<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κληρουχικός
<span class='red'>&lt;tmp&gt;</span>(νόμος) κληρουχικός lex agraria, &lt;i&gt;in Rome.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.4.7 v8.1.xml</span>
Warning: (lemma: κλητήρ) Process::Bet<br/>Warning: (lemma: κλητήρ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^‘$ <br/>Warning: (lemma: κλιμάκιον) Process::Bet<br/>Warning: (lemma: κλιμάκιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κλῖμαξ, $ <br/>Warning: (lemma: κλινάριον) Process::Bet<br/>Warning: (lemma: κλινάριον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κλίνη, $ <br/>Warning: (lemma: κλινίδιον) Process::Bet<br/>Warning: (lemma: κλινίδιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κλίνη, $ <br/>Warning: (lemma: κλίνω) Process::Bet<br/>Warning: (lemma: κλίνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἁλὶ κεκλιμένη(een kust$ <br/>Warning: (lemma: κλισίον) Process::Meta<br/>Warning: (lemma: κλισίον)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κλισίον) Process::Meta<br/>Warning: (lemma: κλισίον)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κλητήρ
<span class='red'>&lt;tmp&gt;</span>‘<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κλιμάκιον
<span class='red'>&lt;tmp&gt;</span>κλῖμαξ, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κλινάριον
<span class='red'>&lt;tmp&gt;</span>κλίνη, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κλινίδιον
<span class='red'>&lt;tmp&gt;</span>κλίνη, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κλίνω
<span class='red'>&lt;tmp&gt;</span>ἁλὶ κεκλιμένη(een kust<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.4.8 v8.1.xml</span>
Warning: (lemma: κλυσμάτιον) Process::Bet<br/>Warning: (lemma: κλυσμάτιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κλύσμα, $ <br/>Warning: (lemma: κλύω) Process::Bet<br/>Warning: (lemma: κλύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐκ &lt;i&gt;of&lt;/i&gt; πρός + &lt;i&gt;gen. van pers.&lt;/i&gt;$ <br/>Warning: (lemma: κλών) Process::Meta<br/>Warning: (lemma: κλών)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κλωνίον) Process::Bet<br/>Warning: (lemma: κλωνίον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κλών, $ <br/>Warning: (lemma: κλῳός) Process::Meta<br/>Warning: (lemma: κλῳός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: Κλωπίδαι_) Process::Bet<br/>Warning: (lemma: Κλωπίδαι_)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(= rovers), &lt;i&gt;kom. voor&lt;/i&gt; Κρωπίδαι .$ <br/>Warning: (lemma: κλώψ) Process::Meta<br/>Warning: (lemma: κλώψ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κνεφαῖος) Process::Meta<br/>Warning: (lemma: κνεφαῖος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κνήθω) Process::Bet<br/>Warning: (lemma: κνήθω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^4.3.$ <br/>Warning: (lemma: κνηκός) Process::Meta<br/>Warning: (lemma: κνηκός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κνῆστις) Process::Meta<br/>Warning: (lemma: κνῆστις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κλυσμάτιον
<span class='red'>&lt;tmp&gt;</span>κλύσμα, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κλύω
<span class='red'>&lt;tmp&gt;</span>ἐκ &lt;i&gt;of&lt;/i&gt; πρός + &lt;i&gt;gen. van pers.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κλωνίον
<span class='red'>&lt;tmp&gt;</span>κλών, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Κλωπίδαι
<span class='red'>&lt;tmp&gt;</span>(= rovers), kom. voor Κρωπίδαι &lt;toel&gt;(Attische deme)&lt;/toel&gt;.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κνήθω
<span class='red'>&lt;tmp&gt;</span>4.3.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.4.9 v8.1.xml</span>
Warning: (lemma: κνηστίς) Process::Meta<br/>Warning: (lemma: κνηστίς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κνίψ) Process::Meta<br/>Warning: (lemma: κνίψ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κογχυλιάτης) Process::Bet<br/>Warning: (lemma: κογχυλιάτης)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^λίθος κ. $ <br/>Warning: (lemma: κογχύλιον) Process::Bet<br/>Warning: (lemma: κογχύλιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κόγχη, $ <br/>Warning: (lemma: κοῖλος) Process::Bet<br/>Warning: (lemma: κοῖλος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κόχλον ... μυκήσατο κοῖλον hij blies op een holle schelp Τ$ <br/>Warning: (lemma: κοιμάω) Process::Bet<br/>Warning: (lemma: κοιμάω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^+ &lt;i&gt;dat.&lt;/i&gt;$ <br/>Warning: (lemma: κοιμάω) Process::Bet<br/>Warning: (lemma: κοιμάω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^οἱ κοιμώμενοι = οἱ κεκοιμημένοι = οἱ κοιμηθέντες $ <br/>Warning: (lemma: κοιμάω) Process::Bet<br/>Warning: (lemma: κοιμάω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὅπως ἂν κοιμηθῇ καὶ μὴ παρέχῃ θόρυβον opdat het $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κογχυλιάτης
<span class='red'>&lt;tmp&gt;</span>λίθος κ. <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κογχύλιον
<span class='red'>&lt;tmp&gt;</span>κόγχη, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κοῖλος
<span class='red'>&lt;tmp&gt;</span>κόχλον ... μυκήσατο κοῖλον hij blies op een holle schelp Τ<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κοιμάω
<span class='red'>&lt;tmp&gt;</span>+ &lt;i&gt;dat.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.5.1 v8.1.xml</span>
Warning: (lemma: κοινόπους) Process::Meta<br/>Warning: (lemma: κοινόπους)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κοινός) Process::Bet<br/>Warning: (lemma: κοινός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ κοινόν $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κοινός
<span class='red'>&lt;tmp&gt;</span>τὸ κοινόν <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.5.2 v8.1.xml</span>
Warning: (lemma: κοιταῖος) Process::Bet<br/>Warning: (lemma: κοιταῖος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ κοιταῖον: $ <br/>Warning: (lemma: κόκκυ) Process::Meta<br/>Warning: (lemma: κόκκυ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κοιταῖος
<span class='red'>&lt;tmp&gt;</span>τὸ κοιταῖον: <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.5.3 v8.1.xml</span>
Warning: (lemma: κολοκύνθινος) Process::Meta<br/>Warning: (lemma: κολοκύνθινος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κομέω) Process::Meta<br/>Warning: (lemma: κομέω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κομματικός) Process::Bet<br/>Warning: (lemma: κομματικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κομματικὰ ἐρωτήματα $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κομματικός
<span class='red'>&lt;tmp&gt;</span>κομματικὰ ἐρωτήματα <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.5.4 v8.1.xml</span>
Warning: (lemma: κομψός) Process::Bet<br/>Warning: (lemma: κομψός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^μὰ γῆν ... μὴ ᾿γὼ νόημα κομψότερον ἤκουσά πω mijn hemel, ik heb nog nooit een briljanter idee gehοοrd $ <br/>Warning: (lemma: κονίπους) Process::Meta<br/>Warning: (lemma: κονίπους)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κόπριον) Process::Bet<br/>Warning: (lemma: κόπριον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^νέκυες κοπρίων ἐκβλητότεροι $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κομψός
<span class='red'>&lt;tmp&gt;</span>μὰ γῆν ... μὴ ’γὼ νόημα κομψότερον ἤκουσά πω mijn hemel, ik heb nog nooit een briljanter idee gehοοrd <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κόπριον
<span class='red'>&lt;tmp&gt;</span>νέκυες κοπρίων ἐκβλητότεροι <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.5.5 v8.1.xml</span>
Warning: (lemma: κόπτω) Process::Bet<br/>Warning: (lemma: κόπτω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^2, &lt;i&gt;met acc. v.h. inw. obj.&lt;/i&gt;$ <br/>Warning: (lemma: κόραξ) Process::Bet<br/>Warning: (lemma: κόραξ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐς κόρακας βάλλειν &lt;i&gt;of&lt;/i&gt; ἀποφέρειν &lt;i&gt;of&lt;/i&gt; ἐξελαύνειν $ <br/>Warning: (lemma: κόραξ) Process::Bet<br/>Warning: (lemma: κόραξ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐς κόρακας ἔρρειν &lt;i&gt;of&lt;/i&gt; οἴχεσθαι &lt;i&gt;of&lt;/i&gt; ἀποφθείρεσθαι $ <br/>Warning: (lemma: κοράσιον) Process::Bet<br/>Warning: (lemma: κοράσιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κόρη, $ <br/>Warning: (lemma: κορβᾶν) Process::Meta<br/>Warning: (lemma: κορβᾶν)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κορέννυμι) Process::Bet<br/>Warning: (lemma: κορέννυμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κεκορηώς ($ <br/>Warning: (lemma: κορθύνω) Process::Meta<br/>Warning: (lemma: κορθύνω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κόριον) Process::Bet<br/>Warning: (lemma: κόριον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κόρη, $ <br/>Warning: (lemma: κόριον) Process::Meta<br/>Warning: (lemma: κόριον)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Error: Error: Filebase based on lemma contains tags, something went wrong. (Last successful lemma was κόριον-1)<br/>Error: Error: Vorm pass failed for primary structure lemma 2. κόριον -ου, τό [~κορίαννον] ...<span class="space"></span><span class="space"></span>(Last successful lemma was κόριον-1)<br/>Warning: (lemma: κόρις) Process::Meta<br/>Warning: (lemma: κόρις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κορκορυγή) Process::Meta<br/>Warning: (lemma: κορκορυγή)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κόρος) Process::Bet<br/>Warning: (lemma: κόρος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἄχρι κόρου &lt;i&gt;of&lt;/i&gt; ἐς κόρον $ <br/>Warning: (lemma: κόρος) Process::Meta<br/>Warning: (lemma: κόρος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Error: Error: Filebase based on lemma contains tags, something went wrong. (Last successful lemma was κόρος-1)<br/>Error: Error: Vorm pass failed for primary structure lemma 2. κόρος -ου, ὁ [~ κόρη] Ion.<span class="space"></span><span class="space"></span>...<span class="space"></span><span class="space"></span>(Last successful lemma was κόρος-1)<br/>Warning: Vorm pass not successful for node ^3. κόρος -ου, ὁ korenmaat NT.$ <br/>Error: Error: Vorm pass failed for primary structure lemma 3. κόρος -ου, ὁ korenmaat NT.<span class="space"></span><span class="space"></span>(Last successful lemma was κόρος-1)<br/>Warning: (lemma: κόρυζα) Process::Bet<br/>Warning: (lemma: κόρυζα)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^: $ <br/>
* # total failures: 3<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κόπτω
<span class='red'>&lt;tmp&gt;</span>2, &lt;i&gt;met acc. v.h. inw. obj.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κόραξ
<span class='red'>&lt;tmp&gt;</span>ἐς κόρακας βάλλειν &lt;i&gt;of&lt;/i&gt; ἀποφέρειν &lt;i&gt;of&lt;/i&gt; ἐξελαύνειν <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κοράσιον
<span class='red'>&lt;tmp&gt;</span>κόρη, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κορέννυμι
<span class='red'>&lt;tmp&gt;</span>κεκορηώς (<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κόριον-1
<span class='red'>&lt;tmp&gt;</span>κόρη, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κόρος-1
<span class='red'>&lt;tmp&gt;</span>ἄχρι κόρου &lt;i&gt;of&lt;/i&gt; ἐς κόρον <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κόρυζα
<span class='red'>&lt;tmp&gt;</span>: <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.5.6 v8.1.xml</span>
Warning: (lemma: κόσμος) Process::Bet<br/>Warning: (lemma: κόσμος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἀρχαῖος κόσμος de vroegere mensheid &lt;s&gt;$ <br/>Warning: (lemma: κόσμος) Process::Bet<br/>Warning: (lemma: κόσμος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;i&gt;2&lt;/s&gt; Pet.&lt;/i&gt; 2.5; $ <br/>Warning: (lemma: κόσμος) Process::Bet<br/>Warning: (lemma: κόσμος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^πᾶν τὸ γεγεννημένον ἐκ τοῦ θεοῦ νικᾷ τὸν κόσμον elk schepsel dat uit God geboren is overwint de wereld &lt;s&gt;$ <br/>Warning: (lemma: κόσμος) Process::Bet<br/>Warning: (lemma: κόσμος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;i&gt;1&lt;/s&gt; Io.&lt;/i&gt; 5.4.$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κόσμος
<span class='red'>&lt;tmp&gt;</span>ἀρχαῖος κόσμος de vroegere mensheid &lt;s&gt;<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.5.7 v8.1.xml</span>
Warning: (lemma: κοτίς) Process::Meta<br/>Warning: (lemma: κοτίς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κοτυλίσκιον) Process::Bet<br/>Warning: (lemma: κοτυλίσκιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κοτύλη, $ <br/>Warning: (lemma: κουρίδιος) Process::Bet<br/>Warning: (lemma: κουρίδιος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ook &lt;i&gt;subst.&lt;/i&gt; ὁ κουρίδιος $ <br/>Warning: (lemma: κούριμος) Process::Meta<br/>Warning: (lemma: κούριμος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κουφόνους) Process::Meta<br/>Warning: (lemma: κουφόνους)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κοῦφος) Process::Bet<br/>Warning: (lemma: κοῦφος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κούφως φέρειν &lt;i&gt;met acc.&lt;/i&gt; $ <br/>Warning: (lemma: κρᾶ) Process::Meta<br/>Warning: (lemma: κρᾶ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κοτυλίσκιον
<span class='red'>&lt;tmp&gt;</span>κοτύλη, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κουρίδιος
<span class='red'>&lt;tmp&gt;</span>ook &lt;i&gt;subst.&lt;/i&gt; ὁ κουρίδιος <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κοῦφος
<span class='red'>&lt;tmp&gt;</span>κούφως φέρειν &lt;i&gt;met acc.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.5.8 v8.1.xml</span>
Warning: (lemma: κρανέϊνος) Process::Meta<br/>Warning: (lemma: κρανέϊνος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κράς) Process::Meta<br/>Warning: (lemma: κράς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κρᾶτα) Process::Meta<br/>Warning: (lemma: κρᾶτα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κραταιΐς) Process::Meta<br/>Warning: (lemma: κραταιΐς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κραταιός) Process::Bet<br/>Warning: (lemma: κραταιός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἡ κραταιὰ χεὶρ τοῦ θεοῦ de sterke hand van God &lt;s&gt;$ <br/>Warning: (lemma: κραταιός) Process::Bet<br/>Warning: (lemma: κραταιός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;i&gt;1 P&lt;/s&gt;et.&lt;/i&gt; 5.6; $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κραταιός
<span class='red'>&lt;tmp&gt;</span>ἡ κραταιὰ χεὶρ τοῦ θεοῦ de sterke hand van God &lt;s&gt;<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.5.9 v8.1.xml</span>
Warning: (lemma: κράτιστος) Process::Bet<br/>Warning: (lemma: κράτιστος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κράτιστα op de beste wijze.$ <br/>Warning: (lemma: κράτιστος) Process::Meta<br/>Warning: (lemma: κράτιστος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κράτος) Process::Bet<br/>Warning: (lemma: κράτος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^Κράτος, τό $ <br/>Warning: (lemma: κρατύς) Process::Bet<br/>Warning: (lemma: κρατύς)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κ. Ἀργεϊφόντης de sterke Argosdoder, &lt;i&gt;epith. van Hermes.&lt;/i&gt;$ <br/>Warning: (lemma: κρέας) Process::Meta<br/>Warning: (lemma: κρέας)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κρέξ) Process::Bet<br/>Warning: (lemma: κρέξ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^?) .$ <br/>Warning: (lemma: κρέξ) Process::Meta<br/>Warning: (lemma: κρέξ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κρεοπώλης) Process::Meta<br/>Warning: (lemma: κρεοπώλης)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κρεουργηδόν) Process::Meta<br/>Warning: (lemma: κρεουργηδόν)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κράτιστος
<span class='red'>&lt;tmp&gt;</span>κράτιστα op de beste wijze.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κράτος
<span class='red'>&lt;tmp&gt;</span>Κράτος, τό <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κρατύς
<span class='red'>&lt;tmp&gt;</span>κ. Ἀργεϊφόντης de sterke Argosdoder, &lt;i&gt;epith. van Hermes.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κρέξ
<span class='red'>&lt;tmp&gt;</span>?) &lt;toel&gt;(vogel)&lt;/toel&gt;.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.6.10 v8.1.xml</span>
Warning: (lemma: κωμικός) Process::Bet<br/>Warning: (lemma: κωμικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὁ Κωμικός $ <br/>Warning: Vorm pass not successful for node ^κωνσίλιον -ου, τό = Lat. consilium.$ <br/>Error: Error: Vorm pass failed for primary structure lemma κωνσίλιον -ου, τό = Lat. consi ...<span class="space"></span><span class="space"></span>(Last successful lemma was Κωνσάλια)<br/>Warning: Vorm pass not successful for node ^κώνσουλ -ος, ὁ = Lat. consul.$ <br/>Error: Error: Vorm pass failed for primary structure lemma κώνσουλ -ος, ὁ = Lat. consul.<span class="space"></span><span class="space"></span>(Last successful lemma was Κωνσάλια)<br/>Warning: (lemma: Κωπαΐς_) Process::Bet<br/>Warning: (lemma: Κωπαΐς_)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^Κωπαῒς ἔγχελυς &lt;i&gt;of&lt;/i&gt; ἡ Κ.$ <br/>Warning: (lemma: κώπιον) Process::Bet<br/>Warning: (lemma: κώπιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κώπη, $ <br/>Warning: (lemma: κώριον) Process::Bet<br/>Warning: (lemma: κώριον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κώρα, $ <br/>
* # total failures: 2<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κωμικός
<span class='red'>&lt;tmp&gt;</span>ὁ Κωμικός <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Κωπαΐς
<span class='red'>&lt;tmp&gt;</span>Κωπαῒς ἔγχελυς &lt;i&gt;of&lt;/i&gt; ἡ Κ.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κώπιον
<span class='red'>&lt;tmp&gt;</span>κώπη, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κώριον
<span class='red'>&lt;tmp&gt;</span>κώρα, <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.6.1 v8.1.xml</span>
Warning: (lemma: Κρητικός_) Process::Bet<br/>Warning: (lemma: Κρητικός_)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ Κ.<span class="space"></span><span class="space"></span>$ <br/>Warning: (lemma: κρῖ) Process::Meta<br/>Warning: (lemma: κρῖ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κριθίδιον) Process::Bet<br/>Warning: (lemma: κριθίδιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κριθή, $ <br/>Warning: (lemma: κριθίδιον) Process::Meta<br/>Warning: (lemma: κριθίδιον)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κρίθινος) Process::Bet<br/>Warning: (lemma: κρίθινος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κρίθινος οἶνος $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Κρητικός
<span class='red'>&lt;tmp&gt;</span>τὸ Κ. &lt;toel&gt;(sc. &lt;link target=""&gt;ἱμάτιον&lt;/link&gt;)&lt;/toel&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κριθίδιον
<span class='red'>&lt;tmp&gt;</span>κριθή, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κρίθινος
<span class='red'>&lt;tmp&gt;</span>κρίθινος οἶνος <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.6.2 v8.1.xml</span>
Warning: Vorm pass not successful for node ^κρόκα acc. sing.van κρόξ.$ <br/>Error: Error: Vorm pass failed for primary structure lemma κρόκα acc. sing.van κρόξ.<span class="space"></span><span class="space"></span>(Last successful lemma was κροαίνω)<br/>Warning: (lemma: κροκωτίδιον) Process::Bet<br/>Warning: (lemma: κροκωτίδιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κροκωτός, $ <br/>Warning: (lemma: κρονικός) Process::Bet<br/>Warning: (lemma: κρονικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἡ κ. ἑορτή $ <br/>Warning: (lemma: Κρόνιος_) Process::Bet<br/>Warning: (lemma: Κρόνιος_)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὰ Κρόνια $ <br/>Warning: (lemma: κρόξ) Process::Meta<br/>Warning: (lemma: κρόξ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κροτέω) Process::Bet<br/>Warning: (lemma: κροτέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^θύρσῳ κροτῶν γῆν met de thyrsυsstaf de aarde slaand $ <br/>Warning: (lemma: κρύβδην) Process::Meta<br/>Warning: (lemma: κρύβδην)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κρυερός) Process::Meta<br/>Warning: (lemma: κρυερός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κρυπτάδιος) Process::Meta<br/>Warning: (lemma: κρυπτάδιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κροκωτίδιον
<span class='red'>&lt;tmp&gt;</span>κροκωτός, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κρονικός
<span class='red'>&lt;tmp&gt;</span>ἡ κ. ἑορτή <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Κρόνιος
<span class='red'>&lt;tmp&gt;</span>τὰ Κρόνια <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κροτέω
<span class='red'>&lt;tmp&gt;</span>θύρσῳ κροτῶν γῆν met de thyrsυsstaf de aarde slaand <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.6.3 v8.1.xml</span>
Warning: (lemma: κρυφαῖος) Process::Meta<br/>Warning: (lemma: κρυφαῖος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κρυφῇ) Process::Meta<br/>Warning: (lemma: κρυφῇ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κρύφιος) Process::Bet<br/>Warning: (lemma: κρύφιος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κρυφίως in het geheim.$ <br/>Warning: (lemma: κρυψίνους) Process::Meta<br/>Warning: (lemma: κρυψίνους)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κτείς) Process::Meta<br/>Warning: (lemma: κτείς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κτέρας) Process::Meta<br/>Warning: (lemma: κτέρας)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κρύφιος
<span class='red'>&lt;tmp&gt;</span>κρυφίως in het geheim.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.6.4 v8.1.xml</span>
Warning: (lemma: κτητικός) Process::Bet<br/>Warning: (lemma: κτητικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἡ κτητική<span class="space"></span><span class="space"></span>$ <br/>Warning: (lemma: κτίσις) Process::Bet<br/>Warning: (lemma: κτίσις)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^2.13.$ <br/>Warning: (lemma: κτιστύς) Process::Meta<br/>Warning: (lemma: κτιστύς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κυαθίζω) Process::Bet<br/>Warning: (lemma: κυαθίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(Archimedes$ <br/>Warning: (lemma: κύανος) Process::Meta<br/>Warning: (lemma: κύανος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κυανοῦς) Process::Meta<br/>Warning: (lemma: κυανοῦς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κτητικός
<span class='red'>&lt;tmp&gt;</span>ἡ κτητική &lt;toel&gt;(sc. &lt;link target=""&gt;τέχνη&lt;/link&gt;)&lt;/toel&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κτίσις
<span class='red'>&lt;tmp&gt;</span>2.13.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κυαθίζω
<span class='red'>&lt;tmp&gt;</span>(Archimedes<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.6.5 v8.1.xml</span>
Warning: (lemma: κύβιτον) Process::Meta<br/>Warning: (lemma: κύβιτον)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κυδιάνειρα) Process::Meta<br/>Warning: (lemma: κυδιάνειρα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κυδοιμός) Process::Bet<br/>Warning: (lemma: κυδοιμός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^Κυδοιμός, ὁ $ <br/>Warning: (lemma: κυδώνιος) Process::Bet<br/>Warning: (lemma: κυδώνιος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^μῆλα &lt;i&gt;of&lt;/i&gt; μηλίδες, $ <br/>Warning: (lemma: κυέω) Process::Bet<br/>Warning: (lemma: κυέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐκ &lt;i&gt;+ gen.&lt;/i&gt;$ <br/>Warning: (lemma: κύκλιος) Process::Bet<br/>Warning: (lemma: κύκλιος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^26; &lt;i&gt;overdr.&lt;/i&gt;$ <br/>Warning: (lemma: κυκλίσκος) Process::Bet<br/>Warning: (lemma: κυκλίσκος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κύκλος, $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κυδοιμός
<span class='red'>&lt;tmp&gt;</span>Κυδοιμός, ὁ <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κυδώνιος
<span class='red'>&lt;tmp&gt;</span>μῆλα &lt;i&gt;of&lt;/i&gt; μηλίδες, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κυέω
<span class='red'>&lt;tmp&gt;</span>ἐκ &lt;i&gt;+ gen.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κύκλιος
<span class='red'>&lt;tmp&gt;</span>26; &lt;i&gt;overdr.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κυκλίσκος
<span class='red'>&lt;tmp&gt;</span>κύκλος, <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.6.6 v8.1.xml</span>
Warning: (lemma: κύκλος) Process::Bet<br/>Warning: (lemma: κύκλος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^4.792; $ <br/>Warning: (lemma: κύκλος) Process::Bet<br/>Warning: (lemma: κύκλος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^περί &lt;i&gt;en acc.&lt;/i&gt;$ <br/>Warning: (lemma: κυκλώπειος) Process::Meta<br/>Warning: (lemma: κυκλώπειος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: Κυκλώπιον_) Process::Bet<br/>Warning: (lemma: Κυκλώπιον_)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^Κύκλωψ, $ <br/>Warning: (lemma: κύκλωψ) Process::Bet<br/>Warning: (lemma: κύκλωψ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κ. κούρη $ <br/>Warning: (lemma: κύκλωψ) Process::Bet<br/>Warning: (lemma: κύκλωψ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^Kύκλωψ -ωπος, ὁ $ <br/>Warning: (lemma: κύλιξ) Process::Bet<br/>Warning: (lemma: κύλιξ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐπὶ τῇ κύλικι &lt;i&gt;of&lt;/i&gt; παρὰ τὴν κύλικα, $ <br/>Warning: (lemma: κυλιχνιον) Process::Bet<br/>Warning: (lemma: κυλιχνιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κύλιξ, $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κύκλος
<span class='red'>&lt;tmp&gt;</span>4.792; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Κυκλώπιον
<span class='red'>&lt;tmp&gt;</span>Κύκλωψ, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κύκλωψ
<span class='red'>&lt;tmp&gt;</span>κ. κούρη <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κύλιξ
<span class='red'>&lt;tmp&gt;</span>ἐπὶ τῇ κύλικι &lt;i&gt;of&lt;/i&gt; παρὰ τὴν κύλικα, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κυλιχνιον
<span class='red'>&lt;tmp&gt;</span>κύλιξ, <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.6.7 v8.1.xml</span>
Warning: (lemma: κυνάριον) Process::Bet<br/>Warning: (lemma: κυνάριον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κύων, $ <br/>Warning: (lemma: κυνίδιον) Process::Bet<br/>Warning: (lemma: κυνίδιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κύων, $ <br/>Warning: (lemma: κυνικός) Process::Bet<br/>Warning: (lemma: κυνικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὁ Κυνικός de Cynicus$ <br/>Warning: (lemma: κυνίσκη) Process::Bet<br/>Warning: (lemma: κυνίσκη)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κύων, $ <br/>Warning: (lemma: κυνοθαρσής) Process::Meta<br/>Warning: (lemma: κυνοθαρσής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κύντερος) Process::Bet<br/>Warning: (lemma: κύντερος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κύντατος.$ <br/>Warning: (lemma: κυπαρίττινος) Process::Meta<br/>Warning: (lemma: κυπαρίττινος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κυρέω) Process::Bet<br/>Warning: (lemma: κυρέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^($ <br/>Warning: (lemma: κυρέω) Process::Bet<br/>Warning: (lemma: κυρέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐπί &lt;i&gt;en dat.&lt;/i&gt;$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κυνάριον
<span class='red'>&lt;tmp&gt;</span>κύων, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κυνίδιον
<span class='red'>&lt;tmp&gt;</span>κύων, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κυνικός
<span class='red'>&lt;tmp&gt;</span>ὁ Κυνικός de Cynicus<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κυνίσκη
<span class='red'>&lt;tmp&gt;</span>κύων, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κύντερος
<span class='red'>&lt;tmp&gt;</span>κύντατος.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κυρέω
<span class='red'>&lt;tmp&gt;</span>(<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.6.8 v8.1.xml</span>
Warning: (lemma: κυριεύω) Process::Bet<br/>Warning: (lemma: κυριεύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὁ κυριεύων (λόγος) $ <br/>Warning: (lemma: κύριος) Process::Bet<br/>Warning: (lemma: κύριος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κύριός εἰμι &lt;i&gt;met inf.&lt;/i&gt; $ <br/>Warning: (lemma: κύριος) Process::Bet<br/>Warning: (lemma: κύριος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τοῦ μή &lt;i&gt;met inf.&lt;/i&gt;$ <br/>Warning: (lemma: κύριος) Process::Bet<br/>Warning: (lemma: κύριος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κύρια ὀνόματα $ <br/>Warning: (lemma: κύριος) Process::Bet<br/>Warning: (lemma: κύριος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ κύριον $ <br/>Warning: (lemma: κύριος) Process::Bet<br/>Warning: (lemma: κύριος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὰ κύρια $ <br/>Warning: (lemma: κύριος) Process::Bet<br/>Warning: (lemma: κύριος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ κυριώτατον $ <br/>Error: (lemma: κυρτόω) Error: Unexpected:no text:p inside list-item<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>met acc.<span class="space"></span><span class="space"></span>... (Last successful lemma was κυρτός)<br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κυριεύω
<span class='red'>&lt;tmp&gt;</span>ὁ κυριεύων (λόγος) <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κύριος
<span class='red'>&lt;tmp&gt;</span>κύριός εἰμι &lt;i&gt;met inf.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.6.9 v8.1.xml</span>
Warning: (lemma: κύων) Process::Bet<br/>Warning: (lemma: κύων)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^νὴ &lt;i&gt;of&lt;/i&gt; $ <br/>Warning: (lemma: κῶας) Process::Meta<br/>Warning: (lemma: κῶας)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: κῳδάριον) Process::Bet<br/>Warning: (lemma: κῳδάριον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κῴδιον, $ <br/>Warning: (lemma: κῴδιον) Process::Bet<br/>Warning: (lemma: κῴδιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κῶας, $ <br/>Warning: (lemma: κώλυμα) Process::Bet<br/>Warning: (lemma: κώλυμα)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^μή &lt;i&gt;en inf.&lt;/i&gt;$ <br/>Warning: (lemma: κωλύω) Process::Bet<br/>Warning: (lemma: κωλύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τί γὰρ κωλύει; $ <br/>Warning: (lemma: κωλύω) Process::Bet<br/>Warning: (lemma: κωλύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^οὐδὲν κ. $ <br/>Warning: (lemma: κωλύω) Process::Bet<br/>Warning: (lemma: κωλύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^μή &lt;i&gt;en inf., of&lt;/i&gt; ὥστε μή &lt;i&gt;en inf.; met acc. en&lt;/i&gt; ἀπό + &lt;i&gt;gen.&lt;/i&gt;$ <br/>Warning: (lemma: κωμάζω) Process::Bet<br/>Warning: (lemma: κωμάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐπί, παρά &lt;i&gt;of&lt;/i&gt; πρός + &lt;i&gt;acc.&lt;/i&gt;$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κύων
<span class='red'>&lt;tmp&gt;</span>νὴ &lt;i&gt;of&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κῳδάριον
<span class='red'>&lt;tmp&gt;</span>κῴδιον, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κῴδιον
<span class='red'>&lt;tmp&gt;</span>κῶας, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κώλυμα
<span class='red'>&lt;tmp&gt;</span>μή &lt;i&gt;en inf.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κωλύω
<span class='red'>&lt;tmp&gt;</span>τί γὰρ κωλύει; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κωμάζω
<span class='red'>&lt;tmp&gt;</span>ἐπί, παρά &lt;i&gt;of&lt;/i&gt; πρός + &lt;i&gt;acc.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Kappa.6.10 v8.1.xml</span>
Warning: (lemma: κωμικός) Process::Bet<br/>Warning: (lemma: κωμικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὁ Κωμικός $ <br/>Warning: (lemma: κῶνος) Process::Bet<br/>Warning: (lemma: κῶνος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;i&gt;(kegelvrucht)&lt;b&gt;&lt;/i&gt; pijnappel.$ <br/>Warning: Vorm pass not successful for node ^κωνσίλιον -ου, τό = Lat. consilium.$ <br/>Error: Error: Vorm pass failed for primary structure lemma κωνσίλιον -ου, τό = Lat. consi ...<span class="space"></span><span class="space"></span>(Last successful lemma was Κωνσάλια)<br/>Warning: Vorm pass not successful for node ^κώνσουλ -ος, ὁ = Lat. consul.$ <br/>Error: Error: Vorm pass failed for primary structure lemma κώνσουλ -ος, ὁ = Lat. consul.<span class="space"></span><span class="space"></span>(Last successful lemma was Κωνσάλια)<br/>Warning: (lemma: Κωπαΐς_) Process::Bet<br/>Warning: (lemma: Κωπαΐς_)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^Κωπαῒς ἔγχελυς &lt;i&gt;of&lt;/i&gt; ἡ Κ.$ <br/>Warning: (lemma: κώπιον) Process::Bet<br/>Warning: (lemma: κώπιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κώπη, $ <br/>Warning: (lemma: κώριον) Process::Bet<br/>Warning: (lemma: κώριον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κώρα, $ <br/>
* # total failures: 2<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κωμικός
<span class='red'>&lt;tmp&gt;</span>ὁ Κωμικός <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κῶνος
<span class='red'>&lt;tmp&gt;</span>&lt;i&gt;(kegelvrucht)&lt;b&gt;&lt;/i&gt; pijnappel.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Κωπαΐς
<span class='red'>&lt;tmp&gt;</span>Κωπαῒς ἔγχελυς &lt;i&gt;of&lt;/i&gt; ἡ Κ.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κώπιον
<span class='red'>&lt;tmp&gt;</span>κώπη, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>κώριον
<span class='red'>&lt;tmp&gt;</span>κώρα, <span class='red'>&lt;/tmp&gt;</span>

