<style>
    .green { color: green }
    .yellow { color: #7d6420 }
    .bright_red { color: #741616 }
    .bright_blue { color: DarkBlue }
    .cyan { color: Teal }
    .blue { color: SlateBlue }
    .red { color: Crimson }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
Doing<span class='cyan'>migrator-build-dir/data/Tau.17.0 v8.1.xml</span>
Warning: (lemma: τρέφω) Process::Bet<br/>Warning: (lemma: τρέφω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἔτραφον, &lt;i&gt;en perf.&lt;/i&gt; τέτροφα, $ <br/>Warning: (lemma: τρι) Process::Bet<br/>Warning: (lemma: τρι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τρεῖς, &lt;i&gt;in compos.&lt;/i&gt; $ <br/>Warning: (lemma: τριακονθήμερος) Process::Meta<br/>Warning: (lemma: τριακονθήμερος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τριάκοντα) Process::Bet<br/>Warning: (lemma: τριάκοντα)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^οἱ τριάκοντα de Dertig .$ <br/>Warning: (lemma: τριάκοντα) Process::Meta<br/>Warning: (lemma: τριάκοντα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τριακονταέτης) Process::Meta<br/>Warning: (lemma: τριακονταέτης)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τριακόσιοι) Process::Bet<br/>Warning: (lemma: τριακόσιοι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^οἱ τριακόσιοι de Driehonderd .$ <br/>Warning: (lemma: τριακόσιοι) Process::Meta<br/>Warning: (lemma: τριακόσιοι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τριακοσιοστός) Process::Meta<br/>Warning: (lemma: τριακοσιοστός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τριακοσταῖος) Process::Meta<br/>Warning: (lemma: τριακοσταῖος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τριακοστός) Process::Meta<br/>Warning: (lemma: τριακοστός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τρέφω
<span class='red'>&lt;tmp&gt;</span>ἔτραφον, &lt;i&gt;en perf.&lt;/i&gt; τέτροφα, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τρι
<span class='red'>&lt;tmp&gt;</span>τρεῖς, &lt;i&gt;in compos.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τριάκοντα
<span class='red'>&lt;tmp&gt;</span>οἱ τριάκοντα de Dertig &lt;toel&gt;(in Athene tiranniek regime in 404; in Sparta commissie van 30 Spartiaten)&lt;/toel&gt;.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τριακόσιοι
<span class='red'>&lt;tmp&gt;</span>οἱ τριακόσιοι de Driehonderd &lt;toel&gt;(in Athene de 300 rijkste burgers; in Megara leden van een rechtbank; de 300 Spartiaten in Thermopylae)&lt;/toel&gt;.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Tau.18.0 v8.1.xml</span>
Warning: (lemma: τριβώνιον) Process::Bet<br/>Warning: (lemma: τριβώνιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τρίβων, $ <br/>Warning: (lemma: τρίζυγος) Process::Meta<br/>Warning: (lemma: τρίζυγος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τριηρικός) Process::Bet<br/>Warning: (lemma: τριηρικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ τριηρικόν: $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τριβώνιον
<span class='red'>&lt;tmp&gt;</span>τρίβων, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τριηρικός
<span class='red'>&lt;tmp&gt;</span>τὸ τριηρικόν: <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Tau.19.0 v8.1.xml</span>
Warning: (lemma: τρίπηχυς) Process::Meta<br/>Warning: (lemma: τρίπηχυς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τριπλοῦς) Process::Meta<br/>Warning: (lemma: τριπλοῦς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
Doing<span class='cyan'>migrator-build-dir/data/Tau.20.0 v8.1.xml</span>
Warning: (lemma: τρίπους) Process::Meta<br/>Warning: (lemma: τρίπους)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τρισκαιδεκάτη) Process::Meta<br/>Warning: (lemma: τρισκαιδεκάτη)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: Vorm pass not successful for node ^τριστοιχί en τριστοιχεί adv. bij τρίστοιχος.$ <br/>Error: Error: Vorm pass failed for primary structure lemma τριστοιχί en τριστοιχεί adv. b ...<span class="space"></span><span class="space"></span>(Last successful lemma was τρίστεγος)<br/>Warning: (lemma: τρισχίλιοι) Process::Bet<br/>Warning: (lemma: τρισχίλιοι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^–ος, -α, -ον &lt;i&gt;alleen bij collect. subst.&lt;/i&gt;$ <br/>Warning: (lemma: τριτεῖα) Process::Meta<br/>Warning: (lemma: τριτεῖα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τρίτος) Process::Bet<br/>Warning: (lemma: τρίτος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(τὸ) τρίτον $ <br/>Warning: (lemma: τρίτος) Process::Meta<br/>Warning: (lemma: τρίτος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τριττός) Process::Meta<br/>Warning: (lemma: τριττός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τρισχίλιοι
<span class='red'>&lt;tmp&gt;</span>–ος, -α, -ον &lt;i&gt;alleen bij collect. subst.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τρίτος
<span class='red'>&lt;tmp&gt;</span>(τὸ) τρίτον <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Tau.21.0 v8.1.xml</span>
Warning: (lemma: τρίφυλλος) Process::Bet<br/>Warning: (lemma: τρίφυλλος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ τρίφυλλον &lt;i&gt;en&lt;/i&gt; ἡ τρίφυλλος $ <br/>Warning: (lemma: τρίχα) Process::Meta<br/>Warning: (lemma: τρίχα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τρίχαλος) Process::Meta<br/>Warning: (lemma: τρίχαλος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τριχῇ) Process::Meta<br/>Warning: (lemma: τριχῇ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τροπαῖος) Process::Bet<br/>Warning: (lemma: τροπαῖος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἡ τροπαία $ <br/>Warning: (lemma: τροπαῖος) Process::Bet<br/>Warning: (lemma: τροπαῖος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ τροπαῖον, τρόπαιον $ <br/>Warning: (lemma: τρόπις) Process::Meta<br/>Warning: (lemma: τρόπις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τρόπος) Process::Bet<br/>Warning: (lemma: τρόπος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τίνι τρόπῳ; $ <br/>Warning: (lemma: τρόπος) Process::Bet<br/>Warning: (lemma: τρόπος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τίνα τρόπον; $ <br/>Warning: (lemma: τρόπος) Process::Bet<br/>Warning: (lemma: τρόπος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^retorica$ <br/>Warning: (lemma: τροφίας) Process::Meta<br/>Warning: (lemma: τροφίας)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τρόφιμος) Process::Meta<br/>Warning: (lemma: τρόφιμος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τρόφις) Process::Meta<br/>Warning: (lemma: τρόφις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τρίφυλλος
<span class='red'>&lt;tmp&gt;</span>τὸ τρίφυλλον &lt;i&gt;en&lt;/i&gt; ἡ τρίφυλλος <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τροπαῖος
<span class='red'>&lt;tmp&gt;</span>ἡ τροπαία <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τρόπος
<span class='red'>&lt;tmp&gt;</span>τίνι τρόπῳ; <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Tau.22.0 v8.1.xml</span>
Warning: (lemma: τρύγητος) Process::Meta<br/>Warning: (lemma: τρύγητος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τρυγοδαίμων) Process::Bet<br/>Warning: (lemma: τρυγοδαίμων)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τρυγῳδός &lt;i&gt;en&lt;/i&gt; κακοδαίμων, $ <br/>Warning: (lemma: τρύξ) Process::Meta<br/>Warning: (lemma: τρύξ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τρυχίον) Process::Bet<br/>Warning: (lemma: τρυχίον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τρῦχος, $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τρυγοδαίμων
<span class='red'>&lt;tmp&gt;</span>τρυγῳδός &lt;i&gt;en&lt;/i&gt; κακοδαίμων, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τρυχίον
<span class='red'>&lt;tmp&gt;</span>τρῦχος, <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Tau.23.0 v8.1.xml</span>
Warning: (lemma: τυγχάνω) Process::Bet<br/>Warning: (lemma: τυγχάνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὅπως ἐτύγχανε $ <br/>Warning: (lemma: τυγχάνω) Process::Bet<br/>Warning: (lemma: τυγχάνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἂν τύχῃ $ <br/>Warning: (lemma: τυγχάνω) Process::Bet<br/>Warning: (lemma: τυγχάνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τυγχάνω &lt;i&gt;vaak te vertalen als 'het treft/trof dat ... ', 'het kwam zo uit dat ... ', 'toevallig/net/precies ... ', 'het toeval wilde dat ... '&lt;/i&gt;$ <br/>Warning: (lemma: τυγχάνω) Process::Bet<br/>Warning: (lemma: τυγχάνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εἰμί &lt;i&gt;met pred. adj. of adv.&lt;/i&gt; $ <br/>Warning: (lemma: τυγχάνω) Process::Bet<br/>Warning: (lemma: τυγχάνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^οἱ τυχόντες $ <br/>Warning: (lemma: τυγχάνω) Process::Bet<br/>Warning: (lemma: τυγχάνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τυχόν $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τυγχάνω
<span class='red'>&lt;tmp&gt;</span>ὅπως ἐτύγχανε <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Tau.24.0 v8.1.xml</span>
Warning: (lemma: τυννός) Process::Meta<br/>Warning: (lemma: τυννός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τύπος) Process::Bet<br/>Warning: (lemma: τύπος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^1.7.$ <br/>Warning: (lemma: τυραννικός) Process::Bet<br/>Warning: (lemma: τυραννικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ τυραννικόν a$ <br/>Warning: (lemma: τύραννος) Process::Bet<br/>Warning: (lemma: τύραννος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τύραννος, -ον $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τύπος
<span class='red'>&lt;tmp&gt;</span>1.7.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τυραννικός
<span class='red'>&lt;tmp&gt;</span>τὸ τυραννικόν a<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τύραννος
<span class='red'>&lt;tmp&gt;</span>τύραννος, -ον <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Tau.25.0 v8.1.xml</span>
Warning: (lemma: τυρόεις) Process::Bet<br/>Warning: (lemma: τυρόεις)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἡ Τυρόεσσα $ <br/>Warning: (lemma: τύρσις) Process::Meta<br/>Warning: (lemma: τύρσις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τύχη) Process::Bet<br/>Warning: (lemma: τύχη)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἡ ἀναγκαία τύχη $ <br/>Warning: (lemma: τῶ) Process::Meta<br/>Warning: (lemma: τῶ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τυρόεις
<span class='red'>&lt;tmp&gt;</span>ἡ Τυρόεσσα <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τύχη
<span class='red'>&lt;tmp&gt;</span>ἡ ἀναγκαία τύχη <span class='red'>&lt;/tmp&gt;</span>

