<style>
    .red { color: Crimson }
    .bright_red { color: #741616 }
    .cyan { color: Teal }
    .yellow { color: #7d6420 }
    .bright_blue { color: DarkBlue }
    .green { color: green }
    .blue { color: SlateBlue }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
Doing<span class='cyan'>migrator-build-dir/data/Tau.1.0 v8.1.xml</span>
Warning: (lemma: Τ_) Process::Bet<br/>Warning: (lemma: Τ_)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τʹ = 300; τ͵ = 300.000.$ <br/>Warning: (lemma: Τ_) Process::Meta<br/>Warning: (lemma: Τ_)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ταγεύω) Process::Bet<br/>Warning: (lemma: ταγεύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^over$ <br/>Warning: (lemma: ταγός) Process::Bet<br/>Warning: (lemma: ταγός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^($ <br/>Error: (lemma: ταινία) Error: Unexpected:no text:p inside list-item<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>... (Last successful lemma was ταί)<br/>Warning: (lemma: ταινίδιον) Process::Bet<br/>Warning: (lemma: ταινίδιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ταινία, $ <br/>Warning: (lemma: ταινιόω) Process::Bet<br/>Warning: (lemma: ταινιόω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^of $ <br/>Error: (lemma: τακτικός) Error: Unexpected:no text:p inside list-item<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>... (Last successful lemma was τακτέον)<br/>Error: (lemma: τακτός) Error: Unexpected:no text:p inside list-item<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>... (Last successful lemma was τακτέον)<br/>Error: (lemma: ταλαιπωρέω) Error: Unexpected:no text:p inside list-item<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>... (Last successful lemma was τάλαινα)<br/>Error: (lemma: ταλαιπωρία) Error: Unexpected:no text:p inside list-item<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>... (Last successful lemma was τάλαινα)<br/>Error: (lemma: ταλαίπωρος) Error: Unexpected:no text:p inside list-item<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>... (Last successful lemma was τάλαινα)<br/>Error: (lemma: ταλακάρδιος) Error: Unexpected:no text:p inside list-item<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>... (Last successful lemma was ταλαίφρων)<br/>Warning: (lemma: τάλαντον) Process::Bet<br/>Warning: (lemma: τάλαντον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(τ. ἀργυρίου: &lt;i&gt;1 talent =&lt;/i&gt; 60 μναῖ &lt;i&gt;=&lt;/i&gt; $ <br/>Warning: (lemma: ταλαρίσκος) Process::Bet<br/>Warning: (lemma: ταλαρίσκος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τάλαρος, $ <br/>Warning: (lemma: ταλασιουργός) Process::Bet<br/>Warning: (lemma: ταλασιουργός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^γυνὴ τ. $ <br/>
* # total failures: 7<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Τ
<span class='red'>&lt;tmp&gt;</span>τʹ = 300; τ͵ = 300.000.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ταγεύω
<span class='red'>&lt;tmp&gt;</span>over<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ταγός
<span class='red'>&lt;tmp&gt;</span>(<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ταινίδιον
<span class='red'>&lt;tmp&gt;</span>ταινία, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ταινιόω
<span class='red'>&lt;tmp&gt;</span>of <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τάλαντον
<span class='red'>&lt;tmp&gt;</span>(τ. ἀργυρίου: &lt;i&gt;1 talent =&lt;/i&gt; 60 μναῖ &lt;i&gt;=&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ταλαρίσκος
<span class='red'>&lt;tmp&gt;</span>τάλαρος, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ταλασιουργός
<span class='red'>&lt;tmp&gt;</span>γυνὴ τ. <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Tau.7.0 v8.1.xml</span>
Warning: (lemma: τέρψις) Process::Meta<br/>Warning: (lemma: τέρψις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τεσσαρακαιδεκέτις) Process::Meta<br/>Warning: (lemma: τεσσαρακαιδεκέτις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τεσσαρακονταετής) Process::Meta<br/>Warning: (lemma: τεσσαρακονταετής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τεσσαρεσκαιδέκατος) Process::Meta<br/>Warning: (lemma: τεσσαρεσκαιδέκατος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: Vorm pass not successful for node ^τεσσεράριος -ου, ὁ Lat. tesserarius (soldaat die het wachtwoord doorgeeft).$ <br/>Error: Error: Vorm pass failed for primary structure lemma τεσσεράριος -ου, ὁ Lat. tesser ...<span class="space"></span><span class="space"></span>(Last successful lemma was τεσσερακονταετής)<br/>Warning: (lemma: τεταγμένως) Process::Bet<br/>Warning: (lemma: τεταγμένως)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τάττω, $ <br/>Warning: (lemma: τεταρταῖος) Process::Meta<br/>Warning: (lemma: τεταρταῖος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τέταρτος) Process::Bet<br/>Warning: (lemma: τέταρτος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἡ τετάρτη $ <br/>Warning: (lemma: τέταρτος) Process::Bet<br/>Warning: (lemma: τέταρτος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τετάρτως $ <br/>Warning: (lemma: τέταρτος) Process::Meta<br/>Warning: (lemma: τέταρτος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τέτμον) Process::Meta<br/>Warning: (lemma: τέτμον)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τεταγμένως
<span class='red'>&lt;tmp&gt;</span>τάττω, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τέταρτος
<span class='red'>&lt;tmp&gt;</span>ἡ τετάρτη <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Tau.9.0 v8.1.xml</span>
Warning: (lemma: τευτλίον) Process::Bet<br/>Warning: (lemma: τευτλίον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τεῦτλον, $ <br/>Warning: (lemma: τεχνίον) Process::Bet<br/>Warning: (lemma: τεχνίον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τέχνη, $ <br/>Warning: (lemma: τεχνύδριον) Process::Bet<br/>Warning: (lemma: τεχνύδριον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τέχνη, $ <br/>Warning: (lemma: τέως) Process::Bet<br/>Warning: (lemma: τέως)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἕως &lt;i&gt;of&lt;/i&gt; $ <br/>Warning: (lemma: τῇ) Process::Meta<br/>Warning: (lemma: τῇ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τήκω) Process::Bet<br/>Warning: (lemma: τήκω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τέτηκα, $ <br/>Warning: (lemma: τηλόθεν) Process::Meta<br/>Warning: (lemma: τηλόθεν)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τηλοῦ) Process::Bet<br/>Warning: (lemma: τηλοῦ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τηλοῦ ... Ἀχαιΐδος ... αἴης ver van het Griekse land $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τευτλίον
<span class='red'>&lt;tmp&gt;</span>τεῦτλον, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τεχνίον
<span class='red'>&lt;tmp&gt;</span>τέχνη, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τεχνύδριον
<span class='red'>&lt;tmp&gt;</span>τέχνη, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τέως
<span class='red'>&lt;tmp&gt;</span>ἕως &lt;i&gt;of&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τήκω
<span class='red'>&lt;tmp&gt;</span>τέτηκα, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τηλοῦ
<span class='red'>&lt;tmp&gt;</span>τηλοῦ ... Ἀχαιΐδος ... αἴης ver van het Griekse land <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Tau.13.0 v8.1.xml</span>
Warning: (lemma: τλήθυμος) Process::Meta<br/>Warning: (lemma: τλήθυμος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τλητός) Process::Meta<br/>Warning: (lemma: τλητός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τόθεν) Process::Meta<br/>Warning: (lemma: τόθεν)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τοι) Process::Meta<br/>Warning: (lemma: τοι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τοιοῦτος) Process::Meta<br/>Warning: (lemma: τοιοῦτος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τοιουτοσί) Process::Bet<br/>Warning: (lemma: τοιουτοσί)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τοιοῦτος, &lt;i&gt;n.&lt;/i&gt; τοιουτονί, $ <br/>Warning: (lemma: τολμήεις) Process::Meta<br/>Warning: (lemma: τολμήεις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τολμητός) Process::Meta<br/>Warning: (lemma: τολμητός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τοιουτοσί
<span class='red'>&lt;tmp&gt;</span>τοιοῦτος, &lt;i&gt;n.&lt;/i&gt; τοιουτονί, <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Tau.14.0 v8.1.xml</span>
Warning: (lemma: τοξάριον) Process::Bet<br/>Warning: (lemma: τοξάριον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τόξον, $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τοξάριον
<span class='red'>&lt;tmp&gt;</span>τόξον, <span class='red'>&lt;/tmp&gt;</span>

