<style>
    .bright_blue { color: DarkBlue }
    .bright_red { color: #741616 }
    .red { color: Crimson }
    .yellow { color: #7d6420 }
    .blue { color: SlateBlue }
    .cyan { color: Teal }
    .green { color: green }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
Doing<span class='cyan'>migrator-build-dir/data/Rho.1.0 v8.1.xml</span>
Warning: (lemma: Ρ_) Process::Bet<br/>Warning: (lemma: Ρ_)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ρʹ = 100, ͵ρ = 100.000.$ <br/>Warning: (lemma: Ρ_) Process::Meta<br/>Warning: (lemma: Ρ_)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ῥᾴδιος) Process::Bet<br/>Warning: (lemma: ῥᾴδιος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ῥᾴδιον (ἐστι) + &lt;i&gt;inf.&lt;/i&gt; $ <br/>Warning: (lemma: ῥᾴδιος) Process::Meta<br/>Warning: (lemma: ῥᾴδιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ῥᾳδιούργημα) Process::Meta<br/>Warning: (lemma: ῥᾳδιούργημα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ῥᾴθυμος) Process::Meta<br/>Warning: (lemma: ῥᾴθυμος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Ρ
<span class='red'>&lt;tmp&gt;</span>ρʹ = 100, ͵ρ = 100.000.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ῥᾴδιος
<span class='red'>&lt;tmp&gt;</span>ῥᾴδιον (ἐστι) + &lt;i&gt;inf.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Rho.2.0 v8.1.xml</span>
Warning: (lemma: ῥάξ) Process::Meta<br/>Warning: (lemma: ῥάξ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ῥάπτω) Process::Bet<br/>Warning: (lemma: ῥάπτω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^tegen iem$ <br/>Warning: (lemma: ῥάττω) Process::Bet<br/>Warning: (lemma: ῥάττω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(op) iets of iem$ <br/>Warning: (lemma: ῥαφιδεύς) Process::Meta<br/>Warning: (lemma: ῥαφιδεύς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ῥαχίζω) Process::Bet<br/>Warning: (lemma: ῥαχίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^καί) κἀρράχιζε; &lt;i&gt;aor.&lt;/i&gt; ἐρράχισα, $ <br/>Warning: (lemma: ῥαχίζω) Process::Bet<br/>Warning: (lemma: ῥαχίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met acc.&lt;/i&gt;$ <br/>Warning: (lemma: ῥαψῳδικός) Process::Bet<br/>Warning: (lemma: ῥαψῳδικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἡ ῥαψῳδική<span class="space"></span><span class="space"></span>$ <br/>Warning: (lemma: ῥέα) Process::Meta<br/>Warning: (lemma: ῥέα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ῥέγκος) Process::Meta<br/>Warning: (lemma: ῥέγκος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ῥέζω) Process::Bet<br/>Warning: (lemma: ῥέζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^($ <br/>Warning: (lemma: ῥέος) Process::Meta<br/>Warning: (lemma: ῥέος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ῥέπω) Process::Bet<br/>Warning: (lemma: ῥέπω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^), $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ῥάπτω
<span class='red'>&lt;tmp&gt;</span>tegen iem<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ῥάττω
<span class='red'>&lt;tmp&gt;</span>(op) iets of iem<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ῥαχίζω
<span class='red'>&lt;tmp&gt;</span>καί) κἀρράχιζε; &lt;i&gt;aor.&lt;/i&gt; ἐρράχισα, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ῥαψῳδικός
<span class='red'>&lt;tmp&gt;</span>ἡ ῥαψῳδική &lt;toel&gt;(sc. &lt;link target=""&gt;τέχνη&lt;/link&gt;)&lt;/toel&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ῥέζω
<span class='red'>&lt;tmp&gt;</span>(<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ῥέπω
<span class='red'>&lt;tmp&gt;</span>), <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Rho.3.0 v8.1.xml</span>
Warning: (lemma: ῥηγμίς) Process::Meta<br/>Warning: (lemma: ῥηγμίς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ῥήγνυμι) Element::WerkV<br/>Warning: (lemma: ῥήγνυμι)<span class="space"></span><span class="space"></span><span class="space"></span>1<br/>Warning: (lemma: ῥήγνυμι) Process::Bet<br/>Warning: (lemma: ῥήγνυμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐρράγην &lt;i&gt;en perf.&lt;/i&gt; ἔρρωγα$ <br/>Warning: (lemma: ῥῆγος) Process::Meta<br/>Warning: (lemma: ῥῆγος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ῥῆσις) Process::Bet<br/>Warning: (lemma: ῥῆσις)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^λέξαι ... ῥῆσιν μακράν·een lange monoloog houden $ <br/>Warning: (lemma: ῥητορικός) Process::Bet<br/>Warning: (lemma: ῥητορικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ ῥητορικόν $ <br/>Warning: (lemma: ῥήτρα) Process::Bet<br/>Warning: (lemma: ῥήτρα)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^σοὶ τὴν ῥήτραν παραδίδωμι·ik geef jou het woord $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ῥήγνυμι
<span class='red'>&lt;tmp&gt;</span>&lt;b&gt;scheuren,&lt;/b&gt; &lt;b&gt;een barst maken in&lt;/b&gt;:<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ῥῆσις
<span class='red'>&lt;tmp&gt;</span>λέξαι ... ῥῆσιν μακράν·een lange monoloog houden <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ῥητορικός
<span class='red'>&lt;tmp&gt;</span>τὸ ῥητορικόν <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ῥήτρα
<span class='red'>&lt;tmp&gt;</span>σοὶ τὴν ῥήτραν παραδίδωμι·ik geef jou het woord <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Rho.4.0 v8.1.xml</span>
Warning: (lemma: ῥιζίον) Process::Meta<br/>Warning: (lemma: ῥιζίον)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ῥινός) Process::Meta<br/>Warning: (lemma: ῥινός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
Doing<span class='cyan'>migrator-build-dir/data/Rho.5.0 v8.1.xml</span>
Warning: (lemma: ῥίς) Process::Meta<br/>Warning: (lemma: ῥίς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ῥιψ) Process::Meta<br/>Warning: (lemma: ῥιψ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ῥοιά) Process::Meta<br/>Warning: (lemma: ῥοιά)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ῥοδόπηχυς) Process::Meta<br/>Warning: (lemma: ῥοδόπηχυς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ῥόθιος) Process::Bet<br/>Warning: (lemma: ῥόθιος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ῥοθίοις πλάταις·met ruisende riemen $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ῥόθιος
<span class='red'>&lt;tmp&gt;</span>ῥοθίοις πλάταις·met ruisende riemen <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Rho.6.0 v8.1.xml</span>
Warning: (lemma: ῥόος) Process::Meta<br/>Warning: (lemma: ῥόος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ῥοῦς) Process::Meta<br/>Warning: (lemma: ῥοῦς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ῥοπή) Process::Bet<br/>Warning: (lemma: ῥοπή)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ῥοπὴν ἔχειν $ <br/>Warning: (lemma: ῥοφέω) Process::Bet<br/>Warning: (lemma: ῥοφέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^μισθοῦ τρύβλιον ῥοφῆσαι de kom van de beloning legen &lt;i&gt;(d.w.z. er volledig van genieten); ook abs.&lt;/i&gt; $ <br/>Warning: (lemma: ῥύαξ) Process::Meta<br/>Warning: (lemma: ῥύαξ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ῥῦμα) Process::Meta<br/>Warning: (lemma: ῥῦμα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ῥῦμα) Process::Meta<br/>Warning: (lemma: ῥῦμα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ῥυππαπαί) Process::Bet<br/>Warning: (lemma: ῥυππαπαί)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^: τὸ ῥ. $ <br/>Warning: (lemma: ῥυππαπαί) Process::Meta<br/>Warning: (lemma: ῥυππαπαί)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ῥύσιος) Process::Bet<br/>Warning: (lemma: ῥύσιος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ ῥύσιον, τὰ ῥύσια $ <br/>Warning: (lemma: ῥύσις) Process::Bet<br/>Warning: (lemma: ῥύσις)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ῥ. αἵματος $ <br/>Warning: (lemma: ῥυσός) Process::Meta<br/>Warning: (lemma: ῥυσός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ῥυτήρ) Process::Meta<br/>Warning: (lemma: ῥυτήρ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ῥυτήρ) Process::Meta<br/>Warning: (lemma: ῥυτήρ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ῥυτός) Process::Meta<br/>Warning: (lemma: ῥυτός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ῥυτός) Process::Meta<br/>Warning: (lemma: ῥυτός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ῥύτωρ) Process::Meta<br/>Warning: (lemma: ῥύτωρ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ῥύτωρ) Process::Meta<br/>Warning: (lemma: ῥύτωρ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ῥῶ) Process::Meta<br/>Warning: (lemma: ῥῶ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ῥώννυμι) Process::Bet<br/>Warning: (lemma: ῥώννυμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐρρῶσθαι φράζειν $ <br/>Warning: (lemma: ῥώννυμι) Process::Bet<br/>Warning: (lemma: ῥώννυμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐρρῶσθαι (πολλὰ) φράζειν, εἰπεῖν $ <br/>Warning: (lemma: ῥώξ) Process::Meta<br/>Warning: (lemma: ῥώξ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ῥώψ) Process::Meta<br/>Warning: (lemma: ῥώψ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ῥωπικός) Process::Bet<br/>Warning: (lemma: ῥωπικός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὰ ῥωπικά prullen.$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ῥοπή
<span class='red'>&lt;tmp&gt;</span>ῥοπὴν ἔχειν <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ῥοφέω
<span class='red'>&lt;tmp&gt;</span>μισθοῦ τρύβλιον ῥοφῆσαι de kom van de beloning legen &lt;i&gt;(d.w.z. er volledig van genieten); ook abs.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ῥυππαπαί
<span class='red'>&lt;tmp&gt;</span>: τὸ ῥ. <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ῥύσιος
<span class='red'>&lt;tmp&gt;</span>τὸ ῥύσιον, τὰ ῥύσια <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ῥύσις
<span class='red'>&lt;tmp&gt;</span>ῥ. αἵματος <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ῥώννυμι
<span class='red'>&lt;tmp&gt;</span>ἐρρῶσθαι φράζειν <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ῥωπικός
<span class='red'>&lt;tmp&gt;</span>τὰ ῥωπικά prullen.<span class='red'>&lt;/tmp&gt;</span>

