<style>
    .blue { color: SlateBlue }
    .red { color: Crimson }
    .cyan { color: Teal }
    .green { color: green }
    .yellow { color: #7d6420 }
    .bright_red { color: #741616 }
    .bright_blue { color: DarkBlue }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
Doing<span class='cyan'>migrator-build-dir/data/Epsilon.9.0 v8.1.xml</span>
Warning: (lemma: εἶεν) Process::Meta<br/>Warning: (lemma: εἶεν)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εἴθε) Process::Bet<br/>Warning: (lemma: εἴθε)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εἰ.$ <br/>Warning: (lemma: εἴθε) Process::Meta<br/>Warning: (lemma: εἴθε)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εἰκάζω) Process::Bet<br/>Warning: (lemma: εἰκάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐκ &lt;i&gt;of&lt;/i&gt; $ <br/>Warning: (lemma: εἰκάζω) Process::Bet<br/>Warning: (lemma: εἰκάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὡς εἰκάσαι: $ <br/>Warning: (lemma: εἰ) Process::Bet<br/>Warning: (lemma: εἰ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εἰ.$ <br/>Warning: (lemma: εἰ) Process::Meta<br/>Warning: (lemma: εἰ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εἰκῇ) Process::Bet<br/>Warning: (lemma: εἰκῇ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εἰκῇ κράτιστον ζῆν he$ <br/>Warning: (lemma: εἰκῇ) Process::Meta<br/>Warning: (lemma: εἰκῇ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εἰκόνιον) Process::Bet<br/>Warning: (lemma: εἰκόνιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εἰκών, $ <br/>Warning: (lemma: εἰκοσαετής) Process::Meta<br/>Warning: (lemma: εἰκοσαετής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εἴκοσιν) Process::Meta<br/>Warning: (lemma: εἴκοσιν)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εἰκοσιετίς) Process::Meta<br/>Warning: (lemma: εἰκοσιετίς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εἰκόσορος) Process::Meta<br/>Warning: (lemma: εἰκόσορος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εἰκοστός) Process::Meta<br/>Warning: (lemma: εἰκοστός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>εἴθε
<span class='red'>&lt;tmp&gt;</span>εἰ.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>εἰκάζω
<span class='red'>&lt;tmp&gt;</span>ἐκ &lt;i&gt;of&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>εἰ
<span class='red'>&lt;tmp&gt;</span>εἰ.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>εἰκῇ
<span class='red'>&lt;tmp&gt;</span>εἰκῇ κράτιστον ζῆν he<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>εἰκόνιον
<span class='red'>&lt;tmp&gt;</span>εἰκών, <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.29.0 v8.1.xml</span>
Warning: (lemma: ἑλικοβλέφαρος) Process::Meta<br/>Warning: (lemma: ἑλικοβλέφαρος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἑλικοειδής) Process::Meta<br/>Warning: (lemma: ἑλικοειδής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Error: Error: Couldn't get style for node (&lt;office:annotation office:name="__Fieldmark__465_2 ...) (Last successful lemma was ἑλικτήρ)<br/>Error: Error: Couldn't get style for node (&lt;office:annotation office:name="__Fieldmark__465_2 ...) (Last successful lemma was ἑλικτήρ)<br/>Error: Error: Couldn't get style for node (&lt;office:annotation office:name="__Fieldmark__465_2 ...) (Last successful lemma was ἑλικτήρ)<br/>Error: Error: Couldn't get style for node (&lt;office:annotation office:name="__Fieldmark__465_2 ...) (Last successful lemma was ἑλικτήρ)<br/>Warning: (lemma: ἑλικτός) Process::Meta<br/>Warning: (lemma: ἑλικτός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐλλείπω) Process::Bet<br/>Warning: (lemma: ἐλλείπω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ μή + &lt;i&gt;inf.&lt;/i&gt;$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐλλείπω
<span class='red'>&lt;tmp&gt;</span>τὸ μή + &lt;i&gt;inf.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.30.0 v8.1.xml</span>
Warning: (lemma: ἐλλός) Process::Meta<br/>Warning: (lemma: ἐλλός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐλλός) Process::Meta<br/>Warning: (lemma: ἐλλός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐμβαίνω) Process::Bet<br/>Warning: (lemma: ἐμβαίνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εἰ ... ἐς ἄντλον ἐμβήσῃ πόδα als jij je voet in gevaarlijk water zet (je in de nesten werkt)&lt;i&gt;&lt;s&gt;&lt;/i&gt; Eur.&lt;/s&gt; &lt;i&gt;Hcld.&lt;/i&gt; 168; &lt;i&gt;overdr. abs.&lt;/i&gt;$ <br/>Warning: (lemma: ἐμβάς) Process::Meta<br/>Warning: (lemma: ἐμβάς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐμβλέπω) Process::Bet<br/>Warning: (lemma: ἐμβλέπω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^met acc$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐμβαίνω
<span class='red'>&lt;tmp&gt;</span>εἰ ... ἐς ἄντλον ἐμβήσῃ πόδα als jij je voet in gevaarlijk water zet (je in de nesten werkt)&lt;i&gt;&lt;s&gt;&lt;/i&gt; Eur.&lt;/s&gt; &lt;i&gt;Hcld.&lt;/i&gt; 168; &lt;i&gt;overdr. abs.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐμβλέπω
<span class='red'>&lt;tmp&gt;</span>met acc<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.33.0 v8.1.xml</span>
Warning: (lemma: ἔμπροσθεν) Process::Meta<br/>Warning: (lemma: ἔμπροσθεν)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐμφανής) Process::Bet<br/>Warning: (lemma: ἐμφανής)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐμφανῶς, &lt;i&gt;Ion.&lt;/i&gt; -έως $ <br/>Warning: (lemma: ἐμφύλιος) Process::Meta<br/>Warning: (lemma: ἐμφύλιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐμφανής
<span class='red'>&lt;tmp&gt;</span>ἐμφανῶς, &lt;i&gt;Ion.&lt;/i&gt; -έως <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.35.0 v8.1.xml</span>
Warning: (lemma: ἐνάπτω) Process::Meta<br/>Warning: (lemma: ἐνάπτω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐνάπτω) Process::Meta<br/>Warning: (lemma: ἐνάπτω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἔνατος) Process::Meta<br/>Warning: (lemma: ἔνατος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἔναυλος) Process::Meta<br/>Warning: (lemma: ἔναυλος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἔναυλος) Process::Meta<br/>Warning: (lemma: ἔναυλος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἔναυλος) Process::Meta<br/>Warning: (lemma: ἔναυλος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἔναυλος) Process::Meta<br/>Warning: (lemma: ἔναυλος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
Doing<span class='cyan'>migrator-build-dir/data/Epsilon.36.0 v8.1.xml</span>
Warning: (lemma: ἕνδεκα) Process::Bet<br/>Warning: (lemma: ἕνδεκα)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^οἱ ἕνδεκα de Elf .$ <br/>Warning: Vorm pass not successful for node ^ἐνδεχομένως [ἐνδέχομαι] ὅπως ἐνδεχομένως ὁ δῆμος βουλεύσηται opdat het volk besluit in overeenstemming met de mogelijkheden Dem. 18.165.$ <br/>Error: Error: Vorm pass failed for primary structure lemma ἐνδεχομένως [ἐνδέχομαι] ὅπως ἐ ...<span class="space"></span><span class="space"></span>(Last successful lemma was ἐνδέχομαι)<br/>Warning: (lemma: ἐνδέω) Process::Meta<br/>Warning: (lemma: ἐνδέω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐνδέω) Process::Bet<br/>Warning: (lemma: ἐνδέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ ἐνδέον het ontbrekende.$ <br/>Warning: (lemma: ἐνδέω) Process::Bet<br/>Warning: (lemma: ἐνδέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^οὐδενὸς ἐνδέω μὴ οὐ &lt;i&gt;met inf.&lt;/i&gt; $ <br/>Warning: (lemma: ἐνδέω) Process::Meta<br/>Warning: (lemma: ἐνδέω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐνδιαφθείρω) Process::Bet<br/>Warning: (lemma: ἐνδιαφθείρω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(de baarmoeder) $ <br/>Warning: (lemma: ἐνδίδωμι) Process::Bet<br/>Warning: (lemma: ἐνδίδωμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὃς οὐκ ἂν ἐνδοίη πρὸς τὰς τῆς κολακείας προσβολάς die niet zou bezwijken νοοr de aanvallen van vleierij $ <br/>Warning: (lemma: ἔνδοι) Process::Meta<br/>Warning: (lemma: ἔνδοι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐνδομάχας) Process::Meta<br/>Warning: (lemma: ἐνδομάχας)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἕνδεκα
<span class='red'>&lt;tmp&gt;</span>οἱ ἕνδεκα de Elf &lt;toel&gt;(in Athene college van magistraten die belast waren met uitvoering van straffen)&lt;/toel&gt;.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐνδέω-2
<span class='red'>&lt;tmp&gt;</span>τὸ ἐνδέον het ontbrekende.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐνδιαφθείρω
<span class='red'>&lt;tmp&gt;</span>(de baarmoeder) <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐνδίδωμι
<span class='red'>&lt;tmp&gt;</span>ὃς οὐκ ἂν ἐνδοίη πρὸς τὰς τῆς κολακείας προσβολάς die niet zou bezwijken νοοr de aanvallen van vleierij <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.37.0 v8.1.xml</span>
Warning: (lemma: ἐνδύω) Process::Bet<br/>Warning: (lemma: ἐνδύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;i&gt;(een kledingstuk)$ <br/>Warning: (lemma: ἔνειμι) Process::Bet<br/>Warning: (lemma: ἔνειμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἔνεστι, &lt;i&gt;ook&lt;/i&gt; ἔνι $ <br/>Warning: (lemma: ἔνειμι) Process::Bet<br/>Warning: (lemma: ἔνειμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὡς &lt;i&gt;en superl.&lt;/i&gt; $ <br/>Warning: (lemma: ἔνειμι) Process::Bet<br/>Warning: (lemma: ἔνειμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὰ ἐνόντα $ <br/>Warning: (lemma: ἕνεκα) Process::Meta<br/>Warning: (lemma: ἕνεκα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἔνερθεν) Process::Meta<br/>Warning: (lemma: ἔνερθεν)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐνδύω
<span class='red'>&lt;tmp&gt;</span>&lt;i&gt;(een kledingstuk)<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἔνειμι
<span class='red'>&lt;tmp&gt;</span>ἔνεστι, &lt;i&gt;ook&lt;/i&gt; ἔνι <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.38.0 v8.1.xml</span>
Warning: (lemma: ἔνθεν) Process::Meta<br/>Warning: (lemma: ἔνθεν)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐνθυμέω) Process::Bet<br/>Warning: (lemma: ἐνθυμέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὅτι-&lt;i&gt;zin&lt;/i&gt;$ <br/>Warning: (lemma: ἐνθύμιος) Process::Bet<br/>Warning: (lemma: ἐνθύμιος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(τὸ) ἐνθύμιον $ <br/>Warning: (lemma: ἐνιαύσιος) Process::Bet<br/>Warning: (lemma: ἐνιαύσιος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐνιαύσια jaarlijks.$ <br/>Warning: (lemma: ἐνιαύσιος) Process::Meta<br/>Warning: (lemma: ἐνιαύσιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐνιαυτός) Process::Bet<br/>Warning: (lemma: ἐνιαυτός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κατ’ ἐνιαυτόν $ <br/>Warning: (lemma: ἐνίζω) Process::Bet<br/>Warning: (lemma: ἐνίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^($ <br/>Warning: (lemma: ἔνιοι) Process::Bet<br/>Warning: (lemma: ἔνιοι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἔνιοι μέν ... ἔνιοι δέ $ <br/>Warning: (lemma: ἐνίοτε) Process::Bet<br/>Warning: (lemma: ἐνίοτε)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐνίοτε μέν ... ἐνίοτε δέ $ <br/>Warning: (lemma: ἐνίστημι) Process::Bet<br/>Warning: (lemma: ἐνίστημι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐνέστην &lt;i&gt;en perf. act.&lt;/i&gt; ἐνέστηκα$ <br/>Warning: (lemma: ἐνίστημι) Process::Bet<br/>Warning: (lemma: ἐνίστημι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐνεστηκώς &lt;i&gt;en&lt;/i&gt; ἐνεστώς &lt;i&gt;ook&lt;/i&gt; $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐνθυμέω
<span class='red'>&lt;tmp&gt;</span>ὅτι-&lt;i&gt;zin&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐνθύμιος
<span class='red'>&lt;tmp&gt;</span>(τὸ) ἐνθύμιον <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐνιαύσιος
<span class='red'>&lt;tmp&gt;</span>ἐνιαύσια jaarlijks.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐνιαυτός
<span class='red'>&lt;tmp&gt;</span>κατ’ ἐνιαυτόν <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐνίζω
<span class='red'>&lt;tmp&gt;</span>(<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἔνιοι
<span class='red'>&lt;tmp&gt;</span>ἔνιοι μέν ... ἔνιοι δέ <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐνίοτε
<span class='red'>&lt;tmp&gt;</span>ἐνίοτε μέν ... ἐνίοτε δέ <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐνίστημι
<span class='red'>&lt;tmp&gt;</span>ἐνέστην &lt;i&gt;en perf. act.&lt;/i&gt; ἐνέστηκα<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.39.0 v8.1.xml</span>
Warning: (lemma: ἐννοέω) Process::Bet<br/>Warning: (lemma: ἐννοέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὅτι &lt;i&gt;of&lt;/i&gt; $ <br/>Warning: (lemma: ἔννομος) Process::Meta<br/>Warning: (lemma: ἔννομος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἔννομος) Process::Meta<br/>Warning: (lemma: ἔννομος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἔννοος) Process::Meta<br/>Warning: (lemma: ἔννοος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐννοσίγαιος) Process::Meta<br/>Warning: (lemma: ἐννοσίγαιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐννύχιος) Process::Meta<br/>Warning: (lemma: ἐννύχιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἔννυχος) Process::Bet<br/>Warning: (lemma: ἔννυχος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἔννυχον &lt;i&gt;en&lt;/i&gt; ἔννυχα $ <br/>Warning: (lemma: ἐνόδιος) Process::Meta<br/>Warning: (lemma: ἐνόδιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐννοέω
<span class='red'>&lt;tmp&gt;</span>ὅτι &lt;i&gt;of&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἔννυχος
<span class='red'>&lt;tmp&gt;</span>ἔννυχον &lt;i&gt;en&lt;/i&gt; ἔννυχα <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.40.0 v8.1.xml</span>
Warning: (lemma: ἐνταῦθα) Process::Meta<br/>Warning: (lemma: ἐνταῦθα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐντάφιος) Process::Bet<br/>Warning: (lemma: ἐντάφιος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὰ ἐντάφια $ <br/>Warning: (lemma: ἐντείνω) Process::Bet<br/>Warning: (lemma: ἐντείνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐντεῖναι &amp;amp;lt;αὐτῶν&amp;amp;gt$ <br/>Warning: (lemma: ἐντεῦθεν) Process::Bet<br/>Warning: (lemma: ἐντεῦθεν)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ ἐντεῦθεν, τὰ ἐντεῦθεν<span class="space"></span><span class="space"></span>$ <br/>Warning: (lemma: ἐντεῦθεν) Process::Meta<br/>Warning: (lemma: ἐντεῦθεν)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐντήκω) Process::Bet<br/>Warning: (lemma: ἐντήκω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐνετακην &lt;i&gt;en perf.&lt;/i&gt; ἐντέτηκα $ <br/>Warning: (lemma: ἔντοσθεν) Process::Meta<br/>Warning: (lemma: ἔντοσθεν)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐντάφιος
<span class='red'>&lt;tmp&gt;</span>τὰ ἐντάφια <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐντείνω
<span class='red'>&lt;tmp&gt;</span>ἐντεῖναι &amp;amp;lt;αὐτῶν&amp;amp;gt<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐντεῦθεν
<span class='red'>&lt;tmp&gt;</span>τὸ ἐντεῦθεν, τὰ ἐντεῦθεν &lt;toel&gt;(met crasis &lt;link target=""&gt;τοὐντεῦθεν&lt;/link&gt;, &lt;link target=""&gt;τἀντεῦθεν&lt;/link&gt;)&lt;/toel&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐντήκω
<span class='red'>&lt;tmp&gt;</span>ἐνετακην &lt;i&gt;en perf.&lt;/i&gt; ἐντέτηκα <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.41.0 v8.1.xml</span>
Warning: (lemma: ἐντυγχάνω) Process::Bet<br/>Warning: (lemma: ἐντυγχάνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὅπως.$ <br/>Warning: (lemma: ἐνώπιος) Process::Bet<br/>Warning: (lemma: ἐνώπιος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐνώπιον &lt;i&gt;met gen.&lt;/i&gt; $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐντυγχάνω
<span class='red'>&lt;tmp&gt;</span>ὅπως.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐνώπιος
<span class='red'>&lt;tmp&gt;</span>ἐνώπιον &lt;i&gt;met gen.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.42.0 v8.1.xml</span>
Warning: (lemma: ἐξαίσιος) Process::Meta<br/>Warning: (lemma: ἐξαίσιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐξαιτέω) Process::Bet<br/>Warning: (lemma: ἐξαιτέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^1,3; $ <br/>Warning: (lemma: ἐξαιφνίδιος) Process::Meta<br/>Warning: (lemma: ἐξαιφνίδιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐξαιτέω
<span class='red'>&lt;tmp&gt;</span>1,3; <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.43.0 v8.1.xml</span>
Warning: (lemma: ἐξαλλάττω) Process::Bet<br/>Warning: (lemma: ἐξαλλάττω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^($ <br/>Warning: (lemma: ἐξαπιναῖος) Process::Meta<br/>Warning: (lemma: ἐξαπιναῖος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἑξαπλάσιος) Process::Meta<br/>Warning: (lemma: ἑξαπλάσιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐξαλλάττω
<span class='red'>&lt;tmp&gt;</span>(<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.44.0 v8.1.xml</span>
Warning: (lemma: ἑξάπους) Process::Meta<br/>Warning: (lemma: ἑξάπους)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐξάπτω) Process::Meta<br/>Warning: (lemma: ἐξάπτω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐξάπτω) Process::Meta<br/>Warning: (lemma: ἐξάπτω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐξαυτῆς) Process::Meta<br/>Warning: (lemma: ἐξαυτῆς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἑξάχοος) Process::Meta<br/>Warning: (lemma: ἑξάχοος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
Doing<span class='cyan'>migrator-build-dir/data/Epsilon.46.0 v8.1.xml</span>
Warning: (lemma: ἑξῆς) Process::Meta<br/>Warning: (lemma: ἑξῆς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
Doing<span class='cyan'>migrator-build-dir/data/Epsilon.49.0 v8.1.xml</span>
Warning: (lemma: ἑός) Process::Bet<br/>Warning: (lemma: ἑός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^αὐτοῦ; &lt;i&gt;plur.&lt;/i&gt; $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἑός
<span class='red'>&lt;tmp&gt;</span>αὐτοῦ; &lt;i&gt;plur.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.50.0 v8.1.xml</span>
Warning: (lemma: ἐπάγω) Process::Bet<br/>Warning: (lemma: ἐπάγω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^δίκην ἐ. τινι $ <br/>Warning: (lemma: ἐπαίνεσις) Process::Meta<br/>Warning: (lemma: ἐπαίνεσις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐπάγω
<span class='red'>&lt;tmp&gt;</span>δίκην ἐ. τινι <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.51.0 v8.1.xml</span>
Warning: (lemma: ἐπάκτιος) Process::Meta<br/>Warning: (lemma: ἐπάκτιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐπακτός) Process::Meta<br/>Warning: (lemma: ἐπακτός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
Doing<span class='cyan'>migrator-build-dir/data/Epsilon.52.0 v8.1.xml</span>
Warning: (lemma: ἐπάλληλος) Process::Meta<br/>Warning: (lemma: ἐπάλληλος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐπαμπέχω) Process::Bet<br/>Warning: (lemma: ἐπαμπέχω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;i&gt;met (acc. en) dat. v. zaak,&lt;b&gt;&lt;/b&gt; overdr.&lt;/i&gt;$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐπαμπέχω
<span class='red'>&lt;tmp&gt;</span>&lt;i&gt;met (acc. en) dat. v. zaak,&lt;b&gt;&lt;/b&gt; overdr.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.53.0 v8.1.xml</span>
Warning: (lemma: ἐπανίστημι) Process::Bet<br/>Warning: (lemma: ἐπανίστημι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐπανέστην &lt;i&gt;en perf.&lt;/i&gt; ἐπανέστηκα$ <br/>Warning: (lemma: ἐπανίστημι) Process::Bet<br/>Warning: (lemma: ἐπανίστημι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐπανίστω je moet opstaan!; &lt;i&gt;perf.&lt;/i&gt; $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐπανίστημι
<span class='red'>&lt;tmp&gt;</span>ἐπανέστην &lt;i&gt;en perf.&lt;/i&gt; ἐπανέστηκα<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.54.0 v8.1.xml</span>
* # total failures: 0<br/>
Doing<span class='cyan'>migrator-build-dir/data/Epsilon.56.0 v8.1.xml</span>
Warning: Vorm pass not successful for node ^ἐπεῖδον aor. bij ἐφοράω.$ <br/>Error: Error: Vorm pass failed for primary structure lemma ἐπεῖδον aor. bij ἐφοράω.<span class="space"></span><span class="space"></span>(Last successful lemma was ἐπεὶ)<br/>Warning: (lemma: ἔπειμι) Process::Meta<br/>Warning: (lemma: ἔπειμι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἔπειμι) Process::Bet<br/>Warning: (lemma: ἔπειμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐπί &lt;i&gt;of&lt;/i&gt; $ <br/>Warning: (lemma: ἔπειμι) Process::Meta<br/>Warning: (lemma: ἔπειμι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: Vorm pass not successful for node ^ἐπ-εῖπον aor. bij ἐπιλέγω.$ <br/>Error: Error: Vorm pass failed for primary structure lemma ἐπ-εῖπον aor. bij ἐπιλέγω.<span class="space"></span><span class="space"></span>(Last successful lemma was ἐπεί)<br/>Warning: (lemma: ἐπεισόδιος) Process::Bet<br/>Warning: (lemma: ἐπεισόδιος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^uitweiding $ <br/>Warning: Vorm pass not successful for node ^ἐπεκέκλητο plqperf. med. 3 sing. ἐπικαλέω.$ <br/>Error: Error: Vorm pass failed for primary structure lemma ἐπεκέκλητο plqperf. med. 3 sin ...<span class="space"></span><span class="space"></span>(Last successful lemma was ἐπεκέκλετο)<br/>
* # total failures: 3<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἔπειμι-2
<span class='red'>&lt;tmp&gt;</span>ἐπί &lt;i&gt;of&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐπεισόδιος
<span class='red'>&lt;tmp&gt;</span>uitweiding <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.57.0 v8.1.xml</span>
Warning: (lemma: ἐπενήνοθεν) Process::Meta<br/>Warning: (lemma: ἐπενήνοθεν)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐπεξέρχομαι) Process::Bet<br/>Warning: (lemma: ἐπεξέρχομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^wegens$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐπεξέρχομαι
<span class='red'>&lt;tmp&gt;</span>wegens<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.58.0 v8.1.xml</span>
Warning: (lemma: ἐπήβολος) Process::Meta<br/>Warning: (lemma: ἐπήβολος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐπηετανός) Process::Meta<br/>Warning: (lemma: ἐπηετανός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐπήκοος) Process::Meta<br/>Warning: (lemma: ἐπήκοος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἔπηλυς) Process::Meta<br/>Warning: (lemma: ἔπηλυς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
Doing<span class='cyan'>migrator-build-dir/data/Epsilon.63.0 v8.1.xml</span>
Warning: (lemma: ἐπιήρανος) Process::Meta<br/>Warning: (lemma: ἐπιήρανος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐπιήρανος) Process::Meta<br/>Warning: (lemma: ἐπιήρανος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐπιθαλαττίδιος) Process::Meta<br/>Warning: (lemma: ἐπιθαλαττίδιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐπιθαλάττιος) Process::Meta<br/>Warning: (lemma: ἐπιθαλάττιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐπίθετος) Process::Bet<br/>Warning: (lemma: ἐπίθετος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(10).6.$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐπίθετος
<span class='red'>&lt;tmp&gt;</span>(10).6.<span class='red'>&lt;/tmp&gt;</span>

