<style>
    .cyan { color: Teal }
    .bright_red { color: #741616 }
    .yellow { color: #7d6420 }
    .red { color: Crimson }
    .bright_blue { color: DarkBlue }
    .green { color: green }
    .blue { color: SlateBlue }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
Doing<span class='cyan'>migrator-build-dir/data/Epsilon.1.0 v8.1.xml</span>
Warning: (lemma: Ε_) Process::Bet<br/>Warning: (lemma: Ε_)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ε´ = 5; ͵ε = 5000.$ <br/>Warning: (lemma: Ε_) Process::Meta<br/>Warning: (lemma: Ε_)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἔ) Process::Bet<br/>Warning: (lemma: ἔ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἔ ἔ.$ <br/>Warning: (lemma: ἔα) Process::Meta<br/>Warning: (lemma: ἔα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐατέος) Process::Bet<br/>Warning: (lemma: ἐατέος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(οὐκ) ἐατέον (ἐστί) $ <br/>Warning: (lemma: ἑαυτοῦ) Process::Bet<br/>Warning: (lemma: ἑαυτοῦ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^αὐτὸς αὑτοῦ τοῦτ’ ἀποσκεδῶ μύσος ik zal zelf die bezoedeling van mijzelf verdrijven &lt;s&gt;Soph. &lt;i&gt;OT&lt;/i&gt;&lt;/s&gt; $ <br/>Warning: (lemma: ἑαυτοῦ) Process::Meta<br/>Warning: (lemma: ἑαυτοῦ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐάφθη) Process::Meta<br/>Warning: (lemma: ἐάφθη)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐάω) Process::Bet<br/>Warning: (lemma: ἐάω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^οὐ, μή $ <br/>Warning: (lemma: ἕβδομος) Process::Bet<br/>Warning: (lemma: ἕβδομος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἡ ἑβδόμη (ἡμέρα) $ <br/>Warning: Vorm pass not successful for node ^ἐγ- = ἐν- vóór κ, γ, χ, ξ.$ <br/>Error: Error: Vorm pass failed for primary structure lemma ἐγ- = ἐν- vóór κ, γ, χ, ξ.<span class="space"></span><span class="space"></span>(Last successful lemma was ἔβωσα)<br/>Warning: (lemma: ἔγγαιος) Process::Meta<br/>Warning: (lemma: ἔγγαιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐγγίγνομαι) Process::Bet<br/>Warning: (lemma: ἐγγίγνομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐγγίγνεται &lt;i&gt;met dat. en inf.&lt;/i&gt; $ <br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Ε
<span class='red'>&lt;tmp&gt;</span>ε´ = 5; ͵ε = 5000.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἔ
<span class='red'>&lt;tmp&gt;</span>ἔ ἔ.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐατέος
<span class='red'>&lt;tmp&gt;</span>(οὐκ) ἐατέον (ἐστί) <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἑαυτοῦ
<span class='red'>&lt;tmp&gt;</span>αὐτὸς αὑτοῦ τοῦτ’ ἀποσκεδῶ μύσος ik zal zelf die bezoedeling van mijzelf verdrijven &lt;s&gt;Soph. &lt;i&gt;OT&lt;/i&gt;&lt;/s&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐάω
<span class='red'>&lt;tmp&gt;</span>οὐ, μή <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἕβδομος
<span class='red'>&lt;tmp&gt;</span>ἡ ἑβδόμη (ἡμέρα) <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐγγίγνομαι
<span class='red'>&lt;tmp&gt;</span>ἐγγίγνεται &lt;i&gt;met dat. en inf.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.2.0 v8.1.xml</span>
Warning: (lemma: ἐγείρω) Process::Bet<br/>Warning: (lemma: ἐγείρω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἠγρόμην &lt;i&gt;en&lt;/i&gt; &lt;i&gt;aor. pass.&lt;/i&gt; ἠγέρθην; &lt;i&gt;perf.&lt;/i&gt; ἐγρήγορα)$ <br/>Warning: (lemma: ἐγείρω) Process::Bet<br/>Warning: (lemma: ἐγείρω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^15.20.$ <br/>Warning: Found a link in the content -- something probably won't work right.<br/>Warning: (lemma: ἐγκάθημαι) Process::Bet<br/>Warning: (lemma: ἐγκάθημαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^het ligt tussen beweging en stilstand in $ <br/>Warning: (lemma: ἐγκαίνια) Process::Meta<br/>Warning: (lemma: ἐγκαίνια)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐγκαίριος) Process::Meta<br/>Warning: (lemma: ἐγκαίριος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐγκαταδύνω) Process::Meta<br/>Warning: (lemma: ἐγκαταδύνω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐγκαταμείγνυμι) Process::Meta<br/>Warning: (lemma: ἐγκαταμείγνυμι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐγείρω
<span class='red'>&lt;tmp&gt;</span>ἠγρόμην &lt;i&gt;en&lt;/i&gt; &lt;i&gt;aor. pass.&lt;/i&gt; ἠγέρθην; &lt;i&gt;perf.&lt;/i&gt; ἐγρήγορα)<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐγκάθημαι
<span class='red'>&lt;tmp&gt;</span>het ligt tussen beweging en stilstand in <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.3.0 v8.1.xml</span>
Warning: (lemma: ἔγκοιλος) Process::Bet<br/>Warning: (lemma: ἔγκοιλος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὰ ἔγκοιλα de holten.$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἔγκοιλος
<span class='red'>&lt;tmp&gt;</span>τὰ ἔγκοιλα de holten.<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.4.0 v8.1.xml</span>
Warning: (lemma: ἐγκώμιος) Process::Meta<br/>Warning: (lemma: ἐγκώμιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐγκώμιος) Process::Meta<br/>Warning: (lemma: ἐγκώμιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐγχέλειον) Process::Bet<br/>Warning: (lemma: ἐγχέλειον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἔγχελυς, $ <br/>Warning: (lemma: ἔγχελυς) Process::Meta<br/>Warning: (lemma: ἔγχελυς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐγχυτρίστρια) Process::Meta<br/>Warning: (lemma: ἐγχυτρίστρια)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐγχώριος) Process::Meta<br/>Warning: (lemma: ἐγχώριος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐδανός) Process::Meta<br/>Warning: (lemma: ἐδανός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐδανός) Process::Bet<br/>Warning: (lemma: ἐδανός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^t$ <br/>Warning: (lemma: ἐδανός) Process::Meta<br/>Warning: (lemma: ἐδανός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: Vorm pass not successful for node ^ἔδεισα aor. act. bij δέδοικα.$ <br/>Error: Error: Vorm pass failed for primary structure lemma ἔδεισα aor. act. bij δέδοικα.<span class="space"></span><span class="space"></span>(Last successful lemma was ἔδειρα)<br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐγχέλειον
<span class='red'>&lt;tmp&gt;</span>ἔγχελυς, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐδανός-2
<span class='red'>&lt;tmp&gt;</span>t&lt;!-- .--&gt;<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.5.0 v8.2.xml</span>
Warning: (lemma: ἑδραῖος) Process::Meta<br/>Warning: (lemma: ἑδραῖος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: Vorm pass not successful for node ^ἔδραμον indic. aor. act.van τρέχω.$ <br/>Error: Error: Vorm pass failed for primary structure lemma ἔδραμον indic. aor. act.van τρ ...<span class="space"></span><span class="space"></span>(Last successful lemma was ἔδρακον)<br/>Warning: Vorm pass not successful for node ^ἔδρησα Ion. indic. aor. act.van δράω.$ <br/>Error: Error: Vorm pass failed for primary structure lemma ἔδρησα Ion. indic. aor. act.va ...<span class="space"></span><span class="space"></span>(Last successful lemma was ἕδρη)<br/>Warning: Vorm pass not successful for node ^ἔδωκα indic. aor. act.van δίδωμι.$ <br/>Error: Error: Vorm pass failed for primary structure lemma ἔδωκα indic. aor. act.van δίδω ...<span class="space"></span><span class="space"></span>(Last successful lemma was ἐδωδός)<br/>
* # total failures: 3<br/>
Doing<span class='cyan'>migrator-build-dir/data/Epsilon.7.0 v8.1.xml</span>
Warning: (lemma: εἶα) Process::Meta<br/>Warning: (lemma: εἶα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
Doing<span class='cyan'>migrator-build-dir/data/Epsilon.10.0 v8.1.xml</span>
Warning: (lemma: εἰκών) Process::Meta<br/>Warning: (lemma: εἰκών)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εἶλαρ) Process::Meta<br/>Warning: (lemma: εἶλαρ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εἰλεός) Process::Meta<br/>Warning: (lemma: εἰλεός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εἰλεός) Process::Bet<br/>Warning: (lemma: εἰλεός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εἰ. ἰκτερώδης $ <br/>Warning: (lemma: εἰλεός) Process::Bet<br/>Warning: (lemma: εἰλεός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εἰ. αἱματίτης $ <br/>Warning: (lemma: εἰλεός) Process::Meta<br/>Warning: (lemma: εἰλεός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εἰλέω) Process::Meta<br/>Warning: (lemma: εἰλέω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εἰλέω) Process::Meta<br/>Warning: (lemma: εἰλέω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εἱλέω) Process::Meta<br/>Warning: (lemma: εἱλέω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>εἰλεός-2
<span class='red'>&lt;tmp&gt;</span>εἰ. ἰκτερώδης <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.12.0 v8.1.xml</span>
Warning: (lemma: εἰπεῖν) Process::Bet<br/>Warning: (lemma: εἰπεῖν)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὅτι &lt;i&gt;of&lt;/i&gt; $ <br/>Warning: (lemma: εἰπεῖν) Process::Bet<br/>Warning: (lemma: εἰπεῖν)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὡς (ἔπος) εἰπεῖν om zo te zeggen$ <br/>Warning: (lemma: εἰπεῖν) Process::Bet<br/>Warning: (lemma: εἰπεῖν)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εἰπέ zeg eens, &lt;i&gt;ook gebruikt om meerdere mensen aan te spreken&lt;/i&gt;$ <br/>Warning: (lemma: εἴργω) Process::Bet<br/>Warning: (lemma: εἴργω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^μή &lt;i&gt;of&lt;/i&gt; (τὸ) μὴ οὐ &lt;i&gt;en inf.&lt;/i&gt;$ <br/>Warning: (lemma: εἴργω) Process::Bet<br/>Warning: (lemma: εἴργω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὥστε (μή) &lt;i&gt;en inf.&lt;/i&gt;$ <br/>Warning: (lemma: εἰρκτή) Process::Meta<br/>Warning: (lemma: εἰρκτή)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εἴρω) Process::Meta<br/>Warning: (lemma: εἴρω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εἴρω) Process::Meta<br/>Warning: (lemma: εἴρω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>εἰπεῖν
<span class='red'>&lt;tmp&gt;</span>ὅτι &lt;i&gt;of&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>εἴργω
<span class='red'>&lt;tmp&gt;</span>μή &lt;i&gt;of&lt;/i&gt; (τὸ) μὴ οὐ &lt;i&gt;en inf.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.14.0 v8.1.xml</span>
Warning: (lemma: εἰσακούω) Process::Bet<br/>Warning: (lemma: εἰσακούω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(= ἀκούω) $ <br/>Warning: (lemma: εἰσάντα) Process::Meta<br/>Warning: (lemma: εἰσάντα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εἰσαυτίκα) Process::Meta<br/>Warning: (lemma: εἰσαυτίκα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εἰσβαίνω) Process::Bet<br/>Warning: (lemma: εἰσβαίνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εἰσέβησα &lt;i&gt;en fut. act.&lt;/i&gt; εἰσβήσω $ <br/>Warning: (lemma: εἰσέτι) Process::Meta<br/>Warning: (lemma: εἰσέτι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>εἰσακούω
<span class='red'>&lt;tmp&gt;</span>(= ἀκούω) <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>εἰσβαίνω
<span class='red'>&lt;tmp&gt;</span>εἰσέβησα &lt;i&gt;en fut. act.&lt;/i&gt; εἰσβήσω <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.15.0 v8.1.xml</span>
Warning: (lemma: εἰσόκεν) Process::Meta<br/>Warning: (lemma: εἰσόκεν)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εἰσότε) Process::Meta<br/>Warning: (lemma: εἰσότε)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
Doing<span class='cyan'>migrator-build-dir/data/Epsilon.16.0 v8.1.xml</span>
Warning: (lemma: εἴσω) Process::Bet<br/>Warning: (lemma: εἴσω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^($ <br/>Warning: (lemma: εἴσω) Process::Meta<br/>Warning: (lemma: εἴσω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εἴσ) Process::Bet<br/>Warning: (lemma: εἴσ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^: ($ <br/>Warning: (lemma: εἴσ) Process::Meta<br/>Warning: (lemma: εἴσ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εἴτε) Process::Bet<br/>Warning: (lemma: εἴτε)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εἴτε ... εἴτε $ <br/>Warning: (lemma: εἴτε) Process::Bet<br/>Warning: (lemma: εἴτε)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εἴτε &lt;i&gt;alleen in tweede deel&lt;/i&gt;$ <br/>Warning: (lemma: εἴτε) Process::Meta<br/>Warning: (lemma: εἴτε)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>εἴσω-1
<span class='red'>&lt;tmp&gt;</span>(<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>εἴσ-2
<span class='red'>&lt;tmp&gt;</span>: (<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>εἴτε
<span class='red'>&lt;tmp&gt;</span>εἴτε ... εἴτε <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.19.0 v8.1.xml</span>
Warning: (lemma: ἐκγίγνομαι) Process::Meta<br/>Warning: (lemma: ἐκγίγνομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
Doing<span class='cyan'>migrator-build-dir/data/Epsilon.20.0 v8.1.xml</span>
Warning: Vorm pass not successful for node ^<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Versie<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Datum<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Auteur<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Aanpassingen<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>6.0<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>2-4-2014<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>JR<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Invoer lemmata<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>6.1<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>20-11-2017<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>LvB<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Voorbereid voor Ton, aangepast aan stijlgids<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>6.2<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>27-11-2017<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>TK<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Bewerking lemmata<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>7.0<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>13-01-2018<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>IS<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Hoofdredactie: klaar<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>8.0<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>19-1-2018<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>LvB<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>Voorb migratie<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>$ <br/>Error: Error: Vorm pass failed for primary structure lemma <br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/> ...<span class="space"></span><span class="space"></span>(Last successful lemma was [none])<br/>Warning: (lemma: ἔκδυσις) Process::Meta<br/>Warning: (lemma: ἔκδυσις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐκδύω) Process::Bet<br/>Warning: (lemma: ἐκδύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;i&gt;of$ <br/>Warning: (lemma: ἐκδύω) Process::Bet<br/>Warning: (lemma: ἐκδύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^act. en med.&lt;/i&gt;$ <br/>Warning: (lemma: ἐκεῖθεν) Process::Bet<br/>Warning: (lemma: ἐκεῖθεν)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ ἐκεῖθεν, τοὐκεῖθεν $ <br/>Warning: (lemma: ἐκεῖθεν) Process::Meta<br/>Warning: (lemma: ἐκεῖθεν)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐκεῖθι) Process::Meta<br/>Warning: (lemma: ἐκεῖθι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐκεῖνος) Process::Bet<br/>Warning: (lemma: ἐκεῖνος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^οὗτος ἐ. &lt;i&gt;en&lt;/i&gt; ὅδ’ ἐ. $ <br/>Warning: (lemma: ἐκεῖνος) Process::Bet<br/>Warning: (lemma: ἐκεῖνος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(ἐ)κείνως $ <br/>Warning: (lemma: ἐκεῖνος) Process::Bet<br/>Warning: (lemma: ἐκεῖνος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἀπ’/ἐξ ἐκείνου $ <br/>Warning: (lemma: ἐκεῖνος) Process::Meta<br/>Warning: (lemma: ἐκεῖνος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐκεῖσε) Process::Bet<br/>Warning: (lemma: ἐκεῖσε)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐ. καὶ ἐ. &lt;i&gt;of&lt;/i&gt; δεῦρο καὶ ἐ. &lt;i&gt;of&lt;/i&gt; κἀκεῖσε καὶ τὸ δεῦρο &lt;i&gt;of&lt;/i&gt; ἐκεῖσε κᾆτ’ ἐκεῖσε $ <br/>Warning: (lemma: ἐκεῖσε) Process::Meta<br/>Warning: (lemma: ἐκεῖσε)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἕκηλος) Process::Meta<br/>Warning: (lemma: ἕκηλος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἔκθυσις) Process::Meta<br/>Warning: (lemma: ἔκθυσις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἔκθυσις) Process::Meta<br/>Warning: (lemma: ἔκθυσις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐκθύω) Process::Meta<br/>Warning: (lemma: ἐκθύω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐκθύω) Process::Meta<br/>Warning: (lemma: ἐκθύω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐκδύω
<span class='red'>&lt;tmp&gt;</span>&lt;i&gt;of<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐκεῖθεν
<span class='red'>&lt;tmp&gt;</span>τὸ ἐκεῖθεν, τοὐκεῖθεν <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐκεῖνος
<span class='red'>&lt;tmp&gt;</span>οὗτος ἐ. &lt;i&gt;en&lt;/i&gt; ὅδ’ ἐ. <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐκεῖσε
<span class='red'>&lt;tmp&gt;</span>ἐ. καὶ ἐ. &lt;i&gt;of&lt;/i&gt; δεῦρο καὶ ἐ. &lt;i&gt;of&lt;/i&gt; κἀκεῖσε καὶ τὸ δεῦρο &lt;i&gt;of&lt;/i&gt; ἐκεῖσε κᾆτ’ ἐκεῖσε <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.21.0 v8.1.xml</span>
Warning: (lemma: ἐκκηρύττω) Process::Bet<br/>Warning: (lemma: ἐκκηρύττω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^de $ <br/>Warning: (lemma: ἐκλανθάνω) Process::Bet<br/>Warning: (lemma: ἐκλανθάνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐξέλησα, &lt;i&gt;Aeol.&lt;/i&gt; ἐξέλασα &lt;i&gt;en them. aor.&lt;/i&gt; ἐκλέλαθον $ <br/>Warning: Vorm pass not successful for node ^ἐκλαπάζω [ἐκ, ἀλαπάζω] uitsmijten.$ <br/>Error: Error: Vorm pass failed for primary structure lemma ἐκλαπάζω [ἐκ, ἀλαπάζω] uitsmij ...<span class="space"></span><span class="space"></span>(Last successful lemma was ἐκλανθάνω)<br/>Warning: Vorm pass not successful for node ^ἐκλεικτόν -οῦ, τό [ἐκλείχω] medicijn om op te likken, zuigtablet Hp.$ <br/>Error: Error: Vorm pass failed for primary structure lemma ἐκλεικτόν -οῦ, τό [ἐκλείχω] me ...<span class="space"></span><span class="space"></span>(Last successful lemma was ἐκλέγω)<br/>
* # total failures: 2<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐκκηρύττω
<span class='red'>&lt;tmp&gt;</span>de <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐκλανθάνω
<span class='red'>&lt;tmp&gt;</span>ἐξέλησα, &lt;i&gt;Aeol.&lt;/i&gt; ἐξέλασα &lt;i&gt;en them. aor.&lt;/i&gt; ἐκλέλαθον <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.22.0 v8.1.xml</span>
Warning: (lemma: ἐκλύω) Process::Bet<br/>Warning: (lemma: ἐκλύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^($ <br/>Warning: (lemma: ἔκνομος) Process::Bet<br/>Warning: (lemma: ἔκνομος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐκνόμως &lt;i&gt;afwijkend van de juiste maat&lt;/i&gt; $ <br/>Warning: (lemma: ἑκούσιος) Process::Bet<br/>Warning: (lemma: ἑκούσιος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐξ ἑκουσίας &lt;i&gt;of&lt;/i&gt; καθ’ ἑκουσίαν $ <br/>Warning: (lemma: ἑκούσιος) Process::Meta<br/>Warning: (lemma: ἑκούσιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐκλύω
<span class='red'>&lt;tmp&gt;</span>(<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἔκνομος
<span class='red'>&lt;tmp&gt;</span>ἐκνόμως &lt;i&gt;afwijkend van de juiste maat&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἑκούσιος
<span class='red'>&lt;tmp&gt;</span>ἐξ ἑκουσίας &lt;i&gt;of&lt;/i&gt; καθ’ ἑκουσίαν <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.23.0 v8.1.xml</span>
Warning: (lemma: ἔκπνους) Process::Meta<br/>Warning: (lemma: ἔκπνους)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
Doing<span class='cyan'>migrator-build-dir/data/Epsilon.24.0 v8.1.xml</span>
Warning: (lemma: ἐκπράττω) Process::Bet<br/>Warning: (lemma: ἐκπράττω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὡς &lt;i&gt;of&lt;/i&gt; $ <br/>Warning: (lemma: ἐκρέω) Process::Bet<br/>Warning: (lemma: ἐκρέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^130e$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐκπράττω
<span class='red'>&lt;tmp&gt;</span>ὡς &lt;i&gt;of&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐκρέω
<span class='red'>&lt;tmp&gt;</span>130e<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.25.0 v8.1.xml</span>
Warning: (lemma: ἔκτοσθεν) Process::Meta<br/>Warning: (lemma: ἔκτοσθεν)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐκτρέπω) Process::Bet<br/>Warning: (lemma: ἐκτρέπω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^6.20; &lt;i&gt;met inf.&lt;/i&gt;$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐκτρέπω
<span class='red'>&lt;tmp&gt;</span>6.20; &lt;i&gt;met inf.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.26.0 v8.1.xml</span>
Warning: (lemma: ἐκφέρω) Process::Bet<br/>Warning: (lemma: ἐκφέρω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὡς-&lt;i&gt;zin&lt;/i&gt;$ <br/>Warning: (lemma: ἐκφεύγω) Process::Bet<br/>Warning: (lemma: ἐκφεύγω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^οὐκ ἐκφεύγειν &lt;i&gt;met&lt;/i&gt; μὴ οὐ + &lt;i&gt;inf.&lt;/i&gt;$ <br/>Warning: (lemma: ἐκφλυνδάνω) Process::Bet<br/>Warning: (lemma: ἐκφλυνδάνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(zweren) $ <br/>Warning: (lemma: ἐκφοβέω) Process::Bet<br/>Warning: (lemma: ἐκφοβέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐκ &lt;i&gt;+ gen.&lt;/i&gt;$ <br/>Warning: (lemma: ἐκφύω) Process::Bet<br/>Warning: (lemma: ἐκφύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐξέφυν &lt;i&gt;en perf.&lt;/i&gt; ἐκπέφυκα $ <br/>Warning: (lemma: ἐκχέω) Process::Bet<br/>Warning: (lemma: ἐκχέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^($ <br/>Warning: (lemma: ἐκχράω) Process::Meta<br/>Warning: (lemma: ἐκχράω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐκχράω) Process::Meta<br/>Warning: (lemma: ἐκχράω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐκφέρω
<span class='red'>&lt;tmp&gt;</span>ὡς-&lt;i&gt;zin&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐκφεύγω
<span class='red'>&lt;tmp&gt;</span>οὐκ ἐκφεύγειν &lt;i&gt;met&lt;/i&gt; μὴ οὐ + &lt;i&gt;inf.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐκφλυνδάνω
<span class='red'>&lt;tmp&gt;</span>(zweren) <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐκφοβέω
<span class='red'>&lt;tmp&gt;</span>ἐκ &lt;i&gt;+ gen.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐκφύω
<span class='red'>&lt;tmp&gt;</span>ἐξέφυν &lt;i&gt;en perf.&lt;/i&gt; ἐκπέφυκα <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐκχέω
<span class='red'>&lt;tmp&gt;</span>(<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.27.0 v8.1.xml</span>
Warning: (lemma: ἐκχύννω) Process::Meta<br/>Warning: (lemma: ἐκχύννω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἔκχυτος) Process::Bet<br/>Warning: (lemma: ἔκχυτος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ ἔκχυτον &lt;i&gt;bet. onzeker&lt;/i&gt; $ <br/>Warning: (lemma: ἐλάϊνος) Process::Meta<br/>Warning: (lemma: ἐλάϊνος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐλαιοφόρος) Process::Meta<br/>Warning: (lemma: ἐλαιοφόρος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐλατήριος) Process::Bet<br/>Warning: (lemma: ἐλατήριος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ ἐλατήριον, $ <br/>Warning: (lemma: ἐλάτινος) Process::Meta<br/>Warning: (lemma: ἐλάτινος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἔκχυτος
<span class='red'>&lt;tmp&gt;</span>τὸ ἔκχυτον &lt;i&gt;bet. onzeker&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐλατήριος
<span class='red'>&lt;tmp&gt;</span>τὸ ἐλατήριον, <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.28.0 v8.1.xml</span>
Warning: (lemma: ἐλαφηβόλος) Process::Meta<br/>Warning: (lemma: ἐλαφηβόλος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: Vorm pass not successful for node ^ἐλαχιστότερος, comp. bij ἐλάχιστος: ἐμοὶ τῷ ἐλαχιστοτέρῳ aan mij, de allerminste ΝΤ Eph. 3.8.$ <br/>Error: Error: Vorm pass failed for primary structure lemma ἐλαχιστότερος, comp. bij ἐλάχι ...<span class="space"></span><span class="space"></span>(Last successful lemma was ἐλάχιστος)<br/>Warning: (lemma: ἐλεᾶς) Process::Meta<br/>Warning: (lemma: ἐλεᾶς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐλεγχής) Process::Bet<br/>Warning: (lemma: ἐλεγχής)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐλέγχιστος.$ <br/>Warning: (lemma: ἔλεγχος) Process::Meta<br/>Warning: (lemma: ἔλεγχος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἔλεγχος) Process::Meta<br/>Warning: (lemma: ἔλεγχος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐλεεινός) Process::Meta<br/>Warning: (lemma: ἐλεεινός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἕλειος) Process::Meta<br/>Warning: (lemma: ἕλειος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐλελίζω) Process::Meta<br/>Warning: (lemma: ἐλελίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐλελίζω) Process::Meta<br/>Warning: (lemma: ἐλελίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐλελίζω) Process::Meta<br/>Warning: (lemma: ἐλελίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐλεόν) Process::Meta<br/>Warning: (lemma: ἐλεόν)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐλεόν) Process::Meta<br/>Warning: (lemma: ἐλεόν)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: Vorm pass not successful for node ^ἕλεσκε indic. aor. act. 3 sing. αἱρέω.$ <br/>Error: Error: Vorm pass failed for primary structure lemma ἕλεσκε indic. aor. act. 3 sing ...<span class="space"></span><span class="space"></span>(Last successful lemma was ἑλέσθαι)<br/>Warning: (lemma: ἐλευθέριος) Process::Bet<br/>Warning: (lemma: ἐλευθέριος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^van Zeus.$ <br/>Warning: (lemma: ἐλευθέριος) Process::Meta<br/>Warning: (lemma: ἐλευθέριος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 2<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐλεγχής
<span class='red'>&lt;tmp&gt;</span>ἐλέγχιστος.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐλευθέριος
<span class='red'>&lt;tmp&gt;</span>van Zeus.<span class='red'>&lt;/tmp&gt;</span>

