<style>
    .red { color: Crimson }
    .cyan { color: Teal }
    .bright_red { color: #741616 }
    .blue { color: SlateBlue }
    .bright_blue { color: DarkBlue }
    .yellow { color: #7d6420 }
    .green { color: green }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
Doing<span class='cyan'>migrator-build-dir/data/Tau.8.0 v8.1.xml</span>
Warning: (lemma: τετράγυος) Process::Bet<br/>Warning: (lemma: τετράγυος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ τετράγυιον stuk land van vier morgens .$ <br/>Warning: (lemma: τετραετής) Process::Meta<br/>Warning: (lemma: τετραετής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τετράκις) Process::Meta<br/>Warning: (lemma: τετράκις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τετράκνημος) Process::Meta<br/>Warning: (lemma: τετράκνημος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τετράμετρος) Process::Bet<br/>Warning: (lemma: τετράμετρος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ τετράμετρον (&lt;i&gt;trochaeïsche&lt;/i&gt;$ <br/>Warning: (lemma: τετράορος) Process::Meta<br/>Warning: (lemma: τετράορος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τετράπεδος) Process::Bet<br/>Warning: (lemma: τετράπεδος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(± 1.20 m.).$ <br/>Warning: (lemma: τετράπηχυς) Process::Bet<br/>Warning: (lemma: τετράπηχυς)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(± 1.80 m.).$ <br/>Warning: (lemma: τετράπηχυς) Process::Meta<br/>Warning: (lemma: τετράπηχυς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τετραπλοῦς) Process::Meta<br/>Warning: (lemma: τετραπλοῦς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τετράπους) Process::Bet<br/>Warning: (lemma: τετράπους)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(± 1.20 m.).$ <br/>Warning: (lemma: τετράπους) Process::Meta<br/>Warning: (lemma: τετράπους)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τετταράκοντα) Process::Meta<br/>Warning: (lemma: τετταράκοντα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τετταρακοσταῖος) Process::Meta<br/>Warning: (lemma: τετταρακοσταῖος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τετταρακοστός) Process::Meta<br/>Warning: (lemma: τετταρακοστός)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τετράγυος
<span class='red'>&lt;tmp&gt;</span>τὸ τετράγυιον stuk land van vier morgens &lt;toel&gt;(dat men in vier morgens kan omploegen)&lt;/toel&gt;.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τετράμετρος
<span class='red'>&lt;tmp&gt;</span>τὸ τετράμετρον (&lt;i&gt;trochaeïsche&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τετράπεδος
<span class='red'>&lt;tmp&gt;</span>(± 1.20 m.).<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τετράπηχυς
<span class='red'>&lt;tmp&gt;</span>(± 1.80 m.).<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τετράπους
<span class='red'>&lt;tmp&gt;</span>(± 1.20 m.).<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Tau.16.0 v8.1.xml</span>
Warning: (lemma: τραπέζιον) Process::Bet<br/>Warning: (lemma: τραπέζιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τράπεζα, $ <br/>Warning: (lemma: τραυματίας) Process::Meta<br/>Warning: (lemma: τραυματίας)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τραυμάτιον) Process::Bet<br/>Warning: (lemma: τραυμάτιον)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τραῦμα, $ <br/>Warning: (lemma: τρεῖς) Process::Meta<br/>Warning: (lemma: τρεῖς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τρεισκαίδεκα) Process::Meta<br/>Warning: (lemma: τρεισκαίδεκα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: τρεισκαιδέκατος) Process::Meta<br/>Warning: (lemma: τρεισκαιδέκατος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τραπέζιον
<span class='red'>&lt;tmp&gt;</span>τράπεζα, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>τραυμάτιον
<span class='red'>&lt;tmp&gt;</span>τραῦμα, <span class='red'>&lt;/tmp&gt;</span>

