<style>
    .cyan { color: Teal }
    .red { color: Crimson }
    .bright_blue { color: DarkBlue }
    .green { color: green }
    .yellow { color: #7d6420 }
    .blue { color: SlateBlue }
    .bright_red { color: #741616 }
/*
p { line-height: .8em }
*/
span.space {
    display: inline-block;
    width: 5px;
}
body { 
    background: #EEEEEE;
    font-family: monospace;
}
</style>


<pre>
Doing<span class='cyan'>migrator-build-dir/data/Epsilon.13.0 v8.1.xml</span>
Warning: (lemma: εἷς) Process::Bet<br/>Warning: (lemma: εἷς)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εἷς καὶ εἰκοστός eenentwintigste$ <br/>Warning: (lemma: εἷς) Process::Bet<br/>Warning: (lemma: εἷς)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^μόνος &lt;i&gt;of&lt;/i&gt; $ <br/>Warning: (lemma: εἷς) Process::Bet<br/>Warning: (lemma: εἷς)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^καθ’ ἕν γίγνεσθαι &lt;i&gt;of&lt;/i&gt; εἶναι $ <br/>Warning: (lemma: εἷς) Process::Meta<br/>Warning: (lemma: εἷς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>εἷς
<span class='red'>&lt;tmp&gt;</span>εἷς καὶ εἰκοστός eenentwintigste<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.18.0 v8.1.xml</span>
Warning: (lemma: ἑκάτερθε) Process::Meta<br/>Warning: (lemma: ἑκάτερθε)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἕκητι) Process::Meta<br/>Warning: (lemma: ἕκητι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἑκατόγχειρ) Process::Meta<br/>Warning: (lemma: ἑκατόγχειρ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἑκατονταετής) Process::Meta<br/>Warning: (lemma: ἑκατονταετής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἑκατοντακάρανος) Process::Meta<br/>Warning: (lemma: ἑκατοντακάρανος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
Doing<span class='cyan'>migrator-build-dir/data/Epsilon.31.0 v8.1.xml</span>
Warning: (lemma: ἑμέρα) Process::Bet<br/>Warning: (lemma: ἑμέρα)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἡμέρα $ <br/>Warning: (lemma: ἐμετήριον) Process::Meta<br/>Warning: (lemma: ἐμετήριον)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐμμενής) Process::Bet<br/>Warning: (lemma: ἐμμενής)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐμμενέως, ἐμμενές $ <br/>Warning: (lemma: ἐμός) Process::Bet<br/>Warning: (lemma: ἐμός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ ἐμόν, τὰ ἐμά $ <br/>Warning: (lemma: ἐμός) Process::Bet<br/>Warning: (lemma: ἐμός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐμόν (ἐστί) + &lt;i&gt;inf.&lt;/i&gt; $ <br/>Warning: (lemma: ἐμός) Process::Bet<br/>Warning: (lemma: ἐμός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἡ ἐμή (γῆ) $ <br/>Warning: (lemma: ἐμός) Process::Bet<br/>Warning: (lemma: ἐμός)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἡ ἐμή (γνώμη) $ <br/>Warning: (lemma: ἔμπαιος) Process::Meta<br/>Warning: (lemma: ἔμπαιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἔμπαιος) Process::Meta<br/>Warning: (lemma: ἔμπαιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἔμπαλιν) Process::Bet<br/>Warning: (lemma: ἔμπαλιν)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ ἔμπαλιν, τὰ ἔμπαλιν<span class="space"></span><span class="space"></span>$ <br/>Warning: (lemma: ἔμπαλιν) Process::Bet<br/>Warning: (lemma: ἔμπαλιν)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἤ &lt;i&gt;of gen. comp. of dat.&lt;/i&gt;$ <br/>Warning: (lemma: ἔμπαλιν) Process::Meta<br/>Warning: (lemma: ἔμπαλιν)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἔμπας) Process::Meta<br/>Warning: (lemma: ἔμπας)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἔμπεδος) Process::Meta<br/>Warning: (lemma: ἔμπεδος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἔμπεδος) Process::Meta<br/>Warning: (lemma: ἔμπεδος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐμπερόναμα) Process::Meta<br/>Warning: (lemma: ἐμπερόναμα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἑμέρα
<span class='red'>&lt;tmp&gt;</span>ἡμέρα <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐμμενής
<span class='red'>&lt;tmp&gt;</span>ἐμμενέως, ἐμμενές <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐμός
<span class='red'>&lt;tmp&gt;</span>τὸ ἐμόν, τὰ ἐμά <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἔμπαλιν
<span class='red'>&lt;tmp&gt;</span>τὸ ἔμπαλιν, τὰ ἔμπαλιν &lt;toel&gt;(met crasis &lt;link target=""&gt;τοὔμπαλιν&lt;/link&gt;, &lt;link target=""&gt;τἄμπαλιν&lt;/link&gt;)&lt;/toel&gt; <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.32.0 v8.1.xml</span>
Warning: (lemma: ἐμπίμπρημι) Process::Bet<br/>Warning: (lemma: ἐμπίμπρημι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐ. πυρός &lt;i&gt;of&lt;/i&gt; πυρί, &lt;i&gt;met acc.&lt;/i&gt;$ <br/>Warning: (lemma: ἐμπίπτω) Process::Bet<br/>Warning: (lemma: ἐμπίπτω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τούτους δὲ ἐμπεσεῖν μὲν εἰς τὸν Τάρταρον ἀνάγκη zij worden onvermijdelijk in de Tartarυs geworpen $ <br/>Warning: Vorm pass not successful for node ^ἔμπλητο ep. indic. aor. med. 3 sing. ἐμπίμπλημι.$ <br/>Error: Error: Vorm pass failed for primary structure lemma ἔμπλητο ep. indic. aor. med. 3 ...<span class="space"></span><span class="space"></span>(Last successful lemma was ἐμπληστέος)<br/>Warning: (lemma: ἔμπνους) Process::Meta<br/>Warning: (lemma: ἔμπνους)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐμποδίζω) Process::Bet<br/>Warning: (lemma: ἐμποδίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^μή &lt;i&gt;en inf.&lt;/i&gt; $ <br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐμπίμπρημι
<span class='red'>&lt;tmp&gt;</span>ἐ. πυρός &lt;i&gt;of&lt;/i&gt; πυρί, &lt;i&gt;met acc.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐμπίπτω
<span class='red'>&lt;tmp&gt;</span>τούτους δὲ ἐμπεσεῖν μὲν εἰς τὸν Τάρταρον ἀνάγκη zij worden onvermijdelijk in de Tartarυs geworpen <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐμποδίζω
<span class='red'>&lt;tmp&gt;</span>μή &lt;i&gt;en inf.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.34.0 v8.3.xml</span>
Warning: (lemma: ἐμφυσάω) Process::Bet<br/>Warning: (lemma: ἐμφυσάω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^(een fluit$ <br/>Warning: (lemma: ἐμφύω) Process::Bet<br/>Warning: (lemma: ἐμφύω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐνέφυν &lt;i&gt;en perf.&lt;/i&gt; ἐμπέφυ(κ)α$ <br/>Warning: (lemma: ἐν) Process::Bet<br/>Warning: (lemma: ἐν)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἔνι = ἔνεστι &lt;i&gt;of&lt;/i&gt; ἔνεισι $ <br/>Warning: (lemma: ἐν) Process::Bet<br/>Warning: (lemma: ἐν)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐνναίω; $ <br/>Warning: (lemma: ἐν) Process::Bet<br/>Warning: (lemma: ἐν)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐμβασιλεύω, &lt;i&gt;van richting,&lt;/i&gt; $ <br/>Warning: (lemma: ἐν) Process::Bet<br/>Warning: (lemma: ἐν)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐμβάλλω.$ <br/>Warning: (lemma: ἐν) Process::Bet<br/>Warning: (lemma: ἐν)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἔμφωνος, ἔναιμος$ <br/>Warning: (lemma: ἐν) Process::Meta<br/>Warning: (lemma: ἐν)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Error: (lemma: ἐ) Error: Unexpected:no text:p inside list-item<br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><br/><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>... (Last successful lemma was ἐν-1)<br/>Warning: (lemma: ἐναγής) Process::Meta<br/>Warning: (lemma: ἐναγής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐναγής) Process::Meta<br/>Warning: (lemma: ἐναγής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐνάγω) Process::Bet<br/>Warning: (lemma: ἐνάγω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὥστε &lt;i&gt;en inf.&lt;/i&gt;$ <br/>Warning: (lemma: ἔναιμος) Process::Bet<br/>Warning: (lemma: ἔναιμος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἔναιμον καὶ πυκνόν, οἷον ἦπαρ doorbloed en stevig, zoals een lever &lt;s&gt;$ <br/>Warning: (lemma: ἔναιμος) Process::Bet<br/>Warning: (lemma: ἔναιμος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;/s&gt; 22; &lt;i&gt;subst.&lt;/i&gt; $ <br/>Warning: (lemma: ἐνάκις) Process::Meta<br/>Warning: (lemma: ἐνάκις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐνακισχίλιοι) Process::Meta<br/>Warning: (lemma: ἐνακισχίλιοι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐνακόσιοι) Process::Meta<br/>Warning: (lemma: ἐνακόσιοι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐνάλιος) Process::Meta<br/>Warning: (lemma: ἐνάλιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐναντίος) Process::Bet<br/>Warning: (lemma: ἐναντίος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ ἐναντίον, τοὐναντίον, τὰ ἐναντία en τἀναντία $ <br/>Warning: (lemma: ἐναντίος) Process::Bet<br/>Warning: (lemma: ἐναντίος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τοὐναντίον en τἀναντία $ <br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐμφυσάω
<span class='red'>&lt;tmp&gt;</span>(een fluit<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐμφύω
<span class='red'>&lt;tmp&gt;</span>ἐνέφυν &lt;i&gt;en perf.&lt;/i&gt; ἐμπέφυ(κ)α<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐν-1
<span class='red'>&lt;tmp&gt;</span>ἔνι = ἔνεστι &lt;i&gt;of&lt;/i&gt; ἔνεισι <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐνάγω
<span class='red'>&lt;tmp&gt;</span>ὥστε &lt;i&gt;en inf.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἔναιμος
<span class='red'>&lt;tmp&gt;</span>ἔναιμον καὶ πυκνόν, οἷον ἦπαρ doorbloed en stevig, zoals een lever &lt;s&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐναντίος
<span class='red'>&lt;tmp&gt;</span>τὸ ἐναντίον, τοὐναντίον, τὰ ἐναντία en τἀναντία <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.45.0 v8.1.xml</span>
Warning: (lemma: ἔξειμι) Process::Bet<br/>Warning: (lemma: ἔξειμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἔξεστι &lt;i&gt;met (dat. v. pers. en) inf.&lt;/i&gt; $ <br/>Warning: (lemma: ἔξειμι) Process::Meta<br/>Warning: (lemma: ἔξειμι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἔξειμι) Process::Bet<br/>Warning: (lemma: ἔξειμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐξιούσης στρατιῆς·wanneer het leger ten strijde trok $ <br/>Warning: (lemma: ἔξειμι) Process::Meta<br/>Warning: (lemma: ἔξειμι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: Vorm pass not successful for node ^ἐξ-εῖπον aor. bij ἐξαγορεύω.$ <br/>Error: Error: Vorm pass failed for primary structure lemma ἐξ-εῖπον aor. bij ἐξαγορεύω.<span class="space"></span><span class="space"></span>(Last successful lemma was ἕξειν)<br/>Warning: Vorm pass not successful for node ^ἐξέπτη aor. act. 3 sing.van ἐκπέτομαι.$ <br/>Error: Error: Vorm pass failed for primary structure lemma ἐξέπτη aor. act. 3 sing.van ἐκ ...<span class="space"></span><span class="space"></span>(Last successful lemma was ἐξεπίτηδες)<br/>Warning: (lemma: ἐξερέω) Process::Meta<br/>Warning: (lemma: ἐξερέω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: Vorm pass not successful for node ^2. ἐξερέω fut. bij ἐξαγορεύω.$ <br/>Error: Error: Vorm pass failed for primary structure lemma 2. ἐξερέω fut. bij ἐξαγορεύω.<span class="space"></span><span class="space"></span>(Last successful lemma was ἐξερέω-1)<br/>Warning: (lemma: ἐξετάζω) Process::Bet<br/>Warning: (lemma: ἐξετάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^μὴ ’ξέταζε·hoor me niet uit $ <br/>Warning: (lemma: ἐξετάζω) Process::Bet<br/>Warning: (lemma: ἐξετάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;i&gt;pass.$ <br/>Warning: (lemma: ἐξεύχομαι) Process::Bet<br/>Warning: (lemma: ἐξεύχομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^Ἀργεῖαι γένος [&lt;i&gt;sc.&lt;/i&gt; $ <br/>Warning: (lemma: ἐξέχω) Process::Bet<br/>Warning: (lemma: ἐξέχω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἢν &amp;amp;lt;δ’&amp;amp;gt$ <br/>
* # total failures: 3<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἔξειμι-1
<span class='red'>&lt;tmp&gt;</span>ἔξεστι &lt;i&gt;met (dat. v. pers. en) inf.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἔξειμι-2
<span class='red'>&lt;tmp&gt;</span>ἐξιούσης στρατιῆς·wanneer het leger ten strijde trok <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐξετάζω
<span class='red'>&lt;tmp&gt;</span>μὴ ’ξέταζε·hoor me niet uit <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐξεύχομαι
<span class='red'>&lt;tmp&gt;</span>Ἀργεῖαι γένος [&lt;i&gt;sc.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐξέχω
<span class='red'>&lt;tmp&gt;</span>ἢν &amp;amp;lt;δ’&amp;amp;gt<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.47.0 v8.1.xml</span>
Warning: (lemma: ἐξίστημι) Process::Bet<br/>Warning: (lemma: ἐξίστημι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐξέστην &lt;i&gt;en perf.&lt;/i&gt; ἐξέστηκα$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐξίστημι
<span class='red'>&lt;tmp&gt;</span>ἐξέστην &lt;i&gt;en perf.&lt;/i&gt; ἐξέστηκα<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.48.0 v8.1.xml</span>
Warning: (lemma: ἐξουσιάζω) Process::Bet<br/>Warning: (lemma: ἐξουσιάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐ. τοῦ ἰδίου σώματος macht hebben over zijn eigen lichaam &lt;s&gt;$ <br/>Warning: (lemma: ἐξουσιάζω) Process::Bet<br/>Warning: (lemma: ἐξουσιάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;i&gt;1&lt;/s&gt; Cor.&lt;/i&gt; 7.4.$ <br/>Warning: (lemma: ἔξοχος) Process::Bet<br/>Warning: (lemma: ἔξοχος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἔξοχον, ἔξοχα &lt;i&gt;en&lt;/i&gt; ἐξόχως, $ <br/>Warning: (lemma: ἔξω) Process::Bet<br/>Warning: (lemma: ἔξω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^: οἱ ἔξω $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐξουσιάζω
<span class='red'>&lt;tmp&gt;</span>ἐ. τοῦ ἰδίου σώματος macht hebben over zijn eigen lichaam &lt;s&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἔξοχος
<span class='red'>&lt;tmp&gt;</span>ἔξοχον, ἔξοχα &lt;i&gt;en&lt;/i&gt; ἐξόχως, <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἔξω
<span class='red'>&lt;tmp&gt;</span>: οἱ ἔξω <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.60.0 v8.1.xml</span>
Warning: (lemma: ἔπι) Process::Meta<br/>Warning: (lemma: ἔπι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐπιβαίνω) Process::Bet<br/>Warning: (lemma: ἐπιβαίνω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐπιβήσω &lt;i&gt;en aor.&lt;/i&gt; ἐπέβησα<span class="space"></span><span class="space"></span>$ <br/>Warning: (lemma: ἐπιβάλλω) Process::Bet<br/>Warning: (lemma: ἐπιβάλλω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^l$ <br/>Warning: (lemma: ἐπιβλώσκω) Process::Meta<br/>Warning: (lemma: ἐπιβλώσκω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐπιβαίνω
<span class='red'>&lt;tmp&gt;</span>ἐπιβήσω en aor. ἐπέβησα &lt;toel&gt;(ook med.)&lt;/toel&gt; <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐπιβάλλω
<span class='red'>&lt;tmp&gt;</span>l<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.67.0 v8.1.xml</span>
Warning: (lemma: ἐπικωμάζω) Process::Bet<br/>Warning: (lemma: ἐπικωμάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^e $ <br/>Warning: Found a link in the content -- something probably won't work right.<br/>Warning: (lemma: ἐπίληπτος) Process::Meta<br/>Warning: (lemma: ἐπίληπτος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐπίλησμος) Process::Meta<br/>Warning: (lemma: ἐπίλησμος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Use of uninitialized value $type in string eq at /home/joriso/grne/grne/bin/../lib/GrNe/Process/Vorm.pm line 574.<br/>Use of uninitialized value $type in string eq at /home/joriso/grne/grne/bin/../lib/GrNe/Process/Vorm.pm line 579.<br/>Use of uninitialized value $type in string eq at /home/joriso/grne/grne/bin/../lib/GrNe/Process/Vorm.pm line 582.<br/>Warning: Vorm pass not successful for node ^ἐπί-λογος -ου, ὁ$ <br/>Error: Error: Vorm pass failed for primary structure lemma ἐπί-λογος -ου, ὁ<span class="space"></span><span class="space"></span>(Last successful lemma was ἐπιλογισμός)<br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐπικωμάζω
<span class='red'>&lt;tmp&gt;</span>e&lt;!-- n)--&gt; <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.68.0 v8.1.xml</span>
Warning: (lemma: ἐπιμαρτυρέω) Process::Bet<br/>Warning: (lemma: ἐπιμαρτυρέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὅτι-&lt;i&gt;zin&lt;/i&gt;$ <br/>Warning: (lemma: ἐπιμαρτυρία) Process::Meta<br/>Warning: (lemma: ἐπιμαρτυρία)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐπιμείγνυμι) Process::Bet<br/>Warning: (lemma: ἐπιμείγνυμι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^&lt;/s&gt; 59.75.$ <br/>Warning: (lemma: ἐπιμείγνυμι) Process::Meta<br/>Warning: (lemma: ἐπιμείγνυμι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐπιμειδιάω) Process::Meta<br/>Warning: (lemma: ἐπιμειδιάω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐπιμέλεια) Process::Bet<br/>Warning: (lemma: ἐπιμέλεια)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐπιμελείᾳ &lt;i&gt;of&lt;/i&gt; κατ’ ἐπιμέλειαν $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐπιμαρτυρέω
<span class='red'>&lt;tmp&gt;</span>ὅτι-&lt;i&gt;zin&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐπιμείγνυμι
<span class='red'>&lt;tmp&gt;</span>&lt;/s&gt; 59.75.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐπιμέλεια
<span class='red'>&lt;tmp&gt;</span>ἐπιμελείᾳ &lt;i&gt;of&lt;/i&gt; κατ’ ἐπιμέλειαν <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.69.0 v8.1.xml</span>
Warning: (lemma: ἐπιμήνιος) Process::Bet<br/>Warning: (lemma: ἐπιμήνιος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ ἐπιμήνιον $ <br/>Warning: (lemma: ἐπινέω) Process::Meta<br/>Warning: (lemma: ἐπινέω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐπινέω) Process::Meta<br/>Warning: (lemma: ἐπινέω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐπινίκειος) Process::Meta<br/>Warning: (lemma: ἐπινίκειος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐπιπάρειμι) Process::Meta<br/>Warning: (lemma: ἐπιπάρειμι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐπιπάρειμι) Process::Meta<br/>Warning: (lemma: ἐπιπάρειμι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐπίπας) Process::Bet<br/>Warning: (lemma: ἐπίπας)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ ἐπίπαν, &lt;i&gt;ook versterkt met&lt;/i&gt; ὡς &lt;i&gt;en&lt;/i&gt; ὡς τὸ, $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐπιμήνιος
<span class='red'>&lt;tmp&gt;</span>τὸ ἐπιμήνιον <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐπίπας
<span class='red'>&lt;tmp&gt;</span>τὸ ἐπίπαν, &lt;i&gt;ook versterkt met&lt;/i&gt; ὡς &lt;i&gt;en&lt;/i&gt; ὡς τὸ, <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.70.0 v8.1.xml</span>
Warning: (lemma: ἐπιπλάζω) Process::Meta<br/>Warning: (lemma: ἐπιπλάζω)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐπιπρέπω) Process::Bet<br/>Warning: (lemma: ἐπιπρέπω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐπιπρέπει, &lt;i&gt;met AcI&lt;/i&gt;$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐπιπρέπω
<span class='red'>&lt;tmp&gt;</span>ἐπιπρέπει, &lt;i&gt;met AcI&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.73.0 v8.1.xml</span>
Warning: (lemma: ἐπιτάττω) Process::Bet<br/>Warning: (lemma: ἐπιτάττω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^οἱ ἐπιτεταγμένοι de opgestelde manschappen.$ <br/>Warning: (lemma: ἐπιτάττω) Process::Bet<br/>Warning: (lemma: ἐπιτάττω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὰ ἐπιτασσόμενα = τὰ ἐπιταχθέντα $ <br/>Warning: (lemma: ἐπιτειχίζω) Process::Vorm<br/>Warning: (lemma: ἐπιτειχίζω)<span class="space"></span><span class="space"></span><span class="space"></span>Found small caps in morfI, but it appears to be italicised:<br/>Warning: (lemma: ἐπιτειχίζω) &lt;r&gt;τῇ πατρίδι; heb jij Dekeleia aangelegd als verdediging tegen je vaderland? &lt;s&gt;And.&lt;/s&gt; 1.101&lt;/r&gt;; overdr.: &lt;r&gt;τυραννίδα ... ἐπετείχισεν ὑμῖν ἐν τῇ Εὐβοίᾳ hij heeft een muur&lt;/r&gt; <br/>Warning: (lemma: ἐπιτειχίζω) (Make sure this definition contains either gebrW and vertM)<br/>Warning: (lemma: ἐπιτελείωσις) Process::Bet<br/>Warning: (lemma: ἐπιτελείωσις)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τῶν παίδων ἐπιτελειώσεις $ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐπιτάττω
<span class='red'>&lt;tmp&gt;</span>οἱ ἐπιτεταγμένοι de opgestelde manschappen.<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐπιτελείωσις
<span class='red'>&lt;tmp&gt;</span>τῶν παίδων ἐπιτελειώσεις <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.74.0 v8.1.xml</span>
Warning: (lemma: ἐπιτήδειος) Process::Meta<br/>Warning: (lemma: ἐπιτήδειος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐπιτήδευσις) Process::Bet<br/>Warning: (lemma: ἐπιτήδευσις)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐπιτήδευσις ἀρετῆς beoefening van de deugd; $ <br/>Warning: (lemma: ἐπιτόσσαι) Process::Meta<br/>Warning: (lemma: ἐπιτόσσαι)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐπιτήδευσις
<span class='red'>&lt;tmp&gt;</span>ἐπιτήδευσις ἀρετῆς beoefening van de deugd; <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.75.0 v8.1.xml</span>
Warning: (lemma: ἐπιτυμβίδιος) Process::Meta<br/>Warning: (lemma: ἐπιτυμβίδιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐπίχαρις) Process::Meta<br/>Warning: (lemma: ἐπίχαρις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
Doing<span class='cyan'>migrator-build-dir/data/Epsilon.86.0 v8.1.xml</span>
Warning: (lemma: ἔτι) Process::Bet<br/>Warning: (lemma: ἔτι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^($ <br/>Warning: (lemma: ἔτι) Process::Bet<br/>Warning: (lemma: ἔτι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^καί, $ <br/>Warning: (lemma: ἔτι) Process::Bet<br/>Warning: (lemma: ἔτι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἔτι ἄλλο(ς) $ <br/>Warning: (lemma: ἔτι) Process::Bet<br/>Warning: (lemma: ἔτι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἔτι δέ &lt;i&gt;of&lt;/i&gt; καὶ ἔτι $ <br/>Warning: (lemma: ἕτοιμος) Process::Bet<br/>Warning: (lemma: ἕτοιμος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐν ἑτοίμῳ $ <br/>Warning: (lemma: ἕτοιμος) Process::Meta<br/>Warning: (lemma: ἕτοιμος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἔτυμος) Process::Bet<br/>Warning: (lemma: ἔτυμος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^τὸ ἔτυμον, τά ἔτυμα $ <br/>Warning: (lemma: ἔτυμος) Process::Bet<br/>Warning: (lemma: ἔτυμος)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐτύμως, ἔτυμον $ <br/>Warning: (lemma: ἔτυμος) Process::Meta<br/>Warning: (lemma: ἔτυμος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὖ) Process::Bet<br/>Warning: (lemma: εὖ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εὖ πράττειν $ <br/>Warning: (lemma: εὖ) Process::Bet<br/>Warning: (lemma: εὖ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εὖ πάσχειν $ <br/>Warning: (lemma: εὖ) Process::Bet<br/>Warning: (lemma: εὖ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εὖ δρᾶν $ <br/>Warning: (lemma: εὖ) Process::Bet<br/>Warning: (lemma: εὖ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εὖ διδόναι $ <br/>Warning: (lemma: εὖ) Process::Bet<br/>Warning: (lemma: εὖ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εὖ φρονεῖν $ <br/>Warning: (lemma: εὖ) Process::Bet<br/>Warning: (lemma: εὖ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εὖ γε, εὖγε $ <br/>Warning: (lemma: εὖ) Process::Bet<br/>Warning: (lemma: εὖ)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εὖ γε σὺ ποιῶν daar doe je goed aan εὖ γε λέγεις goed gezegd!$ <br/>Error: Error: Couldn't get style for node (&lt;office:annotation office:name="__Fieldmark__1560_ ...) (Last successful lemma was εὖ)<br/>Error: Error: Couldn't get style for node (&lt;office:annotation office:name="__Fieldmark__1560_ ...) (Last successful lemma was εὖ)<br/>Error: Error: Couldn't get style for node (&lt;office:annotation office:name="__Fieldmark__1560_ ...) (Last successful lemma was εὖ)<br/>Error: Error: Couldn't get style for node (&lt;office:annotation office:name="__Fieldmark__1560_ ...) (Last successful lemma was εὖ)<br/>Warning: (lemma: εὐαγής) Process::Meta<br/>Warning: (lemma: εὐαγής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὐαγής) Process::Meta<br/>Warning: (lemma: εὐαγής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὐαίνετος) Process::Meta<br/>Warning: (lemma: εὐαίνετος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Error: Error: Couldn't get style for node (&lt;office:annotation office:name="__Fieldmark__2283_ ...) (Last successful lemma was εὔαν)<br/>Error: Error: Couldn't get style for node (&lt;office:annotation office:name="__Fieldmark__2283_ ...) (Last successful lemma was εὔαν)<br/>Error: Error: Couldn't get style for node (&lt;office:annotation office:name="__Fieldmark__2283_ ...) (Last successful lemma was εὔαν)<br/>Error: Error: Couldn't get style for node (&lt;office:annotation office:name="__Fieldmark__2283_ ...) (Last successful lemma was εὔαν)<br/>Warning: (lemma: εὐ) Process::Meta<br/>Warning: (lemma: εὐ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὐανορία) Process::Meta<br/>Warning: (lemma: εὐανορία)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἔτι
<span class='red'>&lt;tmp&gt;</span>(<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἕτοιμος
<span class='red'>&lt;tmp&gt;</span>ἐν ἑτοίμῳ <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἔτυμος
<span class='red'>&lt;tmp&gt;</span>τὸ ἔτυμον, τά ἔτυμα <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>εὖ
<span class='red'>&lt;tmp&gt;</span>εὖ πράττειν <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.87.0 v8.1.xml</span>
Warning: (lemma: εὔας) Process::Meta<br/>Warning: (lemma: εὔας)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὐαφήγητος) Process::Meta<br/>Warning: (lemma: εὐαφήγητος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὔβοτρυς) Process::Meta<br/>Warning: (lemma: εὔβοτρυς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὖγε) Process::Meta<br/>Warning: (lemma: εὖγε)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὐγένειος) Process::Meta<br/>Warning: (lemma: εὐγένειος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὔγναμπτος) Process::Meta<br/>Warning: (lemma: εὔγναμπτος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὐγνώμων) Process::Bet<br/>Warning: (lemma: εὐγνώμων)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εὔγνωμον &lt;i&gt;met inf.&lt;/i&gt; $ <br/>Warning: (lemma: εὐδείελος) Process::Meta<br/>Warning: (lemma: εὐδείελος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: Vorm pass not successful for node ^εὐδιαίτερος comp. bij εὔδιος.$ <br/>Error: Error: Vorm pass failed for primary structure lemma εὐδιαίτερος comp. bij εὔδιος.<span class="space"></span><span class="space"></span>(Last successful lemma was εὐδιάζω)<br/>
* # total failures: 1<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>εὐγνώμων
<span class='red'>&lt;tmp&gt;</span>εὔγνωμον &lt;i&gt;met inf.&lt;/i&gt; <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.88.0 v8.1.xml</span>
Warning: (lemma: εὔδμητος) Process::Meta<br/>Warning: (lemma: εὔδμητος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὔερος) Process::Meta<br/>Warning: (lemma: εὔερος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὔζυγος) Process::Meta<br/>Warning: (lemma: εὔζυγος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὐήκοος) Process::Meta<br/>Warning: (lemma: εὐήκοος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὐήλιος) Process::Meta<br/>Warning: (lemma: εὐήλιος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὐήμερος) Process::Meta<br/>Warning: (lemma: εὐήμερος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὐήνεμος) Process::Meta<br/>Warning: (lemma: εὐήνεμος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὐήτριος) Process::Meta<br/>Warning: (lemma: εὐήτριος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὐηχής) Process::Meta<br/>Warning: (lemma: εὐηχής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὐθάλαττος) Process::Meta<br/>Warning: (lemma: εὐθάλαττος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὐθαλής) Process::Meta<br/>Warning: (lemma: εὐθαλής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
Doing<span class='cyan'>migrator-build-dir/data/Epsilon.89.0 v8.1.xml</span>
Warning: (lemma: εὐθήρατος) Process::Meta<br/>Warning: (lemma: εὐθήρατος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὐθύπνους) Process::Meta<br/>Warning: (lemma: εὐθύπνους)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὐθύςεῖα) Process::Bet<br/>Warning: (lemma: εὐθύςεῖα)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εὐθύς$ <br/>Warning: (lemma: εὐθύςεῖα) Process::Bet<br/>Warning: (lemma: εὐθύςεῖα)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εὐθύ &lt;i&gt;van plaats&lt;/i&gt;: $ <br/>Warning: (lemma: εὐθύςεῖα) Process::Bet<br/>Warning: (lemma: εὐθύςεῖα)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εὐθέως $ <br/>Warning: (lemma: εὐθύςεῖα) Process::Meta<br/>Warning: (lemma: εὐθύςεῖα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὐθύ) Process::Meta<br/>Warning: (lemma: εὐθύ)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὐίατος) Process::Meta<br/>Warning: (lemma: εὐίατος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>εὐθύςεῖα-1
<span class='red'>&lt;tmp&gt;</span>εὐθύς<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.90.0 v8.1.xml</span>
Warning: (lemma: εὔκηλος) Process::Meta<br/>Warning: (lemma: εὔκηλος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὐκλεής) Process::Meta<br/>Warning: (lemma: εὐκλεής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὔκομος) Process::Meta<br/>Warning: (lemma: εὔκομος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὔκρατος) Process::Meta<br/>Warning: (lemma: εὔκρατος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὐκτέανος) Process::Meta<br/>Warning: (lemma: εὐκτέανος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὐκτέανος) Process::Meta<br/>Warning: (lemma: εὐκτέανος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὐκτίμενος) Process::Meta<br/>Warning: (lemma: εὐκτίμενος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὐλαβέομαι) Process::Bet<br/>Warning: (lemma: εὐλαβέομαι)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ὅπως (μή) + &lt;i&gt;ind. fut.&lt;/i&gt;$ <br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>εὐλαβέομαι
<span class='red'>&lt;tmp&gt;</span>ὅπως (μή) + &lt;i&gt;ind. fut.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.92.0 v8.1.xml</span>
Warning: (lemma: εὔξεστος) Process::Meta<br/>Warning: (lemma: εὔξεστος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὔοδμος) Process::Meta<br/>Warning: (lemma: εὔοδμος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὐοχθος) Process::Meta<br/>Warning: (lemma: εὐοχθος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὔπαις) Process::Meta<br/>Warning: (lemma: εὔπαις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὐπατέρεια) Process::Meta<br/>Warning: (lemma: εὐπατέρεια)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὐπειθής) Process::Meta<br/>Warning: (lemma: εὐπειθής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
Doing<span class='cyan'>migrator-build-dir/data/Epsilon.93.0 v8.1.xml</span>
Warning: (lemma: εὔπηκτος) Process::Meta<br/>Warning: (lemma: εὔπηκτος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὔπηχυς) Process::Meta<br/>Warning: (lemma: εὔπηχυς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὔπλους) Process::Meta<br/>Warning: (lemma: εὔπλους)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὔπνους) Process::Meta<br/>Warning: (lemma: εὔπνους)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὔπους) Process::Meta<br/>Warning: (lemma: εὔπους)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: Vorm pass not successful for node ^εὐρέα Ion. nom. f. sing.van εὐρύς; ook n. plur.$ <br/>Error: Error: Vorm pass failed for primary structure lemma εὐρέα Ion. nom. f. sing.van εὐ ...<span class="space"></span><span class="space"></span>(Last successful lemma was εὐράξ)<br/>Warning: Vorm pass not successful for node ^εὐρεῖα nom. f. sing.van εὐρύς.$ <br/>Error: Error: Vorm pass failed for primary structure lemma εὐρεῖα nom. f. sing.van εὐρύς.<span class="space"></span><span class="space"></span>(Last successful lemma was εὑρέθην)<br/>
* # total failures: 2<br/>
Doing<span class='cyan'>migrator-build-dir/data/Epsilon.94.0 v8.1.xml</span>
Warning: (lemma: εὔρους) Process::Meta<br/>Warning: (lemma: εὔρους)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὐρύοπα) Process::Meta<br/>Warning: (lemma: εὐρύοπα)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: ἐύς) Process::Bet<br/>Warning: (lemma: ἐύς)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐάων (ἑάων) $ <br/>Warning: (lemma: ἐύς) Process::Meta<br/>Warning: (lemma: ἐύς)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὐσέβεια) Process::Meta<br/>Warning: (lemma: εὐσέβεια)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὐσθενής) Process::Meta<br/>Warning: (lemma: εὐσθενής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὔσκαρθμος) Process::Meta<br/>Warning: (lemma: εὔσκαρθμος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὔσκοπος) Process::Meta<br/>Warning: (lemma: εὔσκοπος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὔσκοπος) Process::Meta<br/>Warning: (lemma: εὔσκοπος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>ἐύς
<span class='red'>&lt;tmp&gt;</span>ἐάων (ἑάων) <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.95.0 v8.1.xml</span>
Warning: (lemma: εὐσταθής) Process::Meta<br/>Warning: (lemma: εὐσταθής)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὐστέφανος) Process::Meta<br/>Warning: (lemma: εὐστέφανος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὔστοχος) Process::Meta<br/>Warning: (lemma: εὔστοχος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὔστρεπτος) Process::Meta<br/>Warning: (lemma: εὔστρεπτος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὔστροφος) Process::Meta<br/>Warning: (lemma: εὔστροφος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὐσύμβλητος) Process::Meta<br/>Warning: (lemma: εὐσύμβλητος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὐσύμβολος) Process::Meta<br/>Warning: (lemma: εὐσύμβολος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὐσύνετος) Process::Meta<br/>Warning: (lemma: εὐσύνετος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὔσφυρος) Process::Meta<br/>Warning: (lemma: εὔσφυρος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὖτε) Process::Bet<br/>Warning: (lemma: εὖτε)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^+ $ <br/>Warning: (lemma: εὐτείχεος) Process::Meta<br/>Warning: (lemma: εὐτείχεος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὔτμητος) Process::Meta<br/>Warning: (lemma: εὔτμητος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὔτρητος) Process::Meta<br/>Warning: (lemma: εὔτρητος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὔτροφος) Process::Meta<br/>Warning: (lemma: εὔτροφος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὔτροχος) Process::Meta<br/>Warning: (lemma: εὔτροχος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὔτυκτος) Process::Meta<br/>Warning: (lemma: εὔτυκτος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὐτυχέω) Process::Bet<br/>Warning: (lemma: εὐτυχέω)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^ἐν &lt;i&gt;of&lt;/i&gt; εἰς; &lt;i&gt;met ptc.&lt;/i&gt;$ <br/>Warning: (lemma: εὐφεροσύνη) Process::Bet<br/>Warning: (lemma: εὐφεροσύνη)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^εὐφροσύνη $ <br/>Warning: (lemma: εὔφημος) Process::Meta<br/>Warning: (lemma: εὔφημος)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>εὖτε
<span class='red'>&lt;tmp&gt;</span>+ <span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>εὐτυχέω
<span class='red'>&lt;tmp&gt;</span>ἐν &lt;i&gt;of&lt;/i&gt; εἰς; &lt;i&gt;met ptc.&lt;/i&gt;<span class='red'>&lt;/tmp&gt;</span>

<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>εὐφεροσύνη
<span class='red'>&lt;tmp&gt;</span>εὐφροσύνη <span class='red'>&lt;/tmp&gt;</span>

Doing<span class='cyan'>migrator-build-dir/data/Epsilon.96.0 v8.1.xml</span>
Warning: (lemma: εὔχαρις) Process::Meta<br/>Warning: (lemma: εὔχαρις)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὐχή) Process::Bet<br/>Warning: (lemma: εὐχή)<span class="space"></span><span class="space"></span><span class="space"></span>Piece didn't match GebrW or Cit rules, giving up on it. ^κατ’ εὐχήν &lt;i&gt;en&lt;/i&gt; ἐξ εὐχῆς ‘&lt;i&gt;ex voto&lt;/i&gt;’, $ <br/>Warning: (lemma: εὔχλους) Process::Meta<br/>Warning: (lemma: εὔχλους)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>Warning: (lemma: εὔχρους) Process::Meta<br/>Warning: (lemma: εὔχρους)<span class="space"></span><span class="space"></span><span class="space"></span>Couldn't figure out part of speech (woordsoort).<br/>
* # total failures: 0<br/>
<span class="space"></span><span class="space"></span><span class="space"></span><span class="space"></span>εὐχή
<span class='red'>&lt;tmp&gt;</span>κατ’ εὐχήν &lt;i&gt;en&lt;/i&gt; ἐξ εὐχῆς ‘&lt;i&gt;ex voto&lt;/i&gt;’, <span class='red'>&lt;/tmp&gt;</span>

